<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,251},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/arachnet/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,640},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/arachnet/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,344},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{109,161}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,106},{109,161}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,804},{189,215}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{189,215}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,381},{241,269}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,271}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,381},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,113},{159,63}}</string>
                <key>offset</key>
                <string>{-28,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,227},{159,63}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,95},{89,58}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,186},{91,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{91,52}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{91,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{91,58}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,551},{87,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{87,64}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,381},{85,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,468},{81,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{81,66}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,381},{131,93}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{131,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,251},{123,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{123,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,440},{119,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{119,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,514},{119,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{119,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,251},{127,93}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,251},{127,93}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,703},{131,93}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{131,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,251},{133,91}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,808},{203,144}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{203,144}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,652},{193,154}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{193,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{205,154}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{205,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,817},{205,152}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{205,152}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,652},{195,150}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{195,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,178},{201,156}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{201,156}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,808},{203,152}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{203,152}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,652},{207,154}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{207,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,808},{199,150}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{199,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnet_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,808},{203,144}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{203,144}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_arachnet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8b9126fad7eecd67cd7470a2bfda23:192dc0425233c35c459a9f3c5e81ca92:02ca29963d48e77adbec11a20faa5f8e$</string>
            <key>textureFileName</key>
            <string>ss_arachnet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
