<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/armashelt/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,401},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/armashelt/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,384},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/armashelt/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,446},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/armashelt_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,136},{79,42}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,46},{81,42}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{81,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,180},{79,40}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{79,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{81,42}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{81,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,90},{79,44}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{79,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,340},{73,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{73,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,296},{73,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{73,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,222},{75,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{75,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,268},{75,42}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{75,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/armashelt_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,296},{147,103}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{147,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,461},{147,101}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{147,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,298},{147,99}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{147,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,312},{147,97}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{147,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,427},{147,101}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{147,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{141,103}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{141,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,399},{139,103}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{139,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,399},{143,103}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{143,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{143,103}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{143,103}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/armashelt_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,151}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{237,151}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{233,147}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{233,147}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,151},{231,145}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{231,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,143},{227,137}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{227,137}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{229,139}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{229,139}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,153},{225,141}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{225,141}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,282},{221,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{221,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{229,147}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{229,147}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/armashelt_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{231,149}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{231,149}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_armashelt-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3209491fcefcaa374fbb85f5cb2a3b0f:f345137e90af1815277f37d2c3a19a28:231b65eb18484646c75f016c904c70c9$</string>
            <key>textureFileName</key>
            <string>ss_armashelt-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
