<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/burpy/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,884},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/burpy/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,934},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/burpy/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,683},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/burpy_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,917},{105,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{105,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,917},{103,52}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{103,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,917},{105,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{105,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{105,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{105,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,882},{107,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{107,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,917},{103,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{103,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,683},{199,79}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{199,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,716},{199,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{199,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{199,81}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{199,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,716},{199,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{199,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,683},{197,79}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{197,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{199,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{199,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{199,79}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{199,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{239,135}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{239,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,274},{241,133}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{241,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{241,135}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,135}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,135}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,139},{241,133}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{241,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,546},{233,135}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{233,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{235,137}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{235,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,409},{237,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{237,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_burpy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e9ff3cf61fa98ad5daf62c7c9ffc78:23aa9597906de56d671f4feae7430ab5:098ddcc1b2c4eb6a11040664e10963aa$</string>
            <key>textureFileName</key>
            <string>ss_burpy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
