<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/burpy_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,906},{109,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{109,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,546},{109,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{109,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,777},{111,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,888},{109,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{109,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,890},{111,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{111,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,777},{109,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{109,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{201,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{201,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{199,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{199,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{201,77}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{201,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,546},{197,73}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{197,73}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,621},{197,75}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{197,75}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,698},{197,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{197,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{199,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{199,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,139},{241,133}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{241,133}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{241,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{241,135}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{235,135}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{235,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,411},{235,133}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{235,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{237,137}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{237,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,274},{239,135}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{239,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ghoul_burpy/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,777},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_burpy/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,698},{61,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_burpy/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,906},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_burpy_ghouled-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f786cd64f57f1ed03454e5339fae16:60e93cdc927eb6b6ef54939916e04add:dd6669a70f47d9bf6799058e3f91ad0b$</string>
            <key>textureFileName</key>
            <string>ss_burpy_ghouled-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
