<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/burpy_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,174},{54,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{54,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,420},{54,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,440},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,420},{54,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{54,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,420},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,476},{54,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{54,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,194},{101,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,317},{101,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,317},{101,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,73},{99,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{99,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,398},{99,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{99,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,297},{99,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{99,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,73},{101,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{101,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{121,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{121,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{121,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{119,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,196},{119,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{119,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ghoul_burpy/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_burpy/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,478},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_burpy/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_burpy_ghouled.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f786cd64f57f1ed03454e5339fae16:60e93cdc927eb6b6ef54939916e04add:dd6669a70f47d9bf6799058e3f91ad0b$</string>
            <key>textureFileName</key>
            <string>ss_burpy_ghouled.pvr.ccz</string>
        </dict>
    </dict>
</plist>
