<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/crystalyd/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,230},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/crystalyd/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,462},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/crystalyd/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,462},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,422},{87,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{87,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,321},{87,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{87,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,407},{89,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{89,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,186},{91,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,407},{91,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{91,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,279},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,279},{91,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,178},{89,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{89,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,230},{89,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{89,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,186},{91,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,418},{91,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,126},{89,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{89,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_Lvl2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{87,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,303},{113,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{113,62}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,186},{115,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{115,62}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{117,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{117,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{121,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{121,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{121,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{121,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{121,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,64},{119,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{119,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,64},{119,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{119,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{119,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{119,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,62},{119,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{119,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,124},{117,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{117,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{115,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{115,62}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,371},{52,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,406},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,371},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,372},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,126},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{56,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,406},{54,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,372},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,126},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,126},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,126},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,126},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/cystalyd_lvl1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,126},{54,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_crystalyd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3502993e1df50edfde81b228bc3c6bdf:86112aee46e8ef57398f1a82b4e15266:1166c4f4ef309a5ade341845d482f35a$</string>
            <key>textureFileName</key>
            <string>ss_crystalyd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
