<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/enigmo/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{123,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/enigmo/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,804},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/enigmo/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,141},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,921},{109,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,554},{109,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{109,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,441},{111,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,693},{109,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{109,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,917},{111,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{111,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,629},{111,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{111,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,441},{105,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{105,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,141},{201,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{201,93}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{195,93}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{195,93}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,346},{203,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{203,93}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,722},{193,91}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{193,91}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,629},{203,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{203,91}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,141},{203,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,93}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,722},{197,93}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{197,93}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{239,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{239,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{245,139}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,249},{239,137}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{239,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{245,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{245,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,490},{235,137}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{235,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{245,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{243,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{243,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_enigmo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a5db42a3553f148cfda085e2b564cc9:c8e592304a5fac2e44a368166a7f062c:ec6f6b05eb1a7d59fd123fad1c23e68d$</string>
            <key>textureFileName</key>
            <string>ss_enigmo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
