<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fireball_frost/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,126},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fireball_frost/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,478},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fireball_frost/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{67,101}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{67,101}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{73,109}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{73,109}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,353},{75,113}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{75,113}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{77,119}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,119}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{79,121}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{79,121}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,121}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{81,121}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/ice1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,308},{40,23}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{40,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,323},{44,23}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,486},{46,23}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{46,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,467},{46,21}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{46,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,468},{42,23}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{42,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,193},{44,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,147},{44,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,486},{44,23}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,468},{42,23}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{42,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,419},{44,21}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{44,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ice2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,265},{59,46}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{59,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,217},{59,46}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{59,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,121},{61,46}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{61,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,73},{61,46}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{61,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,371},{67,46}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{67,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,419},{67,46}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{67,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,348},{69,46}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{69,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,323},{69,46}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{69,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,303},{71,46}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{71,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,275},{71,46}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{71,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,255},{71,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{71,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,53},{71,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{71,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,169},{63,46}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{63,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,265},{59,46}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{59,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/ice3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,361},{115,53}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{115,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,244},{115,53}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{115,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,369},{115,53}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{115,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,125},{117,53}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{117,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{117,51}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{117,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,248},{119,51}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{119,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,369},{119,51}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{119,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{119,51}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{119,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,236},{115,49}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{115,49}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,119},{115,51}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{115,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ice3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{115,51}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{115,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/icewall_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,468},{40,63}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{40,63}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,239},{44,67}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{44,67}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{52,69}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{52,69}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,217},{56,71}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{56,71}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,193},{60,75}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{60,75}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,151},{64,75}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{64,75}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,147},{68,81}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{68,81}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,77},{72,91}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{72,91}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,71},{74,95}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{74,95}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fireball_frost.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b56aa239d7632a71586ccda83f887f7:9813da5297cf31bc2f32d697b52407a3:b61daee6abe7f97515891988693a1879$</string>
            <key>textureFileName</key>
            <string>ss_fireball_frost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
