<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/BurpyXStinky_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{176,88}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{176,88}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{178,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{178,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{180,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{182,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{182,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,90},{182,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{182,70}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,162},{180,66}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{180,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,162},{180,72}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,184},{178,72}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{178,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{176,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{176,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,180},{174,74}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{174,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,180},{180,66}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{180,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{180,68}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{180,68}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/BurpyXStinky_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,180},{180,72}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_ghoul_burpy_ghoul_gas/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,364},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_ghoul_burpy_ghoul_gas/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,455},{33,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_ghoul_burpy_ghoul_gas/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,356},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,362},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,344},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,362},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_burpy_ghoul_gas.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb1ddd9ce3e81a7ef301ca31e0978f5:b0e274a54168c49e383c4cec50361939:55f94cb1222938d9bacffe74cb224815$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_burpy_ghoul_gas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
