<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fus_doc_stinky_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{178,74}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{178,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{178,74}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{178,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{180,70}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{180,70}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{180,70}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{180,70}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,142},{180,54}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{180,54}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,142},{180,54}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{180,54}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{186,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{186,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{186,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{182,64}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{182,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{182,64}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{182,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{178,60}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{178,60}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_doc_stinky_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{178,60}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{178,60}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_doc_gas/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,228},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_doc_gas/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{33,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_doc_gas/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,160},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,160},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,81},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,239},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_doc_gas.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a57c7a3f71ddd17634164e0da20985bf:0bd96427f8da03aa00d94b0ff6319d63:2172dee2ad78788dd3d244084a54fc41$</string>
            <key>textureFileName</key>
            <string>ss_fuse_doc_gas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
