<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/enigmo_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{119,69}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{119,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,73},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{121,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,144},{119,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{119,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{63,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,264},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,215},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/xmitter/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,215},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_enigmo_xmitter.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a46468ae5032a24953662e94296eda5:c92a919b081faf971e8cd1fc6340a226:19829173eeb8f5349c3a71314f57e1ec$</string>
            <key>textureFileName</key>
            <string>ss_fuse_enigmo_xmitter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
