<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/flaringo/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/flaringo/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,326},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{33,33}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/flaringo/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,326},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,354},{56,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,426},{56,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,325},{56,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,258},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,426},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{56,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,258},{99,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{99,32}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,224},{101,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{101,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,325},{99,32}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{99,32}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,292},{97,32}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{97,32}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{99,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{99,34}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,224},{99,34}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{99,34}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,169},{121,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{121,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{121,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{121,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{121,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{121,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{121,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,114},{121,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{121,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,59},{121,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{121,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,55}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_flaringo.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:564c8cf3c8c144fe5e7c0f9ea1492017:b06409902aaddd3e00b55135ec440376:d75540785a85e99a93c2a7c9cc7b4439$</string>
            <key>textureFileName</key>
            <string>ss_flaringo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
