<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/flakes_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,116},{10,16}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{10,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,116},{10,16}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{10,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,186},{20,50}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{20,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,186},{20,50}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{20,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,650},{62,68}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{62,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,650},{62,68}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{62,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,472},{100,92}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,678},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,278},{100,96}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,278},{100,96}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,376},{100,94}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,376},{100,94}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,586},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,94},{122,90}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{128,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{116,90}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{116,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,566},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,586},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,94},{122,90}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{128,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{116,90}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{116,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,658},{98,90}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,658},{98,90}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{98,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{98,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,498},{178,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{178,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{178,86}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{178,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{180,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{180,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{182,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{182,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,86},{184,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{184,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,240},{182,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{182,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,318},{180,88}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{180,88}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{178,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,88}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,154},{182,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{182,84}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{182,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{182,84}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,82}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{184,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,84}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{184,84}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{182,78}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{182,78}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,718},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,357},{33,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,714},{47,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,94},{11,20}}</string>
                <key>offset</key>
                <string>{-44,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{11,20}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,238},{17,26}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{17,26}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,586},{23,30}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{23,30}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,328},{27,36}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{27,36}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,440},{31,44}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{31,44}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,711},{47,48}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{47,48}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,661},{55,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{55,48}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,390},{39,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{39,48}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,278},{37,48}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{37,48}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,611},{23,48}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,19},{23,48}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-61,40.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/snow_flare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-92.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,486},{98,44}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,45},{98,44}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,486},{98,44}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,45},{98,44}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,586},{70,62}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{70,62}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,506},{74,70}}</string>
                <key>offset</key>
                <string>{-43,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{74,70}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,646},{70,72}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,578},{74,66}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{74,66}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,578},{74,66}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{74,66}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-92.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_slyren_narwaddle.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3302da9b58cb8cd180d79db072958865:ad75520d92a64f50d85f281e2ae51630:6e658bb2b733c17e6c3dca30cfb22e1f$</string>
            <key>textureFileName</key>
            <string>ss_fuse_slyren_narwaddle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
