<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/flakes_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,41},{20,32}}</string>
                <key>offset</key>
                <string>{-80,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,87},{20,32}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,41},{20,32}}</string>
                <key>offset</key>
                <string>{-80,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,87},{20,32}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,962},{40,98}}</string>
                <key>offset</key>
                <string>{-83,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,55},{40,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,962},{40,98}}</string>
                <key>offset</key>
                <string>{-83,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,55},{40,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1263},{124,134}}</string>
                <key>offset</key>
                <string>{-42,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{124,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1263},{124,134}}</string>
                <key>offset</key>
                <string>{-42,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{124,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,932},{198,182}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{198,182}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1298},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,548},{198,192}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{198,192}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,548},{198,192}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{198,192}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,742},{198,188}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{198,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,742},{198,188}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{198,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1321},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,184},{244,180}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{244,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{258,180}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{258,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,366},{232,180}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{232,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1139},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,184},{244,180}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{244,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{258,180}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{258,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,366},{232,180}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{232,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1139},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1116},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1116},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1480},{196,180}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{196,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1480},{196,180}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{196,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{355,173}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{355,173}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,966},{355,171}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{355,171}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{359,171}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{359,171}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{361,145}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{361,145}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,163},{365,129}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{365,129}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,294},{363,149}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{363,149}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,614},{359,173}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{359,173}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,789},{357,175}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{357,175}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{361,169}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{361,169}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,445},{361,167}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{361,167}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{367,159}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{367,159}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,167}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{367,167}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_slyren_narwaddle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{363,155}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{363,155}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1409},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1335},{63,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{63,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_slyren_narwaddle/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,700},{93,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{21,37}}</string>
                <key>offset</key>
                <string>{-88,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{21,37}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,184},{33,49}}</string>
                <key>offset</key>
                <string>{-81,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,62},{33,49}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,530},{41,57}}</string>
                <key>offset</key>
                <string>{-69,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{41,57}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,366},{49,69}}</string>
                <key>offset</key>
                <string>{-53,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{49,69}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1272},{61,85}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{61,85}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,794},{89,93}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,39},{89,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,589},{109,93}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{109,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,885},{75,93}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{75,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1004},{69,93}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,39},{69,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,437},{47,91}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{47,91}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,171},{1,1}}</string>
                <key>offset</key>
                <string>{-122,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/snow_flare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,171},{1,1}}</string>
                <key>offset</key>
                <string>{-185,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1075},{195,90}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,89},{195,90}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1075},{195,90}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,89},{195,90}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1139},{141,122}}</string>
                <key>offset</key>
                <string>{-85,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,73},{141,122}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1126},{147,140}}</string>
                <key>offset</key>
                <string>{-85,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,61},{147,140}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1268},{139,142}}</string>
                <key>offset</key>
                <string>{-95,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,64},{139,142}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,994},{149,130}}</string>
                <key>offset</key>
                <string>{-95,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{149,130}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,994},{149,130}}</string>
                <key>offset</key>
                <string>{-95,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{149,130}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,171},{1,1}}</string>
                <key>offset</key>
                <string>{-185,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_slyren_narwaddle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3302da9b58cb8cd180d79db072958865:ad75520d92a64f50d85f281e2ae51630:6e658bb2b733c17e6c3dca30cfb22e1f$</string>
            <key>textureFileName</key>
            <string>ss_fuse_slyren_narwaddle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
