<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/bomb_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,377},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>abilities/freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,674},{134,201}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{134,201}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,674},{142,215}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{142,215}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,700},{150,225}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{150,225}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{154,233}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{154,233}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{156,237}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{156,237}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,514},{158,239}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,239}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,135},{315,131}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{315,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{315,131}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{315,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{307,131}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{307,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,381},{307,131}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{307,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,272},{315,107}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{315,107}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,268},{315,107}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{315,107}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{309,133}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{309,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,377},{307,133}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{307,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,143}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{319,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{319,141}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{319,141}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{315,125}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{315,125}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,145},{315,125}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{315,125}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_frostcrawler_grenuke_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,512},{303,113}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{303,113}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_freeze_grenuke/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,891},{125,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_freeze_grenuke/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{57,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{57,58}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_freeze_grenuke/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,891},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_freeze_grenuke-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c0e4d70f279d36d0b6d0c8cb02dd0aa:41d72a14d4573ce1d9f17678f2eb7299:488d0b86ed8eb7742d56359430208563$</string>
            <key>textureFileName</key>
            <string>ss_fuse_freeze_grenuke-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
