<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/flaringo/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,629},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/flaringo/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,633},{65,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{65,64}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/flaringo/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{95,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,631},{111,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{111,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,687},{111,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,745},{111,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,699},{111,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,629},{111,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{111,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,497},{197,65}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{197,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{197,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{197,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,434},{199,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{199,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{195,63}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{195,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,564},{195,63}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{195,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{197,65}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{197,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,434},{197,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{197,65}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,113},{241,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,222},{241,101}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{241,101}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{243,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{239,109}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{239,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,325},{239,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{239,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{241,105}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{241,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{241,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{241,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{241,107}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{241,107}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_flaringo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:564c8cf3c8c144fe5e7c0f9ea1492017:b06409902aaddd3e00b55135ec440376:d75540785a85e99a93c2a7c9cc7b4439$</string>
            <key>textureFileName</key>
            <string>ss_flaringo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
