<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fus_neotox_thresher_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{309,161}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{309,161}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,330},{309,159}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{309,159}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,167},{311,161}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{311,161}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,167},{311,161}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{311,161}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{317,135}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{317,135}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,187},{309,177}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{309,177}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,187},{309,177}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{309,177}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{315,183}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{315,183}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{315,183}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{315,183}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{315,163}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{315,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{315,163}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{315,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_neotox_thresher_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,366},{301,143}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{301,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_neotox_thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,487},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_neotox_thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{57,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{57,58}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_neotox_thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,511},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,643},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,822},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_neotox_thresher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9806bc3a53d5d0f4dc35aac5b78b15dd:4fefaca998458b15db16299120d1b435:23a7cd4c5cea85fca7997a28afcc4016$</string>
            <key>textureFileName</key>
            <string>ss_fuse_neotox_thresher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
