<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fright/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,247},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fright/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,349},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fright/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,126},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,340},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,307},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,294},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,314},{50,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,134},{50,27}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,136},{48,27}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{48,27}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,335},{48,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,29}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,185},{50,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,274},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,134},{92,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,178},{90,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,230},{90,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{92,46}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,46}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{92,44}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{92,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,269},{88,44}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,177},{90,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{90,44}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,185},{90,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,126},{90,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,69},{121,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{121,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,67},{123,57}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,126},{121,57}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{121,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,65},{123,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{123,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{121,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{121,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/portal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{72,59}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{72,59}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,235},{72,57}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{72,57}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,186},{72,59}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{72,59}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,186},{72,59}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{72,59}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{68,57}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{68,57}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,247},{68,57}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{68,57}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,280},{70,57}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{70,57}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>abilities/portal_inout_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,345},{39,41}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{39,41}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,237},{35,51}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{35,51}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,294},{39,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{39,53}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,306},{41,57}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{41,57}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{39,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{39,53}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,339},{37,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{37,53}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,280},{31,19}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{31,19}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,247},{25,11}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{25,11}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,230},{17,9}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{17,9}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{9,7}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{9,7}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_inout_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,13},{1,1}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>abilities/portal_nonactive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,335},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,312},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,241},{15,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{15,23}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,289},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,266},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,336},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>abilities/portal_nonactive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,313},{15,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fright.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f20ddfd9f76581c90b28af7774c6e0c:797a89b4cbf179a8be1e21b49a2c3c29:d21a86140335a28c68acf440448db124$</string>
            <key>textureFileName</key>
            <string>ss_fright.pvr.ccz</string>
        </dict>
    </dict>
</plist>
