<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fuse_geoshard_slicksilver/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,874},{123,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{123,124}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_geoshard_slicksilver/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,39},{61,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_geoshard_slicksilver/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,222},{93,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,751},{133,155}}</string>
                <key>offset</key>
                <string>{-49,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{133,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{133,155}}</string>
                <key>offset</key>
                <string>{-49,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{133,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,103},{189,117}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{189,117}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,222},{187,99}}</string>
                <key>offset</key>
                <string>{-21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,58},{187,99}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{203,99}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{203,99}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{75,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,723},{353,149}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{353,149}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,751},{355,153}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{355,153}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,401},{363,155}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{363,155}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{363,129}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{363,129}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,133},{367,125}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,43},{367,125}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,260},{365,139}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{365,139}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{363,163}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{363,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{359,163}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{359,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,558},{361,163}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{361,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,323},{361,163}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{361,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{365,153}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{365,153}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,131}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{367,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{367,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{367,129}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_geoshard_slicksilver-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0077571e0d9298309f232e07f8ed1644:6e437b9a8015d7f6dbbbfc9bfe6580c5:297a3a646b3a8b95af8b0f531d87912e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_geoshard_slicksilver-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
