<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fus_mako_rammstone_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,127},{329,163}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{329,163}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{329,173}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{329,173}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,292},{325,153}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{325,153}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,177},{325,165}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{325,165}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,471},{317,131}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{317,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{317,173}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{317,173}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,471},{317,145}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{317,145}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{317,175}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{317,175}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{325,165}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{325,165}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{325,149}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{325,149}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{331,123}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{331,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,149}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{331,149}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,344},{323,101}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{323,101}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,344},{323,101}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{323,101}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,739},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,940},{61,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,593},{93,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ramstone_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,447},{128,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{128,144}}</string>
                <key>sourceSize</key>
                <string>{146,180}</string>
            </dict>
            <key>abilities/ramstone_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,790},{144,148}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{144,148}}</string>
                <key>sourceSize</key>
                <string>{146,180}</string>
            </dict>
            <key>abilities/ramstone_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,593},{114,144}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{114,144}}</string>
                <key>sourceSize</key>
                <string>{146,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_rammstone_makobreaker-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e243298cb4117bcd33c1163fe8809a0:2e03824967216f07f9b7460869304182:8595962af5eb748125f69bdc25491114$</string>
            <key>textureFileName</key>
            <string>ss_fuse_rammstone_makobreaker-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
