<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/Frostfang_Briardrill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,353},{295,141}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{295,141}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,246},{297,141}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{297,141}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,220},{299,131}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{299,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,123},{303,121}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{303,121}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{307,111}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{307,111}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{303,111}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{303,111}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{297,119}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{297,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,353},{293,119}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,24},{293,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{307,119}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{307,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{307,119}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{307,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,99}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{311,99}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,115},{307,103}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{307,103}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/Frostfang_Briardrill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,389},{295,111}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{295,111}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,103},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,458},{52,74}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,259},{92,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1107},{98,94}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,97},{86,86}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,185},{72,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,496},{64,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,566},{62,64}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{134,201}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,46},{134,201}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1014},{142,215}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{142,215}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,955},{150,225}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{150,225}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,681},{154,233}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{154,233}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,496},{156,237}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{156,237}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{158,239}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,239}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/fuse_ghoul_vinedrill_ghoul_frost/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,648},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_ghoul_vinedrill_ghoul_frost/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,630},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_ghoul_vinedrill_ghoul_frost/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1203},{97,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/vine_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,585},{41,35}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,139},{41,35}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,534},{49,49}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,126},{49,49}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{93,87}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,89},{93,87}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1107},{149,153}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{149,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1016},{213,195}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,195}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,776},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{231,189}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,189}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,833},{231,179}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,179}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,837},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,654},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,502},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5069c9d6fe6461264b930dd7677906e1:f768831db4b8267e165162acc32f6750:a5d5fcce87ba4f37e72f0b63ceec221e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
