<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,382},{109,161}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,106},{109,161}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,252},{189,215}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{189,215}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,479},{241,269}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,127},{247,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,271}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,230},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,127},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,135},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,133},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,127},{159,63}}</string>
                <key>offset</key>
                <string>{-28,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,227},{159,63}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/freight_spook_animation_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,135},{143,49}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,113},{143,49}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,351},{145,61}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,102},{145,61}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,475},{121,99}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,66},{121,99}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{117,155}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{117,155}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,384},{121,159}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,2},{121,159}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,382},{123,161}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{123,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,596},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,469},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,376},{125,161}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,493},{125,159}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{125,159}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,628},{125,151}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{125,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,503},{123,145}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{123,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,630},{123,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{123,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,620},{123,141}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{123,141}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,499},{121,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{121,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,620},{121,145}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{121,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,497},{121,149}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{121,149}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,376},{119,151}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{119,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,509},{119,153}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{119,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,507},{117,155}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{117,155}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,507},{119,153}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{119,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,376},{119,151}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{119,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,376},{121,149}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{121,149}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,620},{121,145}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{121,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,498},{121,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{121,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,620},{123,141}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{123,141}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,626},{123,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{123,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{123,145}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{123,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,127},{123,147}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,14},{123,147}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{123,151}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{123,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{123,153}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,8},{123,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,384},{123,155}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,6},{123,155}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{309,123}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{309,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{309,123}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{309,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,105},{305,123}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{305,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,105},{305,123}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{305,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,2},{307,101}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{307,101}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,2},{307,101}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{307,101}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{311,129}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{311,129}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{311,129}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{311,129}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{321,131}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{321,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{321,131}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{321,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,111}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{329,111}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,111}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{329,111}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{321,109}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{321,109}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_arach_panic_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{321,109}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{321,109}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_arachnet_panic/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,628},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_arachnet_panic/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,288},{61,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_arachnet_panic/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,598},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_arachnet_panic-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a165fcb166f2387c3b99b64541723ea:13a730830bf98258b45233c511e8e6af:1c01de8e8794d406c1135446eca1f80c$</string>
            <key>textureFileName</key>
            <string>ss_fuse_arachnet_panic-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
