<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/NeortotoxXAmerling_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{178,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{178,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,378},{176,86}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{176,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,292},{178,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{178,84}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,218},{180,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{180,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{184,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,150},{182,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{182,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{180,78}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{180,78}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{178,78}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{178,78}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,466},{176,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{176,80}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{176,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{176,80}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{182,74}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{182,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,68},{182,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{182,80}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/NeortotoxXAmerling_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,74}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{184,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_ghoul_netox_ghoul_tazerling/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,548},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_ghoul_netox_ghoul_tazerling/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,269},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_ghoul_netox_ghoul_tazerling/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,441},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,520},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,484},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,441},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,269},{107,81}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,93},{115,81}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{117,89}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,176},{113,91}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,352},{105,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{105,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e06dec6888a7fdc586c5f179ab185504:7465992c5fdd268aa1644fcca894602f:e4aff9557892a37d8da44c924df911e7$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
