<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/behemoth_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{57,55}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,10},{57,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/behemoth_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,69},{57,55}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,11},{57,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/behemoth_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{59,59}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/behemoth_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{59,61}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,8},{59,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/behemoth_projectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{59,61}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{59,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/behemoth_projectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,128},{47,55}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{47,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/fuse_shockwave/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_shockwave/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,128},{37,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{37,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_shockwave/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,185},{49,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_shockwave.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3454c52f9d2cd1a77431cfadd28913a:e6a68dac1cfae4f0a96475b699425363:d2eb419179d9f6ee65bf5bae2a61d5d2$</string>
            <key>textureFileName</key>
            <string>ss_fuse_shockwave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
