<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/TempestoXPyringo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{329,177}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{329,177}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,687},{349,175}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{349,175}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,524},{353,161}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{353,161}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,373},{357,149}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{357,149}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{361,133}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{361,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{359,119}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{359,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{355,133}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{355,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,111},{361,133}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{361,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{355,133}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{355,133}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{351,123}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{351,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{365,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{365,107}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{365,107}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/TempestoXPyringo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,246},{359,125}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{359,125}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_ghoul_tormato_ghoul_flaringo/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,676},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_ghoul_tormato_ghoul_flaringo/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,613},{61,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_ghoul_tormato_ghoul_flaringo/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,312},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tornado_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,947},{171,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{171,163}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,864},{163,169}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{163,169}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,864},{159,175}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{159,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,816},{155,177}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{155,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,496},{161,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{161,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{163,175}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{163,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,778},{171,167}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{171,167}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1025},{163,163}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{163,163}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{159,171}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{159,171}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,659},{155,177}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{155,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,333},{161,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{161,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{163,175}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{163,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_reflect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,495},{77,83}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{77,83}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,158},{71,103}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{71,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{79,103}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{79,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,410},{83,117}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{83,117}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,231},{79,101}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{79,101}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,83},{73,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,20},{73,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,574},{65,37}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{65,37}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,495},{51,23}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{51,23}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,548},{33,17}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,55},{33,17}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,548},{17,13}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,57},{17,13}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,111},{1,1}}</string>
                <key>offset</key>
                <string>{-56,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_tormato_ghoul_flaringo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd11571fb90ee5818de23596426140e4:32dfb4d235391e86190e254aa67f0c72:8f1f443abbbf3731150e4d5f254259e6$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_tormato_ghoul_flaringo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
