<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,359},{67,101}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{67,101}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{73,109}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{73,109}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,119},{75,113}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{75,113}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{77,119}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,119}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{79,121}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{79,121}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,121}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{81,121}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>abilities/frost/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,220},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/frost/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,108},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/frost/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,462},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{46,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,75},{42,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,208},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,241},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,424},{46,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,462},{46,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,276},{42,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,175},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,142},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{46,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,142},{68,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{68,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,130},{68,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{68,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,105},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,35},{68,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{68,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,72},{68,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{68,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,212},{66,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,176},{66,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{66,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{68,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,280},{64,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{64,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,175},{66,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,369},{117,63}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{117,63}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,242},{115,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,248},{117,61}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,367},{115,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{115,63}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{115,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/frost_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,125},{115,63}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/icewall_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,346},{40,63}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{40,63}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,73},{44,67}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{44,67}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{52,69}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{52,69}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{56,71}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{56,71}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,68},{60,75}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{60,75}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{64,75}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{64,75}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,424},{68,81}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{68,81}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,331},{72,91}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{72,91}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
            <key>abilities/icewall_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,234},{74,95}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{74,95}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_frost.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92081e694a3e3c957521d2870f107298:eb45de093c6145866c9bfdf7d5bdbb6b:2e01fd64cfd00a5b7692aa41e87194a2$</string>
            <key>textureFileName</key>
            <string>ss_frost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
