<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fuse_geoshard_slicksilver/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,428},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_geoshard_slicksilver/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{33,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_geoshard_slicksilver/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,232},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,428},{67,78}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,412},{67,78}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{67,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,54},{95,60}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{95,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,116},{95,50}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{95,50}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{103,50}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{103,50}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/geoshard_flare_large_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,37},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,20}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,350},{176,76}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{176,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,232},{178,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{178,78}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{182,78}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{182,78}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{182,66}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{182,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{184,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{184,62}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{182,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{182,70}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{182,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{182,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{180,82}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{180,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,286},{180,82}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{180,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,286},{180,82}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{180,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,154},{182,76}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{182,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,66}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{184,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/geoshard_slicksilver_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{184,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_geoshard_slicksilver.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0077571e0d9298309f232e07f8ed1644:6e437b9a8015d7f6dbbbfc9bfe6580c5:297a3a646b3a8b95af8b0f531d87912e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_geoshard_slicksilver.pvr.ccz</string>
        </dict>
    </dict>
</plist>
