<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/enigmo_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{239,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{239,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{245,139}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,278},{239,137}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{239,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,141},{245,135}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{245,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,417},{235,137}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{235,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/enigmo_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{243,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{243,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{123,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,518},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_enigmo_xmitter/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,421},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/xmitter/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{139,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,143}}</string>
                <key>sourceSize</key>
                <string>{147,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_enigmo_xmitter-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a46468ae5032a24953662e94296eda5:c92a919b081faf971e8cd1fc6340a226:19829173eeb8f5349c3a71314f57e1ec$</string>
            <key>textureFileName</key>
            <string>ss_fuse_enigmo_xmitter-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
