<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/freeze1_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,628},{89,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{89,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,854},{83,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{83,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,946},{89,62}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{89,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,952},{81,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{81,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{91,66}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,952},{89,64}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,854},{85,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{85,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,946},{89,62}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{89,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,628},{87,62}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{87,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze1_projectile_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,628},{89,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{89,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freeze2_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,664},{135,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{135,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,435},{137,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{137,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,932},{135,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{135,89}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,435},{137,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{137,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,429},{135,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{135,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,890},{131,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{131,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,344},{131,89}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{131,89}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,340},{135,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{135,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,801},{131,87}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{131,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze2_projectile_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,574},{133,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{133,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/freeze3_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,717},{233,127}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{233,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{233,127}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{233,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,474},{229,127}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{229,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,482},{231,127}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{231,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,243},{229,127}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{229,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{227,127}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{227,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze3_projectile_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,715},{229,127}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{229,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{134,201}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{134,201}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,231},{142,215}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{142,215}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,705},{150,225}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{150,225}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{154,233}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{154,233}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{156,237}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{156,237}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/freeze_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,239}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,239}}</string>
                <key>sourceSize</key>
                <string>{182,253}</string>
            </dict>
            <key>abilities/frost_ghouled/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,890},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/frost_ghouled/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,130},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/frost_ghouled/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,344},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/frost_gouled/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,890},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/frost_gouled/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,130},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/frost_gouled/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,344},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/icewall_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{78,126}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,57},{78,126}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,574},{88,130}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,57},{88,130}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,918},{102,136}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,58},{102,136}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{112,142}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,54},{112,142}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,192},{118,146}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,53},{118,146}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,192},{126,150}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,49},{126,150}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,692},{134,160}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{134,160}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,448},{142,178}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{142,178}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
            <key>abilities/icewall_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{148,188}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{148,188}}</string>
                <key>sourceSize</key>
                <string>{192,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_frost_ghouled-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f0bb0ded78020f7203e76bc597b016:595e4061899167cbf7c45936efe5e9ff:157a5cef9360e8ad3277a15ecb3ad99f$</string>
            <key>textureFileName</key>
            <string>ss_frost_ghouled-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
