<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fus_mako_rammstone_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,82}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{166,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,86}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{166,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,142},{162,76}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{162,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{162,82}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{162,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{160,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{160,66}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{160,86}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{160,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{158,72}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{158,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,258},{158,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{158,86}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{164,82}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{164,82}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{164,76}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{164,76}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,78},{166,62}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{166,62}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{166,74}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,220},{160,50}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{160,50}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_mako_rammstone_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,220},{160,50}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{160,50}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,346},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{33,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_rammstone_makobreaker/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,413},{49,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ramstone_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,394},{65,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{71,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{71,74}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,394},{57,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{57,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_rammstone_makobreaker.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e243298cb4117bcd33c1163fe8809a0:2e03824967216f07f9b7460869304182:8595962af5eb748125f69bdc25491114$</string>
            <key>textureFileName</key>
            <string>ss_fuse_rammstone_makobreaker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
