<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/blockanim_vine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,106},{26,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{26,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,461},{46,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,333},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,504},{44,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,226},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,264},{32,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{32,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_vine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,288},{32,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{32,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,194},{156,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{156,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{156,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{156,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,68},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{158,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{158,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{158,62}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,54},{162,50}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{162,50}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,50}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{162,50}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{160,60}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{160,60}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{158,58}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{158,58}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,64}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{162,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{162,64}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,168},{158,56}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{158,56}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{158,60}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{158,60}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,226},{150,60}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{150,60}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fus_xmitter_vinedrill_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,194},{156,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{156,72}}</string>
                <key>sourceSize</key>
                <string>{186,98}</string>
            </dict>
            <key>abilities/fuse_xmitter_vinedrill/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,340},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_xmitter_vinedrill/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,298},{33,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{33,33}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/fuse_xmitter_vinedrill/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,455},{47,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/vine_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,174},{22,18}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,70},{22,18}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,146},{26,26}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{26,26}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,407},{48,46}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,383},{76,78}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{76,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,472},{108,98}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,380},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{116,96}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,452},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,360},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,288},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,268},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/xmitter/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,268},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_xmitter_vinedrill.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b4e521a0a97f3b78030eb9f184107d2:6ce5831cde93dc7e02023819f5565fbd:3b985983638ed786b9a127975464924a$</string>
            <key>textureFileName</key>
            <string>ss_fuse_xmitter_vinedrill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
