<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fright/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,686},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fright/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,668},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fright/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,572},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,463},{100,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,529},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{100,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,370},{100,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,268},{100,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{96,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{96,56}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,472},{98,56}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{98,56}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,731},{100,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,361},{100,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{184,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{182,98}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{182,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,346},{180,96}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{180,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,264},{186,92}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{186,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,358},{184,86}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{184,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,444},{178,88}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{178,88}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{182,90}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{182,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,361},{180,94}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{180,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,244},{180,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{180,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{245,131}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{245,131}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,135},{241,127}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{241,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{245,121}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{245,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,129},{245,113}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{245,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,244},{241,115}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{241,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,125},{245,117}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{245,117}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{245,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{245,125}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/hover_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{243,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{243,131}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/portal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,503},{145,119}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{145,119}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,457},{143,117}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{143,117}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,446},{143,119}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{143,119}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{143,117}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{143,117}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{135,115}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{135,115}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,567},{137,117}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{137,117}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,576},{139,117}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{139,117}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>abilities/portal_inout_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,549},{77,83}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{77,83}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,430},{71,103}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{71,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,349},{79,103}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{79,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,634},{83,117}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{83,117}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,446},{79,101}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{79,101}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,244},{73,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{73,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,322},{65,37}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,45},{65,37}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,264},{51,23}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{51,23}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,274},{33,17}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,55},{33,17}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,322},{17,13}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,57},{17,13}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_inout_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,135},{1,1}}</string>
                <key>offset</key>
                <string>{-56,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/portal_nonactive_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,289},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,229},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{31,45}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{31,45}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,184},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,139},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,94},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>abilities/portal_nonactive_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,49},{31,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{31,43}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fright-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f20ddfd9f76581c90b28af7774c6e0c:797a89b4cbf179a8be1e21b49a2c3c29:d21a86140335a28c68acf440448db124$</string>
            <key>textureFileName</key>
            <string>ss_fright-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
