<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{109,161}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{109,161}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,536},{189,215}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{189,215}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,749},{241,269}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{247,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,271}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,753},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,749},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,500},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,251},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,421},{159,63}}</string>
                <key>offset</key>
                <string>{-28,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,227},{159,63}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,157}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{365,157}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{365,157}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{365,157}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,248},{347,157}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{347,157}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,248},{347,157}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{347,157}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{351,119}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{351,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{351,119}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{351,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,407},{341,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{341,127}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,407},{341,127}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{341,127}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{347,137}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{347,137}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{347,137}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{347,137}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,123},{353,123}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{353,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,123},{353,123}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{353,123}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{355,119}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{355,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_tormato_jellyish_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{355,119}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{355,119}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_tormato_jellyish/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,536},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_tormato_jellyish/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,421},{59,60}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_tormato_jellyish/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{93,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_tormato_jellyish-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02fbf06383b5e9f1a0c6df1c4e23bf49:afa3113806069cc5a14dcbdc719e0039:ff37ec352640f5cb48756f416ca7b006$</string>
            <key>textureFileName</key>
            <string>ss_fuse_tormato_jellyish-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
