<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fandango/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,779},{123,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fandango/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,591},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fandango/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,909},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,576},{103,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{103,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,909},{99,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{99,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,654},{107,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{107,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,526},{103,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{109,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{109,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,626},{101,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{101,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,944},{101,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{101,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,476},{103,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,678},{99,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{99,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{153,97}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{153,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,678},{145,99}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{145,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,791},{151,99}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{151,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{153,99}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{153,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,577},{153,99}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{153,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,914},{147,99}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{147,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{151,99}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{151,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,476},{153,99}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{153,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,763},{149,97}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{149,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,119}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{245,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,359},{245,115}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{245,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{245,115}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{245,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{245,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{245,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,242},{245,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{245,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{245,115}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{245,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,123},{245,117}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{245,117}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{245,117}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{245,117}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/fandango_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,119}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{245,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fandango-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e77694756c76fdc8a5e7e6c865097a30:42c275b3926fd3c4516953043bb5ebcc:e9dced3cc56c5a010af61d3f50fda441$</string>
            <key>textureFileName</key>
            <string>ss_fandango-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
