<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/fus_aqua_fandango_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,319},{309,143}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{309,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,319},{309,143}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{309,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{315,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{315,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{315,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{315,131}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{319,107}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{319,107}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{319,107}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{319,107}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{315,143}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{315,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{315,143}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{315,143}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,151}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{325,151}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,151}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{325,151}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{319,127}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{319,127}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{319,127}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{319,127}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{307,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{307,113}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fus_aqua_fandango_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{307,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{307,113}}</string>
                <key>sourceSize</key>
                <string>{371,195}</string>
            </dict>
            <key>abilities/fuse_aquabeek_fandango/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,630},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_aquabeek_fandango/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,630},{65,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{65,66}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/fuse_aquabeek_fandango/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_aquabeek_fandango-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0642beabf84a19ab712ad202611be10b:6573e869ca184aed3bb0b59f707c7c27:04f53c58c4bd9c74cd5047431702b840$</string>
            <key>textureFileName</key>
            <string>ss_fuse_aquabeek_fandango-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
