<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/flaringo_evil_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{105,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{105,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,684},{105,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{105,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,539},{103,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{103,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,791},{107,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{107,38}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{105,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{105,38}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,644},{107,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{107,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{195,63}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{195,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,495},{197,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{197,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,432},{197,61}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{197,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,558},{195,61}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{195,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,621},{193,61}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{193,61}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{195,63}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{195,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,432},{195,63}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{195,63}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{241,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{241,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,327},{241,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{241,103}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{243,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,220},{241,105}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{241,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{239,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{239,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,111},{241,107}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{241,107}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{241,107}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/flaringo_evil_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{241,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{241,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ghoul_flaringo/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,684},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_flaringo/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,629},{61,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_flaringo/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,692},{95,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{95,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_flaringo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783531019dc2b315946bd4f5693dd26a:726234f2969424db0b73c851153eb6c5:6b1e84c5872ec581076111a1bb90d203$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_flaringo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
