<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/bomb_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,197},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,32}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>abilities/grenuke/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,160},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/grenuke/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,477},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/grenuke/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,335},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,237},{46,31}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{46,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,384},{48,29}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{48,29}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{48,27}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,335},{48,27}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{48,29}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,429},{46,29}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{46,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{46,29}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{46,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{44,31}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,285},{44,31}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,287},{48,29}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,187},{48,29}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,233},{50,31}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,271},{75,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,197},{77,46}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,85},{73,44}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{73,44}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,245},{77,40}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{77,38}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,227},{77,42}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{77,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,287},{73,46}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{73,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,227},{75,46}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{71,46}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{71,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,227},{73,46}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{73,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,185},{79,40}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{79,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,187},{79,38}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{79,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{81,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{81,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,130},{107,65}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{107,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,63},{109,65}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,124},{105,59}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{105,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{111,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{111,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,61},{113,57}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{113,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{113,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{113,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,61},{111,61}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{111,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{109,61}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{109,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{105,63}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{105,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,120},{107,65}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{107,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{115,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{115,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{115,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/grenuke_projectile_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{117,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_grenuke.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f5c2a9cdeb04d0f547a3fbf53edff6:2ff28c1fcf6cde048e06dcdde996fca9:860324e724474c3ec08f5df8c29afecc$</string>
            <key>textureFileName</key>
            <string>ss_grenuke.pvr.ccz</string>
        </dict>
    </dict>
</plist>
