<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,612},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,858},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{93,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{93,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,450},{83,42}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{83,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,538},{81,42}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{81,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,90},{77,42}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{77,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,178},{79,42}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,134},{79,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,494},{81,42}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{81,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,46},{77,42}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{77,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,507},{79,40}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{79,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{77,42}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{77,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,406},{83,42}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{83,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{133,65}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{133,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,473},{133,65}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{133,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,540},{133,63}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{133,63}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,668},{133,61}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{133,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{133,61}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{133,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,605},{133,61}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{133,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{133,61}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{133,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{133,63}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{133,63}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,582},{131,65}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{131,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,406},{133,65}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{133,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,107},{212,93}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{212,93}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,95}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{214,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{186,99}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{186,99}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,301},{198,103}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{198,103}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{208,105}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{208,105}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{212,103}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{212,103}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{192,101}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{192,101}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{200,97}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{200,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,222},{188,95}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,39},{188,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{212,95}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{212,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,792},{25,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,869},{23,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,5},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,765},{25,28}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,4},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,844},{23,28}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,741},{23,30}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{23,30}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,819},{23,28}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,3},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,793},{25,28}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,4},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,766},{25,28}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,582},{25,28}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,792},{25,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,856},{65,37}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,923},{65,35}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{65,35}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,789},{65,37}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,715},{65,37}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,819},{63,37}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,8},{63,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,722},{65,37}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,9},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,655},{65,37}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,588},{65,37}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,11},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,923},{65,35}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{65,35}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,856},{65,37}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,741},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,796},{98,61}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,9},{98,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{98,63}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,804},{98,63}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,754},{98,63}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,731},{98,63}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{98,63}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,412},{100,63}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,7},{100,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,540},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,477},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_thresher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6140b219c5d21ff268fce4c462764bb:997b57c5c65812054489214d746d53c5:5b39d5fe437414cbbae513dfe192fb6d$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_thresher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
