<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/gazzer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/gazzer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,293},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/gazzer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,239},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/gazzer_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,158},{38,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,293},{36,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,287},{36,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,262},{36,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,315},{36,23}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,210},{36,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,183},{36,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,307},{36,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,237},{36,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/gazzer_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,307},{61,42}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{61,42}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,247},{61,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{61,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,288},{59,44}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{59,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,285},{59,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{59,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,239},{59,44}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{59,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{59,46}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{59,46}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,201},{61,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{61,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,155},{61,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{61,44}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,111},{63,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{63,42}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,67},{63,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{63,42}}</string>
                <key>sourceSize</key>
                <string>{77,52}</string>
            </dict>
            <key>abilities/gazzer_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{109,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{109,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{109,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{107,76}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{107,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,80},{107,76}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{107,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{105,78}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{107,76}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{107,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{107,76}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{107,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{109,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,78},{107,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{107,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/gazzer_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,154},{107,72}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{107,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,228},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,233},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,158},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,154},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gazzer.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37905646f680e046f29e451d8bbe2bb5:13f5f74cd02ba67bbf1eb55f9f24aeca:0461c933dc4e1b83d53bf84239206a2c$</string>
            <key>textureFileName</key>
            <string>ss_gazzer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
