<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/gazzer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,302},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/gazzer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,599},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/gazzer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,454},{93,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/gazzer_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,565},{71,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,668},{71,44}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{71,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,615},{71,44}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{71,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,548},{73,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{73,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,615},{69,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{69,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,597},{69,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{69,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,526},{69,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{69,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,565},{71,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,596},{71,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/gazzer_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,441},{121,83}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{121,83}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,427},{121,85}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{121,85}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,514},{117,83}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{117,83}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,543},{117,83}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{117,83}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,454},{117,87}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{117,87}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,474},{119,89}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{119,89}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,526},{119,87}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{119,87}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,387},{121,85}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{121,85}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,356},{123,83}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{123,83}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,302},{123,83}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{123,83}}</string>
                <key>sourceSize</key>
                <string>{153,103}</string>
            </dict>
            <key>abilities/gazzer_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{215,143}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{215,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,145}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{215,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,294},{211,147}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{211,147}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{213,151}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{213,151}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{211,153}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{211,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{209,151}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{209,151}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,147},{213,149}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{213,149}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,147}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{215,147}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,155},{213,145}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{213,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/gazzer_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,149},{213,143}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{213,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,443},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,298},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,181},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gazzer-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37905646f680e046f29e451d8bbe2bb5:13f5f74cd02ba67bbf1eb55f9f24aeca:0461c933dc4e1b83d53bf84239206a2c$</string>
            <key>textureFileName</key>
            <string>ss_gazzer-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
