<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_tormato/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,566},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_tormato/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,269},{61,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_tormato/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,413},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{97,98}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,217},{67,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{67,50}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,617},{69,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{69,48}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,546},{69,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{69,48}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,610},{71,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{71,46}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,754},{69,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{69,46}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,683},{69,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,17},{69,46}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,165},{67,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{67,50}}</string>
                <key>sourceSize</key>
                <string>{153,76}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,622},{125,73}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{125,73}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,687},{127,71}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{127,71}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,491},{129,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{129,73}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,546},{131,77}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{131,77}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,491},{129,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{129,73}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,610},{127,75}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{127,75}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,695},{125,75}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{125,75}}</string>
                <key>sourceSize</key>
                <string>{177,95}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{193,109}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{193,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,115},{195,107}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{195,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{197,111}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{197,111}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,119}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{199,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{197,115}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{197,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{195,115}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{195,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,119},{193,115}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{193,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tornado_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,381},{171,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{171,163}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,326},{163,169}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{163,169}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,165},{159,175}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{159,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,224},{155,177}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{155,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{161,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{161,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{163,175}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{163,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,276},{171,167}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{171,167}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,445},{163,163}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{163,163}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,401},{159,171}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{159,171}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,119},{155,177}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{155,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{161,177}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{161,177}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,236},{163,175}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{163,175}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>abilities/tornado_reflect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,631},{77,83}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,25},{77,83}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,815},{71,103}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{71,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,710},{79,103}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{79,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,512},{83,117}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{83,117}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,332},{79,101}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{79,101}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,749},{73,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{73,103}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{65,37}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,45},{65,37}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,69},{51,23}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,52},{51,23}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,234},{33,17}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,55},{33,17}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,119},{17,13}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,57},{17,13}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>abilities/tornado_reflect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,119},{1,1}}</string>
                <key>offset</key>
                <string>{-56,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_tormato-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771931cf46832c332112bd8e9fc9ca3b:d012d40792ba199ccff02be5c2a3c4ea:145ae487da9d1dc6bca90a4b24f9e56a$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_tormato-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
