<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_neotox/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_neotox/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,458},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_neotox/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,448},{97,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,410},{71,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,410},{71,46}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,423},{71,46}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,360},{71,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,360},{73,48}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{73,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,602},{73,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{73,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,298},{125,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{125,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,377},{121,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{121,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,300},{123,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{123,75}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,208},{125,75}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{125,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,131},{125,75}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{125,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,300},{121,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{121,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,373},{123,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{123,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,285},{125,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{125,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{221,146}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{221,146}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,146}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{221,146}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{219,150}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{219,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,146},{215,150}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{215,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,150},{213,146}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{213,146}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{215,142}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{215,142}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,154},{215,144}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{215,144}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_evil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{221,142}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{221,142}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,298},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,454},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,298},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_neotox-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c425ba9556f46c4163723412f018872:9e6d883813b1347088dae0e5d4905b3d:defdd0cd47bafd0a53e7a3d4c1d2d540$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_neotox-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
