<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_yang/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,189},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_yang/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,267},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_yang/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,187},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/yang_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,305},{37,33}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{37,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,283},{37,33}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{37,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,303},{35,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{35,35}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,303},{35,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{35,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,283},{37,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,266},{37,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,288},{37,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{37,41}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,256},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,258},{43,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{43,43}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,236},{47,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,138},{49,47}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,140},{53,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,264},{44,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{44,32}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,256},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,235},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,235},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,203},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,203},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,226},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{44,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,30}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{69,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{69,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,224},{67,40}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{67,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{67,40}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{67,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,138},{71,40}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{71,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,182},{69,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{69,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,140},{69,40}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{69,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,140},{69,40}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{69,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{71,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{71,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,180},{69,40}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{69,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,222},{67,40}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{67,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,182},{67,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{67,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,71},{95,65}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{95,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,136},{95,65}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{95,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{97,67}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{97,67}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,71},{93,67}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{93,67}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,69},{95,69}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{95,69}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{101,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{101,67}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{101,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{101,67}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{103,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{97,65}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{97,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{97,65}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{97,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_ghoul_lev_3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,69},{95,65}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{95,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>abilities/yang_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,267},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_yang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5abd7e20434bc60884e2545a799de590:cd9c438807b85dc11b5ae8a971b3d588:44b1d320c80038959549d46e88fd6cdb$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_yang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
