<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/blockanim_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{47,15}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{47,15}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{47,15}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{47,15}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,540},{59,25}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,44},{59,25}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,540},{59,25}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,44},{59,25}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{49,31}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{49,31}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{49,31}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{49,31}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/blockanim_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{45,31}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{45,31}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>abilities/ghoul_rammstone/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,691},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_rammstone/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,726},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_rammstone/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,660},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,404},{38,25}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,25}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,618},{40,25}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{40,25}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,377},{38,25}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,25}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,700},{38,23}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,688},{36,23}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,352},{40,23}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{40,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,660},{38,23}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,310},{40,23}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{40,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,620},{38,23}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,434},{38,23}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,740},{36,23}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,601},{40,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{40,25}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,350},{38,25}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{38,25}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,268},{40,23}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{40,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,431},{38,23}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,394},{38,23}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{38,23}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,542},{83,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{83,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{93,98}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,558},{85,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{85,78}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{79,70}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{79,70}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,474},{91,82}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{91,82}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,447},{93,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,352},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,445},{93,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,529},{85,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{85,78}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{79,70}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{79,70}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,350},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,350},{93,98}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,445},{93,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{93,82}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,609},{85,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{85,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,540},{85,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{85,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,270},{118,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{118,80}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,94},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{120,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,82}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,268},{116,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{116,80}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,94},{120,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,86}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{120,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{116,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{116,80}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,182},{120,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,268},{120,80}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,80}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_evil_lev3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,186},{120,80}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,80}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,620},{65,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,618},{71,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{71,74}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,687},{57,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{57,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_rammstone.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d641fd7c080aec2294fb481d4bfdeb:4fecbae385ce5cb5e02f94fb41c6379c:c7dabc445d9572a4e59ca3dbd9c2f466$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_rammstone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
