<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/burpy_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{52,25}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,224},{52,27}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,217},{54,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,273},{52,25}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,209},{54,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{54,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,224},{52,25}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,140},{99,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{99,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{99,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{99,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,142},{99,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{99,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{97,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{97,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,184},{97,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{97,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,182},{97,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{97,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,140},{99,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{99,38}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,71},{123,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{123,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,71},{123,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{123,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{123,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{123,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,140},{119,67}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{119,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{121,69}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{121,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,73},{121,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{121,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/ghoul_burpy/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,209},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_burpy/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,184},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_burpy/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,222},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_burpy.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65023239fbe07ba1485d967f40c8fa4e:ec3c2390071ab3fb8ea9c3d781da87e7:fe2cd0bc29ac54616257303a3ba91a92$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_burpy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
