<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/blockanim_ghoulvine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,948},{52,74}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,882},{92,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,183},{98,94}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,181},{86,86}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,280},{72,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,283},{64,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,882},{62,64}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/ghoul_lock/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_lock/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,183},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_lock/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,183},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/vine_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,987},{41,35}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,139},{41,35}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,183},{49,49}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,126},{49,49}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,533},{93,87}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,89},{93,87}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,354},{149,153}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{149,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,625},{213,195}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,195}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{231,189}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,189}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{231,179}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,179}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,649},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,283},{67,42}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{67,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,581},{67,42}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{67,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,181},{65,42}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{65,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,581},{67,42}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{67,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,840},{67,40}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{67,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,840},{67,40}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{67,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,840},{179,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{179,80}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,360},{171,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{171,80}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,183},{169,82}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{169,82}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,183},{175,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{175,82}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{179,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{179,80}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,400},{179,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{179,78}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,416},{223,97}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{223,97}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,183},{215,99}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{215,99}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,882},{207,103}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{207,103}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,406},{217,99}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{217,99}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,183},{221,97}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{221,97}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_lock-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db2e338f0dc30c0707449d92edaafeca:cdeefada999529ea859ff99e9379f037:4c3702d0a452398db78bd83ef07d446e$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_lock-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
