<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/gas/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,159},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/gas/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,645},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/gas/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,780},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{155,129}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,13},{155,129}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,288},{163,127}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,14},{163,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{171,125}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{171,125}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{175,123}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{175,123}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{175,121}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{175,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{181,117}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{181,117}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky__projectile_lev_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,119}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{187,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,277},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,453},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,429},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,121},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,654},{61,56}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{61,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,688},{61,56}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{61,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,628},{61,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{61,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,587},{63,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{63,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,772},{57,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{57,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,712},{59,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{59,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{92,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{94,95}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,686},{92,97}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,876},{92,95}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{92,95}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,724},{90,97}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,628},{94,97}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,587},{100,97}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{100,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{92,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gas-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e603ed8a4667cdf807882adf5c397a5:f30dd63dbebc999998fa10393fd9446c:00b76c9c7b16a3a79d72b1e71a18e702$</string>
            <key>textureFileName</key>
            <string>ss_gas-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
