<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/bomb_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,688},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>abilities/ghoul_grenuke/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,356},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_grenuke/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,631},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_grenuke/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,626},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,626},{101,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{101,60}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,485},{105,60}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{105,60}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,587},{105,56}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{105,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,645},{103,56}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{103,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,547},{105,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{105,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,605},{103,56}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{103,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,226},{101,64}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{101,64}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,528},{101,60}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{101,60}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,329},{97,64}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{97,64}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,428},{99,62}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{99,62}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,473},{107,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{107,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,529},{105,56}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{105,56}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,362},{109,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{109,58}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,528},{164,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{164,94}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,356},{168,100}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{168,100}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{162,90}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{162,90}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,458},{168,84}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{168,84}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{170,80}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{170,80}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,438},{168,88}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{168,88}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,528},{164,96}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{164,96}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,544},{164,94}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{164,94}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{160,96}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{160,96}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,624},{160,98}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{160,98}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,362},{174,82}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{174,82}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,446},{174,80}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{174,80}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,356},{176,80}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{176,80}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,236},{224,124}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{224,124}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,226},{232,128}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{232,128}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{222,114}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{222,114}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,116},{234,112}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{234,112}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,114},{236,110}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{236,110}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{236,110}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{236,110}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{232,118}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{232,118}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,118},{230,116}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{230,116}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{222,120}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{222,120}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,230},{224,124}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,30},{224,124}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{240,112}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{240,112}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{240,114}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{240,114}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>abilities/grenuke_evil_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,114}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{242,114}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_grenuke-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993b6e9a0443df9c9f9f76a375fb6f70:275e49e51ce1628af77e5040a6f45fa1:57cd203c898760ee40a09b7c57b3736b$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_grenuke-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
