<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/aquabeak_evil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,355},{61,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,128},{61,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{61,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{65,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{65,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,326},{65,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{65,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,276},{67,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{59,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,65},{61,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{61,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{83,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,191},{83,78}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,136},{85,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{85,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,68},{93,66}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{93,66}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{97,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{97,64}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,66}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{99,66}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{83,72}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{83,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,210},{83,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{83,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{85,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,409},{28,21}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{28,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,439},{28,21}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{28,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,326},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{32,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,471},{34,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{34,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,471},{34,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{34,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{34,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{34,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,374},{26,23}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{26,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,409},{28,21}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{28,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/aquabeak_evil_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,351},{32,21}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{32,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/ghoul_aquabeek/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,288},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_aquabeek/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,461},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{29,29}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_aquabeek/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,410},{49,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_aquabeek.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:836d4264abe06d742b12a61cbd950882:82ef02decba3a977c38813b004b04e6f:8348c4b1a4e0cf77277f5cee21aad1fc$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_aquabeek.pvr.ccz</string>
        </dict>
    </dict>
</plist>
