<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_makobreaker/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,47},{63,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_makobreaker/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,47},{31,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_makobreaker/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{49,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,112},{29,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,136},{29,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,15}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,167},{27,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{27,15}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,148},{27,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,87},{29,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,99},{29,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,80},{29,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,153},{27,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,142},{27,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{27,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,68},{29,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,49},{29,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,17}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,136},{29,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{29,15}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,148},{27,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{27,15}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,144},{48,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,22}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,96},{46,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,24}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,79},{46,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,49},{46,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,94},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{46,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,94},{46,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,24}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,112},{46,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{46,22}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,124},{48,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,22}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{85,43}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{81,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{81,43}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{81,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{81,45}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{77,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,47}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,47},{79,47}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,47}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,47},{79,47}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,47}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,47},{77,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{77,45}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{81,43}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{81,43}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{83,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,43}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>abilities/ghouled_makobreaker_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,43}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{85,43}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_makobreaker.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:024917d57225dfc7d55117636da927ed:2cd046de89302547c804f8f231daec70:074d12beee58d87a47c67400ca2fe25b$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_makobreaker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
