<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/blockanim_ghoulvine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,70},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{26,38}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{26,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,217},{46,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,180},{50,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,230},{44,44}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,473},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,473},{32,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{32,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/blockanim_ghoulvine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,473},{32,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{32,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>abilities/ghoul_lock/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,440},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_lock/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,440},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_lock/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,180},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/vine_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,70},{22,18}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,70},{22,18}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,42},{26,26}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{26,26}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,229},{48,46}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,139},{76,78}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{76,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,239},{108,98}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{116,96}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,244},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{116,90}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,90}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,480},{34,21}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{34,21}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,94},{34,21}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,94},{34,21}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{34,21}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,90},{34,21}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{34,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,349},{89,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{89,41}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,94},{87,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{87,41}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,137},{85,41}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{85,41}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,94},{87,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{87,43}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,126},{91,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{91,41}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,349},{89,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{89,41}}</string>
                <key>sourceSize</key>
                <string>{121,47}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,126},{113,49}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{113,49}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,362},{109,51}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{105,51}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{105,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,362},{109,51}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/vine_evil_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,126},{111,49}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{111,49}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_lock.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db2e338f0dc30c0707449d92edaafeca:cdeefada999529ea859ff99e9379f037:4c3702d0a452398db78bd83ef07d446e$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_lock.pvr.ccz</string>
        </dict>
    </dict>
</plist>
