<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,810},{109,161}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,106},{109,161}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,456},{189,215}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{189,215}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{241,269}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,271}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,251},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,251},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{159,63}}</string>
                <key>offset</key>
                <string>{-28,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,227},{159,63}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1026},{81,52}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{81,52}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,921},{81,48}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{81,48}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,974},{83,50}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{83,50}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,873},{81,52}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,5},{81,52}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,812},{81,54}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{81,54}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil__lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,895},{77,54}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,3},{77,54}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{162,93}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{162,93}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{164,91}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{164,91}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,960},{146,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{146,91}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,839},{144,93}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{144,93}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,654},{152,95}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{152,95}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,808},{150,95}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{150,95}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,500},{152,95}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{152,95}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,812},{154,91}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,91}}</string>
                <key>sourceSize</key>
                <string>{166,103}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{203,144}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{203,144}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,300},{197,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{197,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,673},{213,154}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{213,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,500},{217,152}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{217,152}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,829},{211,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{211,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,500},{215,156}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{215,156}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,658},{213,152}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{213,152}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,654},{215,154}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{215,154}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,148},{201,150}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{201,150}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/arachnetevil_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{203,144}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{203,144}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/ghoul_arachnet/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,905},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_arachnet/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,810},{61,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,36},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_arachnet/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,743},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_arachnet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588d5ac28f7586f3b7ea89c12a26023a:7261fbfdc317363c3655bd36b06e4a77:b820aff20f64720cea3d3736cca83b40$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_arachnet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
