<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_gas/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,192},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_gas/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,266},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,225},{30,29}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,104},{32,29}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{32,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{30,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{30,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,73},{32,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{32,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,259},{30,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{30,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,135},{30,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{30,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,225},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,259},{48,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,275},{48,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{48,46}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,309},{48,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{48,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,315},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{46,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,309},{48,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{48,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,166},{50,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,216},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{48,50}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,152},{89,71}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{89,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,73},{93,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{93,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{99,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{99,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{105,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{105,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{107,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{107,69}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,71}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{107,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,146},{89,71}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{89,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{93,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{93,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,73},{97,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{97,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,146},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,219},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,103},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,73},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gas_ghouled.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b456a4c9fbcfeec0d41002e3612c14fe:11b7679e7a97f7f46db011c93d1a330b:3bb6dbcf48b8791c50b0e75c733a667d$</string>
            <key>textureFileName</key>
            <string>ss_gas_ghouled.pvr.ccz</string>
        </dict>
    </dict>
</plist>
