<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/burpy_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,971},{105,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{105,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,965},{103,52}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{103,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,653},{105,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{105,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,546},{105,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{105,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,965},{107,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{107,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,787},{103,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{103,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{195,77}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{195,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,892},{193,77}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{193,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,415},{197,77}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{197,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,890},{191,73}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{191,73}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,683},{191,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{191,75}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,811},{191,77}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{191,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,614},{195,77}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{195,77}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,139},{243,135}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{243,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,411},{245,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{245,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{245,135}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{245,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,135}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{245,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,135}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{245,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,276},{245,133}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{245,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,546},{237,135}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{237,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{239,137}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{239,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/burpy_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{241,135}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{241,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ghoul_burpy/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_burpy/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,760},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_burpy/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,760},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_burpy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65023239fbe07ba1485d967f40c8fa4e:ec3c2390071ab3fb8ea9c3d781da87e7:fe2cd0bc29ac54616257303a3ba91a92$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_burpy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
