<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_gas/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_gas/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,567},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_gas/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,418},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,333},{59,56}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{59,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,490},{61,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{61,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,436},{61,58}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{61,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,427},{61,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{61,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,450},{57,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{57,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,391},{57,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{57,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,333},{94,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{94,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,429},{94,95}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{94,95}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,514},{94,91}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{94,91}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,442},{94,87}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{94,87}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,442},{90,81}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{90,81}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,333},{96,83}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{96,83}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{100,93}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{100,93}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{94,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{94,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,427},{173,141}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{173,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,141},{185,141}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{185,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,139},{197,139}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{197,139}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{209,137}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{209,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{211,135}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{211,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,137}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{213,137}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,139}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{213,139}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,284},{177,141}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{177,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{185,141}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{185,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_g_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,141},{193,141}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{193,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,280},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,284},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,177},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_gas-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd696cffe5389e1f19eb3a7ab30858a:794658d64add9445ff05ff3c7b8467cf:caa746dfa9040d527f0ee9387f6231b1$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_gas-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
