<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_tazer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_tazer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,326},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_tazer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,325},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,256},{71,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{71,51}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{63,51}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,282},{65,49}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{65,49}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,274},{73,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{73,49}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,233},{75,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{75,47}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,311},{71,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{71,49}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,223},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{75,49}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,300},{71,49}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{71,49}}</string>
                <key>sourceSize</key>
                <string>{87,53}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,73}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,75},{121,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{121,73}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{123,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{123,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,69},{123,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,67},{123,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{121,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{121,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,71}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,211},{50,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,325},{46,31}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{46,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,263},{46,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,303},{50,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,270},{50,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,237},{50,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,223},{52,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,274},{50,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,150},{107,81}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,128},{115,81}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{117,89}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,130},{113,91}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,211},{105,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{105,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_tazer.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8539549426bc1c08312ce8484247db7:f91e543d0e1e326d238525045c28ffe1:f0762786bf05bc099218dca0d33801da$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_tazer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
