<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,436},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ghoul_thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,263},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,360},{42,21}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,337},{42,21}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{42,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,469},{40,21}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{40,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,142},{40,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{40,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,469},{40,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,469},{40,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{40,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{40,21}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{40,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,383},{40,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{40,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,436},{38,21}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{38,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,314},{42,21}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{42,21}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{68,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,72},{68,34}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,369},{68,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{68,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,331},{68,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{68,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,297},{68,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,263},{68,32}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,365},{66,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{66,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{68,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{105,47}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{105,47}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,53},{107,49}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{107,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,212},{93,49}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{93,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{99,53}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{99,53}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,104},{103,53}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{103,53}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,53}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{107,53}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,159},{97,51}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{97,51}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{101,49}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{101,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{93,49}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{93,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_body_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,49}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{107,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,442},{12,15}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,428},{12,15}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,415},{12,15}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,415},{12,15}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,401},{12,15}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,350},{12,15}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,333},{12,15}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,316},{12,15}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,299},{12,15}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,442},{12,15}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{12,15}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,483},{34,20}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,447},{34,20}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,456},{34,20}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,425},{34,20}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,425},{34,20}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,403},{34,20}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,403},{34,20}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,406},{34,20}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,432},{34,20}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,483},{34,20}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,20}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,266},{51,31}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{51,31}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,454},{49,33}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,3},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,459},{49,33}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{49,33}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,401},{49,33}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,334},{49,33}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,299},{49,33}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{49,33}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,233},{51,31}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{51,31}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,200},{51,31}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{51,31}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/thresher_evil_powerup_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,167},{51,31}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,5},{51,31}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_thresher.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6140b219c5d21ff268fce4c462764bb:997b57c5c65812054489214d746d53c5:5b39d5fe437414cbbae513dfe192fb6d$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_thresher.pvr.ccz</string>
        </dict>
    </dict>
</plist>
