<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/Hypnogriff_Lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,709},{147,97}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{147,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,788},{149,95}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{149,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,691},{149,95}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{149,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,754},{147,95}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{147,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,982},{143,93}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{143,93}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,933},{143,93}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{143,93}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,885},{143,95}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{143,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,858},{143,95}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{143,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1003},{141,95}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{141,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,905},{143,95}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{143,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,758},{145,97}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{145,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,609},{147,97}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{147,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,709},{147,97}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{147,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{209,145}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{209,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,143}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{213,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,149},{205,143}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{205,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,294},{203,143}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{203,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{205,145}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{205,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,294},{205,145}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{205,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,145}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{213,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{211,145}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{211,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,147},{211,145}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{211,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{211,145}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{211,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,296},{201,145}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{201,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,149},{205,145}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{205,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{209,145}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{209,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1141},{83,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1028},{85,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{85,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1077},{85,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1183},{83,62}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{83,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1183},{81,60}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{81,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,524},{83,60}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{83,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1077},{83,58}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{83,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,439},{83,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{83,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1146},{83,62}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{83,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1050},{85,62}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1067},{87,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,976},{89,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{89,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1141},{83,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/freight_spook_animation_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,441},{143,49}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,113},{143,49}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{145,61}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,102},{145,61}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,586},{121,99}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,66},{121,99}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,568},{117,155}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{117,155}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{121,159}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,2},{121,159}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,383},{123,161}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{123,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,129},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,256},{125,161}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,441},{125,159}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{125,159}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,443},{125,151}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{125,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,851},{123,145}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{123,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{123,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{123,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1058},{123,141}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{123,141}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{121,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{121,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,976},{121,145}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{121,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,685},{121,149}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{121,149}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,570},{119,151}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{119,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,508},{119,153}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{119,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{117,155}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{117,155}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,439},{119,153}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,8},{119,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,570},{119,151}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,10},{119,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,687},{121,149}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{121,149}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,976},{121,145}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{121,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,935},{121,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,18},{121,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1058},{123,141}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,20},{123,141}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,810},{123,143}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{123,143}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,808},{123,145}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{123,145}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,629},{123,147}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,14},{123,147}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,560},{123,151}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{123,151}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{123,153}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,8},{123,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{121,159}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,2},{121,159}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,383},{123,161}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,1},{123,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,129},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{125,163}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/freight_spook_animation_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,256},{125,161}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{125,161}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/hypnogriff/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1121},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/hypnogriff/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/hypnogriff/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1028},{93,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_hypnogriff-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd20734da50b8c3a6e123bbe0561659:013ff4a633cda050ec95ff85a92d1260:e61bfefc738dfe4af59c9530166f79cb$</string>
            <key>textureFileName</key>
            <string>ss_hypnogriff-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
