<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/Hypnogriff_Lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,412},{75,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,354},{75,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{75,48}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{75,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,431},{75,48}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{75,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{73,48}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{73,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,508},{73,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{73,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,470},{73,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{73,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,436},{73,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{73,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,481},{71,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{71,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{73,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{73,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,456},{73,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{73,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,384},{73,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{73,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_Lvl2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,412},{75,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{105,74}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{105,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{103,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{103,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,154},{101,74}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,78},{103,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{103,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,78},{103,74}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{103,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,74}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{107,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{105,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{105,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{105,74}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{105,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,74}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,154},{101,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{101,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,78},{103,74}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{103,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{105,74}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{105,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,459},{42,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,424},{44,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,297},{44,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,575},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,558},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,564},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,531},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,531},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,584},{42,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,251},{44,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{44,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,389},{44,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,343},{44,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/Hypnogriff_lvl1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,459},{42,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/freight_spook_animation_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,175},{74,26}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,56},{74,26}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,422},{74,32}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{74,32}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,494},{62,50}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{62,50}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,307},{60,78}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{60,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{62,80}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{62,80}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,220},{64,82}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,175},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,154},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,109},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,241},{64,80}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,1},{64,80}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,230},{64,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{64,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,356},{64,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{64,74}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,558},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,520},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,406},{62,74}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{62,74}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,294},{60,76}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{60,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{60,76}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{60,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,286},{60,78}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{60,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,292},{60,78}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{60,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,230},{60,78}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{60,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{60,76}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{60,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,369},{60,76}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{60,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,406},{62,74}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{62,74}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,486},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,558},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,464},{62,72}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{62,72}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,308},{64,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{64,74}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{62,74}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{62,74}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,348},{62,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{62,76}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,230},{62,78}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{62,78}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{62,80}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{62,80}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,220},{64,82}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,175},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,154},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/freight_spook_animation_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,109},{64,82}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>abilities/hypnogriff/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,528},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/hypnogriff/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,591},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/hypnogriff/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,550},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_hypnogriff.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd20734da50b8c3a6e123bbe0561659:013ff4a633cda050ec95ff85a92d1260:e61bfefc738dfe4af59c9530166f79cb$</string>
            <key>textureFileName</key>
            <string>ss_hypnogriff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
