<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,826},{109,161}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{109,161}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,273},{189,215}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,52},{189,215}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,544},{241,269}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,271}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,273},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{247,269}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,269}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,228},{159,63}}</string>
                <key>offset</key>
                <string>{-28,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,227},{159,63}}</string>
                <key>sourceSize</key>
                <string>{247,297}</string>
            </dict>
            <key>abilities/jellyish/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,826},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/jellyish/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,956},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/jellyish/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,611},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,955},{85,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{85,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,443},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{81,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,526},{83,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{83,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,732},{85,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{85,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,955},{87,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{87,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,93},{87,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{87,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{89,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{89,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,714},{89,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{89,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,956},{89,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{89,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,958},{83,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{83,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,389},{85,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{85,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,872},{121,81}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{121,81}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,790},{119,83}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{119,83}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,611},{119,83}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{119,83}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,488},{121,85}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{121,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,785},{123,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{123,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,698},{125,85}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{125,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,611},{125,85}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{125,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,826},{127,85}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{127,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,526},{127,83}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{127,83}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,875},{119,81}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{119,81}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,443},{121,81}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{121,81}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,602},{209,110}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{209,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,815},{199,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{199,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,817},{201,110}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{201,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,714},{203,110}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{203,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,490},{209,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{209,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,114},{211,112}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{211,112}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,228},{213,110}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{213,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,273},{213,110}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{213,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{215,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{215,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,817},{203,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{203,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/jellyish_lvl3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{205,110}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{205,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_jellyish-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b99a946f39e81c8819488dbb64213de2:eea2f3bf941feef5085f21a98de57721:ebc04e70e0b3176fc4113b877f1a12de$</string>
            <key>textureFileName</key>
            <string>ss_jellyish-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
