<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/Lariat_slimcapture2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,398},{56,71}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,64},{56,71}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,285},{74,99}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{74,99}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{102,127}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{102,127}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,128},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,128},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/Lariat_slimcapture_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,256},{106,27}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{106,27}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/lariat/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,498},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/lariat/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,254},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/lariat/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,529},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/lariat_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,471},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,500},{48,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{48,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,500},{48,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{48,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,472},{50,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,449},{52,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,395},{52,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,341},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,287},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,499},{50,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/lariat_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,398},{75,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,54},{79,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{79,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,472},{73,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{73,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,499},{73,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{73,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,450},{75,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{75,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,206},{77,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{77,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,156},{77,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{77,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,106},{79,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{79,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{81,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/lariat_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,398},{111,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{111,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,326},{117,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{117,70}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{107,68}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{107,68}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,429},{107,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{107,68}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,361},{109,66}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{109,66}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{113,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{113,68}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,328},{115,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{115,68}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,254},{117,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{117,70}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/lariat_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,254},{119,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,72}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lariat.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2043c78a60c9558bd405f595432cb5b8:b266884a68cb2d1746ec2b1717a2f3d8:a838f5fe1987f070c52ee74cb5f8c8b4$</string>
            <key>textureFileName</key>
            <string>ss_lariat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
