<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/blockanim_vine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,349},{52,74}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,469},{92,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,563},{98,94}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,581},{86,86}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,275},{72,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,403},{64,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/blockanim_vine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,435},{62,64}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>abilities/lock/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,606},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/lock/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,499},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/lock/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,532},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/vine_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{41,35}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,139},{41,35}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,543},{49,49}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,126},{49,49}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,526},{93,87}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,89},{93,87}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,435},{149,153}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{149,153}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{213,195}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,195}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,130},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,244},{231,189}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,189}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{231,179}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,179}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,309},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,246},{231,177}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,67},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vine_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,65},{233,177}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,177}}</string>
                <key>sourceSize</key>
                <string>{247,195}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,494},{97,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{97,36}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,543},{93,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{93,36}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,488},{89,36}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{89,36}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,39},{95,38}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{95,38}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,697},{97,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{97,36}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,659},{97,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{97,36}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,586},{141,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{141,49}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,562},{135,55}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{135,55}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,494},{131,55}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{131,55}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,551},{131,53}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{131,53}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,136},{137,55}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{137,55}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,488},{141,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{141,53}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{243,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{243,63}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{243,63}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,65},{235,63}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{235,63}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,425},{227,67}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{227,67}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{241,61}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{241,61}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/vinedrill_lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{241,61}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{241,61}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lock-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a633096e5ba186139e89058bc190e28c:9fb8e59602097809e731a34c6ead9ea8:f5adb32bed75c0ac2c23e26546b59489$</string>
            <key>textureFileName</key>
            <string>ss_lock-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
