<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,633},{208,18}}</string>
                <key>offset</key>
                <string>{-56,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,116},{208,18}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{413,162}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{413,162}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,168}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{417,168}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{373,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{373,196}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,166},{377,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{377,152}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,320},{373,154}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{373,154}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,613},{299,140}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,71},{299,140}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,166},{259,32}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,115},{259,32}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,615},{259,16}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,121},{259,16}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,404},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,260}</string>
            </dict>
            <key>abilities/mega_thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,653},{124,126}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{124,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/mega_thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,570},{62,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{62,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/mega_thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,914},{92,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{92,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,376},{192,95}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{192,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{198,97}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,36},{198,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,105},{186,97}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{186,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,512},{190,101}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{190,101}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,204},{188,99}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{188,99}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{194,103}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{194,103}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{186,101}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{186,101}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,512},{192,99}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,35},{192,99}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,305},{188,97}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,37},{188,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{194,97}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{194,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,172},{215,162}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{215,162}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,633},{231,160}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{231,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,476},{235,178}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{235,178}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,404},{227,180}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{227,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,336},{211,174}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{211,174}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_thresher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6ae9359223ce18f5d823791f92d676:1fd901e1532e6756643a82c456ac0647:6dc11a62f558399c417cb0047821a576$</string>
            <key>textureFileName</key>
            <string>ss_mega_thresher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
