<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,90},{104,10}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{104,10}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,82}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{208,82}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{208,86}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{188,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{188,98}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,86},{190,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{190,76}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{188,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{188,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{150,70}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{150,70}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,86},{130,16}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,57},{130,16}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,196},{130,8}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,61},{130,8}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,109},{1,1}}</string>
                <key>offset</key>
                <string>{-112,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>abilities/mega_thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,218},{63,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,164},{31,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,270},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,329},{97,49}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{97,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,283},{99,49}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{99,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,387},{93,49}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{93,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,334},{95,51}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{95,51}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,381},{95,51}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{95,51}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{97,53}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{97,53}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,345},{93,51}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{93,51}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,328},{97,51}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{97,51}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,380},{95,49}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{95,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/mega_thresher_body_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{97,49}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{97,49}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{107,81}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,109},{115,81}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,226},{117,89}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,236},{113,91}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{105,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{105,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_thresher.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6ae9359223ce18f5d823791f92d676:1fd901e1532e6756643a82c456ac0647:6dc11a62f558399c417cb0047821a576$</string>
            <key>textureFileName</key>
            <string>ss_mega_thresher.pvr.ccz</string>
        </dict>
    </dict>
</plist>
