<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/makobreaker/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,180},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/makobreaker/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,247},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/makobreaker/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,356},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{48,25}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,70},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,353},{44,23}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,274},{44,23}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{44,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,70},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,138},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,247},{44,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{44,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,165},{42,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{42,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,326},{44,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{44,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,481},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,481},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,481},{46,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,280},{44,25}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{44,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,409},{70,32}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{70,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,288},{66,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,70},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{68,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,70},{66,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,40}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,409},{70,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,40}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{70,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,40}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,140},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{66,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{66,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,34}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,407},{66,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{66,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,409},{70,32}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{70,32}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,59}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{119,59}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{113,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{113,59}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{111,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{111,61}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,181},{105,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{105,63}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{111,63}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{111,63}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{111,63}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{111,63}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,70},{109,61}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{109,61}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,296},{111,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{111,59}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{113,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,59}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
            <key>abilities/makobreaker_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,59}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{119,59}}</string>
                <key>sourceSize</key>
                <string>{127,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_makobreaker.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d613365794ecc3054ede9d7bf6d3f2e:9fc2f66f3208dac4ea83b93c5c2d9f6b:8eabac1b7d3672ef6093a6b43046647f$</string>
            <key>textureFileName</key>
            <string>ss_makobreaker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
