<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,500},{104,10}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,57},{104,10}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{208,82}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{208,82}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{208,86}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{188,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{188,98}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{190,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{190,76}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{188,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{188,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{186,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{186,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{150,70}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{150,70}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,474},{150,24}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{150,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,422},{132,24}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{132,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,448},{130,16}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,57},{130,16}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,500},{130,8}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,61},{130,8}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-112,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>abilities/magatazer_ani_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,174},{121,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,174},{121,57}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{121,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,350},{119,61}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{119,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,413},{123,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{123,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,297},{123,57}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,297},{123,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,297},{123,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{123,51}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,174},{121,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{121,53}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/magatazer_ani_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,174},{121,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{121,55}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_tazer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,412},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_tazer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,102},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_tazer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,422},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,91},{107,81}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{107,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,174},{115,81}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{115,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{117,89}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{117,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,257},{113,91}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{105,87}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{105,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_tazer.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f41de26d8a7f83462f2855f3d20fe6b:49304b4bc04175ed8d97d041b9c6797f:0dc6660f4b3ea622b616c9367d37d801$</string>
            <key>textureFileName</key>
            <string>ss_mega_tazer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
