<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,172},{208,18}}</string>
                <key>offset</key>
                <string>{-56,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,116},{208,18}}</string>
                <key>sourceSize</key>
                <string>{400,260}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{413,162}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{413,162}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,168}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{417,168}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{373,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{373,196}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,166},{377,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{377,152}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{373,154}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,53},{373,154}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,320},{371,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,51},{371,156}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{299,140}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,71},{299,140}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,630},{299,50}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,104},{299,50}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,931},{263,46}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,107},{263,46}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,166},{259,32}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,115},{259,32}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,172},{259,16}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,121},{259,16}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-224.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{450,260}</string>
            </dict>
            <key>abilities/magatazer_ani_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,630},{241,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,595},{241,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{241,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,710},{239,119}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{239,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,478},{243,115}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{243,115}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,630},{245,113}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{245,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,526},{245,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{245,99}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{245,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{245,101}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,739},{237,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{237,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/magatazer_ani_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,630},{241,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{241,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/mega_tazer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,739},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/mega_tazer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,931},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/mega_tazer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{91,90}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{91,90}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,710},{215,162}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{215,162}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,468},{231,160}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{231,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,231},{235,178}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{235,178}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{227,180}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{227,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,831},{211,174}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{211,174}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_tazer-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f41de26d8a7f83462f2855f3d20fe6b:49304b4bc04175ed8d97d041b9c6797f:0dc6660f4b3ea622b616c9367d37d801$</string>
            <key>textureFileName</key>
            <string>ss_mega_tazer-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
