<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/arachnet_capture_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{56,81}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,53},{56,81}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{96,109}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{96,109}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,514},{122,135}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,262},{124,137}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,491},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,388},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,365},{124,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,135}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/arachnet_capture_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,60},{80,33}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,113},{80,33}}</string>
                <key>sourceSize</key>
                <string>{124,149}</string>
            </dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,90},{104,10}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{104,10}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,82}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{208,82}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{208,86}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{188,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{188,98}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,86},{190,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{190,76}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,95},{188,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{188,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{186,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{186,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{150,70}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{150,70}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,236},{150,24}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{150,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,262},{132,24}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,53},{132,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,86},{130,16}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,57},{130,16}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,95},{130,8}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,61},{130,8}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1,1}}</string>
                <key>offset</key>
                <string>{-112,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>abilities/mega_arachnet/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,218},{63,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_arachnet/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,164},{31,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_arachnet/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,283},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_arachnet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,638},{101,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{101,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{95,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{95,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,617},{103,78}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{103,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{103,78}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{103,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,600},{99,76}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{99,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,396},{101,76}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{101,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,697},{101,78}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{101,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,285},{105,78}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,499},{99,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{99,76}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/mega_arachnet_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,638},{101,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{101,74}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_arachnet.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb2393aeb7de328d249bbbfe1aee585:3227698a3fdd9dd654e92d024cb570d0:a3189b64f1e3d21185ccc299a8982f76$</string>
            <key>textureFileName</key>
            <string>ss_mega_arachnet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
