<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/Dragonbone_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,93},{106,24}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,76},{106,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,93},{106,24}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,76},{106,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,119},{106,32}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{106,32}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,119},{106,32}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{106,32}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,329},{104,24}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,81},{104,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,329},{104,24}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,81},{104,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,268},{106,20}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,83},{106,20}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,268},{106,20}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,83},{106,20}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,355},{100,24}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,78},{100,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,355},{100,24}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,78},{100,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,67},{108,24}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,77},{108,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,67},{108,24}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,77},{108,24}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,376},{100,18}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,75},{100,18}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/Dragonbone_attack_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,376},{100,18}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,75},{100,18}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/attackflare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,119},{104,10}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{104,10}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>abilities/attackflare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{208,82}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{208,82}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{208,86}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{188,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{188,98}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{190,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{190,76}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{188,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{188,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{186,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{186,78}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{150,70}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{150,70}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{150,24}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{150,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,308},{132,24}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{132,24}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,334},{130,16}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,57},{130,16}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{130,8}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,61},{130,8}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>abilities/attackflare_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-112,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{225,130}</string>
            </dict>
            <key>abilities/bomb_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,478},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,32}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>abilities/mega_grenuke/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,355},{63,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_grenuke/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,420},{31,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_grenuke/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,285},{47,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/mega_grenuke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,174},{109,65}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{109,65}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,174},{111,67}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{111,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,403},{107,59}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{107,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,268},{113,59}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{113,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,453},{113,57}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{113,57}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,153},{113,59}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{113,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,153},{111,63}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{111,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,243},{111,63}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{111,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{105,63}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{105,63}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,334},{109,67}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{109,67}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,334},{117,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{117,59}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,412},{117,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{117,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/mega_grenuke_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{117,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_grenuke.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db8bca0f6eb730a92319b9b7fb843fad:a81246012e1718e36813e403144d421d:b1143ba19b364b274ab676775a40a8bf$</string>
            <key>textureFileName</key>
            <string>ss_mega_grenuke.pvr.ccz</string>
        </dict>
    </dict>
</plist>
