<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/chillaxe_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,404},{50,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,352},{50,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,488},{48,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,300},{50,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{48,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,252},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,204},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,438},{48,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,404},{50,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,184},{79,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,438},{75,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,446},{79,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{79,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,456},{71,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,427},{79,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{79,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,346},{79,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{79,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{75,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{75,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,265},{79,50}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{79,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,184},{79,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{117,60}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{117,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{109,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{109,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{115,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{115,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,154},{103,56}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{103,56}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,62},{117,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{117,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{117,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{117,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,94},{109,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{109,58}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,122},{115,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{115,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{117,60}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{117,60}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/flakes_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{10,16}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,43},{10,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{10,16}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,43},{10,16}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,94},{20,50}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{20,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,94},{20,50}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{20,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,529},{62,68}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{62,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,529},{62,68}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{62,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{100,92}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,156},{100,96}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,156},{100,96}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,212},{100,94}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,212},{100,94}}</string>
                <key>offset</key>
                <string>{-15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,368},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,346},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,90}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{128,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,64},{116,90}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{116,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,276},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,254},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,184},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,346},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,90}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{122,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,90}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{128,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,64},{116,90}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{116,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,276},{100,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{98,90}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{98,90}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{98,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/flakes_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{98,90}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>abilities/narwhaddle/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,570},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/narwhaddle/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,460},{31,31}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/narwhaddle/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{47,47}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/snow_flare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,14},{1,1}}</string>
                <key>offset</key>
                <string>{-92.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,400},{98,44}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{98,44}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,400},{98,44}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{98,44}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,490},{70,62}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{70,62}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,498},{74,70}}</string>
                <key>offset</key>
                <string>{-43,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{74,70}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,460},{70,72}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{70,72}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{74,66}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{74,66}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{74,66}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{74,66}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
            <key>abilities/snow_flare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,14},{1,1}}</string>
                <key>offset</key>
                <string>{-92.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{186,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_narwhaddle.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103df71f55d86449c120015c1cb298c2:03b22df3db870a48e727c44fe21dc19a:811b5d6d6490c03d45051ca72d14c251$</string>
            <key>textureFileName</key>
            <string>ss_narwhaddle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
