<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/neotox/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,111},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/neotox/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,229},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/neotox/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,269},{49,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,315},{36,23}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,147},{36,23}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,109},{36,23}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,300},{36,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,71},{36,23}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,262},{36,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,218},{64,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{64,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,296},{62,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,36}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,251},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,229},{62,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,185},{64,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{64,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,178},{64,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{64,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,258},{62,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,36}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,215},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,215},{62,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,67}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{109,67}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{109,65}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{109,65}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{107,65}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{107,65}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{105,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{105,67}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,69},{105,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{105,67}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{107,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{107,67}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,69},{105,65}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{105,65}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{109,65}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{109,65}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,150},{89,77}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,136},{89,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,138},{87,79}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,71},{89,77}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{89,77}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_neotox.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb418b41796a4b75f8bc7797860fd2a8:0b099c31993fac13e627c6d5cf26d821:c7d5ef4fe80f6be214a3a22bb0fa2035$</string>
            <key>textureFileName</key>
            <string>ss_neotox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
