<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/chillaxe_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,497},{97,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,396},{99,62}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1236},{95,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,236},{97,60}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{97,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,396},{93,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{93,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,491},{91,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{91,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,301},{93,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{93,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1139},{95,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,497},{97,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,584},{155,101}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{155,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,912},{149,99}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{149,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,741},{155,99}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{155,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1040},{141,97}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{141,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{157,97}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{157,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,755},{155,99}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{155,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,861},{149,99}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{149,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,596},{157,99}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{157,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,584},{155,101}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{155,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,117},{231,117}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{231,117}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,299},{217,115}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{217,115}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,184},{227,113}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{227,113}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{205,111}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{205,111}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{233,113}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{233,113}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,184},{231,115}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{231,115}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,236},{217,117}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{217,117}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{227,119}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{227,119}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/chillaxe_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,117},{231,117}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{231,117}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/flakes_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,102},{20,32}}</string>
                <key>offset</key>
                <string>{-80,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,87},{20,32}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,102},{20,32}}</string>
                <key>offset</key>
                <string>{-80,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,87},{20,32}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{40,98}}</string>
                <key>offset</key>
                <string>{-83,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{40,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{40,98}}</string>
                <key>offset</key>
                <string>{-83,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,55},{40,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1103},{124,134}}</string>
                <key>offset</key>
                <string>{-42,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{124,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1103},{124,134}}</string>
                <key>offset</key>
                <string>{-42,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{124,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,495},{198,182}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{198,182}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,727},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,301},{198,192}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{198,192}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,301},{198,192}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{198,192}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,355},{198,188}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{198,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,355},{198,188}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{198,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,180}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{244,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,180}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{258,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{232,180}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{232,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,679},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,545},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{244,180}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{244,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,180}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{258,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{232,180}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{232,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,679},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,416},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,416},{198,180}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{198,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,780},{196,180}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{196,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/flakes_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,780},{196,180}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{196,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>abilities/narwhaddle/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1139},{127,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/narwhaddle/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,335},{59,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,34},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/narwhaddle/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,962},{93,92}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/snow_flare_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{-185,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{195,90}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,89},{195,90}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{195,90}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,89},{195,90}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1013},{141,122}}</string>
                <key>offset</key>
                <string>{-85,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,73},{141,122}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,898},{147,140}}</string>
                <key>offset</key>
                <string>{-85,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,61},{147,140}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,962},{139,142}}</string>
                <key>offset</key>
                <string>{-95,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,64},{139,142}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,909},{149,130}}</string>
                <key>offset</key>
                <string>{-95,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{149,130}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,909},{149,130}}</string>
                <key>offset</key>
                <string>{-95,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{149,130}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
            <key>abilities/snow_flare_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{-185,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{371,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_narwhaddle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103df71f55d86449c120015c1cb298c2:03b22df3db870a48e727c44fe21dc19a:811b5d6d6490c03d45051ca72d14c251$</string>
            <key>textureFileName</key>
            <string>ss_narwhaddle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
