<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/neotox/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,420},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/neotox/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,367},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/neotox/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,444},{97,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{97,96}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,428},{71,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,507},{71,46}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,434},{71,46}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{71,46}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,418},{71,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{71,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,343},{73,48}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{73,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,268},{73,48}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{73,48}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,292},{125,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{125,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,417},{121,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{121,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,367},{123,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,292},{123,75}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{125,75}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{125,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,420},{125,75}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{125,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,367},{121,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{121,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,428},{123,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{123,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{125,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{125,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,134}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{217,134}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{217,132}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{217,132}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{213,132}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{213,132}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{209,136}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{209,136}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{207,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{207,134}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,134},{211,134}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{211,134}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,136},{211,130}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{211,130}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/neotox_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{217,130}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{217,130}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,268},{175,150}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{175,150}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,211},{177,154}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,270},{173,156}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{173,156}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{173,156}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/stinky_poison_cloud_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,136},{177,154}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{177,154}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_neotox-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb418b41796a4b75f8bc7797860fd2a8:0b099c31993fac13e627c6d5cf26d821:c7d5ef4fe80f6be214a3a22bb0fa2035$</string>
            <key>textureFileName</key>
            <string>ss_neotox-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
