<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/phosphoro/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,178},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/phosphoro/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,295},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{33,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/phosphoro/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,330},{48,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,362},{46,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{46,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,295},{46,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,453},{48,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,295},{48,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{50,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,328},{48,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,331},{48,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,453},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,331},{48,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,331},{58,38}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{58,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{60,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{60,40}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,50},{62,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{62,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{62,46}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{62,46}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,393},{58,46}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{58,46}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,285},{60,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,44}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{60,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{60,42}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,96},{62,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{62,40}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,245},{62,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,138},{62,38}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{62,38}}</string>
                <key>sourceSize</key>
                <string>{72,52}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{93,51}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{93,51}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,65},{93,55}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{93,55}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,61}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{91,63}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{91,63}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,63}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{93,63}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,173},{91,61}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{91,61}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,236},{91,57}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{91,57}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{91,55}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{91,55}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{93,51}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{93,51}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,122},{93,49}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{93,49}}</string>
                <key>sourceSize</key>
                <string>{123,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_phosphoro.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6a626e8ce494ddf09561895dd65f94:135c526cfd85e27dc94d1a0e4e03d332:af543c6384f1d3e59ae713a9afe1d59b$</string>
            <key>textureFileName</key>
            <string>ss_phosphoro.pvr.ccz</string>
        </dict>
    </dict>
</plist>
