<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/phosphoro/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,370},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/phosphoro/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/phosphoro/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,460},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{99,100}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,759},{95,62}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,785},{93,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{93,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,756},{93,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,756},{95,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{95,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,561},{97,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,629},{97,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{97,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,695},{97,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,723},{97,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{97,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{93,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{93,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,679},{115,75}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{115,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{115,81}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{115,81}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{125,87}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{125,87}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,537},{121,93}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{121,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,586},{117,91}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{117,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,632},{117,89}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{117,89}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,499},{119,85}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{119,85}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{121,79}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{121,79}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{123,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,460},{123,75}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{123,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,114},{185,102}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{185,102}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,110}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{185,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,122}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{185,122}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,187},{181,128}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,22},{181,128}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{183,128}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,20},{183,128}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,218},{183,124}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{183,124}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,344},{181,114}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{181,114}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{183,108}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{183,108}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{183,102}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{183,102}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>abilities/phosphoro_lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{185,100}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{185,100}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_phosphoro-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6a626e8ce494ddf09561895dd65f94:135c526cfd85e27dc94d1a0e4e03d332:af543c6384f1d3e59ae713a9afe1d59b$</string>
            <key>textureFileName</key>
            <string>ss_phosphoro-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
