<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/rammstone/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,626},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/rammstone/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,546},{27,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{27,29}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/rammstone/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,626},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/ramstone_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,683},{38,31}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{38,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,200},{42,31}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,710},{38,31}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{38,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,679},{38,31}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{38,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,35},{36,31}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{36,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,156},{42,31}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,352},{40,31}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{40,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,112},{42,31}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,319},{40,31}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{40,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,286},{40,31}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{40,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{36,31}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{36,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,68},{42,31}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{42,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,244},{40,31}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{40,31}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,693},{40,29}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{40,29}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,683},{38,29}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{38,29}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,679},{40,29}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{40,29}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>abilities/ramstone_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{83,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{83,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,364},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,459},{93,98}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,603},{85,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{85,78}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,531},{79,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{79,70}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{89,82}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{89,82}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,453},{93,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,358},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,451},{93,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,546},{85,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{85,78}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,459},{79,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{79,70}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,356},{93,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{93,98}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,98}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{91,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{91,82}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,554},{85,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,548},{85,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{85,76}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>abilities/ramstone_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,272},{112,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{112,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,94},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,94},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,186},{114,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{114,86}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{108,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{108,88}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,94},{116,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,88}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{114,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,88}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,274},{108,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{108,88}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,184},{116,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{116,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,270},{114,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{114,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_lev3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,186},{114,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{114,84}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,632},{65,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,626},{71,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{71,74}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
            <key>abilities/ramstone_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,385},{57,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{57,72}}</string>
                <key>sourceSize</key>
                <string>{73,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_rammstone.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9123a8c48bcc1e4c95ebab9a7c45bb30:9c413ae12019def51692283fbd920a12:3d19b378ff42d0b162507c13720aeaa1$</string>
            <key>textureFileName</key>
            <string>ss_rammstone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
