<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ping_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,887},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,902},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,899},{97,60}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,940},{97,56}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,771},{93,58}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,814},{91,60}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,893},{91,58}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{91,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,831},{93,60}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,951},{95,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,823},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,876},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,887},{95,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,951},{95,58}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,831},{93,60}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,955},{91,58}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{91,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,966},{91,56}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{91,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,951},{93,60}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,823},{95,62}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,957},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev1_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,490},{135,93}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{135,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,207},{135,91}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{135,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,409},{133,93}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{133,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,274},{133,93}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{133,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,348},{133,93}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{133,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,806},{131,91}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,730},{131,91}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,820},{133,91}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,713},{131,91}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,713},{131,91}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,678},{133,91}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,585},{133,91}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,637},{133,91}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,544},{133,91}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,681},{131,91}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,685},{131,91}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{131,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,578},{133,91}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{133,91}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,395},{135,93}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{135,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,300},{135,93}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{135,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,137},{135,93}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{135,93}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{217,135}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{217,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{221,135}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{221,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{219,135}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{219,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{219,135}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{219,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{219,133}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{219,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,272},{203,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{203,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,578},{199,133}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{199,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,137},{205,133}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{205,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,139},{207,133}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{207,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{215,133}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,276},{219,133}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{219,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,411},{217,133}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{217,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{219,133}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{219,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{219,133}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{219,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{203,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{203,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,443},{199,133}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{199,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,546},{207,133}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{207,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{209,135}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{209,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,139},{217,135}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{217,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/ping_projectile_lev3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,135}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{221,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/refresh/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,407},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/refresh/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,961},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/refresh/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,806},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_refresh-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fde01860953e1a857496333b88b5ce:1d2800e34e3dbda5a8cf13746f269f30:564fc07f7eadef5a304fdf672918d4e2$</string>
            <key>textureFileName</key>
            <string>ss_refresh-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
