<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/aquabeek_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,250},{53,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{53,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,337},{55,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{55,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,203},{61,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{61,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,255},{65,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{65,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,186},{67,44}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{67,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,117},{67,44}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{67,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,294},{51,44}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{51,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,293},{55,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{55,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,249},{61,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{61,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,221},{117,91}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,7},{117,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,250},{117,89}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{117,89}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,266},{119,87}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{119,87}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,218},{127,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{127,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,238},{129,79}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{129,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,133},{133,83}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{133,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,301},{115,85}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{115,85}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,340},{117,89}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{117,89}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,98},{121,91}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,7},{121,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{161,133}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{161,133}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{163,131}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{163,131}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{169,123}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{169,123}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{185,113}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{185,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{193,109}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{193,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,111}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{197,111}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,117},{163,119}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,9},{163,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{163,129}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{163,129}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/aquabeek_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,113},{169,135}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{169,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/speedstinger/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,137},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/speedstinger/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,137},{61,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{61,64}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/speedstinger/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{95,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_speedstinger-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80de565635bd5ac7791517f00675c4f1:d2c4ebd6408ae8d1bb4383b066efacd0:c5610d8cd1afe2d985906c9ce7a6bcdb$</string>
            <key>textureFileName</key>
            <string>ss_speedstinger-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
