<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/slyren/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,466},{123,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{123,126}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/slyren/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,403},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/slyren/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,602},{93,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,672},{93,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,548},{95,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{95,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,494},{95,52}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{95,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,662},{93,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,757},{91,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{91,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,621},{93,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,581},{93,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,726},{91,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{91,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,676},{91,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{91,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,568},{93,52}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl1_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,545},{93,52}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{93,52}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{159,99}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{159,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,274},{161,97}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{161,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,373},{161,95}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{161,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,395},{157,91}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{157,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,403},{155,89}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{155,89}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,488},{153,91}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{153,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,569},{151,91}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{151,91}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,274},{149,93}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{149,93}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,369},{145,95}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{145,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,470},{153,97}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{153,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl2_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,470},{157,97}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{157,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,147}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{239,147}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,139}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{239,139}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{239,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{239,131}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,143},{235,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{235,125}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{229,119}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{229,119}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{231,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{231,121}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,270},{229,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{229,123}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,145},{229,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{229,127}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,272},{225,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{225,129}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,135},{235,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{235,135}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_projectile_Lvl3_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{237,141}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{237,141}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,270},{15,24}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{15,24}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,505},{21,32}}</string>
                <key>offset</key>
                <string>{-34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{21,32}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,861},{29,38}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{29,38}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,820},{31,44}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,580},{39,54}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{39,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,73},{55,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{55,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{69,58}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,3},{69,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,130},{47,58}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{47,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,533},{45,58}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,3},{45,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,494},{29,58}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,3},{29,58}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,135},{1,1}}</string>
                <key>offset</key>
                <string>{-55,32.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,539},{17,31}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{17,31}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{29,43}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,29},{29,43}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{37,49}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,27},{37,49}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,488},{43,59}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,22},{43,59}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{51,73}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,14},{51,73}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{77,79}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,11},{77,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,662},{93,79}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,11},{93,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,403},{63,79}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,11},{63,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,464},{59,79}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,11},{59,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,820},{39,79}}</string>
                <key>offset</key>
                <string>{35,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,11},{39,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,135},{1,1}}</string>
                <key>offset</key>
                <string>{-100,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,466},{21,37}}</string>
                <key>offset</key>
                <string>{-88,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{21,37}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,861},{33,49}}</string>
                <key>offset</key>
                <string>{-81,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,62},{33,49}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,525},{41,57}}</string>
                <key>offset</key>
                <string>{-69,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,58},{41,57}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,395},{49,69}}</string>
                <key>offset</key>
                <string>{-53,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{49,69}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,403},{61,85}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{61,85}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,581},{89,93}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,39},{89,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{109,93}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,39},{109,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,743},{75,93}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{75,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,179},{69,93}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,39},{69,93}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,395},{47,91}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{47,91}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/slyren_rings_Lvl3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,135},{1,1}}</string>
                <key>offset</key>
                <string>{-122,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slyren-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:804544636a6dab993283c9b03e56ca1d:8be3d2217ca48a468a0521b806829edf:f94f105f62ab15f083eb2581da4910c5$</string>
            <key>textureFileName</key>
            <string>ss_slyren-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
