<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/thugglet/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,411},{123,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{123,124}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thugglet/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,915},{59,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thugglet/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,820},{93,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{93,92}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,688},{71,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,622},{71,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{71,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,719},{71,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{71,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,915},{65,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{65,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,953},{67,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{67,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,887},{69,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{69,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{69,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{69,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{71,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{71,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,646},{71,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{71,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,573},{71,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{71,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,694},{71,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{71,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,754},{65,64}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{65,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,939},{65,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{65,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,953},{67,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{67,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,821},{69,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{69,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,628},{71,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,312},{143,101}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{143,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,516},{141,99}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{141,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,536},{141,99}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{141,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,679},{135,99}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{135,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,800},{137,97}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{137,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,719},{137,97}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{137,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,628},{141,97}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{141,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{143,95}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{143,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,622},{141,95}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{141,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,672},{141,95}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{141,95}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,573},{141,97}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{141,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,312},{129,97}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{129,97}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,415},{133,99}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{137,99}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{137,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,659},{139,99}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{139,99}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{143,101}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{143,101}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,153}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{209,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,159},{207,153}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{207,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,157},{207,153}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{207,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,416},{195,155}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{195,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,314},{199,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{199,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,211},{203,155}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{203,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{207,155}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{207,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,153}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{209,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,157},{207,153}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{207,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{207,155}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{207,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{207,153}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{207,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,471},{193,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{193,155}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,467},{195,153}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{195,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,312},{201,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{201,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{205,153}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{205,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,153}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{209,153}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_thugglet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839394f76b9263241946ca56793e6380:c613bfd7aa8abf5cc50ed440562aa16b:101c1124cf2aafa31cb6bc156fcad421$</string>
            <key>textureFileName</key>
            <string>ss_thugglet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
