<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/tormato/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tormato/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,329},{61,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{61,60}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tormato/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,502},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tormato_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,446},{97,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{97,54}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,529},{99,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{99,54}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,224},{101,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{101,54}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,386},{103,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{103,58}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,327},{101,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{101,56}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,391},{99,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{99,58}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,430},{97,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{97,56}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>abilities/tormato_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{129,71}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{129,71}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,406},{131,71}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{131,71}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{133,73}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{133,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{135,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{135,77}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{133,75}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{133,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,329},{131,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{131,75}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,479},{129,73}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{129,73}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/tormato_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,222},{189,105}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{189,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{191,105}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{191,105}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,113},{193,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{193,107}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,113}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{197,113}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{193,109}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{193,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{191,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{191,111}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tormato_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,195},{189,109}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{189,109}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_tormato-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a96d1886a36249f871ffb251dd81a2:0a3148bdbc37c1222edad2be6ca2d652:002ac4dd3a7eff7755eb8e72be386714$</string>
            <key>textureFileName</key>
            <string>ss_tormato-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
