<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/thugglet/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,162},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/thugglet/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,293},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/thugglet/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,235},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,370},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,370},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,262},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,320},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,360},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,284},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,260},{34,31}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{34,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,322},{36,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,284},{36,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,368},{36,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,227},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,475},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,477},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,477},{34,33}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,380},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,380},{36,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,305},{73,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,297},{71,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,214},{71,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,208},{67,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{67,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,406},{69,50}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{69,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,266},{69,50}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{69,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,162},{71,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,82},{73,48}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{73,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,408},{71,48}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{71,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,157},{71,48}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{71,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,162},{71,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,406},{67,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{67,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,337},{67,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{67,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,297},{69,50}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{69,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,418},{71,50}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,230},{73,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{73,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{105,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{105,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{105,78}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,82},{99,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{99,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,420},{101,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{101,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,317},{101,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{101,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{105,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,109},{97,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{97,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,82},{99,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{99,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,214},{101,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{101,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,109},{103,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{103,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
            <key>abilities/thugglet_projectile_lev3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{105,78}}</string>
                <key>sourceSize</key>
                <string>{123,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_thugglet.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839394f76b9263241946ca56793e6380:c613bfd7aa8abf5cc50ed440562aa16b:101c1124cf2aafa31cb6bc156fcad421$</string>
            <key>textureFileName</key>
            <string>ss_thugglet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
