<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/ghoul_tazer/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,278},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_tazer/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/ghoul_tazer/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,669},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,529},{139,101}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{139,101}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,432},{123,101}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,1},{123,101}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,407},{127,99}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{127,99}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,432},{145,95}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{145,95}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,375},{149,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{149,95}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,508},{139,95}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{139,95}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,278},{149,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{149,95}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,472},{139,97}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{139,97}}</string>
                <key>sourceSize</key>
                <string>{173,105}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,145}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,131},{241,145}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{241,145}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{245,127}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{245,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{245,127}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{245,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,145},{245,117}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{245,117}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,131},{245,119}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{245,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{243,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{243,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_g_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{245,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,141}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,605},{99,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{99,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,739},{91,62}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{91,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,671},{91,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{91,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,635},{99,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{99,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,605},{101,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{101,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,599},{101,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{101,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,535},{105,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{105,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_projectile_lev1_evil_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,571},{101,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{101,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,426},{215,162}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{215,162}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,264},{231,160}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{231,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,252},{235,178}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{235,178}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{227,180}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{227,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>abilities/tazerling_stun_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{211,174}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{211,174}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_tazer_ghouled-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffdef3c1357ad4530a01d0563665b4d4:251071f7518661518a05bf3ccdf54550:abfe0c9ef326d59983797755f206bec4$</string>
            <key>textureFileName</key>
            <string>ss_tazer_ghouled-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
