<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/thresher/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,328},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thresher/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,897},{63,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{63,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thresher/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,408},{139,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{139,143}}</string>
                <key>sourceSize</key>
                <string>{147,151}</string>
            </dict>
            <key>abilities/thresher/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,801},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,705},{25,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,820},{23,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,5},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,675},{25,28}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,797},{23,28}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,3},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,735},{23,30}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{23,30}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,767},{23,28}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{23,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,603},{25,28}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,4},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,576},{25,28}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,549},{25,28}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,6},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,705},{25,28}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{25,28}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,621},{65,37}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,753},{65,35}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{65,35}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,573},{65,37}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,554},{65,37}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,9},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,688},{63,37}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,8},{63,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,534},{65,37}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,9},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,495},{65,37}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,487},{65,37}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,11},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,719},{65,35}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,13},{65,35}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,621},{65,37}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,12},{65,37}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,738},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,784},{98,61}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,9},{98,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,760},{98,63}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,719},{98,63}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{98,63}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,695},{98,63}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,630},{98,63}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{98,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{100,63}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,7},{100,63}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_powerup_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,675},{100,61}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,10},{100,61}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{79,42}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,845},{79,42}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,972},{73,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{73,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,972},{75,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{75,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,895},{75,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{75,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,816},{77,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{77,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,897},{73,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{73,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,408},{77,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{77,40}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{75,42}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{75,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,825},{79,42}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{79,42}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,524},{117,65}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{117,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,261},{119,65}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{119,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,654},{113,63}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{113,63}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,591},{115,61}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{115,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,549},{115,61}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{115,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{117,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{117,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,612},{113,61}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{113,61}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{115,63}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{115,63}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{107,65}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{107,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,457},{117,65}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{117,65}}</string>
                <key>sourceSize</key>
                <string>{143,103}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,107},{194,93}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{194,93}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,95}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{198,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,307},{186,99}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{186,99}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,202},{190,103}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{190,103}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,69},{190,105}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,34},{190,105}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{194,103}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{194,103}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{186,101}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{186,101}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{192,97}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{192,97}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{186,95}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{186,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>abilities/thresher_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{194,95}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,38},{194,95}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_thresher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf99ea80eeb7ad84008d7fcc223c6132:bb8012262aabab0b1dcb39cace5706d7:8c4a627dd36ebdd3b6f0aa9cc299be8b$</string>
            <key>textureFileName</key>
            <string>ss_thresher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
