<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/xmitter/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/xmitter/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,432},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/xmitter/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,222},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>abilities/xmitter/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,384},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,471},{34,33}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,432},{34,31}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{34,31}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,483},{34,27}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{34,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,396},{34,25}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{34,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,433},{36,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,468},{34,23}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,396},{34,23}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,23}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,321},{36,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,294},{36,25}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{36,25}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,483},{32,27}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{32,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,396},{34,33}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{49,52}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{51,52}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,379},{53,50}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{53,50}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,348},{57,46}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{57,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,335},{61,42}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{61,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,294},{61,42}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{61,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,338},{59,44}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{59,44}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{59,44}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{59,44}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,91},{61,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{61,46}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,433},{45,48}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{45,48}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,444},{47,52}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{73,78}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,188},{77,76}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{77,76}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,139},{81,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{81,70}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{87,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{87,64}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,66},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{91,60}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{91,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{91,58}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,128},{87,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{87,58}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{91,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{91,62}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{93,66}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,266},{67,70}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{67,70}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>abilities/xmitter_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{71,76}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{71,76}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_xmitter.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:678630fcc5ea7b9cc75ac8ea6dd60f62:f1ca2e2f22a6f32a746a5e5dc132baee:44e5614f5beb245cc26dfdc0d8ff457a$</string>
            <key>textureFileName</key>
            <string>ss_xmitter.pvr.ccz</string>
        </dict>
    </dict>
</plist>
