<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/yang/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,719},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/yang/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,420},{61,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{61,62}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/yang/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,579},{95,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{95,94}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/yang_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,420},{72,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{72,64}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,953},{72,66}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{72,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,953},{70,68}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{70,68}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,248},{70,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{70,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,411},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{70,72}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,327},{72,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{72,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,248},{74,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{74,80}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,336},{80,82}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{80,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,248},{86,86}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,489},{92,88}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{92,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,391},{96,90}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{96,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,849},{102,92}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{102,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>abilities/yang_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,125},{1,1}}</string>
                <key>offset</key>
                <string>{-64,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,484},{77,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{77,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,330},{79,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{79,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,486},{79,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{79,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,567},{77,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{77,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,755},{77,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{77,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,676},{77,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{77,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,486},{79,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{79,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,248},{77,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{77,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{141,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{141,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,864},{137,81}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{137,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,864},{137,81}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{137,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{143,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{143,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,437},{141,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{141,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,250},{139,81}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{139,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,580},{137,81}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{137,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{143,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{143,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,582},{141,81}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{141,81}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{139,83}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{139,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,725},{137,83}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{137,83}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,127},{187,119}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{187,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,125},{187,121}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{187,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{189,121}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{189,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,125},{185,121}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{185,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{187,121}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{187,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{197,123}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{197,123}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,123}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{201,123}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,121}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{201,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{193,121}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{193,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,125},{193,121}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{193,121}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{185,119}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{185,119}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_yang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d691f856f25a65fc61d6d3c1aff73296:24a92cb298316c0bf43b23ba50f4bcbb:5d63c3c3f6ff1b36709153e2799d93e7$</string>
            <key>textureFileName</key>
            <string>ss_yang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
