<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abilities/yang/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,255},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/yang/icon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,291},{31,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{31,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/yang/powerbar_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,450},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/yang_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,208},{37,33}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{37,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,252},{37,33}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{37,33}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,362},{35,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{35,35}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,363},{35,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{35,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,399},{37,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,322},{37,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,136},{37,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{37,41}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,209},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,401},{43,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{43,43}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,403},{47,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,451},{49,47}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{53,47}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>abilities/yang_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{1,1}}</string>
                <key>offset</key>
                <string>{-32,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,65},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,65},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,107},{40,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,322},{38,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{38,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,400},{38,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{38,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,400},{38,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{38,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,179},{40,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,27}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,136},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{40,29}}</string>
                <key>sourceSize</key>
                <string>{56,33}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,328},{71,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{71,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,138},{69,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{69,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,65},{69,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{69,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,65},{71,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{71,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,138},{71,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{71,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,255},{71,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{71,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,211},{69,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{69,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,255},{73,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{73,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,65},{71,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{71,40}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,330},{71,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{71,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,446},{69,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{69,42}}</string>
                <key>sourceSize</key>
                <string>{101,52}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,160},{93,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{95,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{95,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{95,61}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{95,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{93,61}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{95,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{95,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{99,61}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{99,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,61}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{101,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,61}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{101,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{97,61}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{97,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{97,61}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{97,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
            <key>abilities/yang_projectile_lev3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{93,61}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_yang.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d691f856f25a65fc61d6d3c1aff73296:24a92cb298316c0bf43b23ba50f4bcbb:5d63c3c3f6ff1b36709153e2799d93e7$</string>
            <key>textureFileName</key>
            <string>ss_yang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
