<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_mods/autocharge_two/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_autocharge_two.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b10f85046f02af2bbb4a009f7414359:3caf3ff768d0b7f53439d76d972dee96:62d9e65505fc954311381bf0844a2c52$</string>
            <key>textureFileName</key>
            <string>ss_autocharge_two.pvr.ccz</string>
        </dict>
    </dict>
</plist>
