<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_mods_ui/autocharge_one/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/autocharge_three/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/autocharge_two/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>game_mods_ui/blaster_damage/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/blaster_velocity/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/no_blasters/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/no_health/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>game_mods_ui/pre_igniter/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_game_mods_ui-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72beb8fc9bf83cbfe39ca0611fa3cac7:b50834bf48beca3c5d752e3a2c5eec21:6047b8d6a977828b95cab3541507e594$</string>
            <key>textureFileName</key>
            <string>ss_game_mods_ui-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
