<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_mods_ui_small/autocharge_one/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/autocharge_three/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/autocharge_two/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{76,75}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>game_mods_ui_small/blaster_damage/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,43},{39,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/blaster_velocity/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,43},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/max_level/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/no_blasters/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/no_health/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>game_mods_ui_small/pre_igniter/graphic.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_game_mods_ui_small-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66494718969bc192f9f5c41ff2a49a51:2bb96cdc0fd56785549dd3cd5b786ba9:f213b3e91be903eb9086ae3fde2c9f2b$</string>
            <key>textureFileName</key>
            <string>ss_game_mods_ui_small-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
