<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arclight_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,74},{94,88}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{92,84}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{92,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,238},{88,70}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,160},{88,70}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,316},{88,68}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,76},{90,70}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{92,74}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{92,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{92,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,152},{94,74}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{94,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,80},{94,74}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{94,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,438},{74,74}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{74,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,370},{74,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{74,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,252},{84,74}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{84,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,148},{88,70}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{88,68}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{88,70}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,220},{86,74}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{86,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,444},{82,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,90}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{104,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{94,94}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,156},{92,84}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{92,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{96,76}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{96,72}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{96,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,150},{88,70}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,148},{88,70}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,240},{86,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,222},{86,72}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{86,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,164},{86,74}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{86,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,384},{82,72}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{82,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,402},{80,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,402},{80,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{78,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,386},{80,72}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,382},{80,72}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,310},{84,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,304},{84,76}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,530},{78,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,370},{78,74}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{78,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,364},{80,72}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,246},{84,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,164},{86,74}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{86,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,518},{78,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,296},{80,72}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,458},{78,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,458},{82,70}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{82,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,386},{84,70}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,292},{86,70}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{88,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,402},{80,70}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,19},{80,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,242},{88,72}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,78},{90,70}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,232},{86,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{94,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{94,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{96,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{96,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,372},{84,70}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{86,82}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{88,90}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,74},{90,84}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{90,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,228},{88,72}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,98},{88,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{88,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,328},{84,72}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,312},{84,72}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,164},{88,72}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{92,72}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{92,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,76},{94,74}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{94,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,220},{86,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,76},{90,70}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,92},{90,70}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{92,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{92,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{80,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,296},{82,72}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{82,72}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>arclight_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,394},{78,72}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_arclight.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76ef0ffc8e0b33caf5b669498388b3fe:4e61ea5e1181708c57d5003f624303ce:eed19b6b4b59341a41e6c2d075133654$</string>
            <key>textureFileName</key>
            <string>ss_arclight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
