<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_electric_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{88,80}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_electric_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{88,82}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,332},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,416},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,592},{70,82}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,760},{70,80}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{70,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,168},{84,78}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{98,80}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{106,82}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{106,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,82}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{108,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{88,82}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,248},{88,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{86,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,428},{82,84}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{82,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,248},{88,82}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{94,82}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{94,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{100,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{100,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{104,82}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{104,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,82}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{108,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,82}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{106,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{106,82}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{106,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{104,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{104,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,824},{86,80}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_pissed_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,712},{74,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{74,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_freeze_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,338},{88,84}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,338},{84,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,248},{82,82}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,542},{82,84}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{82,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,912},{82,84}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{82,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,628},{80,82}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,416},{80,80}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{80,78}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{80,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,168},{78,78}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,168},{78,78}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,168},{76,78}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,248},{74,80}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,850},{72,80}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,498},{72,80}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,508},{72,82}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,592},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,682},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,796},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,248},{72,82}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,332},{72,82}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,424},{72,82}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,508},{72,82}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,676},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,766},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,880},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,248},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,598},{72,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,712},{72,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,796},{72,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,424},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,514},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,628},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,842},{76,74}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{76,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,500},{82,66}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,348},{90,64}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{90,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,912},{86,66}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{98,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{98,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{98,78}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{98,78}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,166},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,166},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,84},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{98,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,448},{92,72}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{92,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,168},{78,70}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,932},{76,74}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{76,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,676},{74,76}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,332},{74,80}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_taunt_pissed_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,712},{72,82}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angryblakk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65cc0ee68baa0e8d9f29cf6929abce96:ce74cb9809c7d3fea6eb9f1769fd358d:33fc588744883a002a9dbd46e5813087$</string>
            <key>textureFileName</key>
            <string>ss_angryblakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
