<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_electric_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,328},{174,156}}</string>
                <key>offset</key>
                <string>{-42,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{174,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_electric_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,312},{176,160}}</string>
                <key>offset</key>
                <string>{-42,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{176,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,818},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,790},{142,162}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1068},{140,160}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,17},{140,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,938},{140,158}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,19},{140,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{168,156}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{196,158}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{196,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{210,160}}</string>
                <key>offset</key>
                <string>{13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{210,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,162}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{214,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{172,160}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{172,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,176},{174,168}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{174,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,456},{172,168}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{172,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,618},{162,166}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{162,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,292},{176,162}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{176,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,510},{188,162}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{188,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{200,162}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{200,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,164},{208,162}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{208,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,162}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{214,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{212,162}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{212,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{210,162}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{210,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{208,162}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{208,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,352},{170,156}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{170,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_pissed_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,818},{148,160}}</string>
                <key>offset</key>
                <string>{-15,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{148,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_freeze_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,2},{172,166}}</string>
                <key>offset</key>
                <string>{-41,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{172,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,456},{168,160}}</string>
                <key>offset</key>
                <string>{-36,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{168,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{164,164}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{164,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,482},{162,164}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{162,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,474},{162,166}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{162,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,486},{160,164}}</string>
                <key>offset</key>
                <string>{-34,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{160,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{160,156}}</string>
                <key>offset</key>
                <string>{-34,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{160,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{158,156}}</string>
                <key>offset</key>
                <string>{-33,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{158,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1060},{156,156}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{156,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1210},{154,154}}</string>
                <key>offset</key>
                <string>{-31,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{154,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{152,154}}</string>
                <key>offset</key>
                <string>{-30,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{152,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1070},{148,156}}</string>
                <key>offset</key>
                <string>{-28,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{148,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,924},{144,158}}</string>
                <key>offset</key>
                <string>{-26,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{144,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,926},{142,160}}</string>
                <key>offset</key>
                <string>{-24,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{142,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,770},{144,162}}</string>
                <key>offset</key>
                <string>{-20,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,15},{144,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,782},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,916},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,638},{142,164}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,13},{142,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,794},{142,162}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,14},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,780},{142,162}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,766},{142,162}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,926},{140,162}}</string>
                <key>offset</key>
                <string>{-17,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{140,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,624},{140,164}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{140,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,624},{140,164}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{140,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,482},{140,164}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{140,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,482},{140,164}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{140,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,766},{142,162}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,648},{144,162}}</string>
                <key>offset</key>
                <string>{-14,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,14},{144,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,636},{144,162}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,14},{144,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,626},{142,164}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{142,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,782},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1058},{152,146}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{152,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,646},{164,132}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{164,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,166},{180,124}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{180,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,324},{172,130}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,47},{172,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,166},{194,144}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{194,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{196,154}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{196,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,166},{194,156}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,632},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,478},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,324},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,324},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,478},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,474},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,320},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,166},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,166},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,316},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,162},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,158},{194,156}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{194,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,674},{184,142}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{184,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,910},{154,140}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{154,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1052},{152,146}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{152,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,926},{148,152}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{148,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,910},{146,158}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{146,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_taunt_pissed_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,782},{142,162}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{142,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angryblakk-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65cc0ee68baa0e8d9f29cf6929abce96:ce74cb9809c7d3fea6eb9f1769fd358d:33fc588744883a002a9dbd46e5813087$</string>
            <key>textureFileName</key>
            <string>ss_angryblakk-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
