<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossemberAngry_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,603},{91,96}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{91,96}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,804},{87,88}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{87,88}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,172},{105,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,162},{105,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,320},{105,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,400},{103,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{103,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,893},{87,72}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,30},{87,72}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,946},{69,66}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{69,66}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,946},{69,66}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{69,66}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,946},{77,72}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{77,72}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,870},{85,74}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{85,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{115,80}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{115,80}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,82}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{123,82}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{113,88}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{113,88}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,84},{109,90}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{109,90}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{105,96}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{105,96}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{101,98}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{101,98}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{91,88}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{91,88}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,409},{99,78}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{99,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,92},{105,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,82},{105,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,510},{91,94}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{91,94}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,783},{85,90}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{85,90}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,320},{87,80}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{87,80}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,790},{87,88}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{87,88}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,893},{87,82}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{87,82}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,921},{91,74}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{91,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{95,74}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{95,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,628},{95,74}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{95,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,558},{97,74}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{97,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,478},{101,76}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{101,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{105,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{105,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,82},{105,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{105,78}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,254},{105,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,252},{105,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,252},{105,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,404},{101,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{101,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,404},{101,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{101,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,482},{99,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,482},{99,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,546},{97,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{97,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,546},{97,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{97,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{97,74}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{97,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{97,74}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{97,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,470},{99,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,470},{99,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{99,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{101,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{101,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{101,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{101,74}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{103,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{103,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{103,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{103,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,242},{105,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{105,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,176},{105,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{105,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,330},{105,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{105,72}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,398},{105,70}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{105,70}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,332},{105,66}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{105,66}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,556},{99,70}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{99,70}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{91,76}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{91,76}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,696},{85,92}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{85,92}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{83,94}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{83,94}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,622},{81,96}}</string>
                <key>offset</key>
                <string>{-19,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{81,96}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,704},{83,94}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{83,94}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,789},{83,92}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{83,92}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,719},{83,92}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{83,92}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,705},{83,92}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{83,92}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>bossemberAngry_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,634},{83,94}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{83,94}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angrybossember.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45fd6922c1d5115443b8795878abe007:9df821bf4cadde5db3e94568ac22714c:c4f2e2beb84239bd04f5f922a8a5428b$</string>
            <key>textureFileName</key>
            <string>ss_angrybossember.pvr.ccz</string>
        </dict>
    </dict>
</plist>
