<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nacho_angry_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{83,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,280},{85,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,414},{81,65}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{81,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{81,63}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,544},{81,63}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,347},{83,65}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{83,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,142},{87,65}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{87,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,142},{87,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,140},{87,67}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{89,67}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{89,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{67,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{67,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,747},{67,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{67,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,684},{77,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{77,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,481},{79,67}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{79,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,410},{83,67}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{89,67}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{89,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,347},{83,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,438},{81,67}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{81,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,87}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{89,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,278},{85,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,278},{85,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{87,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{87,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,71},{87,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{87,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,144},{87,63}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{87,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,347},{85,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{85,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,73},{83,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,30},{83,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,349},{83,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{83,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,481},{81,61}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{81,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,481},{81,63}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{81,63}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,479},{81,63}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,416},{81,63}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{81,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,645},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,619},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,615},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,544},{77,69}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{77,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,290},{77,69}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{77,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,211},{77,69}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{77,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,678},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,615},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,576},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,550},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,507},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,507},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,609},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,412},{81,67}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{81,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{83,67}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,278},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,211},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,209},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,209},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,209},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,73},{87,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,71},{87,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{87,69}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{87,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,69}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{89,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{87,67}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,369},{79,67}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{79,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>Nacho_angry_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angrynacho.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:375a2234636da8fc6f8b606eb4da3fa9:67923968bd20facc79f4a1b927dd0d3a:7a65803c3c38d922c1b07f3239d06537$</string>
            <key>textureFileName</key>
            <string>ss_angrynacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
