<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,388},{76,80}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,156},{76,82}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,530},{72,80}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,300},{74,80}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{74,80}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,454},{74,80}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{74,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{86,76}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{98,78}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{98,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{104,80}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{104,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{106,80}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{106,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{86,78}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{86,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,84},{84,86}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{84,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,90},{82,86}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,178},{78,84}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{78,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,154},{86,80}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,82},{92,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{92,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{98,80}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{98,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{102,80}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{102,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,80}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{106,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,80}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{106,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{104,80}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{104,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{102,80}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{102,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,164},{84,78}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,308},{72,82}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,296},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,296},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,296},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{88,84}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,376},{76,80}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,306},{76,80}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,528},{76,78}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,458},{76,78}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,444},{76,78}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,258},{78,78}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,376},{76,78}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,372},{76,78}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,338},{76,78}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,604},{74,78}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,466},{72,80}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,368},{70,80}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{70,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,300},{70,80}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{70,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,228},{70,82}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,228},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,382},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,316},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,304},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,234},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,228},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,258},{70,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,300},{68,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,330},{68,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,316},{68,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{68,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,244},{70,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,224},{70,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,156},{70,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,156},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,156},{70,82}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{70,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{70,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{70,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{72,80}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,384},{72,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,370},{72,80}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,540},{74,78}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{74,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,242},{72,82}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,156},{72,84}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{72,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,84},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{68,88}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{70,84}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,230},{72,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,236},{70,84}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,84},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{68,88}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{70,84}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,230},{72,82}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,236},{70,84}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,84},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,84},{68,88}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,84},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,170},{70,84}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{70,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d47ed57263c3fa15730d4d47f275f9:1a7433bb6bb3dadc98d66b2f86825984:41d1c644abff40e7ecf8fce3e632269e$</string>
            <key>textureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
