<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>two_pirates_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1648},{174,148}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{174,148}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1696},{168,154}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{168,154}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,602},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,244},{252,112}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,63},{252,112}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{254,98}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,77},{254,98}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{214,128}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{214,128}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1446},{200,128}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,47},{200,128}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{202,134}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{202,134}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1572},{202,142}}</string>
                <key>offset</key>
                <string>{-23,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{202,142}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1550},{206,144}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{206,144}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1446},{208,138}}</string>
                <key>offset</key>
                <string>{-17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{208,138}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1442},{214,128}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{214,128}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1420},{214,128}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{214,128}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1318},{218,126}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{218,126}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{224,120}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{224,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1176},{234,120}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{234,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{242,116}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{242,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,938},{246,116}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{246,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,838},{246,116}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,59},{246,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,720},{248,116}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,60},{248,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{250,116}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1586},{182,154}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{182,154}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,594},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,950},{244,126}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,49},{244,126}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1078},{242,122}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{242,122}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{242,122}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,53},{242,122}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{244,120}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{244,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,816},{246,120}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{246,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,578},{250,116}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{252,92}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,83},{252,92}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,124},{254,96}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,79},{254,96}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{256,114}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,61},{256,114}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,120}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{258,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,120}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{258,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{256,120}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{256,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,124},{254,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{254,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,246},{252,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{252,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,484},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{250,116}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,476},{250,116}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,460},{250,116}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{246,118}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{246,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1056},{244,118}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{244,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,956},{244,118}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{244,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1076},{240,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,57},{240,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1322},{230,118}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{230,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1298},{230,120}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,55},{230,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1196},{230,120}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{230,120}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{232,118}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{232,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1202},{232,118}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,57},{232,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,696},{248,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,57},{248,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,126},{250,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,57},{250,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,222},{252,118}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{252,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,366},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,358},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,342},{250,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{250,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{248,116}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,59},{248,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,712},{248,116}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{248,116}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
            <key>two_pirates_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,830},{246,118}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,58},{246,118}}</string>
                <key>sourceSize</key>
                <string>{280,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_boat_pirates-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0ba31c7cde0089b692c95b53753c87d:c777aa28d9d12009dcce0839472aeadc:a9f9fc49ae4670964072ce4c1131153b$</string>
            <key>textureFileName</key>
            <string>ss_boat_pirates-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
