<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_electric_gat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,756},{158,148}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_electric_gat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{158,148}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{172,148}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{172,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,148}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{176,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,152},{164,148}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{164,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{174,148}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{174,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{170,148}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{170,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,152},{162,148}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{162,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{166,148}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{166,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1054},{156,148}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{156,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1202},{154,148}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{154,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1056},{154,148}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{154,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{156,148}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{156,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1054},{156,148}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{156,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,914},{156,148}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{156,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,756},{158,148}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_fire_gat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,616},{158,148}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_freeze_gat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{164,150}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{164,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,608},{158,148}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,608},{158,148}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,606},{158,148}}</string>
                <key>offset</key>
                <string>{-26,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,906},{158,146}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,906},{158,146}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{158,146}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,906},{158,146}}</string>
                <key>offset</key>
                <string>{-25,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,164},{160,146}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{160,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,766},{158,146}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,758},{158,146}}</string>
                <key>offset</key>
                <string>{-21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,758},{158,146}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1054},{156,146}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{156,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{158,148}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,606},{158,148}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_hit_gat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,466},{158,148}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,458},{158,148}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{158,150}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{158,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,454},{158,150}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{158,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,152},{160,150}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{160,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,306},{158,150}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{158,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,152},{160,152}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{160,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{160,152}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,24},{160,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,302},{158,152}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{158,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,312},{158,152}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{158,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,304},{158,152}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{158,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,302},{158,150}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{158,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,906},{156,148}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{156,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,458},{158,148}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,456},{158,148}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{158,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>blakk_idle_gat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{158,150}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{158,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk_gat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7d7744bf06d8739c6421d156073263:eea83e560b38280a33ddf680e7bc74e2:86c4788de6cf75d5633b64e189def6a1$</string>
            <key>textureFileName</key>
            <string>ss_blakk_gat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
