<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>billy_blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,663},{123,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{123,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,318},{127,112}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,67},{127,112}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,430},{127,102}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{127,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,339},{129,102}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{129,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{137,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{137,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{147,104}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{147,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{147,104}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{147,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,108},{145,104}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{145,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,108},{141,102}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{141,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,214},{137,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{137,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{115,100}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{115,100}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,548},{113,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,53},{113,124}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,570},{113,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,53},{113,124}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,696},{113,122}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{113,122}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,883},{117,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{117,120}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,104},{123,114}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,63},{123,114}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,216},{131,104}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{131,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,108},{139,104}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{139,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{147,104}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{147,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{147,104}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{147,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,2},{145,104}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{145,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{141,104}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{141,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,212},{137,104}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{137,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,108},{131,106}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{131,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,648},{125,106}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{125,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,118}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{159,118}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,811},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,646},{123,108}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{123,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,534},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,436},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,318},{127,110}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{127,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,436},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,656},{123,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,69},{123,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,665},{123,106}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{123,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{121,102}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{121,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,756},{123,104}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{123,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{125,104}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{125,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,650},{125,104}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{125,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{127,106}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{127,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,548},{125,106}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{125,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,773},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,540},{125,106}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{125,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{125,108}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{125,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,430},{127,108}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{127,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,229},{129,108}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{129,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,214},{131,110}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{131,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,108},{131,110}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{131,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,220},{129,108}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,69},{129,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,322},{129,106}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,71},{129,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,330},{127,104}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{127,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,432},{127,106}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{127,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,540},{125,108}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,69},{125,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,555},{125,108}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{125,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,443},{125,110}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{127,110}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,67},{127,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,443},{125,108}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{125,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>billy_blakk_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,326},{127,108}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{127,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_billy_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92bac407e182e78e61746f338fa2eed1:2588611517e4b5d609e2774a7233b7f0:d88c6d4c805b387cb37c84ede24a1b1c$</string>
            <key>textureFileName</key>
            <string>ss_billy_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
