<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>billy_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,452},{63,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,57},{65,57}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{65,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,279},{65,51}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{65,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,171},{65,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{65,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{69,53}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{69,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{75,53}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{75,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{75,53}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{75,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,57},{73,53}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{73,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,57},{71,53}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{71,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,57},{69,51}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,509},{57,51}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{57,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,295},{57,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{57,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,336},{57,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{57,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,289},{57,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{57,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,458},{59,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{59,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,234},{63,59}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{63,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,116},{67,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{67,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{69,53}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{69,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{75,53}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{75,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{75,53}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{75,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{73,53}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{73,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{71,53}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{71,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,112},{69,53}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{69,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,116},{67,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{67,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,401},{63,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,59}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{81,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,389},{63,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{63,55}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,389},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,411},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,405},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,395},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,344},{63,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{63,53}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,509},{61,53}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{61,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,446},{63,53}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,476},{63,53}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,468},{63,53}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,462},{63,53}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{65,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,332},{63,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{63,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,224},{65,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,171},{65,55}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,110},{67,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{67,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,57},{67,57}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{67,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,114},{67,55}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{67,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,167},{65,55}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,224},{65,53}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{65,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,411},{63,53}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{65,55}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,332},{63,55}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,354},{63,55}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,348},{63,55}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,167},{65,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{65,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{65,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,332},{63,55}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,228},{65,51}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{65,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,220},{65,51}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{65,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,281},{65,49}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{65,49}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,169},{67,49}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{67,49}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,57},{69,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{69,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,226},{63,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{63,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{61,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{61,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,501},{61,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{61,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,281},{61,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{61,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,273},{61,63}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{61,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,446},{61,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{61,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,171},{63,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{63,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{63,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{63,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{63,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{63,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>billy_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{63,61}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{63,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_billy.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57e0f5c5748a3a7ad15402ee97f8e5fd:db97f07e981c60a46d06d6a95fff5e03:d8475f48ba9d32be1864ad06cb4448cd$</string>
            <key>textureFileName</key>
            <string>ss_billy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
