<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cajun_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1680},{178,156}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{178,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,560},{178,162}}</string>
                <key>offset</key>
                <string>{-39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{178,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1148},{194,122}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,55},{194,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1214},{196,124}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,53},{196,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,728},{212,128}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,49},{212,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{234,136}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{234,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,142},{236,136}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{236,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{236,138}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{236,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,138}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{236,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{236,138}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{236,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1778},{202,136}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,41},{202,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,560},{166,142}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{166,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1332},{188,148}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,29},{188,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,278},{204,140}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{204,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{216,140}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,37},{216,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{224,138}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{224,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,280},{230,138}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{230,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{234,138}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{234,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,138}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{236,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,142},{226,134}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{226,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,142},{218,132}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{218,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{216,132}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{216,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{210,134}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1164},{204,134}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{204,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1132},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{194,166}}</string>
                <key>offset</key>
                <string>{-33,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{194,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{216,136}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,41},{216,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1538},{188,148}}</string>
                <key>offset</key>
                <string>{-30,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{188,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1522},{176,156}}</string>
                <key>offset</key>
                <string>{-37,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{176,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1728},{178,156}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{178,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,560},{174,158}}</string>
                <key>offset</key>
                <string>{-39,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{174,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1874},{172,158}}</string>
                <key>offset</key>
                <string>{-40,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{172,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,560},{170,160}}</string>
                <key>offset</key>
                <string>{-42,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{170,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1140},{172,154}}</string>
                <key>offset</key>
                <string>{-41,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{172,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,420},{178,138}}</string>
                <key>offset</key>
                <string>{-35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{178,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1344},{192,132}}</string>
                <key>offset</key>
                <string>{-28,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,45},{192,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1574},{202,126}}</string>
                <key>offset</key>
                <string>{-24,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,51},{202,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,276},{200,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,47},{200,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,934},{198,132}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,45},{198,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,946},{200,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,43},{200,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1076},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,932},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,938},{200,136}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,41},{200,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1370},{202,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,41},{202,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,420},{204,138}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{204,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,720},{206,140}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,37},{206,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,722},{208,142}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{208,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,724},{208,142}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{208,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,728},{208,142}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{208,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{210,144}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{210,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{210,144}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{210,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,278},{206,140}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{206,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,420},{204,138}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{204,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,478},{202,136}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{202,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,938},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,932},{198,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,41},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1134},{192,132}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{192,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1314},{188,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,47},{188,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1328},{186,128}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{186,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1908},{182,126}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{182,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1134},{192,132}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{192,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1694},{178,170}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{178,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,898},{176,174}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{176,174}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1340},{176,178}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1516},{176,176}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{176,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,720},{176,174}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{176,174}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1874},{176,172}}</string>
                <key>offset</key>
                <string>{-21,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{176,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1522},{178,170}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{178,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>cajun_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1694},{178,170}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{178,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_cajun-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ce2526153bd626be9d250135f4f41b:88ea2d99817353dac1864ecc0254359d:45e0c764a13d90fa82b78013f99b621a$</string>
            <key>textureFileName</key>
            <string>ss_cajun-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
