<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cajun_blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,710},{90,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{90,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,324},{90,82}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{90,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,644},{98,62}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{98,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{98,62}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{98,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,218},{108,66}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,74},{118,68}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{118,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,74},{118,70}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{118,70}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{118,70}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{118,70}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{102,70}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{84,72}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,580},{96,76}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{104,70}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{104,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,146},{108,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{108,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,144},{114,70}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{114,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,74},{116,70}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{116,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,70}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,70}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,146},{112,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{110,68}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,216},{108,68}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,216},{106,68}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,504},{102,68}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{102,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,650},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,658},{98,84}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{98,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{108,68}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,708},{94,74}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{94,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,720},{88,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{88,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{90,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{90,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,498},{88,80}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{88,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,792},{86,80}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,416},{86,80}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,856},{86,78}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{86,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,784},{90,70}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{96,68}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{96,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,504},{102,64}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{102,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{102,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,640},{100,68}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,580},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,570},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,438},{102,70}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,432},{102,70}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,360},{104,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{104,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,292},{104,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,286},{104,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{106,72}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,216},{106,74}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,286},{104,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,366},{102,70}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,434},{102,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{102,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cajun_blakk_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,510},{100,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{100,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_cajun_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc2c601eea03545f9beac6948b75ce3:9a0574fcca9746e9e9fc16031bbd7e66:68496e7d80f1390a24b1aa213be6edf7$</string>
            <key>textureFileName</key>
            <string>ss_cajun_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
