<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drake_canon_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{226,170}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{226,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{226,168}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{226,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1460},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1618},{226,156}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{226,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1462},{226,156}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{226,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,338},{226,160}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{226,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,174},{226,162}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{226,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{226,162}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{226,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{226,160}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{226,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1302},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1300},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1300},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,170}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{228,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1460},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,338},{226,162}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{226,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,172},{226,164}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{226,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{226,168}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{226,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,172},{226,166}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{226,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1620},{226,150}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{226,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1776},{226,148}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{226,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1776},{226,146}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{226,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1772},{226,148}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{226,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1690},{226,148}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{226,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1462},{226,152}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{226,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1620},{226,154}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{226,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1460},{226,156}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{226,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1142},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1140},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1140},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,982},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,980},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,980},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,822},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,820},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,820},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,662},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,660},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,660},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,502},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,500},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,500},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_canon_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,340},{226,158}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{226,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_cannon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b188a62f84982ae99f198997c550793b:d939674b406aa14ca63bd835aecbfd86:80c81fd5ef288cf6b03005033a3fee94$</string>
            <key>textureFileName</key>
            <string>ss_cannon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
