<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drake_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{186,122}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{186,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,552},{178,130}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{178,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,140},{184,132}}</string>
                <key>offset</key>
                <string>{31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{184,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{190,136}}</string>
                <key>offset</key>
                <string>{34,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,40},{190,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{190,136}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{190,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{190,136}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{190,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{190,136}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{190,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1094},{140,136}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{140,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{140,136}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{140,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,956},{148,136}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{148,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1142},{154,144}}</string>
                <key>offset</key>
                <string>{17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,32},{154,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,820},{170,132}}</string>
                <key>offset</key>
                <string>{24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{170,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,512},{178,134}}</string>
                <key>offset</key>
                <string>{28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,140},{182,136}}</string>
                <key>offset</key>
                <string>{31,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{182,136}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,124}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,53},{192,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{182,136}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{178,134}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,126},{186,120}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{186,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,248},{182,126}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{182,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,550},{178,130}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{178,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,548},{178,134}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{180,134}}</string>
                <key>offset</key>
                <string>{22,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{180,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,412},{180,134}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{180,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,140},{182,136}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{182,136}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,416},{178,134}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,682},{176,134}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{176,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,684},{174,134}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{174,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,920},{172,134}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,42},{172,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,818},{172,134}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{172,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,820},{170,134}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{170,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,684},{172,134}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{172,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,784},{174,134}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,42},{174,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,648},{176,134}}</string>
                <key>offset</key>
                <string>{28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,42},{176,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,414},{178,134}}</string>
                <key>offset</key>
                <string>{28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,376},{178,134}}</string>
                <key>offset</key>
                <string>{28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,278},{178,134}}</string>
                <key>offset</key>
                <string>{28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,278},{180,136}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,40},{180,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{182,136}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,810},{160,118}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,58},{160,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1056},{160,116}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,60},{160,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,648},{160,116}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,60},{160,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{154,136}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,40},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{140,172}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,4},{140,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,972},{142,168}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,8},{142,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,954},{144,166}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,10},{144,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>drake_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,954},{146,164}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,12},{146,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_drake-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10114f51834a6d7224cb3aa4cf396406:8b94cb1c06fe3072a5f3a18b9f496b56:aa36e34cfdcfc7cd0c116d9f65e6c9a1$</string>
            <key>textureFileName</key>
            <string>ss_drake-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
