<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier1_elite_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,784},{81,74}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{81,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,700},{85,76}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{85,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,72},{97,66}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{97,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{105,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{105,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{105,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{105,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{105,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,68}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{105,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,72},{97,66}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{97,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{87,66}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{87,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,714},{85,68}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{85,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,704},{85,72}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{85,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,642},{87,70}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{87,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,502},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,491},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,490},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,270},{93,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{93,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{85,74}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{85,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,929},{83,74}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{83,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,844},{83,74}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{83,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{83,74}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{83,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{83,74}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{83,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,778},{83,72}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{83,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,632},{87,70}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{87,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,630},{91,68}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{91,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,574},{91,66}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{91,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,563},{91,66}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{91,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{91,66}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{91,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,562},{91,68}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{91,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,560},{91,68}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{91,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,488},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,430},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{93,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{93,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,419},{91,70}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,418},{91,70}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,345},{91,72}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,344},{91,72}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,342},{91,72}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{91,72}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,284},{91,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,271},{91,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{91,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,416},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{91,70}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,358},{91,70}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,706},{85,70}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{85,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,778},{83,70}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{83,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,714},{83,70}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{83,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{83,78}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{83,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,631},{73,90}}</string>
                <key>offset</key>
                <string>{-25,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{73,90}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,140},{65,96}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,154},{65,96}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,139},{65,96}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,87},{65,96}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,72},{65,96}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,207},{61,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{61,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{61,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{61,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,221},{61,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{61,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{63,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{63,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,206},{63,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{63,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,205},{63,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{63,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,140},{63,94}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{63,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier_elite1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca993443147a854d08fb0317b42d285e:98afa89b9df26f651f6fa318368b777e:a7978b2fd4a6a692785b2295ffd12300$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier_elite1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
