<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nacho_darkbane_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{84,66}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,210},{74,68}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,144},{76,64}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{76,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{68,58}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{68,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,682},{60,56}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,680},{64,60}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,614},{68,64}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,614},{68,64}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,142},{76,64}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{76,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{80,66}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,70},{82,66}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{66,62}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{66,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,676},{60,62}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{60,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{70,62}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{70,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,542},{70,66}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{70,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{74,68}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{82,68}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{78,68}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,74},{76,68}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{76,68}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,138},{76,68}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,74},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,70}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,482},{72,66}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,414},{72,66}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,414},{72,66}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{72,66}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,482},{72,64}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,348},{74,64}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,550},{70,64}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,610},{66,64}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{66,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,616},{66,64}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{66,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,610},{66,64}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{66,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,550},{68,64}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,548},{70,64}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,482},{72,64}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{74,66}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{74,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,346},{74,66}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{74,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,208},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,482},{70,66}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{70,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{66,66}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{66,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,684},{64,66}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{64,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,680},{64,66}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{64,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,616},{66,66}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{66,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,542},{68,66}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{68,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{68,64}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{72,64}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,346},{74,64}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,280},{74,64}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,144},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,144},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,142},{76,66}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,346},{74,62}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{74,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,410},{74,60}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{74,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,350},{74,62}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{74,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,280},{74,64}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,282},{74,66}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{74,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,280},{74,66}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{74,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,414},{72,66}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{72,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,472},{72,68}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{72,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,412},{72,68}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{72,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,276},{74,68}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,208},{74,70}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{74,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,72},{76,70}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{76,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{76,70}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{76,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{76,70}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{76,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,212},{74,68}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,210},{74,68}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_darkbane_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,72},{76,68}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_nacho.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d996ec597e21707b932e5d0c22fac140:431664653c02d289699c85fa718a830b:f1fe8d5de06086b9cf83eb5872617d7f$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_nacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
