<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,250},{160,130}}</string>
                <key>offset</key>
                <string>{-44,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,61},{160,130}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1134},{150,136}}</string>
                <key>offset</key>
                <string>{-55,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,57},{150,136}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,768},{156,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{164,122}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{164,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{182,118}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,73},{182,118}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{198,122}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,69},{198,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,122}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,69},{198,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,122}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{198,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{194,120}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,71},{194,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{194,120}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,71},{194,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,250},{164,116}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{164,116}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1020},{154,116}}</string>
                <key>offset</key>
                <string>{-38,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{154,116}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1284},{146,122}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,69},{146,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{144,124}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{144,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1232},{150,120}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,71},{150,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1018},{154,120}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,71},{154,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,884},{156,122}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{156,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1008},{154,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{154,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,126},{176,140}}</string>
                <key>offset</key>
                <string>{-52,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{176,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,510},{156,128}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{156,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,502},{158,126}}</string>
                <key>offset</key>
                <string>{-47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,65},{158,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,382},{160,128}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,63},{160,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,640},{156,126}}</string>
                <key>offset</key>
                <string>{-46,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,766},{156,124}}</string>
                <key>offset</key>
                <string>{-46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,610},{158,122}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,69},{158,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,654},{158,120}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,71},{158,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,390},{160,118}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,73},{160,118}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,988},{156,118}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,73},{156,118}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{154,120}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,71},{154,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1160},{154,122}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{154,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1108},{154,122}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,69},{154,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1008},{154,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{154,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1008},{154,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{154,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,640},{156,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,894},{154,124}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{154,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{156,124}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,904},{156,124}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,512},{156,126}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{156,126}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,776},{156,126}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,734},{156,126}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{156,128}}</string>
                <key>offset</key>
                <string>{-39,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,63},{156,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1030},{154,128}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{154,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,630},{156,126}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,65},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{154,126}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,65},{154,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,862},{156,124}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,758},{156,124}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,892},{154,124}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{154,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,368},{160,132}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,59},{160,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,250},{160,138}}</string>
                <key>offset</key>
                <string>{-40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,53},{160,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,268},{144,164}}</string>
                <key>offset</key>
                <string>{-50,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{144,164}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{124,176}}</string>
                <key>offset</key>
                <string>{-62,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{124,176}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{124,178}}</string>
                <key>offset</key>
                <string>{-62,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{124,178}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,124},{124,178}}</string>
                <key>offset</key>
                <string>{-62,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{124,178}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,122},{126,178}}</string>
                <key>offset</key>
                <string>{-62,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{126,178}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,126},{122,172}}</string>
                <key>offset</key>
                <string>{-60,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{122,172}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,250},{118,166}}</string>
                <key>offset</key>
                <string>{-57,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,25},{118,166}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{116,160}}</string>
                <key>offset</key>
                <string>{-56,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{116,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,534},{118,160}}</string>
                <key>offset</key>
                <string>{-56,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{118,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,490},{118,160}}</string>
                <key>offset</key>
                <string>{-56,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{118,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{118,160}}</string>
                <key>offset</key>
                <string>{-55,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{118,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,414},{118,160}}</string>
                <key>offset</key>
                <string>{-55,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{118,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier3_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,370},{118,160}}</string>
                <key>offset</key>
                <string>{-55,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{118,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8b40b0429442462a641bf66713ae95:0d23a0e46b0adb9fa777424009997d6b:c9b5c7a6b4731537984c92bb37c853bc$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
