<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier1_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,350},{84,70}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,450},{78,72}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,696},{82,66}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{88,64}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{98,60}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{98,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,66}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{102,66}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{102,66}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,66}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,620},{84,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,736},{80,62}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{80,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,680},{78,64}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,600},{78,66}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,530},{78,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,668},{80,66}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,566},{84,66}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,696},{82,66}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,138},{92,74}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,332},{84,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,278},{84,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,208},{86,70}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{84,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,492},{84,68}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,552},{84,66}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,612},{84,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,138},{86,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,562},{84,64}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{84,64}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,678},{82,66}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,628},{82,66}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{84,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,634},{82,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,496},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,482},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,474},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,422},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,426},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,412},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,404},{84,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,342},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,364},{84,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{84,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{82,66}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,544},{84,66}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,278},{84,68}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{86,68}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,280},{84,74}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{84,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,68},{78,88}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{78,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,70},{66,96}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,70},{66,96}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{66,96}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,70},{68,96}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,140},{66,92}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{66,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{64,90}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,278},{62,86}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{62,86}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,214},{62,86}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,214},{62,86}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,204},{62,86}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{62,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier1_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,148},{64,86}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{64,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49828bd639bef8b7a75002733420d338:b5c5f9f68d0f25dbfb4d5a272b3d8860:30fe7c3d32ef0a9877d70b78293bb314$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
