<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier2_elite_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,152},{204,148}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{204,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,466},{188,148}}</string>
                <key>offset</key>
                <string>{-45,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{188,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{172,146}}</string>
                <key>offset</key>
                <string>{-38,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{172,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1052},{176,142}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{176,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1034},{178,140}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,52},{178,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,776},{182,136}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{182,136}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{218,144}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{218,144}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{224,148}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{224,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,150}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,42},{226,150}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,152}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{226,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,148},{214,146}}</string>
                <key>offset</key>
                <string>{-23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{214,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,888},{180,144}}</string>
                <key>offset</key>
                <string>{-45,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,48},{180,144}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,444},{188,154}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{188,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,296},{168,164}}</string>
                <key>offset</key>
                <string>{-40,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{168,164}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1196},{170,160}}</string>
                <key>offset</key>
                <string>{-39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{170,160}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1176},{172,156}}</string>
                <key>offset</key>
                <string>{-38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{172,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{174,148}}</string>
                <key>offset</key>
                <string>{-36,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{174,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{192,158}}</string>
                <key>offset</key>
                <string>{-48,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,34},{192,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,744},{182,146}}</string>
                <key>offset</key>
                <string>{-46,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{182,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{184,146}}</string>
                <key>offset</key>
                <string>{-44,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{184,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,616},{182,158}}</string>
                <key>offset</key>
                <string>{-46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{182,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,734},{182,152}}</string>
                <key>offset</key>
                <string>{-46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{182,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,898},{178,152}}</string>
                <key>offset</key>
                <string>{-44,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{178,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{178,150}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{178,150}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,914},{178,148}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{178,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{188,142}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,49},{188,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1196},{172,146}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{172,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1358},{166,150}}</string>
                <key>offset</key>
                <string>{-38,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{166,150}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1490},{166,152}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,39},{166,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1336},{168,152}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{168,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1334},{168,154}}</string>
                <key>offset</key>
                <string>{-39,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{168,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1358},{166,152}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{166,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1498},{162,154}}</string>
                <key>offset</key>
                <string>{-44,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{162,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1490},{158,154}}</string>
                <key>offset</key>
                <string>{-46,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{158,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1646},{156,156}}</string>
                <key>offset</key>
                <string>{-49,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{156,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1806},{154,156}}</string>
                <key>offset</key>
                <string>{-51,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{154,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1526},{152,156}}</string>
                <key>offset</key>
                <string>{-52,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{152,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1662},{150,156}}</string>
                <key>offset</key>
                <string>{-53,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{150,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{150,158}}</string>
                <key>offset</key>
                <string>{-54,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{150,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1654},{150,158}}</string>
                <key>offset</key>
                <string>{-55,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,34},{150,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1512},{148,158}}</string>
                <key>offset</key>
                <string>{-55,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{148,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1644},{150,158}}</string>
                <key>offset</key>
                <string>{-54,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{150,158}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1796},{154,156}}</string>
                <key>offset</key>
                <string>{-52,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,36},{154,156}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{158,154}}</string>
                <key>offset</key>
                <string>{-47,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{158,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{166,152}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{166,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1344},{166,152}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{166,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1184},{172,150}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{172,150}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1036},{176,146}}</string>
                <key>offset</key>
                <string>{-34,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{176,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,892},{180,142}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{180,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,754},{182,142}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{182,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1064},{130,174}}</string>
                <key>offset</key>
                <string>{-59,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{130,174}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,600},{132,184}}</string>
                <key>offset</key>
                <string>{-58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{132,184}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{140,190}}</string>
                <key>offset</key>
                <string>{-56,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{140,190}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{148,192}}</string>
                <key>offset</key>
                <string>{-53,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{148,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,314},{146,190}}</string>
                <key>offset</key>
                <string>{-53,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{146,190}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,450},{146,188}}</string>
                <key>offset</key>
                <string>{-54,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{146,188}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,608},{144,186}}</string>
                <key>offset</key>
                <string>{-55,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{144,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{142,182}}</string>
                <key>offset</key>
                <string>{-55,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{142,182}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,598},{144,186}}</string>
                <key>offset</key>
                <string>{-55,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{144,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,462},{144,188}}</string>
                <key>offset</key>
                <string>{-54,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{144,188}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,302},{146,190}}</string>
                <key>offset</key>
                <string>{-54,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{146,190}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,296},{146,192}}</string>
                <key>offset</key>
                <string>{-53,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{146,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{148,192}}</string>
                <key>offset</key>
                <string>{-52,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{148,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier_elite2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f27dac7d024f4f3429790f090584f49:ee03712e5d85ae9aa3f2c513ce1dc7f4:133142e1531fb4729c0627e227b7d20d$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier_elite2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
