<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier1_elite_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1884},{162,146}}</string>
                <key>offset</key>
                <string>{-46,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,46},{162,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1394},{168,152}}</string>
                <key>offset</key>
                <string>{-44,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{168,152}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,694},{182,138}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{182,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,138},{192,132}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,60},{192,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{208,134}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{208,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{208,134}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{208,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,134}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{208,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,134}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{208,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,134}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{208,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,272},{190,132}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{190,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1364},{170,132}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{170,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{168,136}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{168,136}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{170,142}}</string>
                <key>offset</key>
                <string>{-36,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,50},{170,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1252},{170,140}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,52},{170,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,814},{180,140}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{180,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,978},{180,138}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{180,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,956},{180,138}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{180,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{182,138}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{182,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1376},{168,148}}</string>
                <key>offset</key>
                <string>{-46,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{168,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1720},{162,148}}</string>
                <key>offset</key>
                <string>{-45,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,44},{162,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1376},{166,148}}</string>
                <key>offset</key>
                <string>{-44,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{166,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{164,146}}</string>
                <key>offset</key>
                <string>{-43,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,46},{164,146}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{162,148}}</string>
                <key>offset</key>
                <string>{-47,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{162,148}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1498},{166,144}}</string>
                <key>offset</key>
                <string>{-42,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{166,144}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1234},{172,140}}</string>
                <key>offset</key>
                <string>{-38,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{172,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1098},{180,136}}</string>
                <key>offset</key>
                <string>{-37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,56},{180,136}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1118},{180,132}}</string>
                <key>offset</key>
                <string>{-32,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,60},{180,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1096},{180,132}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{180,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1230},{178,132}}</string>
                <key>offset</key>
                <string>{-33,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,60},{178,132}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{180,134}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{180,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1096},{180,136}}</string>
                <key>offset</key>
                <string>{-35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,56},{180,136}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{180,138}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{180,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,958},{180,138}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,54},{180,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,672},{182,140}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,52},{182,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,668},{182,140}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{182,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,552},{182,140}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{182,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{182,140}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{182,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,530},{182,142}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{182,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,528},{182,142}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{182,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,524},{182,142}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{182,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,406},{182,144}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{182,144}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{180,144}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{180,144}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,814},{180,142}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{180,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,834},{180,142}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{180,142}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{180,140}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{180,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,674},{182,138}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{182,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,956},{180,138}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,54},{180,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1236},{172,138}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{172,138}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1394},{168,140}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{168,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1548},{166,140}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{166,140}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1564},{164,154}}</string>
                <key>offset</key>
                <string>{-36,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,38},{164,154}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,810},{144,180}}</string>
                <key>offset</key>
                <string>{-49,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{144,180}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,270},{130,192}}</string>
                <key>offset</key>
                <string>{-59,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{130,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,148},{130,192}}</string>
                <key>offset</key>
                <string>{-59,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{130,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,138},{130,192}}</string>
                <key>offset</key>
                <string>{-58,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{130,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{130,192}}</string>
                <key>offset</key>
                <string>{-58,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{130,192}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,270},{126,190}}</string>
                <key>offset</key>
                <string>{-55,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{126,190}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,188}}</string>
                <key>offset</key>
                <string>{-53,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{122,188}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{122,186}}</string>
                <key>offset</key>
                <string>{-52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{122,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,406},{122,186}}</string>
                <key>offset</key>
                <string>{-52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{122,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,402},{124,186}}</string>
                <key>offset</key>
                <string>{-52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{124,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,398},{124,186}}</string>
                <key>offset</key>
                <string>{-52,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{124,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,280},{124,186}}</string>
                <key>offset</key>
                <string>{-51,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{124,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>darkbanesoldier1_elite_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{124,186}}</string>
                <key>offset</key>
                <string>{-51,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{124,186}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier_elite1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca993443147a854d08fb0317b42d285e:98afa89b9df26f651f6fa318368b777e:a7978b2fd4a6a692785b2295ffd12300$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier_elite1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
