<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prisonguard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,134},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,138},{77,64}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{77,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,330},{69,60}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{69,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{69,60}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{69,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,200},{71,58}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{71,58}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{73,60}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{73,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,134},{75,62}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{75,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,68},{83,64}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,68},{83,64}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,64}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{85,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,464},{57,64}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{57,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,460},{61,64}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{61,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,456},{65,64}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{65,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,198},{73,64}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,33},{73,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,66},{79,64}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{83,64}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,334},{69,60}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{69,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,392},{67,62}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{67,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,330},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{83,68}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{83,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,72},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{83,66}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{83,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,68},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{83,64}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{83,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{81,62}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{81,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,132},{79,62}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,35},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{75,62}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{75,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,204},{73,62}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{73,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,134},{73,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{73,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,326},{69,64}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,326},{69,64}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,392},{67,66}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,326},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,264},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,200},{73,62}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{73,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,196},{71,62}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,35},{71,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,268},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,264},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,260},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,260},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,326},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,326},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,264},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,200},{73,62}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{73,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,196},{71,62}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,35},{71,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,268},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,264},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,260},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,260},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,326},{69,64}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{69,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,392},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,396},{67,66}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{67,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>prisonguard_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{1,1}}</string>
                <key>offset</key>
                <string>{-72,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_prison_guard.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4501d22e8a95b773852126c28bb54162:fd72dacec6d23fabb9bfb9b333f9fad5:fc4e8d58f00834f54ded8fdea7af9290$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_prison_guard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
