<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,262},{81,66}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{81,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,593},{75,70}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{75,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,518},{79,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,131},{83,62}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{83,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{91,60}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{91,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{99,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{99,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{99,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{99,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{99,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{97,62}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{97,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{97,62}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{97,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,264},{81,60}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{81,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,588},{77,60}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{77,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,698},{73,62}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{73,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,646},{73,62}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{73,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,528},{77,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{77,62}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,465},{79,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,634},{77,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,66},{89,70}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{89,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,265},{79,66}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{79,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,452},{79,64}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,199},{81,64}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{81,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,399},{79,64}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,458},{79,62}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,256},{81,62}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{81,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{81,60}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{81,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,314},{81,60}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{81,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{79,60}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{79,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,572},{79,60}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{79,60}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,582},{77,62}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,529},{77,62}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,634},{77,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,634},{77,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{77,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,396},{79,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{79,62}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,392},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,330},{79,64}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{79,64}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,442},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,386},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,333},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,326},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,460},{77,66}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{77,66}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,376},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,320},{79,64}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{79,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,508},{79,62}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,522},{77,64}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{77,64}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,192},{81,68}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{81,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,192},{81,70}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{81,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{73,84}}</string>
                <key>offset</key>
                <string>{-25,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{73,84}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,66},{63,90}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{63,90}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,66},{63,90}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{63,90}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{63,90}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{63,90}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,64},{63,90}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{63,90}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,129},{61,88}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{61,88}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,131},{59,84}}</string>
                <key>offset</key>
                <string>{-28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{59,84}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{59,82}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,253},{59,82}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,195},{59,82}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,138},{59,82}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{59,82}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier3_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,192},{59,82}}</string>
                <key>offset</key>
                <string>{-27,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{59,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier3.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a8b40b0429442462a641bf66713ae95:0d23a0e46b0adb9fa777424009997d6b:c9b5c7a6b4731537984c92bb37c853bc$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
