<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier2_elite_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,78},{103,74}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{103,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{95,76}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{95,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,605},{87,74}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{87,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,531},{89,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{89,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,457},{91,70}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{91,70}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,461},{91,68}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{91,68}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{111,72}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{111,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,74}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{113,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,76}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{113,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,76}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{113,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,76},{107,74}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{107,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,397},{91,72}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,232},{95,78}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{95,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,627},{85,82}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{85,82}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,681},{85,80}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{85,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{87,78}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{87,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,612},{87,74}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{87,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,152},{97,80}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{91,74}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{91,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,152},{93,74}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{93,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,379},{91,80}}</string>
                <key>offset</key>
                <string>{-23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{91,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,387},{91,78}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{91,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,471},{89,76}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{89,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{89,76}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{89,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,467},{89,76}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{89,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,234},{95,72}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{95,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,605},{87,74}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{87,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,768},{83,76}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{83,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,763},{83,76}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{83,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{85,78}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{85,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,688},{85,78}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{85,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,759},{83,76}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{83,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,789},{81,78}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{81,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,869},{79,78}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{79,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{79,78}}</string>
                <key>offset</key>
                <string>{-25,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{79,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,923},{77,78}}</string>
                <key>offset</key>
                <string>{-25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{77,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,918},{77,78}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{77,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,914},{77,78}}</string>
                <key>offset</key>
                <string>{-27,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{77,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,846},{75,80}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,841},{75,80}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,837},{75,80}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,789},{75,80}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{75,80}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,871},{77,78}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{77,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{81,78}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{81,78}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,711},{83,76}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{83,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,681},{83,76}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{83,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,549},{87,76}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{87,76}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,529},{89,74}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{89,74}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,383},{91,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{91,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{93,72}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{93,72}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,545},{65,88}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{65,88}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{67,92}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{67,92}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,231},{71,96}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{75,96}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,154},{75,96}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,322},{73,94}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{73,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,308},{73,94}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{73,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,312},{73,92}}</string>
                <key>offset</key>
                <string>{-28,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{73,92}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,247},{73,94}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{73,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,304},{73,94}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{73,94}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,157},{73,96}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{73,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,80},{75,96}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
            <key>darkbanesoldier2_elite_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{75,96}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{145,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier_elite2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f27dac7d024f4f3429790f090584f49:ee03712e5d85ae9aa3f2c513ce1dc7f4:133142e1531fb4729c0627e227b7d20d$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier_elite2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
