<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prisonguard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{166,128}}</string>
                <key>offset</key>
                <string>{-62,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{166,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,260},{154,128}}</string>
                <key>offset</key>
                <string>{-59,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,67},{154,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{134,120}}</string>
                <key>offset</key>
                <string>{-47,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,73},{134,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,882},{136,118}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,75},{136,118}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,636},{138,116}}</string>
                <key>offset</key>
                <string>{-49,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,77},{138,116}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,390},{144,120}}</string>
                <key>offset</key>
                <string>{-48,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,73},{144,120}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,268},{148,124}}</string>
                <key>offset</key>
                <string>{-46,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,69},{148,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{164,128}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{164,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{166,128}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{166,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,128}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{168,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{112,124}}</string>
                <key>offset</key>
                <string>{-58,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,69},{112,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,646},{118,124}}</string>
                <key>offset</key>
                <string>{-55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,69},{118,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,642},{128,124}}</string>
                <key>offset</key>
                <string>{-54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{128,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,388},{144,126}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{144,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,256},{156,126}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,67},{156,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,138},{164,128}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{164,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,882},{136,118}}</string>
                <key>offset</key>
                <string>{-51,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,75},{136,118}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{132,124}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,69},{132,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,770},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{166,134}}</string>
                <key>offset</key>
                <string>{-62,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{166,134}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,132},{164,128}}</string>
                <key>offset</key>
                <string>{-61,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,65},{164,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,130},{164,128}}</string>
                <key>offset</key>
                <string>{-61,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,65},{164,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{166,126}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{166,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,130},{164,126}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,67},{164,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{166,126}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{166,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{166,126}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{166,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,130},{162,124}}</string>
                <key>offset</key>
                <string>{-60,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,69},{162,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,258},{156,124}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,69},{156,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,262},{150,124}}</string>
                <key>offset</key>
                <string>{-54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,69},{150,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,384},{144,122}}</string>
                <key>offset</key>
                <string>{-51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{144,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{146,124}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,69},{146,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,512},{138,126}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,67},{138,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,508},{138,128}}</string>
                <key>offset</key>
                <string>{-46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{138,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,638},{136,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,65},{136,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,510},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,882},{134,130}}</string>
                <key>offset</key>
                <string>{-48,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{134,130}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,882},{134,130}}</string>
                <key>offset</key>
                <string>{-48,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{134,130}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{136,126}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,67},{136,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,510},{138,124}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,394},{144,122}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{144,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,384},{140,124}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{140,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,516},{138,124}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,754},{136,126}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{136,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,518},{134,126}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{134,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,510},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,882},{134,130}}</string>
                <key>offset</key>
                <string>{-48,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{134,130}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,882},{134,130}}</string>
                <key>offset</key>
                <string>{-48,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,63},{134,130}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{136,126}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,67},{136,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,510},{138,124}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,394},{144,122}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{144,122}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,384},{140,124}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{140,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,516},{138,124}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,69},{138,124}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,754},{136,126}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{136,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,518},{134,126}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,67},{134,126}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,882},{134,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{134,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,640},{132,128}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{132,128}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
            <key>prisonguard_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{-144.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{290,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_prison_guard-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4501d22e8a95b773852126c28bb54162:fd72dacec6d23fabb9bfb9b333f9fad5:fc4e8d58f00834f54ded8fdea7af9290$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_prison_guard-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
