<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanesoldier2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,332},{84,70}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,94},{86,70}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,820},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{84,64}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,258},{88,64}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,72},{102,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{102,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{104,68}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{108,70}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{108,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,72}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,72}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,72}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{90,68}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,28},{90,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,640},{80,68}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,616},{80,68}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,602},{80,68}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,550},{80,68}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,494},{80,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{80,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,820},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,182},{90,74}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{84,70}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{84,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,210},{86,68}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,410},{80,74}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{86,72}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{86,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,280},{84,72}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,384},{82,72}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{82,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,404},{82,70}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{82,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,354},{84,66}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,476},{82,68}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,546},{80,68}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,478},{80,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{80,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,686},{78,72}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,760},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,694},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,640},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,422},{80,70}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{80,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{80,72}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,566},{80,72}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,528},{80,72}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,620},{78,72}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,566},{78,72}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,672},{78,74}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{78,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,492},{80,72}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{78,72}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,710},{78,72}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{78,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,784},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,748},{78,70}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{80,68}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,458},{82,68}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,408},{82,68}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,340},{84,66}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,324},{58,84}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{58,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,324},{58,88}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{58,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,202},{62,90}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{62,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,134},{66,92}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{66,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{66,90}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,266},{64,88}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{64,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,208},{64,88}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{64,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,274},{64,86}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{64,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,144},{64,88}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{64,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{64,88}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{64,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,142},{64,90}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{64,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{66,90}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{66,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>darkbanesoldier2_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,74},{66,92}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{66,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d736011615504dde800d25a30504b299:d70f1b4a14405da60dfc93b39439a545:a855347a84414f8430618fd9b71b99a1$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
