<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evil_Eli_Electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,242},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,906},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,822},{126,116}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,332},{132,112}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,108},{140,104}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1024},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,142}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{114,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{114,138}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{114,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,588},{114,130}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,47},{114,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1022},{114,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{114,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1136},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1028},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,904},{122,106}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{140,104}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{138,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{138,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,442},{132,100}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{132,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,912},{126,106}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{116,114}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{116,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1010},{124,114}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,904},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{142,122}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{142,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,214},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,108},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,108},{136,106}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,334},{134,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,332},{134,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,440},{132,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,340},{130,104}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,660},{128,104}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,564},{128,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,560},{128,108}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{130,110}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,446},{128,112}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{128,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{124,116}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,794},{126,116}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,662},{126,118}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{126,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,884},{126,114}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,782},{126,116}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,766},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,446},{128,116}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,468},{132,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{132,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,440},{132,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{132,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,544},{130,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,560},{130,114}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,546},{128,112}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{128,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,790},{126,114}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,788},{126,114}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,672},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,670},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,704},{126,116}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,676},{126,116}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{126,114}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,940},{124,118}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{124,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1000},{124,114}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1060},{124,104}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{124,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1020},{124,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{124,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,900},{126,108}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{132,112}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,148}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,28},{110,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,108},{108,136}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{108,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,218},{112,134}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{112,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{114,134}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,352},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,324},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,218},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,224},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,216},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>evil_Eli_Win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,108},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_evileli-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:449b2aa5a1fd166b5647a17bfbc58a83:3e3b9125b91e32106b099030f5d45296:60a60e1936fdc61b378e8e31af25e47a$</string>
            <key>textureFileName</key>
            <string>ss_evileli-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
