<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eli_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,654},{130,114}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,998},{128,114}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,63},{128,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,884},{130,112}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,562},{132,114}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{132,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,224},{134,116}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{134,116}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{134,116}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,458},{132,114}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{132,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,776},{130,112}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,770},{130,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{130,114}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,676},{130,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,890},{128,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,648},{130,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,544},{130,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,536},{130,116}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,690},{130,114}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,912},{128,116}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,678},{130,114}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{132,108}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{132,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,106},{142,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{142,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{142,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{142,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{142,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,102}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{142,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,104}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{142,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1134},{114,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,108},{114,140}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,37},{114,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,108},{114,136}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,41},{114,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,998},{114,128}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,49},{114,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{114,112}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1030},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1114},{116,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1114},{126,106}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,104}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{142,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,436},{134,104}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{134,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,574},{132,100}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{132,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1008},{126,106}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1028},{120,112}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{120,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,912},{124,114}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,880},{128,116}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,322},{136,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,118}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,63},{142,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_freeze_stun_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,122}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{142,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,106},{136,108}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,122},{138,108}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{138,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,216},{136,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,214},{136,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,106},{136,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,224},{136,104}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{136,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,430},{134,104}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,73},{134,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,542},{132,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,436},{132,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,580},{132,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{132,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,324},{134,110}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,67},{134,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,766},{130,112}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,902},{128,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,794},{128,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,880},{128,116}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{124,116}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1020},{124,112}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{130,102}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,75},{130,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,806},{130,104}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,794},{130,106}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,662},{130,112}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{106,138}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,38},{106,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,210},{108,136}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{108,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{112,134}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{112,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,466},{112,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,43},{112,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,446},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,342},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,320},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,350},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,330},{114,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eliprison-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1372ef40c012421bc2d1c0bab148dafb:8508ca2b94419fd90312140d4b39b0aa:f3a3c961a66a051bd0cc237256ed3836$</string>
            <key>textureFileName</key>
            <string>ss_eliprison-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
