<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eli_mech_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,982},{228,141}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,942},{228,141}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,940},{228,141}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,944},{228,139}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1208},{228,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1085},{228,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,46},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1111},{228,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,46},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1085},{228,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,46},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1083},{228,137}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,46},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1204},{228,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1125},{228,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1063},{228,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1083},{228,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{228,139}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,799},{228,141}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{228,141}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,801},{228,141}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{228,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,745},{230,141}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{230,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{248,167}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{248,167}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{250,175}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{250,175}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,664},{230,143}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,624},{230,143}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,171},{232,143}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{232,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,177},{234,143}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{234,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,163},{236,145}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{236,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,308},{236,143}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{236,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,157},{238,149}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{238,149}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,888},{228,167}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{228,167}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,809},{228,171}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{228,171}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,906},{228,155}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{228,155}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,975},{228,151}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{228,151}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,1057},{228,149}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{228,149}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1205},{228,147}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{228,147}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,652},{230,145}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{230,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,600},{230,143}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{230,143}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,179},{232,143}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{232,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,171}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{260,171}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{248,167}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{248,167}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{250,175}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{250,175}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{248,173}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{248,173}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{248,167}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{248,167}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{244,159}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{244,159}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{238,153}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{238,153}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,171},{234,147}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{234,147}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,797},{230,141}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{230,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,944},{228,137}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1222},{228,133}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,52},{228,133}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1224},{228,131}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{228,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,745},{228,133}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,52},{228,133}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,769},{230,135}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{230,135}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{228,137}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{228,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,799},{228,143}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,42},{228,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,656},{230,143}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,650},{230,145}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{230,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,517},{230,145}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{230,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,654},{230,143}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{230,143}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,477},{230,145}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{230,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,453},{230,145}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{230,145}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,171},{230,179}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{230,179}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,316},{230,167}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{230,167}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,310},{230,165}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{230,165}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,491},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,489},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,487},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,485},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,352},{230,163}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{230,163}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{230,165}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{230,165}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,324},{230,165}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{230,165}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,322},{230,165}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{230,165}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>Eli_mech_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,320},{230,165}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{230,165}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eli_mech-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf301e49e0d7ce794deb5d20f14f224d:931961baee1d95c3a65f623629bf93c3:4421474d0d9b0b95fa32c5ae9bd2dd38$</string>
            <key>textureFileName</key>
            <string>ss_eli_mech-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
