<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eli_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,466},{64,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,424},{64,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,364},{66,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,344},{66,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,124},{68,60}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{68,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,64},{68,60}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{68,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{68,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{68,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,344},{66,58}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{66,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,304},{66,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,284},{66,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,284},{66,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,458},{64,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,456},{64,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,284},{66,60}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{66,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{64,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,474},{64,58}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,302},{66,58}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,404},{66,54}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,58},{72,52}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,56},{72,52}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{72,52}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{72,52}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,52}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,594},{58,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,64},{58,70}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{58,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{58,70}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,19},{58,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,518},{58,64}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,25},{58,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,576},{58,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{58,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,580},{58,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,520},{60,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,526},{64,54}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,54}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{72,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,230},{68,52}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,404},{66,50}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{66,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,484},{64,54}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{62,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{62,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,534},{62,58}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{62,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Eli_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,242},{66,60}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,112},{70,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{70,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,60}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_freeze_stun_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,60}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,226},{68,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{68,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,56},{70,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{70,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,110},{70,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{70,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,56},{70,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{70,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,186},{68,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,172},{68,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{68,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,246},{68,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,402},{66,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,362},{66,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,172},{68,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{68,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,286},{66,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,460},{64,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,404},{64,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{64,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,540},{62,60}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{62,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,520},{62,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{62,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{66,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,420},{66,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,346},{66,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,346},{66,56}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{52,70}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{52,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,228},{54,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{54,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{56,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{56,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,168},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,126},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,112},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eli_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,112},{58,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{58,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eliprison.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1372ef40c012421bc2d1c0bab148dafb:8508ca2b94419fd90312140d4b39b0aa:f3a3c961a66a051bd0cc237256ed3836$</string>
            <key>textureFileName</key>
            <string>ss_eliprison.pvr.ccz</string>
        </dict>
    </dict>
</plist>
