<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Eli_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,674},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,566},{126,116}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{126,116}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,888},{126,114}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,802},{126,114}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,786},{126,114}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,684},{126,112}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{126,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,568},{128,114}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{128,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,332},{132,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{132,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,222},{132,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{132,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{130,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,340},{130,114}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{128,112}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{128,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{126,112}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{126,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,766},{126,114}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{126,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,770},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,674},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1004},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,684},{126,116}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,448},{132,112}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,106},{140,102}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{140,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{140,102}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{140,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{140,102}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{140,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{140,102}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{140,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,912},{114,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,142}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{114,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,108},{114,138}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{114,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,450},{114,130}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,47},{114,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1020},{114,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{114,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1122},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,798},{122,106}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,114},{140,104}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,126},{138,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{138,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,554},{132,100}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{132,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,882},{126,106}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1036},{116,112}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{116,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Eli_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{124,114}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,224},{136,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,67},{146,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_freeze_stun_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{142,122}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{142,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{136,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,220},{136,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,210},{136,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{134,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,446},{134,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,462},{132,104}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,562},{130,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,660},{128,104}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,566},{128,106}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,456},{128,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,548},{130,110}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,656},{128,112}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,65},{128,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,918},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,668},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,674},{126,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,902},{124,116}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,798},{124,112}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,990},{124,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{124,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,900},{124,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{124,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,792},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,434},{132,112}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,148}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,28},{110,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,106},{108,136}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{108,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,348},{112,134}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{112,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,332},{114,134}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,318},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,216},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,106},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,330},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>eli_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,232},{114,134}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{114,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eli-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425ebf2f3053c102b3463621c38581e6:4c3bc43083d6c378cc3c21789943ba63:4bddb4d65cc6b033e4c02878b2dbb792$</string>
            <key>textureFileName</key>
            <string>ss_eli-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
