<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fake_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,56},{66,58}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,280},{64,54}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,396},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{66,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,52}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,284},{58,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,458},{58,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,284},{58,52}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,392},{56,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,456},{58,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,396},{56,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,396},{58,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,456},{58,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,396},{58,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,396},{60,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,220},{62,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,226},{64,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{68,58}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{68,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{62,54}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{66,58}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,224},{64,54}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,336},{62,54}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{68,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,56},{68,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{68,52}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{66,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,174},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,170},{64,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,282},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,282},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,230},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,168},{64,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,172},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,118},{64,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,110},{66,54}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,54}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,62},{66,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,166},{64,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{64,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,52}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{64,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,114},{64,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,112},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,118},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,62},{64,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,58},{64,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,56},{64,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,228},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,174},{62,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,284},{62,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{62,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{62,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{62,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{62,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,39},{62,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{58,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,454},{56,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,396},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,336},{56,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{56,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fake_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{56,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fakeduelist.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c2ed6df81890d2a80da8fc7ef66c63:825d91a5f753ac45658511d7c2147026:d0e413050a3543517ff9e9e7cc72d05f$</string>
            <key>textureFileName</key>
            <string>ss_fakeduelist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
