<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frost_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{170,124}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,53},{170,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{174,124}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{174,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1066},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,660},{138,136}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{138,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,530},{142,136}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{142,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,400},{144,136}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{144,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,392},{138,142}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,35},{138,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,128},{150,132}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{150,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,392},{136,144}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,33},{136,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,392},{132,142}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,35},{132,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{136,142}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{136,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,258},{144,140}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,37},{144,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,252},{148,138}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{148,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,388},{144,138}}</string>
                <key>offset</key>
                <string>{17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{144,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,538},{140,136}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{140,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,798},{136,136}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,41},{136,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,802},{134,136}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{134,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,936},{132,136}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{132,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,914},{132,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{132,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{132,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{132,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,148}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{190,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{170,124}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,53},{170,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{174,124}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{174,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{176,124}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,53},{176,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{180,124}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,53},{180,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,128},{158,122}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{158,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,528},{142,120}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{142,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,792},{138,120}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{138,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1180},{132,122}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,55},{132,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1330},{128,124}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,53},{128,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1204},{126,128}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,49},{126,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1198},{130,130}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{130,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1072},{130,134}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,43},{130,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,940},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,934},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,916},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,784},{130,138}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,676},{130,138}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,670},{130,138}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,538},{130,138}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{130,138}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,808},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,802},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1048},{130,134}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,43},{130,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,938},{130,136}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,938},{130,136}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,934},{130,136}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1048},{134,134}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,43},{134,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,668},{138,132}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,45},{138,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,658},{140,132}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,45},{140,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,650},{140,132}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,45},{140,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,526},{142,130}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{142,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,254},{146,136}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{146,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,532},{126,142}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,35},{126,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{128,144}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,33},{128,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,262},{128,146}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,31},{128,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,258},{128,146}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,31},{128,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,128},{128,146}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,31},{128,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,128},{128,146}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,31},{128,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>frost_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{128,146}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,31},{128,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_frost-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b60b6972bc0899ddb607a4df3782654:2783aa0c55f65cb8c5e9e391fb2a9ec7:2e01fd64cfd00a5b7692aa41e87194a2$</string>
            <key>textureFileName</key>
            <string>ss_frost-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
