<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>foreman_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,378},{174,156}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{174,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,252},{178,150}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{178,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,648},{172,120}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,57},{172,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{188,120}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{188,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{192,122}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,55},{192,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,122}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,55},{194,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{192,122}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,55},{192,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{190,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{190,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{188,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{188,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,180},{188,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{188,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1092},{168,130}}</string>
                <key>offset</key>
                <string>{-30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,568},{172,128}}</string>
                <key>offset</key>
                <string>{-44,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{172,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1326},{148,130}}</string>
                <key>offset</key>
                <string>{-27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{148,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1304},{156,128}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{156,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,128},{184,124}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{184,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,126},{188,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{188,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,124},{184,124}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{184,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,250},{176,126}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{176,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1196},{168,128}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1066},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{192,176}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{192,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{168,156}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{168,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,500},{172,146}}</string>
                <key>offset</key>
                <string>{-34,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{172,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,404},{174,132}}</string>
                <key>offset</key>
                <string>{-35,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{174,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,306},{178,132}}</string>
                <key>offset</key>
                <string>{-34,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{178,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{176,126}}</string>
                <key>offset</key>
                <string>{-32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{176,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,254},{176,122}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{176,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,378},{174,120}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{174,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{174,122}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{174,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,440},{174,126}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,51},{174,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,538},{172,128}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{172,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,698},{170,128}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,49},{170,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,668},{170,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{170,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1064},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,960},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,800},{168,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{168,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,798},{168,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{168,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,776},{168,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{168,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,934},{168,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,666},{170,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{170,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1042},{168,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1174},{168,128}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{168,128}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,932},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,910},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,828},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,536},{172,128}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{172,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,648},{172,126}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{172,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{172,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{172,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1296},{158,146}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,990},{152,158}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{152,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{150,162}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,15},{150,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1224},{150,164}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{150,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1198},{150,164}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{150,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1144},{150,164}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{150,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>foreman_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,822},{150,166}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{150,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_foreman-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266bb77570276745ae54f0cf2f2c1491:e7b7d7b037a923196f0fc045315290e2:c49bedbddf00d9a612dbfb04a61ca1ec$</string>
            <key>textureFileName</key>
            <string>ss_foreman-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
