<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fang_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,103},{105,65}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{105,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,83},{105,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{105,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,667},{85,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{85,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,271},{83,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{83,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{83,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{83,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,761},{95,61}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{95,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{97,63}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{97,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{99,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{99,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,692},{101,65}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{101,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{99,65}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{99,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,633},{101,65}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{101,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,631},{101,65}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{101,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,434},{103,65}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{103,65}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,430},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,67}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{109,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,83},{105,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{105,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,83},{105,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{105,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,369},{103,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,566},{101,65}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{101,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{95,65}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{95,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,600},{89,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{89,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,533},{85,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{85,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,466},{85,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{85,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,399},{85,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{85,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,332},{87,65}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{87,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,949},{93,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{93,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,728},{97,65}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{97,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,759},{99,65}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{99,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{101,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{101,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,367},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,627},{103,63}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,566},{103,63}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,501},{103,63}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{103,63}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,562},{103,63}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,501},{103,63}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{103,63}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,497},{103,63}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,363},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,302},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,300},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,296},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,436},{103,63}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,627},{103,63}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{103,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,235},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,233},{103,65}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{103,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{101,63}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{101,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,698},{101,61}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{101,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,700},{99,59}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{99,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,826},{97,57}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,31},{97,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,826},{97,55}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{97,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,850},{97,57}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{97,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,150},{105,61}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{105,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{105,79}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{105,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,150},{103,81}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{103,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,150},{103,83}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{103,83}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{103,83}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{103,83}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{103,81}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{103,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,213},{103,81}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{103,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{105,79}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{105,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{105,79}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{105,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>fang_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{105,79}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{105,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:569a3b52c8c42f6afd93be00258f47fb:17cee85da837e625e2cb815dc885b008:2aa124b80c8d142c22751cc3b09a67ef$</string>
            <key>textureFileName</key>
            <string>ss_fang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
