<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fake_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{130,112}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,116},{128,108}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,428},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,208},{132,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{138,102}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{138,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{142,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,758},{114,102}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{114,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,754},{114,102}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{114,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,660},{114,104}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,864},{112,104}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{112,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{112,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{112,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,656},{114,108}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,648},{114,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,644},{114,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,644},{116,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,548},{120,106}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{120,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,428},{124,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{124,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,442},{126,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,116}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{136,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,430},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,550},{124,108}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{132,112}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,116},{128,108}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,536},{122,106}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,71},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{136,102}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{136,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,106},{136,100}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{136,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{134,102}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{134,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{132,102}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{132,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,214},{128,104}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,538},{126,104}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,334},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,334},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,334},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,422},{126,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,214},{128,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,120},{132,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,106},{132,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,108},{130,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{130,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,228},{128,104}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,442},{126,104}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,320},{126,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,226},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,334},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,322},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,226},{126,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,314},{126,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,530},{126,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{126,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,442},{124,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{124,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,546},{122,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,554},{116,104}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{116,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,864},{112,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,750},{112,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,660},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,880},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,858},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,766},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,636},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fake_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fakeduelist-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c2ed6df81890d2a80da8fc7ef66c63:825d91a5f753ac45658511d7c2147026:d0e413050a3543517ff9e9e7cc72d05f$</string>
            <key>textureFileName</key>
            <string>ss_fakeduelist-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
