<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{88,66}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{88,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,136},{88,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,140},{88,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,126},{88,60}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{88,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{88,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,64},{90,60}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{90,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{92,60}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{92,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{92,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{92,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{92,64}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{92,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{92,64}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{92,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,554},{74,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,612},{72,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,262},{84,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,224},{86,62}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{86,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{88,60}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,188},{88,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{88,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,288},{84,62}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{84,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,412},{82,62}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,70}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{100,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{88,92}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,66},{88,72}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,68},{88,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{88,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{88,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,136},{88,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,160},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,202},{84,64}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{84,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{82,64}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{82,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,482},{80,64}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,416},{80,64}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{80,64}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{80,64}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,502},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,476},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,416},{80,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{80,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,434},{80,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,486},{78,66}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,604},{78,64}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,548},{78,64}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,548},{78,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{78,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,628},{78,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,484},{80,62}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{80,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,502},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,542},{80,60}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{80,58}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{80,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,568},{80,58}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{80,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,568},{80,58}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{80,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,352},{82,62}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,328},{76,68}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,248},{78,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,406},{78,76}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,332},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{82,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,268},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,248},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,332},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{82,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,268},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,248},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,332},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{82,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,268},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,248},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,332},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{82,80}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{82,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,268},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,248},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fire_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{82,82}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fire.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d53dd8e25bff47a7cd78dcaa83a8edf:7104b27efb8da72df9ad28fe59ec868e:4f66f44bb4364d8128bcf011b444fdf5$</string>
            <key>textureFileName</key>
            <string>ss_fire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
