<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fav_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,811},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{123,112}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,67},{123,112}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,626},{119,102}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{119,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,639},{121,102}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{121,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,135},{127,102}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{127,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,164},{135,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{135,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{135,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{135,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{137,102}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{137,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{141,102}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{141,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{145,102}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{145,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,648},{111,104}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{111,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{111,122}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{111,122}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,252},{111,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{111,120}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,504},{111,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{111,120}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,495},{111,118}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{111,118}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,535},{111,114}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,63},{111,114}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,366},{117,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,301},{131,102}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{131,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{145,102}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{145,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{143,102}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{143,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{139,102}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{139,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{131,104}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{131,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,434},{127,104}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{127,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,127},{123,106}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{123,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,160}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{159,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,381},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,493},{117,108}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,129},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,256},{123,110}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,67},{123,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,264},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,516},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,427},{115,106}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{115,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,639},{113,102}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{113,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,533},{115,104}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{115,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,427},{115,104}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{115,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,866},{117,104}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{117,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,121},{117,106}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,242},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,615},{117,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,747},{117,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,883},{117,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,688},{121,108}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,391},{123,110}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,67},{123,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,563},{123,110}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,67},{123,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,811},{121,108}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,688},{121,108}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,762},{119,104}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,74},{119,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,374},{119,106}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{119,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{117,108}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,123},{117,108}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,374},{117,110}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,67},{117,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,126},{119,110}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{119,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,247},{117,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{119,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,615},{117,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,121},{117,102}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{117,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,225},{117,100}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{117,100}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,327},{117,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{117,98}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,327},{117,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{117,98}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,858},{107,102}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{107,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,853},{105,110}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{105,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,749},{107,110}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{107,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,743},{111,108}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{111,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,639},{113,108}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{113,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,639},{113,108}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{113,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,639},{113,108}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{113,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>fav_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,639},{113,108}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,68},{113,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fav-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc9bffea4c79c532ebd6a4b1d0d62dd5:47a906b1e4333722b677c96571d5d5c3:918e28823cdbaa1738549e96e552f08b$</string>
            <key>textureFileName</key>
            <string>ss_fav-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
