<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,106},{130,116}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,108},{136,128}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,342},{122,100}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,104},{138,100}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{138,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{144,100}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{144,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,100}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{146,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,788},{114,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{132,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,438},{118,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{118,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,350},{118,110}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{118,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{140,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{134,104}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{134,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,332},{122,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{122,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,792},{116,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,908},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,332},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,106},{130,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{130,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,206},{130,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,238},{130,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,224},{130,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,234},{128,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,332},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,340},{122,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,462},{118,104}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{118,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{116,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,444},{118,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,71},{118,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,682},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,678},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,792},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,572},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,658},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,568},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,462},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,552},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,548},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,908},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,898},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,898},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,792},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,908},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,792},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,910},{110,102}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{110,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,910},{110,100}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{110,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,768},{110,98}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,79},{110,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,880},{110,96}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,81},{110,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{110,104}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{110,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,438},{118,114}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{118,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,212},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,212},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,106},{130,116}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,320},{128,116}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,224},{128,116}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_guard1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da58ceec0bb5301fbfb86858ecfc6f37:eac78e4d3c9782267313caee176a1e9a:099bb8ea8fa84fc816353210507d9864$</string>
            <key>textureFileName</key>
            <string>ss_guard1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
