<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glasses_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{130,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,828},{140,110}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,69},{140,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,496},{154,90}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,87},{154,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,494},{156,92}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{156,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,316},{158,92}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{158,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,192},{160,92}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{160,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,96},{162,92}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{162,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,128},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,96},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,698},{128,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,81},{128,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1046},{118,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,83},{118,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1016},{140,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,71},{140,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,410},{156,96}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,81},{156,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,96},{162,94}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,83},{162,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,190},{160,94}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,83},{160,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,284},{158,96}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,81},{158,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,382},{156,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{156,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,492},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,342},{156,150}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,34},{156,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1236},{130,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1046},{136,106}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,71},{136,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1154},{130,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1050},{130,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{130,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1124},{130,110}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,970},{132,110}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{132,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,940},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,938},{140,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,71},{140,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{144,100}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,77},{144,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,698},{144,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{144,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,794},{148,96}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,81},{148,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,714},{150,96}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,81},{150,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,588},{152,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{152,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,392},{154,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,588},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{152,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{152,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,710},{150,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{150,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,688},{150,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{150,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,592},{150,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{150,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,688},{152,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{152,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,608},{152,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{152,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,286},{154,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{154,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{154,104}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{154,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,286},{156,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{156,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{156,104}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{156,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,392},{154,102}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,75},{154,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,482},{154,100}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,508},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,508},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{130,138}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,39},{130,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,918},{126,140}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{126,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,814},{124,140}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{124,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,794},{122,142}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{122,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,924},{132,136}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{132,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,584},{152,124}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{152,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,584},{152,124}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{152,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,248},{162,92}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,87},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,222},{162,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{164,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{164,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{164,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{164,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{164,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,190},{162,92}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,248},{162,92}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,87},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,126},{166,120}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,57},{166,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,122}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,55},{168,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,124}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{168,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{166,124}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{166,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{146,134}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{146,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,792},{130,142}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,35},{130,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,812},{124,146}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,31},{124,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,892},{122,146}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,31},{122,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,892},{122,146}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,31},{122,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_glasses-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:535dc72555482d1caeb27fb5812e2596:e83c4faa47e8b22b7181594ed4a73958:67a2a89ce88e0f074b62d350455ab8d1$</string>
            <key>textureFileName</key>
            <string>ss_glasses-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
