<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon4_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{134,126}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{134,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,138},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,220},{122,100}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{138,100}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{138,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{144,100}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{144,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{146,100}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{146,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,104},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,802},{114,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,104},{132,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,742},{116,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{116,102}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,420},{118,98}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{118,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,320},{122,98}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,79},{122,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,366},{118,102}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,75},{118,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,644},{116,104}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{116,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,774},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,692},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,126}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,52},{166,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,104},{130,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{130,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,138},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,106},{130,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,106},{130,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,212},{130,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,232},{128,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,320},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{122,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,338},{118,104}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{118,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{116,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,258},{118,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,71},{118,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,644},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,536},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,664},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,534},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,632},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,534},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,426},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,444},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,582},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,858},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,858},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,750},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,658},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,554},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,646},{116,102}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,424},{116,98}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,79},{116,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,322},{118,98}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{118,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{118,96}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{118,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,330},{118,94}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,83},{118,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,218},{128,110}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{128,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{118,110}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{118,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,208},{122,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{116,110}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,424},{116,108}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,520},{116,110}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,422},{116,110}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,67},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,470},{114,110}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,852},{114,110}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,878},{114,110}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon4_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,542},{114,110}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b71ace714723fe17764e9a13628e0daf:86b6349e1b052ffc8387f6c3e0a8387d:b275f546313dcd1180386628430aff0d$</string>
            <key>textureFileName</key>
            <string>ss_goon4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
