<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,588},{130,116}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,450},{136,128}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,100}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,310},{138,100}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{138,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{144,100}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{144,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{146,100}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{146,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,164},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,238},{114,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,890},{132,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,540},{118,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{118,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,612},{114,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,750},{138,104}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,73},{138,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,588},{134,104}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,73},{134,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,280},{122,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,73},{122,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,120},{116,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,362},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,160}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{158,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{130,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{130,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,724},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,856},{130,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,148},{130,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,280},{128,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,410},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,134},{122,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,258},{118,104}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,73},{118,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,244},{116,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,404},{118,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{118,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,378},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,642},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,496},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,524},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,896},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,778},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,660},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,126},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,876},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,118},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,760},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_guard2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad73249394c16f1661bb88a57f08ba14:b92fef8f8b6b5d6eca824f582b32dbaa:a13aadc12e548d517a473c61b97d493a$</string>
            <key>textureFileName</key>
            <string>ss_guard2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
