<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,274},{66,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{68,64}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,70},{62,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{62,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{70,52}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,37},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,52}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{74,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,52}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{74,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{72,52}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{72,52}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{72,52}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{72,52}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,366},{58,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,274},{66,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,440},{58,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,70},{60,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,33},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{70,52}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{72,52}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{72,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{68,52}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,194},{60,54}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,380},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,310},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,342},{66,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{66,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{66,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,138},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,206},{66,58}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,206},{66,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,342},{66,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,410},{66,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,342},{66,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{66,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,410},{62,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{62,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,258},{60,54}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,70},{60,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,132},{60,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,196},{60,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,294},{58,54}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,250},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,192},{58,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,256},{58,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,320},{58,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,70},{58,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,132},{58,56}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,238},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,190},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,182},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,126},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,70},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,70},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,130},{58,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{58,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,424},{56,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,366},{56,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,130},{56,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,56},{56,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,41},{56,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,426},{56,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,134},{60,58}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{60,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,70},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,70},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,426},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,358},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{66,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{66,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_guard1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da58ceec0bb5301fbfb86858ecfc6f37:eac78e4d3c9782267313caee176a1e9a:099bb8ea8fa84fc816353210507d9864$</string>
            <key>textureFileName</key>
            <string>ss_guard1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
