<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{204,156}}</string>
                <key>offset</key>
                <string>{-28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{204,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{190,166}}</string>
                <key>offset</key>
                <string>{-35,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{190,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,138},{206,116}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,61},{206,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,346},{212,118}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,59},{212,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{212,122}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,55},{212,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,666},{212,130}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,136},{222,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{222,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{230,132}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{230,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{234,132}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{234,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,132}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{240,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1608},{182,132}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{182,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1702},{178,132}}</string>
                <key>offset</key>
                <string>{-26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{178,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1084},{172,164}}</string>
                <key>offset</key>
                <string>{-37,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{172,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1250},{184,160}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{184,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1194},{204,146}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{204,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{222,134}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{222,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{232,134}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{232,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,132}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{238,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,132}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{240,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,400},{218,128}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{218,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,420},{216,126}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{216,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,548},{214,126}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{214,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,680},{212,128}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{212,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1074},{208,128}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{208,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1458},{200,176}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{200,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,138},{220,120}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,57},{220,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,136},{224,144}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{224,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1412},{198,150}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{198,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1564},{184,158}}</string>
                <key>offset</key>
                <string>{-38,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{184,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1724},{168,164}}</string>
                <key>offset</key>
                <string>{-44,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{168,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1836},{170,162}}</string>
                <key>offset</key>
                <string>{-44,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{170,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,912},{170,162}}</string>
                <key>offset</key>
                <string>{-43,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{170,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1836},{172,158}}</string>
                <key>offset</key>
                <string>{-42,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{172,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,560},{178,144}}</string>
                <key>offset</key>
                <string>{-40,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{178,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1342},{202,128}}</string>
                <key>offset</key>
                <string>{-27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,49},{202,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,676},{214,120}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{214,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,798},{212,124}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{212,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,924},{210,128}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,49},{210,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1064},{208,128}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,49},{208,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1054},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,942},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,932},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,810},{210,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{210,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{212,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{212,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{214,136}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{214,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,408},{216,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{216,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{216,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{216,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,282},{216,136}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{216,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,268},{218,138}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{218,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,260},{218,138}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{218,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,530},{214,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{214,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,798},{210,132}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{210,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{208,130}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{208,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1186},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{204,122}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{204,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1338},{204,118}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{204,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1450},{204,116}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,61},{204,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{204,114}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,63},{204,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1318},{204,130}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{204,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1568},{192,132}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{192,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,546},{214,132}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{214,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1204},{204,132}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{204,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1636},{180,134}}</string>
                <key>offset</key>
                <string>{-31,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{180,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1472},{186,134}}</string>
                <key>offset</key>
                <string>{-26,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,43},{186,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{176,138}}</string>
                <key>offset</key>
                <string>{-32,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{176,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,740},{170,152}}</string>
                <key>offset</key>
                <string>{-35,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,25},{170,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon3_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1890},{166,146}}</string>
                <key>offset</key>
                <string>{-37,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{166,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf85814cc0d15f24b55427f3a122529:991580469e79d2d122de14eb03cce38d:52f3ac96bdefdc4f2eaa8dbc448a2539$</string>
            <key>textureFileName</key>
            <string>ss_goon3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
