<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard_mech_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1199},{182,137}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,57},{182,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1185},{182,137}}</string>
                <key>offset</key>
                <string>{37,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,57},{182,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,661},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1054},{192,129}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,62},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{192,127}}</string>
                <key>offset</key>
                <string>{44,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,64},{192,127}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1056},{192,127}}</string>
                <key>offset</key>
                <string>{44,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,64},{192,127}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,925},{192,129}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,62},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,917},{192,129}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,62},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,653},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,260},{192,133}}</string>
                <key>offset</key>
                <string>{44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,58},{192,133}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,661},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,659},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,528},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,520},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,528},{192,131}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,60},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,526},{192,131}}</string>
                <key>offset</key>
                <string>{44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1056},{186,141}}</string>
                <key>offset</key>
                <string>{39,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,56},{186,141}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{182,137}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,55},{182,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1185},{182,137}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,55},{182,137}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1183},{184,135}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,57},{184,135}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1048},{190,133}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,59},{190,133}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,260},{194,125}}</string>
                <key>offset</key>
                <string>{46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,67},{194,125}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{194,123}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,69},{194,123}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,135},{194,123}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,69},{194,123}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,135},{194,123}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,69},{194,123}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{194,123}}</string>
                <key>offset</key>
                <string>{46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,69},{194,123}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,133},{194,125}}</string>
                <key>offset</key>
                <string>{45,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,67},{194,125}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,133},{194,127}}</string>
                <key>offset</key>
                <string>{44,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,65},{194,127}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{194,129}}</string>
                <key>offset</key>
                <string>{44,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{194,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{194,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,63},{194,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{194,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,61},{194,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,131}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,61},{194,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,131}}</string>
                <key>offset</key>
                <string>{42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,61},{194,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,395},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,387},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,925},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,923},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,794},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,786},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,794},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,792},{192,129}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{192,129}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,395},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,393},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,262},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,260},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>guard_mech_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{192,131}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{192,131}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_guard_mech-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:014bca0d18fdd780eda05e1eca8f37f2:8e06831829843ac717b74cbca204f35b:c809851da678a9c33885a925bcc7bf50$</string>
            <key>textureFileName</key>
            <string>ss_guard_mech-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
