<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gabe_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,445},{61,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{63,57}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{63,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{61,51}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{61,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,65},{61,51}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{61,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,203},{63,51}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{63,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,156},{69,51}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{69,51}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,85},{69,51}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{71,51}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{71,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{73,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{73,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,338},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{55,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,266},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,331},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,203},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,268},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,65},{55,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{55,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,63},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,363},{65,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{65,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{73,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{73,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{71,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,38},{71,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{69,53}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{69,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,227},{67,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{67,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,296},{65,53}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{65,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,457},{61,53}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{61,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,124},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{81,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,382},{61,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,187},{59,55}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,138},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,73},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,430},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,319},{61,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,313},{59,53}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,307},{57,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{57,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{57,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{57,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,118},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,63},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,252},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,63},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,256},{61,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,193},{61,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,130},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,67},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,455},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,392},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,329},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,394},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,126},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,191},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,435},{57,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{57,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,425},{55,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{55,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,281},{55,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{55,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,281},{55,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{55,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,338},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{55,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,226},{57,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{57,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,173},{59,51}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{59,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,366},{57,51}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{57,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,248},{57,51}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{57,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,374},{59,51}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{59,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,128},{61,49}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{61,49}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>gabe_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,128},{61,49}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,40},{61,49}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gabe.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25451206f98d693ca59d6a4cb9b26b00:8a13ef7f3f4a410718063c6d2a50520c:9d7d62f546f14b9241774fcfaebc1ef1$</string>
            <key>textureFileName</key>
            <string>ss_gabe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
