<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{102,78}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,368},{96,84}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,274},{104,60}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{104,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,246},{106,60}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{106,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,142},{108,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{108,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,142},{108,66}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{112,66}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{112,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{116,66}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{116,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{118,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{118,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,68}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{120,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{92,66}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{92,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,454},{90,66}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{90,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,490},{88,84}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,200},{92,80}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{92,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,344},{102,74}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{102,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,70},{112,68}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{118,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{118,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,68}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{120,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,68}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{120,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,74},{110,66}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,76},{110,64}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{110,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{108,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{108,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{106,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{106,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,280},{106,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,278},{102,88}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{110,62}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{110,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{112,72}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{112,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,354},{100,76}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,106},{92,80}}</string>
                <key>offset</key>
                <string>{-19,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{92,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,484},{84,82}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{84,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,420},{86,82}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,400},{86,82}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,294},{86,80}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,346},{90,72}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{90,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,278},{102,66}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,142},{108,60}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{108,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,144},{108,64}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{108,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,210},{106,64}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{106,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,272},{106,66}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,206},{106,66}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,212},{106,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,142},{106,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,140},{108,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{108,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,72},{108,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,72},{108,70}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{108,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,70},{110,70}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{110,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{110,70}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{110,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{108,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,204},{106,66}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,210},{104,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,210},{104,66}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,336},{102,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{102,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,340},{102,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{102,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,348},{102,58}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{102,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,142},{102,58}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{102,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,278},{102,66}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,346},{98,66}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,142},{108,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{108,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{102,68}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{102,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,414},{90,68}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{90,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,420},{94,68}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{94,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{88,70}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,382},{86,76}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>goon3_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,522},{84,74}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{84,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf85814cc0d15f24b55427f3a122529:991580469e79d2d122de14eb03cce38d:52f3ac96bdefdc4f2eaa8dbc448a2539$</string>
            <key>textureFileName</key>
            <string>ss_goon3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
