<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1818},{170,164}}</string>
                <key>offset</key>
                <string>{-44,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{170,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1046},{178,166}}</string>
                <key>offset</key>
                <string>{-41,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{178,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1336},{204,116}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{204,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,408},{220,118}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,59},{220,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{222,124}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,53},{222,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,138},{242,130}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{242,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{242,132}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{242,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,134}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{242,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,134}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{242,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,134}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{242,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,806},{210,134}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1468},{174,140}}</string>
                <key>offset</key>
                <string>{-37,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,37},{174,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1644},{192,150}}</string>
                <key>offset</key>
                <string>{-25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,798},{210,136}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{210,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,272},{222,134}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{222,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,270},{232,134}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{232,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,138},{240,132}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{240,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,136},{242,132}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{242,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,132}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,45},{242,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{230,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{230,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{224,126}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{224,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,406},{222,126}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{222,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,416},{216,128}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{216,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{212,128}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,49},{212,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1362},{190,158}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{190,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,416},{218,120}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,57},{218,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,270},{222,144}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{222,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,848},{196,150}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{196,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1838},{182,158}}</string>
                <key>offset</key>
                <string>{-38,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{182,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1644},{168,162}}</string>
                <key>offset</key>
                <string>{-45,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{168,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1816},{168,162}}</string>
                <key>offset</key>
                <string>{-44,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{168,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1644},{170,162}}</string>
                <key>offset</key>
                <string>{-44,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{170,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1468},{172,158}}</string>
                <key>offset</key>
                <string>{-43,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{172,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1644},{176,144}}</string>
                <key>offset</key>
                <string>{-41,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{176,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1338},{202,128}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,49},{202,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,676},{212,120}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,57},{212,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{210,124}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{210,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{208,126}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{208,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1208},{206,128}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,49},{206,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1208},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1204},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1076},{206,130}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,944},{208,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,810},{210,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{210,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,672},{214,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{214,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,668},{214,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{214,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{214,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{214,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,534},{214,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{214,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,538},{216,136}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,41},{216,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,528},{216,138}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{216,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,634},{212,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,43},{212,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,942},{208,132}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{208,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1076},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1072},{206,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,47},{206,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{200,122}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{200,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1522},{198,120}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{198,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{198,118}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,59},{198,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{196,118}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,59},{196,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{196,118}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,59},{196,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{196,118}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,59},{196,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1340},{200,126}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{200,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1838},{184,132}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{184,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,936},{208,134}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{208,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1454},{198,134}}</string>
                <key>offset</key>
                <string>{-24,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{198,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1822},{176,134}}</string>
                <key>offset</key>
                <string>{-35,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,43},{176,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1226},{184,134}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{184,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>goon2_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1644},{172,140}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,37},{172,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e29c9e80f09fa88c05905c02c55a41a2:17bbb52ea76779d8ec91fa5fbe6e5842:9ad446e0e5df9313dacf7b308225b4d7$</string>
            <key>textureFileName</key>
            <string>ss_goon2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
