<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,872},{130,116}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{136,128}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,54},{136,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{122,100}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{138,100}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{138,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,148},{144,100}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{144,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{146,100}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,77},{146,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,310},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,164},{144,102}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{114,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,886},{132,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,794},{116,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,492},{116,102}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{142,98}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,79},{142,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{148,96}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,81},{148,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{136,102}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{136,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,278},{122,106}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,71},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_freeze_.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,426},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,160}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{158,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,608},{130,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{130,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,740},{130,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,456},{130,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,294},{130,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,146},{130,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{128,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,426},{128,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,75},{128,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,132},{122,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,402},{118,104}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,73},{118,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,640},{116,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,556},{118,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,71},{118,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,120},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,244},{116,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,120},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,374},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,522},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,676},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,126},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,256},{116,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,238},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,758},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,112},{114,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,362},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>guard3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,912},{114,108}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_guard3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce1edfec4151a3bd0d6b373719e9bdf:726820cc3df0ac122d77e63c9957b342:949f2f5b0c04b2dbb7c9ca7652797948$</string>
            <key>textureFileName</key>
            <string>ss_guard3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
