<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glasses_blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,206},{130,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,894},{128,106}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,252},{154,90}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,87},{154,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{156,92}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,85},{156,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,258},{158,92}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,85},{158,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{160,92}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,85},{160,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{162,92}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{162,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,676},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,83},{128,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{118,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,83},{118,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,402},{140,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,71},{140,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,96},{156,96}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,81},{156,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{162,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,85},{162,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{164,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{160,94}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,83},{160,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{158,96}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,81},{158,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,254},{156,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,79},{156,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,410},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,96},{156,150}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{156,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,96},{130,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,96},{136,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,234},{130,110}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,96},{130,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,386},{130,110}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,544},{130,110}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,888},{132,110}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,67},{132,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,248},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,858},{140,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,71},{140,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,878},{144,102}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,712},{144,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,83},{144,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,874},{148,96}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,81},{148,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,560},{150,98}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,79},{150,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,720},{152,98}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,79},{152,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,96},{154,100}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,254},{154,100}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,568},{154,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,79},{154,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,566},{152,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,79},{152,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,96},{150,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{150,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,250},{150,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{150,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,408},{150,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{150,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,724},{152,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{152,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,96},{152,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{152,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,576},{154,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{154,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,738},{154,104}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{154,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,418},{156,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{156,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{156,104}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{156,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,732},{154,102}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,75},{154,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>glasses_blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,412},{154,100}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{154,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_glasses_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b08e46a13d3f49bac055d34f57b4cb9:b431da0235462c84d329732fc4c96566:951e9f7de963a4eef604952fd0179ce7$</string>
            <key>textureFileName</key>
            <string>ss_glasses_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
