<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gabe_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,522},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,131},{123,112}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,67},{123,112}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,887},{119,102}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{119,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,379},{121,102}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{121,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,436},{127,102}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{127,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{135,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{135,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{135,102}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{135,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,164},{137,102}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{137,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{141,102}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{141,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{145,102}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{145,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,884},{111,104}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{111,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,688},{111,122}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,55},{111,122}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,125},{111,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{111,120}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,250},{111,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{111,120}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,623},{111,118}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{111,118}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,743},{111,114}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,63},{111,114}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,372},{117,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,139},{131,102}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{131,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{145,102}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{145,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{143,102}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{143,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{139,102}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{139,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,303},{131,104}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{131,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{127,104}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{127,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,563},{123,106}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{123,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,160}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{159,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,493},{117,108}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,69},{117,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,272},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,692},{123,110}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,67},{123,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,436},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,565},{125,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{125,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,127},{121,108}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,234},{115,106}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{115,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,491},{113,102}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{113,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,361},{115,104}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{115,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,342},{115,104}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{115,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,743},{117,104}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{117,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,121},{117,106}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,242},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,372},{119,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,502},{119,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,645},{119,108}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,812},{119,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,256},{121,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{123,110}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{123,110}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,817},{123,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{123,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,817},{123,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{123,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,399},{121,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{121,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{119,108}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{119,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,766},{119,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{119,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,123},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,247},{117,106}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{117,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,558},{111,108}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{111,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,859},{111,108}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{111,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,448},{111,108}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{111,108}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,776},{111,106}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{111,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,668},{111,106}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{111,106}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,612},{113,104}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{113,104}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,862},{115,102}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{115,102}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,119},{113,100}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,77},{113,100}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{115,100}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,77},{115,100}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,887},{119,98}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,79},{119,98}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,250},{121,98}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{121,98}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>gabe_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,688},{123,98}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{123,98}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gabe-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25451206f98d693ca59d6a4cb9b26b00:8a13ef7f3f4a410718063c6d2a50520c:9d7d62f546f14b9241774fcfaebc1ef1$</string>
            <key>textureFileName</key>
            <string>ss_gabe-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
