<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>madmax_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,412},{94,88}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,568},{98,84}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{98,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,156},{104,74}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,394},{102,72}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,454},{100,72}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{100,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,468},{100,70}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{100,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{98,70}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{98,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{124,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{126,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{122,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{122,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,150},{114,80}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{114,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{100,82}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{100,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,332},{100,78}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{100,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,396},{100,76}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{100,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,156},{106,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{106,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,244},{106,76}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{106,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,148},{108,94}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{108,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,332},{94,92}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{94,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,234},{96,102}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,232},{98,102}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,306},{102,88}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{102,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,390},{104,80}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{104,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,156},{104,74}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,304},{106,74}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,322},{106,70}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,230},{106,74}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{106,78}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{106,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,310},{106,78}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{106,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,232},{108,76}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,152},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,152},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,78},{110,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{110,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,76},{112,74}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{112,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,80},{116,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{116,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,74},{116,72}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{116,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{118,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{118,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{118,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,78},{118,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{118,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,74},{116,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{116,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{116,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{116,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{114,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{114,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{114,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{114,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{112,74}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{112,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{110,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{110,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,148},{108,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,154},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,154},{108,76}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{104,74}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,380},{102,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,418},{102,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,80},{110,74}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{110,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,326},{102,88}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{102,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,490},{98,94}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{98,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,472},{100,94}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{100,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,232},{102,92}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{102,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,324},{104,92}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{104,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,232},{106,90}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{106,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_horn.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b01ad9f8a4428d118194ad8275b064:d5d67f30f503c99809c91d1e52100553:6c6b2103306748426b605885cd027a65$</string>
            <key>textureFileName</key>
            <string>ss_horn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
