<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jack_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,824},{174,158}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{174,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,842},{180,170}}</string>
                <key>offset</key>
                <string>{-38,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{180,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,116}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,61},{194,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{196,118}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{196,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{214,122}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,55},{214,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,130},{238,130}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{238,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,130},{238,130}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{238,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,390},{238,132}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{238,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,262},{238,132}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{238,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,396},{240,132}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{240,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,396},{204,132}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{204,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{164,138}}</string>
                <key>offset</key>
                <string>{-33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,39},{164,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,670},{184,150}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{184,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,522},{200,138}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{200,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,404},{214,134}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{214,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{226,132}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{226,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,388},{234,132}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{234,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,262},{238,132}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{238,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,262},{240,132}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{240,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{228,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,49},{228,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{222,126}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{222,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{220,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{220,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,124},{214,128}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{214,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,126},{208,128}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{208,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,258},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,524},{220,138}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{220,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{206,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{206,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,662},{184,146}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{184,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,822},{172,158}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{172,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,818},{174,158}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{174,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,836},{170,160}}</string>
                <key>offset</key>
                <string>{-38,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{170,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,840},{166,160}}</string>
                <key>offset</key>
                <string>{-39,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{166,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,840},{164,162}}</string>
                <key>offset</key>
                <string>{-41,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{164,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,812},{166,156}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{166,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,262},{176,140}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,37},{176,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,130},{188,130}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{188,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{202,120}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,57},{202,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{202,124}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{202,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{200,126}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,51},{200,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,128},{202,128}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{202,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,142},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,274},{204,132}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{204,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,408},{206,134}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,43},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{208,136}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{208,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,530},{208,138}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{208,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,530},{208,138}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{208,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,530},{210,138}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{210,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,540},{210,140}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{210,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,544},{212,140}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{212,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,408},{208,136}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{208,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,396},{206,132}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{206,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,256},{204,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{204,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,130},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{202,130}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{202,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{200,144}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{200,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,664},{196,146}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{196,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,670},{194,146}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{194,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,546},{220,140}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{220,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,842},{166,178}}</string>
                <key>offset</key>
                <string>{-37,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{166,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,686},{152,178}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,682},{152,178}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,670},{152,178}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,810},{152,176}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{152,176}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,688},{152,176}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,688},{152,176}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>jack_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,686},{152,176}}</string>
                <key>offset</key>
                <string>{-44,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_jackbull-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32037c152beb14ed242af16fdd324424:2438af25520baa3908b43f931fb57b0d:1da2de8e75ff26190e05a1580d5f1a8a$</string>
            <key>textureFileName</key>
            <string>ss_jackbull-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
