<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingofsling_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,88},{76,86}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{76,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,92},{76,86}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{76,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,168},{68,84}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,170},{68,84}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,172},{68,82}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{68,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,176},{70,82}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{70,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,92},{82,86}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{98,90}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{106,90}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,90}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{108,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{82,90}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{88,90}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{84,90}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{82,90}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{88,90}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,94},{92,90}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,94},{98,90}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{102,90}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{104,90}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{104,90}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,90}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,94},{102,90}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{94,88}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,92},{80,88}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{80,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,82},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,82},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,82},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,82},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_fire_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,82},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{82,90}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,94},{76,90}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{78,90}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{78,90}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{80,90}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{78,90}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,92},{82,88}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{82,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{80,88}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{80,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,92},{84,88}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{84,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,92},{78,88}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,92},{74,88}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{74,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,82},{70,84}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,174},{70,84}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,170},{68,84}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,82},{68,84}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,186},{68,84}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{68,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,84},{70,86}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,84},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,86},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,186},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,174},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,174},{70,86}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,186},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,186},{68,88}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,186},{68,88}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{68,88}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,186},{68,86}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,186},{68,86}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,86},{70,86}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,86},{70,86}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,86},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,84},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,84},{70,86}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{70,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,182},{72,82}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,182},{72,80}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,180},{74,78}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,180},{74,78}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{74,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,182},{72,80}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,182},{72,80}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,182},{72,80}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{72,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,182},{72,82}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{72,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,182},{72,88}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{72,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{92,90}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{94,88}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{94,88}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,94},{94,90}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kingofsling_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{94,88}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{94,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_kingofsling.pvr.ccz</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9425411dc2b019b19f76141e7c2ae1:fed71000ae103f31ce218cb1229d3f14:ab84cb1f0d709840783cbb5d3bdef031$</string>
            <key>textureFileName</key>
            <string>ss_kingofsling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
