<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mrsaturday_blakk_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{170,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,594},{170,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{170,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,538},{170,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,59},{170,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,496},{170,120}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,486},{170,120}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,470},{170,122}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{170,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,362},{170,122}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{170,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,250},{170,122}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{170,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,238},{172,122}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{172,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{172,122}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{172,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{170,122}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{170,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,374},{170,120}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,374},{170,120}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,126},{176,122}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{176,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{176,124}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,57},{176,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{170,112}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{170,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,846},{170,110}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{170,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,842},{170,110}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{170,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,356},{172,112}}</string>
                <key>offset</key>
                <string>{23,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{172,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,128},{174,114}}</string>
                <key>offset</key>
                <string>{27,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{174,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,120},{176,116}}</string>
                <key>offset</key>
                <string>{30,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{176,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{178,116}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{178,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{180,116}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{180,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,250},{146,116}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{146,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,946},{164,116}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,61},{164,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,244},{172,116}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,61},{172,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,830},{170,114}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{170,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,714},{170,116}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,120},{174,116}}</string>
                <key>offset</key>
                <string>{29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,61},{174,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,712},{170,116}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,238},{172,116}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{172,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,608},{170,116}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,594},{170,116}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,142}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{210,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{176,122}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{176,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,880},{168,116}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,61},{168,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,710},{168,118}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,59},{168,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,368},{168,122}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,55},{168,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{170,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,726},{170,114}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{170,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{172,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,69},{172,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,734},{170,110}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{170,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,832},{170,112}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,65},{170,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,618},{170,114}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{170,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{170,116}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{170,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{172,116}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{172,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>mrsaturday_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,472},{170,120}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,57},{170,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mrsaturday_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f83ef37ef19ecc97478df8ecff051fca:c9f8508a7826ccb9bdab7bfa95c73751:e08670b9866f12eda53cef07d3eb031d$</string>
            <key>textureFileName</key>
            <string>ss_mrsaturday_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
