<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>madmax_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,772},{88,100}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,298},{92,104}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,928},{94,66}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,32},{94,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,936},{86,64}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,602},{84,62}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{84,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,860},{94,66}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{94,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,832},{102,70}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{108,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,72}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{108,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,528},{84,72}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,928},{90,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,936},{94,70}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{94,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,666},{100,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{100,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,694},{102,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,152},{106,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,72}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{108,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{106,72}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,152},{106,72}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{104,72}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{104,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,672},{98,102}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,620},{104,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{94,102}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,740},{90,102}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,428},{84,98}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,768},{90,94}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,936},{88,86}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{88,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,772},{98,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{98,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,874},{98,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{98,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,832},{102,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{102,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,672},{104,66}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{104,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,298},{106,70}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,544},{104,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,370},{104,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{104,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{104,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{104,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,322},{104,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{104,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,216},{104,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{104,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,110},{104,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{104,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,522},{104,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,448},{104,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,598},{104,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{104,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,468},{104,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,446},{104,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,392},{104,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,370},{104,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,78},{106,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{106,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{106,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,74}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{106,74}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,78},{106,72}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{106,72}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,598},{104,72}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{104,72}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,524},{104,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,524},{104,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{104,72}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,298},{106,70}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{106,70}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>madmax_win_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,226},{106,70}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_madmax.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7893bdfc63877d3f5e3f644f36722e46:cd5a7df6e4fa1f5a1b1a3f30184c370a:92d2fb51768a9d225e0a9b8a59ec7c03$</string>
            <key>textureFileName</key>
            <string>ss_madmax.pvr.ccz</string>
        </dict>
    </dict>
</plist>
