<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>marcus_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,110},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{65,57}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{65,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,358},{59,51}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{59,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,248},{61,51}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{61,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,116},{63,51}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{63,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,108},{67,51}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{67,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{69,51}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,55},{69,51}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{69,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{71,51}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{71,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{73,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{73,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,456},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{55,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,393},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,342},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,340},{55,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{55,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,456},{55,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{55,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,454},{55,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{55,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,399},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,55},{65,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{65,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{73,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{73,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{71,51}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{71,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{69,53}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{69,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,55},{67,53}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{67,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,116},{63,53}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{63,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{61,53}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{61,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,344},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{81,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,285},{61,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,301},{59,55}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,161},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,110},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,69},{63,55}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{63,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,230},{61,55}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,356},{59,53}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,411},{57,51}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{57,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,401},{57,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{57,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,301},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,507},{59,53}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{59,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,450},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,399},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{61,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,336},{61,55}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,285},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,283},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,228},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,279},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,228},{61,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,226},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,397},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,342},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,287},{59,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{59,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,456},{55,51}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{55,51}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,464},{55,49}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{55,49}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,509},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{55,47}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,244},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{55,47}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,187},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,42},{55,47}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,411},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{55,53}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,167},{61,57}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{61,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,167},{61,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{61,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,218},{59,61}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{59,61}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,55},{59,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{59,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{57,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{57,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,57},{57,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{57,63}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,171},{61,55}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{61,55}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{61,57}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{61,57}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,187},{61,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{61,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,169},{61,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{61,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>marcus_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,126},{61,59}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{61,59}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_marcus.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e52f4835b5afe51e91ca4d9b310efe69:97e58215e4036c60c11ec7aed6de793a:df83ce656f6e59ba8827207aa4948ddb$</string>
            <key>textureFileName</key>
            <string>ss_marcus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
