<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>munch_electic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1892},{188,144}}</string>
                <key>offset</key>
                <string>{-30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{188,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_electic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{192,148}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{192,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,146},{218,124}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{218,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{216,126}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,51},{216,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,418},{216,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,272},{216,144}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{216,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,146},{216,144}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{216,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,432},{214,146}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{214,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,622},{208,150}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{208,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1674},{194,138}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{194,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1624},{198,134}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{198,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,692},{214,132}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{214,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{214,132}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{214,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{232,142}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{232,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,144}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{240,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{210,144}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{210,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1432},{178,144}}</string>
                <key>offset</key>
                <string>{-40,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{178,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1884},{160,174}}</string>
                <key>offset</key>
                <string>{-50,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,174}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{200,172}}</string>
                <key>offset</key>
                <string>{-30,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{216,142}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{216,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,144}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{240,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{232,142}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{232,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{220,140}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{220,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1488},{202,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{202,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1262},{206,134}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{204,176}}</string>
                <key>offset</key>
                <string>{-28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{204,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1740},{188,142}}</string>
                <key>offset</key>
                <string>{-30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{188,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1804},{192,138}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{192,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{194,148}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{194,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,832},{198,154}}</string>
                <key>offset</key>
                <string>{-31,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{198,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1578},{194,160}}</string>
                <key>offset</key>
                <string>{-33,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{194,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1234},{196,160}}</string>
                <key>offset</key>
                <string>{-32,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{196,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1032},{200,160}}</string>
                <key>offset</key>
                <string>{-29,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{200,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1526},{200,146}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{200,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,986},{210,140}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{210,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{208,140}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{208,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1256},{206,134}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1398},{204,128}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{204,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1358},{206,128}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,49},{206,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,958},{212,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,958},{212,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,854},{212,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,844},{212,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,720},{212,132}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{212,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1128},{210,132}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{210,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1120},{210,134}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{210,134}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1090},{210,134}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{212,132}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{212,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1226},{210,130}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{210,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{212,130}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,826},{212,130}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,958},{212,130}}</string>
                <key>offset</key>
                <string>{-19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{212,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,144},{218,124}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{218,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,272},{216,144}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{216,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{216,144}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{216,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,412},{214,146}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{214,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,412},{208,150}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{208,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1664},{194,138}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,39},{194,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1528},{198,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,43},{198,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1392},{204,132}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{204,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,976},{210,142}}</string>
                <key>offset</key>
                <string>{-19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{210,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,560},{214,142}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,550},{214,140}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{214,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,270},{216,140}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{216,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,292},{216,138}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,704},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,580},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,560},{214,142}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,550},{214,140}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{214,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,270},{216,140}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{216,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,292},{216,138}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,704},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,580},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,560},{214,142}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,550},{214,140}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{214,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,270},{216,140}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{216,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,292},{216,138}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,704},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,580},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,560},{214,142}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,550},{214,140}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{214,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,270},{216,140}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{216,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,292},{216,138}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,704},{214,138}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{214,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_win_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,560},{214,142}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_munch-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5b9a55e1eda39466b1a7f3854b91e4:259c9270a892864bab5a118047169ede:62575aa327f928b9977e0818421b8373$</string>
            <key>textureFileName</key>
            <string>ss_munch-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
