<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>munch_blakk_electic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,804},{98,74}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{98,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_electic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,726},{100,74}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,76},{114,62}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{114,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{112,64}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{112,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{114,66}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{114,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,76},{114,74}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{114,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,140},{112,74}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{112,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,76},{112,74}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{112,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{108,76}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{108,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,732},{102,70}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,570},{104,68}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{112,68}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,226},{112,66}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{112,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{120,72}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{120,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,74}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{124,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,428},{108,74}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{108,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,802},{92,74}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,850},{82,90}}</string>
                <key>offset</key>
                <string>{-24,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{104,90}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,152},{112,72}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{112,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,72}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{124,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{122,72}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{122,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{114,70}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{114,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,576},{106,68}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,500},{108,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{108,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,640},{102,90}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,612},{96,72}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{96,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{98,70}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{98,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,774},{98,74}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{98,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,646},{102,78}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,710},{100,82}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{100,80}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{100,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{102,80}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,698},{102,74}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{102,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,490},{108,70}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{108,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,504},{106,70}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{106,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,562},{106,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{106,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,632},{104,64}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,504},{106,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,432},{110,66}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,216},{112,66}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{112,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,152},{112,66}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{112,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,422},{110,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,360},{110,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,290},{110,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{110,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,294},{110,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,284},{110,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,220},{110,68}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{110,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{110,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,364},{110,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,354},{110,66}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{110,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>munch_blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,216},{112,66}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{112,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_munch_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f06c794c2d434933085c442042070b9:c8689622228f62a859cdcd3d7d800544:56b66cdeceadd65b631361f207adc5eb$</string>
            <key>textureFileName</key>
            <string>ss_munch_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
