<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mei_Fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,782},{158,144}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{150,146}}</string>
                <key>offset</key>
                <string>{-26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{150,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1496},{144,146}}</string>
                <key>offset</key>
                <string>{-36,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{144,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1222},{146,144}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{146,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1366},{144,146}}</string>
                <key>offset</key>
                <string>{-30,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{144,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1222},{142,148}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{142,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1074},{146,150}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{146,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{138,148}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,33},{138,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,934},{136,152}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,29},{136,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{136,152}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,29},{136,152}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1266},{142,150}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,31},{142,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,166},{148,150}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,31},{148,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1072},{150,148}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{150,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1264},{154,146}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{154,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,704},{158,144}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_Freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{166,146}}</string>
                <key>offset</key>
                <string>{-44,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{166,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1288},{134,146}}</string>
                <key>offset</key>
                <string>{-22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{134,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1424},{140,144}}</string>
                <key>offset</key>
                <string>{-39,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{140,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,682},{158,144}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1368},{144,142}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{144,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1412},{144,138}}</string>
                <key>offset</key>
                <string>{-37,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{144,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1512},{142,142}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{142,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1410},{140,144}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,37},{140,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1142},{150,144}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{150,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,790},{158,142}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{158,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,144},{162,140}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{162,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,136},{162,140}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{162,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{162,140}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{162,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,250},{160,140}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{160,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,238},{160,142}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{160,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,568},{158,144}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{158,144}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,644},{158,144}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,636},{158,144}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,558},{158,144}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,536},{158,144}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1120},{156,144}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1118},{156,144}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,996},{156,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,974},{156,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,972},{156,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,928},{156,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,850},{156,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,828},{156,144}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,826},{156,144}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{156,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{158,144}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,498},{158,144}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,490},{158,144}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,412},{158,144}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,422},{158,144}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,390},{158,144}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{160,134}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{160,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,278},{160,132}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,48},{160,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{152,134}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{152,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{130,162}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{130,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{106,180}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{106,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{128,180}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{128,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,180}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{134,180}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{132,178}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,2},{132,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,110},{126,178}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,2},{126,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,132},{116,172}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,8},{116,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{112,158}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,24},{112,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,714},{110,158}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,24},{110,158}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,382},{106,160}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{106,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{104,160}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{104,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,392},{104,160}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{104,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,318},{102,160}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{102,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Mei_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,286},{102,160}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,22},{102,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mei-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b029193ea6e9f3ce84eafd8ebffe60e4:4552067564ec1cef67753038f5aa1498:740718a5c84f8d3ac9ed4fdcebe01a72$</string>
            <key>textureFileName</key>
            <string>ss_mei-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
