<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>munch_blakk_electic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1482},{196,144}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{196,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_electic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{198,148}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,31},{198,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{226,124}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,53},{226,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,146},{224,126}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,51},{224,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{224,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{224,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,146},{224,144}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{224,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{224,144}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{224,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,274},{222,146}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{222,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,824},{216,150}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{216,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{202,138}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{202,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1118},{206,134}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,422},{222,132}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{222,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,292},{222,132}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{222,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{240,142}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{240,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,144}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{248,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,834},{216,144}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{216,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1592},{184,144}}</string>
                <key>offset</key>
                <string>{-38,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{184,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1318},{162,178}}</string>
                <key>offset</key>
                <string>{-49,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1116},{206,178}}</string>
                <key>offset</key>
                <string>{-27,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,178}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,288},{224,142}}</string>
                <key>offset</key>
                <string>{-17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{224,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,142}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{248,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{240,142}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,35},{240,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,146},{228,140}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{228,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{210,134}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{210,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,824},{214,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,43},{214,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1254},{204,176}}</string>
                <key>offset</key>
                <string>{-28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{204,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1546},{192,142}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{192,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1452},{194,138}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,39},{194,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1396},{196,148}}</string>
                <key>offset</key>
                <string>{-32,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{196,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1296},{200,154}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{200,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1432},{198,160}}</string>
                <key>offset</key>
                <string>{-31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{198,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1234},{200,160}}</string>
                <key>offset</key>
                <string>{-30,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{200,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1114},{202,160}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{202,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,908},{204,146}}</string>
                <key>offset</key>
                <string>{-20,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{204,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,960},{212,140}}</string>
                <key>offset</key>
                <string>{-19,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{212,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,976},{210,138}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{210,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,980},{210,136}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{210,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{206,128}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,49},{206,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1102},{208,130}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{208,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_hit_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{216,130}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{216,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,558},{220,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,556},{220,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{220,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{218,132}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{218,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,700},{218,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{218,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,688},{218,134}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,43},{218,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{218,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{218,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,564},{218,134}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,43},{218,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,690},{218,132}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{218,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,688},{218,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,47},{218,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,432},{220,130}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,426},{220,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>munch_blakk_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,558},{220,130}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{220,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_munch_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f06c794c2d434933085c442042070b9:c8689622228f62a859cdcd3d7d800544:56b66cdeceadd65b631361f207adc5eb$</string>
            <key>textureFileName</key>
            <string>ss_munch_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
