<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mechmole_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,266},{102,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{102,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,358},{102,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{102,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,582},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,90},{112,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,90},{112,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,90},{112,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{112,84}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,694},{110,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{110,84}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,266},{108,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{108,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,358},{108,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{108,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,806},{108,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{108,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,94},{108,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{108,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,470},{110,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,358},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,266},{106,90}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{106,90}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,916},{106,92}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{106,92}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,918},{104,92}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,15},{104,92}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,468},{102,94}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{102,94}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{104,92}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{104,92}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{108,90}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{108,90}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{112,88}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,806},{110,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{110,84}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,694},{110,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{110,84}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,270},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,264},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,178},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,90},{112,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{112,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,90},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,90},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,182},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,176},{110,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>mechmole_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{110,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{110,86}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mechamole.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e6829571a5c3f79232bfbac8e262273:06610808298f0c9fa520dd341ffa47b9:09a446258300c9ddb659682c3b59f412$</string>
            <key>textureFileName</key>
            <string>ss_mechamole.pvr.ccz</string>
        </dict>
    </dict>
</plist>
