<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nacho_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,342},{84,66}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Nacho_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,144},{86,68}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{80,64}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,487},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,485},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{84,64}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,141},{86,66}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{86,66}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,72},{88,68}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{88,68}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{66,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{66,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,691},{66,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{66,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,782},{76,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{76,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,673},{78,64}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{82,66}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{88,68}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,273},{84,68}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,359},{80,68}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,86}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{90,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,340},{84,66}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,142},{86,68}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,141},{86,68}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{86,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{88,68}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{88,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,209},{86,62}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{86,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,211},{86,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{86,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,472},{82,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,410},{82,62}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,408},{82,62}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,474},{80,64}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{80,64}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,421},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,509},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,621},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,610},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,603},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,575},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,553},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,551},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,540},{78,68}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,645},{78,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,441},{76,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{78,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,623},{78,66}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nacho_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,739},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,713},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,416},{81,67}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{81,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,352},{83,67}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,283},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,281},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,273},{85,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,214},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,212},{85,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{85,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,72},{87,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,72},{87,67}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,73},{87,69}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{87,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{89,69}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{89,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{87,67}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{87,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,273},{85,65}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{85,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,534},{79,67}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{79,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>nacho_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{77,67}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_nacho.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79caee9e9418ba6bcede940c7349dab2:e308fa3466b5e3e3163927c3602bb1c3:f2df85f497a3b5921e32a550273b9ac8$</string>
            <key>textureFileName</key>
            <string>ss_nacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
