<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pronto_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{118,126}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,55},{118,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,128},{130,136}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,48},{130,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,598},{106,88}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{106,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,798},{108,92}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,88},{108,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,798},{112,96}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,84},{112,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,578},{114,100}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,80},{114,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,590},{118,100}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,80},{118,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{120,102}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,78},{120,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,484},{120,102}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,78},{120,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{104,112}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,67},{104,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,912},{110,110}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{110,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,246},{106,122}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{106,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,460},{116,118}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,61},{116,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,360},{120,114}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{120,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,132},{122,112}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{122,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{128,110}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,69},{128,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,128},{126,110}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,69},{126,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,480},{120,108}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,72},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,688},{108,104}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,76},{108,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,908},{108,92}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,88},{108,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,688},{108,94}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,86},{108,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,912},{110,94}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,86},{110,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,798},{108,94}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,86},{108,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,908},{108,94}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{108,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{106,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,144}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{162,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,476},{118,112}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,68},{118,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{122,112}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{122,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,356},{116,120}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,59},{116,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,686},{116,110}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,260},{122,120}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{122,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,366},{116,122}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,57},{116,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,128},{124,120}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{124,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,240},{124,118}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{124,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,362},{122,116}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{122,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,474},{118,114}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{118,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,688},{110,108}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,72},{110,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,578},{108,88}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,92},{108,88}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,796},{106,90}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,90},{106,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,590},{108,94}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{108,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{106,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{106,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,906},{106,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,80},{106,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,798},{106,106}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,74},{106,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,798},{108,112}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,68},{108,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,802},{108,112}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{108,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{114,112}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,68},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,382},{120,112}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{120,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,588},{120,96}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{120,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,496},{118,100}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{118,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,798},{108,104}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{108,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,688},{106,104}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{106,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,916},{108,106}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,74},{108,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,692},{108,104}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,76},{108,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{106,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,688},{108,90}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{108,90}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,798},{108,84}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,96},{108,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,908},{108,82}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,98},{108,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,904},{106,80}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,100},{106,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,904},{106,80}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,100},{106,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,354},{122,104}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{122,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,250},{114,128}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,52},{114,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,128},{112,142}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,38},{112,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{114,144}}</string>
                <key>offset</key>
                <string>{11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,36},{114,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,128},{120,146}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,34},{120,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{124,146}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,34},{124,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{124,146}}</string>
                <key>offset</key>
                <string>{16,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,34},{124,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{124,148}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,32},{124,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{124,148}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{124,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{124,148}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{124,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{124,148}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,32},{124,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,242},{118,136}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,44},{118,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,250},{122,104}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{122,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{120,84}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,96},{120,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{114,82}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,98},{114,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{114,82}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,98},{114,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,688},{108,82}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,98},{108,82}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,908},{108,84}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{108,84}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,598},{106,86}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,94},{106,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>pronto_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{106,94}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{106,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pronto-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aee7941b94af65454459a4ed2200781d:e470535cb92376a7197147b1265ee0fb:55a5d8ac61185130f57fd38759b61ebd$</string>
            <key>textureFileName</key>
            <string>ss_pronto-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
