<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate_girl_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{68,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{68,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,380},{64,54}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{64,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,530},{58,50}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{58,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,530},{60,50}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{60,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,472},{60,50}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,38},{60,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,388},{62,60}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{62,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,64},{62,72}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{62,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{60,76}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{60,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{58,76}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{58,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,80},{58,72}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{58,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{60,58}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{60,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,314},{66,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,240},{68,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{68,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,128},{70,60}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{70,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,248},{68,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,204},{68,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{68,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,208},{68,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{68,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,88}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{84,88}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{80,84}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{80,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{76,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,62},{70,72}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{70,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,322},{64,64}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{64,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{60,62}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{60,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,508},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,494},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_girl_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,488},{54,62}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,26},{54,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,64}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,262},{66,58}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,190},{68,56}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{68,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,240},{66,58}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{66,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,140},{68,62}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{68,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,142},{68,64}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,138},{68,64}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,478},{62,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,300},{66,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{66,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,260},{68,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{68,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,134},{70,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,188},{70,50}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{70,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{70,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,88},{70,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,84},{70,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{70,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,304},{66,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,298},{66,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,372},{64,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,362},{64,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,356},{64,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,472},{62,56}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,414},{62,56}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{62,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,450},{62,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,472},{60,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,436},{62,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,430},{62,56}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,420},{62,56}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,414},{62,56}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,356},{62,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,322},{64,56}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{64,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{64,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{64,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{66,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate_gril_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,264},{66,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{66,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pirate_girl.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3748364b900b1a0fb589960903634c07:bcda4da54485385568fc08da37fdaabc:122ada24e38c03613623962f89dd2341$</string>
            <key>textureFileName</key>
            <string>ss_pirate_girl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
