<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,594},{68,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{68,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,570},{68,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{68,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{86,58}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{86,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,58}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{90,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,596},{64,60}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,646},{60,60}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{60,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,598},{60,60}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{60,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,146},{80,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,62},{82,66}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{82,64}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{82,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{82,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{82,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{84,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{84,62}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{84,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,208},{78,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,272},{74,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{74,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,412},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,530},{70,64}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,534},{70,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{70,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,530},{68,62}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{68,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{68,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{68,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,400},{70,62}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{70,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,584},{70,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{70,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,414},{72,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,142},{74,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{74,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,84},{74,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{74,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{74,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{74,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,388},{72,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{72,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,524},{72,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,352},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,326},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,462},{72,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,398},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,346},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,286},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,226},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,544},{70,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,504},{70,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,472},{70,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{70,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,220},{72,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,200},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,334},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,282},{72,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,410},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,350},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,290},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,472},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,264},{72,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,326},{72,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{72,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,474},{72,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{72,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,474},{72,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{72,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,448},{72,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{72,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{78,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{78,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,156},{72,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{72,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,212},{68,76}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{68,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,130},{80,76}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,68},{80,76}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{80,76}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{80,76}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{80,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,144},{80,74}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,80},{80,74}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,68},{80,74}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>pirate2_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{80,74}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pirate_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84afabe7f80eef518cca75a63c60936:ac3f8a64fa092cbaa5e728927781b3da:6ba6e87cf34ed7101e62af8a8e276a4b$</string>
            <key>textureFileName</key>
            <string>ss_pirate_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
