<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redhook_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,112},{126,126}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{126,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{126,126}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,58},{126,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,114},{126,108}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,112},{128,108}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,220},{128,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,112},{128,104}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,878},{114,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,908},{114,104}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{114,104}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{114,104}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,660},{116,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,574},{120,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,446},{122,108}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{122,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,352},{124,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,334},{124,108}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,328},{124,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,112},{126,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{126,108}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,122}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,53},{145,122}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>redhook_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,564},{120,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{132,106}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,70},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{134,110}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{134,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{140,108}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{140,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{144,108}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{144,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{136,108}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,68},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{132,108}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,68},{132,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,110},{128,108}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,218},{126,108}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,222},{124,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,66},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,452},{122,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,550},{120,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,438},{122,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,334},{122,110}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{122,110}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,552},{122,110}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,462},{122,110}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{124,110}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,224},{124,108}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,328},{124,110}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,67},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,240},{124,110}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,222},{124,110}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,444},{122,110}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,334},{122,110}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{122,110}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,550},{120,110}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,440},{122,110}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,556},{120,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,664},{120,106}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{120,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,328},{122,106}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,71},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,446},{122,102}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{120,100}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,77},{120,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,556},{118,102}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{118,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,666},{116,102}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,772},{114,104}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,684},{114,106}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,768},{112,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{112,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,884},{112,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{112,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,770},{112,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,71},{112,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,906},{112,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>redhook_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,792},{112,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_redhook-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b611b46ed1b73aa02e1b82d5752504a:9d2632fba444cf2a6dee1d2ebc9c54a7:b0765865fdc94c910b4c67a29ddc55bb$</string>
            <key>textureFileName</key>
            <string>ss_redhook-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
