<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheepgang2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1260},{146,140}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{146,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1256},{156,142}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,38},{156,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,540},{180,126}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{180,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,260},{186,128}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{186,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{190,130}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,48},{190,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,130}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{190,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{188,130}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{188,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,826},{170,130}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,48},{170,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1120},{164,138}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{164,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{182,134}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{182,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,132}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{190,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,130}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{190,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,134},{186,128}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{186,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,264},{184,126}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{184,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,398},{182,126}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{182,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{180,174}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{180,174}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{150,144}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{150,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1400},{150,146}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{150,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1260},{152,146}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,33},{152,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1168},{150,148}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{150,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1124},{152,148}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{152,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1396},{152,148}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{152,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1114},{160,144}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{160,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{166,138}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{166,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,998},{168,130}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,48},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{172,132}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{172,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,800},{176,132}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{176,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,528},{180,134}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{180,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,392},{182,136}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,262},{184,134}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{184,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{188,130}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{188,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{188,128}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{188,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,134},{188,126}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{188,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,134},{188,124}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{188,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,266},{182,130}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{182,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,664},{178,134}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{178,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,668},{176,142}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,37},{176,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,810},{174,144}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{174,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,678},{174,146}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,33},{174,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,530},{176,146}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{176,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,664},{176,144}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{176,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,398},{180,140}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{180,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,390},{182,136}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{182,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,526},{180,136}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{180,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{180,134}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{180,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{178,132}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,47},{178,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{176,128}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{176,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,826},{172,124}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{172,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,978},{168,134}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{168,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{164,142}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,37},{164,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1098},{166,156}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{166,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,956},{170,166}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{170,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,952},{170,166}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{170,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,812},{172,164}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{172,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,934},{172,162}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{172,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheepgang02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c9171dbd4b732c69369dadba9a4bdcd:f64acb637222b16d41a529d670796ff0:3659fb9faee0564b77535d9716344f43$</string>
            <key>textureFileName</key>
            <string>ss_scrapheepgang02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
