<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanai_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,381},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1033},{149,138}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{149,138}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{143,138}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{143,138}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1073},{145,136}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{145,136}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1308},{143,140}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{143,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1296},{143,142}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{143,142}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{145,144}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{145,144}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1173},{139,144}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,37},{139,144}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1169},{137,146}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{137,146}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1157},{137,146}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,35},{137,146}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1156},{141,144}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,37},{141,144}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,142},{149,144}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{149,144}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{151,144}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{151,144}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1025},{155,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,39},{155,142}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1211},{141,138}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{141,138}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,599},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{131,138}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{131,138}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1440},{135,134}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{135,134}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1314},{131,136}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{131,136}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1299},{139,136}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{139,136}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,939},{151,132}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{151,132}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,523},{159,130}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{159,130}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{161,130}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{161,130}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,232},{161,130}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,51},{161,130}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,220},{161,132}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,49},{161,132}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,131},{161,134}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{161,134}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{161,138}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{161,138}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,589},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,506},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,367},{159,140}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{159,140}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,457},{159,140}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1015},{157,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,891},{157,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,884},{157,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,797},{157,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{157,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,883},{157,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,873},{157,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,749},{157,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,742},{157,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,655},{157,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{157,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,741},{157,140}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,731},{157,140}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{157,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,447},{159,140}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,364},{159,140}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{159,140}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{159,140}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,509},{159,130}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{159,130}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,142},{161,128}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{161,128}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1026},{151,128}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{151,128}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{111,164}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,15},{111,164}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{95,180}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{95,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{121,180}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{121,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,180}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{131,180}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{127,178}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,2},{127,178}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,99},{119,178}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,2},{119,178}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,125},{105,172}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{105,172}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,648},{99,158}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{99,158}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,641},{99,158}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,24},{99,158}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,267},{95,160}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,22},{95,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,272},{93,160}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,22},{93,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,364},{91,160}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,22},{91,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,354},{91,160}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,22},{91,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>shanai_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,288},{91,160}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,22},{91,160}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shanai-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a60cacdba52f32a99c4d046a579fbe:3f3add15855c29abd540f5dce87458c8:2f0204560d815a0d437c8e1dc3cc06b7$</string>
            <key>textureFileName</key>
            <string>ss_shanai-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
