<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sedo_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{64,62}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{64,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{68,66}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{68,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,584},{56,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,422},{58,52}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{58,52}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{60,54}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{62,54}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,196},{62,54}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,192},{62,54}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,580},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{52,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,480},{56,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,360},{56,58}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{56,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{58,60}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{58,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,192},{60,60}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{60,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,248},{60,58}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{60,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,190},{62,56}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,190},{62,56}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,246},{62,54}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{62,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,364},{60,52}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{60,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,368},{58,52}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,582},{56,50}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,534},{56,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,528},{56,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{56,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,532},{56,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,82}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,70},{64,60}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,66},{64,60}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,66},{64,60}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,64},{64,60}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{64,60}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{64,60}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{64,60}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{64,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{64,58}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{64,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,128},{62,58}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{62,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,254},{60,56}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,362},{58,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{58,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,474},{56,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,474},{56,52}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,526},{56,52}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,416},{56,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,360},{56,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{56,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,528},{54,54}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{54,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,472},{56,56}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,422},{56,56}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{58,56}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{58,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,188},{62,56}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{62,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,54}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,308},{60,54}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{60,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,416},{56,56}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{56,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,472},{54,56}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{54,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,416},{54,56}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{54,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,418},{54,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{54,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,476},{56,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,530},{56,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{56,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{56,48}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{56,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{58,48}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{58,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,472},{56,52}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{56,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,248},{60,56}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{60,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,358},{56,58}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{56,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,368},{52,60}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,31},{52,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,312},{54,60}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{54,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,306},{54,60}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{54,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,304},{54,60}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,32},{54,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,302},{54,60}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{54,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,248},{54,60}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{54,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,302},{56,58}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{56,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,252},{58,60}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,31},{58,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{66,62}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{66,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,132},{62,62}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,128},{62,62}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,128},{62,60}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{62,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{62,60}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{62,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,128},{62,62}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,64},{62,62}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,126},{62,62}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{62,62}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{62,62}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{62,62}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sedo_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,64},{62,62}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sedo.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2faadc275c6b5d6f55490e6fe3c2b5df:2c52fcc380711742a318fa16abc5015e:a4863f8cb432ca8ae1d647186a566161$</string>
            <key>textureFileName</key>
            <string>ss_sedo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
