<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanai_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,276},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,554},{75,71}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{75,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,730},{73,69}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{73,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,662},{73,69}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{73,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,589},{73,71}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{73,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,584},{73,71}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{73,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{73,73}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{73,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,657},{71,73}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{71,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{69,73}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{69,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,627},{69,73}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{69,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,617},{71,73}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{71,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,552},{75,73}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{75,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,247},{77,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{77,73}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,511},{79,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,627},{71,71}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{71,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,266},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{67,71}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{67,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,690},{69,69}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{69,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,700},{67,69}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{67,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,698},{71,69}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{71,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,520},{77,67}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{77,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,339},{81,67}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{81,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,69},{83,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{83,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{83,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{83,67}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,335},{81,69}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{81,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,284},{81,69}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{81,69}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,262},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,211},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,193},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,189},{81,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{79,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,481},{79,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{81,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,479},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,477},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,447},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,438},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,120},{81,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,408},{79,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,406},{79,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,203},{81,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,404},{79,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{79,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,138},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{81,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,130},{81,71}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{81,71}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,322},{81,65}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{81,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{81,65}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{81,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,550},{77,65}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{77,65}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,71},{57,83}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{57,83}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{49,91}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{49,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{61,91}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,91}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{65,89}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{65,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,53},{61,89}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{61,89}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,65},{53,87}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{53,87}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,83},{51,79}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{51,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{51,79}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{51,79}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,164},{49,81}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{49,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,398},{47,81}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{47,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,389},{47,81}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{47,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,355},{47,81}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{47,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>shanai_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,349},{47,81}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{47,81}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shanai.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a60cacdba52f32a99c4d046a579fbe:3f3add15855c29abd540f5dce87458c8:2f0204560d815a0d437c8e1dc3cc06b7$</string>
            <key>textureFileName</key>
            <string>ss_shanai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
