<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,574},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,882},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,878},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,780},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,984},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1080},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1042},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,982},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,980},{206,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,78},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,780},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,834},{206,100}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,77},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,776},{206,100}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,574},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{206,128}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{206,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{206,124}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,60},{206,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,574},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,678},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,100}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{216,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,678},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,626},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,570},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,362},{206,106}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,70},{206,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{206,122}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{206,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{206,128}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{206,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,124},{206,126}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{206,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,126},{206,118}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{206,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{206,108}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,68},{206,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,470},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,470},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,466},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,418},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{210,120}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,57},{210,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,574},{206,102}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,74},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,252},{206,110}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,66},{206,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,246},{206,114}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{206,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,210},{206,114}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,62},{206,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{206,118}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,58},{206,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,132},{206,114}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,62},{206,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,248},{206,112}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,64},{206,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,364},{206,104}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,72},{206,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{206,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,76},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{206,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,80},{206,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1180},{206,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,82},{206,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{206,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,82},{206,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1180},{206,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,82},{206,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1084},{206,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,82},{206,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1082},{206,96}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,80},{206,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,882},{206,98}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,79},{206,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,674},{206,100}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{206,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,362},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shark_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,418},{206,102}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,75},{206,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shark-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80333d4cba1dce0e1721f20c4f4ceef1:bd82e2105d2ff5e74b970095284af754:190bcb422f088ce301f3d0af9eaeae45$</string>
            <key>textureFileName</key>
            <string>ss_shark-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
