<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,558},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,508},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,532},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,506},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,506},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,456},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,454},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,454},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,404},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,348},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,296},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_Idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,296},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{104,64}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{104,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{104,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{108,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,402},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,320},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,184},{104,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{104,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{104,62}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{104,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{104,64}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{104,64}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,66},{104,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{104,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,128},{104,54}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{104,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,294},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,242},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,242},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,240},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{106,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{104,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{104,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,128},{104,58}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{104,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,108},{104,58}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{104,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{104,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{104,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,68},{104,58}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{104,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{104,56}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{104,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{104,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,402},{104,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,38},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,560},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,638},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,608},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,558},{104,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{104,48}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,350},{104,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,39},{104,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,188},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,214},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shark_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,240},{104,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{104,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shark.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80333d4cba1dce0e1721f20c4f4ceef1:bd82e2105d2ff5e74b970095284af754:190bcb422f088ce301f3d0af9eaeae45$</string>
            <key>textureFileName</key>
            <string>ss_shark.pvr.ccz</string>
        </dict>
    </dict>
</plist>
