<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shorty_blakk_Hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,568},{114,116}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,61},{114,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,334},{116,116}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{116,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,458},{114,114}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{114,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,560},{116,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{116,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,452},{116,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{116,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,460},{116,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{116,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,574},{114,112}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,568},{114,112}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{114,112}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,344},{120,112}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{120,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,230},{124,112}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_Hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,228},{124,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{104,116}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,62},{104,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,112},{120,126}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,56},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,118},{124,112}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,448},{118,110}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,67},{118,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{116,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,67},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,462},{116,110}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{116,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{124,110}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{130,110}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{132,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{132,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{134,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{134,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,574},{114,104}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{114,108}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{114,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{118,118}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,570},{114,112}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,452},{118,114}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{118,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,232},{122,112}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{122,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,342},{122,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{122,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,226},{124,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{124,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,116},{124,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,234},{124,110}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,116},{124,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,140}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{152,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{124,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{124,114}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{124,116}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,112},{124,116}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,230},{122,116}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{122,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,346},{120,114}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,62},{120,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,334},{118,112}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{118,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,684},{114,110}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,348},{118,110}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{118,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,346},{120,110}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,66},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{124,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>shorty_blakk_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,114},{124,112}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shorty_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90d74f26c712f0c213aa7199d5b38f9:cbcfc3c3791bf9acf4c0350bdde9bf99:846d0782af5a64680a72b101128324e9$</string>
            <key>textureFileName</key>
            <string>ss_shorty_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
