<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheepgang3_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{132,126}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,52},{132,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,116},{136,130}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,50},{136,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,454},{128,120}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{128,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,332},{130,120}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{130,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,116},{136,112}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{136,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{148,112}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{148,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,112}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{148,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{146,112}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{146,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{144,112}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{144,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,116},{140,110}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,68},{140,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,830},{120,108}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,70},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,802},{124,124}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{124,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{126,124}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,54},{126,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,694},{126,124}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,54},{126,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,820},{124,120}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{124,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{124,116}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{132,112}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,116},{142,112}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{142,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,112}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{148,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,112}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,66},{148,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{144,112}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{144,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{140,112}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,66},{140,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,228},{136,114}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{136,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,372},{132,116}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{132,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,230},{134,116}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{128,116}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,596},{124,114}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,248},{132,122}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,56},{132,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,348},{132,116}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{132,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,136},{134,116}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{134,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,254},{132,116}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{132,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,344},{130,114}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,64},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,712},{124,112}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,722},{118,108}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{118,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,810},{120,108}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,810},{122,110}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{122,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,716},{122,112}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{122,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,696},{124,112}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{124,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,596},{124,114}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,64},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{124,114}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{124,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,574},{126,120}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{126,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,576},{128,116}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,230},{132,100}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,77},{132,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{132,104}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,490},{130,104}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,466},{130,106}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,72},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,372},{130,108}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,690},{128,110}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{128,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,578},{128,112}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{128,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,482},{128,114}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{128,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{130,114}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{130,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,336},{130,116}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,62},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,572},{128,116}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,692},{126,116}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,460},{128,116}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,454},{128,116}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{128,116}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,62},{128,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,598},{126,116}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{126,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,928},{116,106}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,922},{116,106}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,942},{116,104}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{116,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,826},{114,112}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{114,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1054},{112,100}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{112,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1034},{112,104}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{112,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,940},{112,108}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,832},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1048},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,940},{112,114}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,63},{112,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,920},{112,114}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,63},{112,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1036},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheepgang3_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1030},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheepgang03-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b70a52f91566392a5ebd60fb101bc2c:fc8d70b5388b90da07b5b79271811c2a:36d3881a9526b67f05a9b15f101ad161$</string>
            <key>textureFileName</key>
            <string>ss_scrapheepgang03-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
