<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>securitygun_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,674},{84,72}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,770},{80,72}}</string>
                <key>offset</key>
                <string>{-25,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,476},{98,66}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,128},{112,62}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{112,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{120,58}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{120,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,58}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{124,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,58}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{126,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{122,58}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,926},{74,60}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{74,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,848},{68,60}}</string>
                <key>offset</key>
                <string>{-31,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{68,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,682},{84,58}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{84,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,62},{114,60}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{122,58}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{122,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{122,58}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{122,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{116,62}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{116,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,124},{112,64}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{112,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{98,66}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{76,76}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{76,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{90,66}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{90,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,610},{86,66}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,678},{84,68}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,544},{86,70}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,612},{94,64}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{94,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,396},{98,76}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{98,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,124},{106,64}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{106,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,190},{106,62}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{106,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{104,64}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,254},{104,64}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,190},{104,64}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{104,64}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,392},{102,66}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,544},{98,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,544},{98,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,332},{102,66}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,530},{98,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{98,68}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,474},{98,68}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,538},{96,70}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{96,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,320},{102,70}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{102,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,460},{98,68}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,400},{98,68}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,68}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{98,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,328},{102,66}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{102,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,190},{100,62}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,62},{116,64}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{116,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,192},{104,68}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{108,70}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,62},{114,60}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{114,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{102,80}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{102,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{82,94}}</string>
                <key>offset</key>
                <string>{-24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{82,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{68,76}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{68,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,742},{82,66}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,616},{86,56}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{86,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,392},{88,82}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,292},{82,98}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{82,98}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,678},{90,90}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{90,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{86,84}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{86,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{92,78}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{92,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,256},{102,74}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{102,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>securitygun_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,470},{98,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{98,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_securitygun.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c14ba024a08a61579758e47de6512b1d:6ab9dbbda3bd580de86a067c410809b8:2385af33acfcb6753ca97d11a4fb8eda$</string>
            <key>textureFileName</key>
            <string>ss_securitygun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
