<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheep4_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{122,124}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,53},{122,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{124,128}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,51},{124,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,842},{118,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,580},{120,116}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{120,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{124,116}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,118},{134,112}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{134,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{134,114}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{134,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,120},{136,114}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,63},{136,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{138,116}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{138,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{142,118}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{142,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1078},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,968},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,936},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,878},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,804},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,794},{112,118}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,732},{118,118}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,122},{130,118}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{130,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{142,118}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{142,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{140,118}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{140,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{136,118}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{136,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,232},{130,116}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{130,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,370},{124,118}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{124,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,672},{120,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{120,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,448},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,160}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{158,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,364},{120,124}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,53},{120,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,374},{118,124}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,53},{118,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,122},{124,126}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,51},{124,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,248},{124,124}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{124,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{126,126}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{126,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,436},{124,124}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{124,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,490},{122,122}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{122,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,614},{116,120}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,57},{116,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,818},{112,116}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,61},{112,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,704},{112,118}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,59},{112,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{114,120}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,57},{114,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,726},{114,120}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,57},{114,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,610},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,818},{116,118}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,59},{116,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{116,116}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{116,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{116,116}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{116,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{116,116}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{116,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,686},{118,116}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{118,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,686},{118,116}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,61},{118,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,698},{118,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,698},{118,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,564},{120,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{120,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,564},{120,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{120,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,248},{120,124}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{120,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,248},{120,124}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{120,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,236},{120,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,236},{120,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,122},{120,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,122},{120,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,242},{118,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{118,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,242},{118,126}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{118,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,244},{118,126}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{118,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,244},{118,126}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,51},{118,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,446},{116,124}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{116,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,446},{116,124}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{116,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_idle_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,494},{114,122}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,55},{114,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,562},{108,122}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,54},{108,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{114,118}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,58},{114,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{118,116}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{118,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,962},{118,114}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{118,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,852},{118,114}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,62},{118,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,760},{116,118}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{116,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,650},{108,120}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,56},{108,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,602},{100,122}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{100,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,486},{92,124}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,52},{92,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,358},{86,126}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,50},{86,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,362},{84,126}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,50},{84,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,350},{84,126}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,50},{84,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,476},{84,124}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{84,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,350},{84,124}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,52},{84,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>scrapheep4_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,564},{84,122}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{84,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheepgang04-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73a73f354caa77602fcfc4c843644b6:e241412b0c08561dfc8e3866bad17a43:2caef9e3b02d173f8627d0a2de2d6065$</string>
            <key>textureFileName</key>
            <string>ss_scrapheepgang04-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
