<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1330},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,336},{118,102}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,232},{114,102}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,128},{114,102}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1054},{116,102}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,542},{120,102}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1230},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1260},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{124,102}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,308},{124,102}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1226},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1126},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1330},{122,102}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,100}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1124},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,748},{120,100}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,952},{118,100}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1742},{116,100}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1742},{116,100}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{116,100}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1158},{116,100}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,850},{118,100}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,440},{118,100}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,646},{120,100}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1640},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1638},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1568},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1538},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1024},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1022},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,922},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,206},{126,100}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{126,100}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,100}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,100}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,206},{126,100}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,920},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1536},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1466},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1436},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1434},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Idl_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1364},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{126,104}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{124,106}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,820},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,818},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,718},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1334},{122,100}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,716},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,616},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,614},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,104},{126,100}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,104},{126,100}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,514},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,512},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,412},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,410},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,308},{124,100}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_titan.pvr.ccz</string>
            <key>size</key>
            <string>{502,1844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80f16bca19ef67866eb1bdf989007416:06cb0ecfd9adadeab0c9f775fc1d54e5:96ea78a2c9116405f91f7d9f043cc2ec$</string>
            <key>textureFileName</key>
            <string>ss_titan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
