<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,364},{80,72}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,660},{76,68}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,590},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,718},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,650},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,648},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,590},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,520},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,648},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,718},{76,70}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{76,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,660},{76,70}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{76,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,506},{78,70}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,438},{78,70}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{76,68}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,158},{84,68}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{82,68}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,292},{82,68}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,310},{82,68}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{82,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,380},{80,68}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,380},{80,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,580},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{108,86}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{108,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,788},{76,68}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,292},{80,74}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{80,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{80,72}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,212},{82,78}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{82,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,286},{82,76}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{82,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,72},{84,78}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,210},{86,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,210},{86,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,228},{86,80}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,362},{80,72}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{80,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,578},{78,68}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,720},{76,68}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{76,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,520},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,450},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,578},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,510},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{80,68}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,436},{80,68}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,368},{80,68}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{80,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,508},{78,68}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,450},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,438},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{78,68}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{78,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,730},{76,66}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{86,72}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{86,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,210},{96,74}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,142},{100,66}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{100,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,72},{106,66}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{106,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{112,68}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,68}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{116,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,68}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{116,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{112,68}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{104,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,72},{104,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{104,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,140},{104,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>turret_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,72},{104,68}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{104,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_turret.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424110a0685cfd5ebc227b1ea37c71c5:d5449941f6d6cb1207913666ff7ce3cb:995eedc465f060e830d1322a40234f32$</string>
            <key>textureFileName</key>
            <string>ss_turret.pvr.ccz</string>
        </dict>
    </dict>
</plist>
