<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1414},{244,200}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,202},{236,200}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{228,200}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{228,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,402},{226,200}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{226,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,402},{232,200}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,402},{240,200}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1212},{242,200}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1412},{244,200}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1212},{244,200}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1818},{246,200}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1616},{248,200}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1212},{244,200}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1010},{242,200}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,606},{242,200}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1414},{244,200}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1010},{256,200}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,202},{246,198}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,202},{240,198}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,202},{236,198}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{230,198}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{230,198}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{232,198}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{232,198}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{234,198}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{236,198}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,198}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,202},{244,198}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,198}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,198}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1210},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1210},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,806},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,806},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1818},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1816},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1616},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1616},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1010},{252,200}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1008},{252,200}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1008},{254,200}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,606},{256,200}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{252,200}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1614},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1212},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,606},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,604},{242,200}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,402},{242,200}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,604},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Idl_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,404},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1818},{252,208}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,208}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1818},{250,214}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,214}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1414},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1414},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,404},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,202},{244,200}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1414},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1412},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1010},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,808},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1616},{250,200}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1616},{250,200}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,808},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,604},{248,200}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,808},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,806},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{246,200}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,200}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_titan-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1772,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80f16bca19ef67866eb1bdf989007416:06cb0ecfd9adadeab0c9f775fc1d54e5:96ea78a2c9116405f91f7d9f043cc2ec$</string>
            <key>textureFileName</key>
            <string>ss_titan-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
