<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{158,142}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{158,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1418},{152,134}}</string>
                <key>offset</key>
                <string>{-26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{152,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1406},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1384},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{154,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1142},{154,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1130},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1108},{154,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1022},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1020},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{156,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{156,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{148,138}}</string>
                <key>offset</key>
                <string>{-25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{148,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1160},{152,138}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{152,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,882},{154,138}}</string>
                <key>offset</key>
                <string>{-28,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{154,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,852},{156,138}}</string>
                <key>offset</key>
                <string>{-29,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{156,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1438},{148,136}}</string>
                <key>offset</key>
                <string>{-25,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{148,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{166,136}}</string>
                <key>offset</key>
                <string>{-17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{166,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,556},{164,136}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{164,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,566},{162,136}}</string>
                <key>offset</key>
                <string>{-18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{162,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,744},{160,136}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{160,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,832},{158,136}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{158,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,866},{156,136}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{156,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1384},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{214,170}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{214,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,606},{150,134}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{150,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,704},{158,146}}</string>
                <key>offset</key>
                <string>{-30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{158,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,876},{156,142}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{156,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,410},{164,154}}</string>
                <key>offset</key>
                <string>{-33,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{164,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,568},{160,150}}</string>
                <key>offset</key>
                <string>{-31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{160,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,410},{166,156}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{166,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,444},{168,160}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{168,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,444},{168,160}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{168,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,282},{168,160}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{168,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,720},{158,144}}</string>
                <key>offset</key>
                <string>{-30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{158,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1158},{154,134}}</string>
                <key>offset</key>
                <string>{-28,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{154,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1432},{148,136}}</string>
                <key>offset</key>
                <string>{-25,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{148,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1300},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1294},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1280},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1268},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1384},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,694},{160,136}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{160,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,606},{160,136}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{160,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{160,136}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{160,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1246},{152,136}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{152,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1004},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,992},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,970},{154,136}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{154,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,742},{150,132}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{150,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,138},{172,142}}</string>
                <key>offset</key>
                <string>{-16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{172,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,408},{192,146}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{192,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,274},{196,132}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{196,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,138},{212,132}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,46},{212,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{220,134}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{220,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,134}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{230,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,134}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{228,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{224,134}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{224,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,138},{208,134}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{208,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,274},{206,134}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,138},{206,134}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{206,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{206,136}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{206,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>turret_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,272},{206,136}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{206,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_turret-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424110a0685cfd5ebc227b1ea37c71c5:d5449941f6d6cb1207913666ff7ce3cb:995eedc465f060e830d1322a40234f32$</string>
            <key>textureFileName</key>
            <string>ss_turret-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
