<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>technician_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,212},{124,122}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{124,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,640},{116,116}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,62},{116,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{116,102}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,324},{122,102}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{134,102}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{134,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,106},{144,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{144,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{146,102}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{146,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{148,102}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{148,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,102}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{150,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,102}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{152,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,654},{114,106}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,106},{132,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,108},{126,104}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,106},{126,104}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,108},{140,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{140,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{146,104}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{146,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{144,104}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,73},{144,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{132,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,322},{122,102}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{122,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,756},{116,102}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{142,122}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,61},{142,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,146},{124,128}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,50},{124,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,214},{122,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,57},{122,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,530},{118,116}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{118,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,390},{120,112}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{120,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{120,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,446},{120,104}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{120,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,214},{122,100}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{122,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,428},{120,100}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,77},{120,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,550},{118,102}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{118,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,680},{116,102}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,762},{114,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,758},{114,104}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,750},{114,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,860},{114,106}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,72},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,648},{116,106}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,572},{116,106}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,504},{120,110}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,336},{120,108}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,426},{120,106}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{120,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{122,106}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,444},{120,104}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{120,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{120,102}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{120,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,534},{118,104}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{118,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,616},{116,104}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,74},{116,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{114,106}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,544},{116,106}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,652},{116,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{116,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{118,100}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{118,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,210},{118,98}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{118,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,552},{118,100}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{118,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,330},{120,104}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,74},{120,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,336},{120,106}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{120,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,432},{120,110}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,68},{120,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,210},{122,112}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{122,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,316},{120,114}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,64},{120,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,452},{118,118}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,60},{118,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,272},{116,120}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{116,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>technician_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{116,122}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,56},{116,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_technician-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21548f779260893e969b74fc15f65515:840b57bb51fa75c1911512033788df4f:fa53b5eccaba93f4de3716302a63779f$</string>
            <key>textureFileName</key>
            <string>ss_technician-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
