<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twist_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{130,112}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{130,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,120},{128,108}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,212},{132,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{138,104}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{138,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,104}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{142,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,754},{114,104}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,650},{114,104}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,73},{114,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,558},{114,106}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,756},{112,106}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{112,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,666},{112,108}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{112,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,548},{114,110}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{114,110}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,646},{114,110}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,67},{114,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,644},{116,108}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{116,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,448},{120,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{120,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,438},{124,108}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,428},{126,108}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{135,116}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,61},{135,116}}</string>
                <key>sourceSize</key>
                <string>{257,222}</string>
            </dict>
            <key>twist_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,436},{124,108}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,106},{132,112}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{132,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,110},{128,108}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,448},{124,106}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,71},{124,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{136,102}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{136,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,102}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{136,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,106},{134,104}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{134,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,216},{132,104}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,320},{128,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,538},{126,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,536},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,438},{126,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,340},{126,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,220},{128,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{132,108}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{132,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,108},{132,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{130,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{130,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,322},{128,104}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,330},{126,106}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,220},{126,108}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,328},{126,108}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,230},{126,108}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,220},{126,108}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,110},{126,108}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{126,108}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,428},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,330},{126,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,546},{124,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{124,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,546},{120,102}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{120,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,330},{116,104}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{116,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,660},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,650},{112,110}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{112,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,872},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,872},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,574},{112,114}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,63},{112,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>twist_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,758},{112,112}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{112,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_twist-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2d440eb2d3c2ec243386d5f860b59a4:50c32d845994f9fdd0a64f5491034fb4:c05b290b0f4a88ad374faddb7bb3037e$</string>
            <key>textureFileName</key>
            <string>ss_twist-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
