<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggo_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,912},{84,78}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{84,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{78,88}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{78,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,206},{94,76}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{94,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{98,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{98,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{102,74}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{102,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,76},{102,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{98,94}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{98,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,76},{100,92}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{100,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{106,74}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{106,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{106,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{104,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,150},{98,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{98,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,174},{96,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{96,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,408},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,408},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,106},{98,82}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{98,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,786},{78,86}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{78,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,912},{80,84}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,744},{78,86}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{78,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,902},{82,78}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{82,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,824},{84,76}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,834},{86,76}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{88,78}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{88,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,926},{88,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{88,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,788},{90,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{90,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,758},{90,74}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,710},{90,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,668},{90,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{90,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,454},{92,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,486},{92,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{92,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,224},{94,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{94,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,224},{94,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{94,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,376},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,326},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,170},{94,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{94,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{94,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{94,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,284},{92,76}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{92,76}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,480},{90,76}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,712},{90,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,682},{90,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,634},{90,74}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,592},{90,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{90,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,404},{92,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,362},{92,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{92,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,330},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,330},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,298},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,248},{92,76}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{92,78}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{92,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,636},{90,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{90,78}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{90,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,250},{92,78}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{92,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,438},{90,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,606},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,516},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,560},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,438},{90,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,606},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,516},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,560},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,530},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,438},{90,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,606},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,516},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,560},{90,74}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,530},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_win_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,530},{90,74}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggo.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e494f5cb76316b63c957de76a9e19df:7f35481811d0df62e4a3e5f9bd24e765:05a02ebcb485e4a0743209dec4207d55$</string>
            <key>textureFileName</key>
            <string>ss_viggo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
