<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voodoo_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,632},{82,86}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,242},{82,86}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{82,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,446},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{110,72}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{112,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{112,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{112,72}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{112,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{110,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,524},{90,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{90,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,596},{88,78}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{88,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,326},{92,76}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{92,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{106,74}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{106,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{110,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{110,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,72}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{114,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,72}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{112,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,76},{108,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{108,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,374},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,150},{84,90}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{80,84}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{80,84}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,676},{80,86}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,598},{80,86}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{80,86}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,794},{82,78}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{82,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,404},{92,74}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{92,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{102,72}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{102,72}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{102,72}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,300},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{104,74}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{104,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,150},{102,74}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{102,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,520},{100,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,448},{100,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{100,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,448},{100,74}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,300},{102,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,298},{102,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,226},{102,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{102,72}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,150},{104,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{104,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,226},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,224},{102,72}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{102,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,556},{90,74}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,602},{88,76}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{88,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,680},{86,76}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{86,76}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,716},{86,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,680},{86,76}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{86,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{90,72}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{90,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,480},{90,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>voodoo_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,524},{96,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{96,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_voodoo.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd906fbdf1b2cc695f14e90d7c90cc3:d093f565166a2c6c2e7453d939bfd815:080cefd3006f9ec91d0801abf99b0dd5$</string>
            <key>textureFileName</key>
            <string>ss_voodoo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
