<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggo_minion2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,116},{178,126}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{178,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,124},{176,126}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{176,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,354},{174,112}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,65},{174,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,384},{174,110}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{174,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{174,110}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,67},{174,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,122},{178,112}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,65},{178,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{182,112}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{182,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{184,118}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{184,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{184,120}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,57},{184,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{184,120}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,57},{184,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1446},{144,120}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{144,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{144,118}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{144,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,606},{164,118}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{164,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,420},{170,114}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,63},{170,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,362},{174,110}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,67},{174,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,244},{174,110}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,67},{174,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,588},{166,114}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,63},{166,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,724},{162,116}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{162,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,136}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{198,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{172,120}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,57},{172,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,244},{174,116}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,61},{174,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,258},{174,124}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,53},{174,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{174,122}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{174,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,252},{174,124}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,53},{174,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{176,120}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{176,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,236},{176,116}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{176,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,468},{168,118}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{168,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,604},{164,118}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{164,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,704},{162,118}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,59},{162,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,726},{160,118}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{160,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{158,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,972},{158,118}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,968},{158,118}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{158,122}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,55},{158,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,846},{158,124}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{158,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,842},{158,124}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{158,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,824},{158,124}}</string>
                <key>offset</key>
                <string>{19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{158,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,960},{156,124}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,53},{156,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1108},{154,122}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,55},{154,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1190},{154,120}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,57},{154,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1088},{156,118}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,59},{156,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1092},{156,116}}</string>
                <key>offset</key>
                <string>{19,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{156,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1070},{156,118}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,59},{156,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,950},{158,118}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,868},{158,118}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{164,116}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{164,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,474},{166,114}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{166,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,490},{168,112}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{168,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,496},{168,108}}</string>
                <key>offset</key>
                <string>{18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,69},{168,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1210},{152,112}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,65},{152,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,742},{158,124}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{158,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1086},{154,128}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,49},{154,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1208},{152,124}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{152,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,716},{162,122}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{162,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,592},{162,122}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{162,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{154,140}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{154,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{150,162}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,15},{150,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,124},{132,176}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,1},{132,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{140,166}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,11},{140,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{146,136}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{146,136}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1458},{132,126}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{132,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1568},{124,124}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{124,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1312},{144,124}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{144,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1334},{144,122}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{144,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1340},{140,126}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{140,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{150,126}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{150,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1232},{144,128}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{144,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1362},{136,128}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,49},{136,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1438},{132,128}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,49},{132,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{158,126}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{158,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1216},{146,122}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,55},{146,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1324},{150,120}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{150,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,988},{156,118}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,59},{156,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>viggo_minion2_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,840},{158,118}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,59},{158,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggo_minion2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89869f6b1bdb85e6c9683cee8666a731:f03055676b0ac3acc9082fc8070e89aa:2d30a46690329577713f5b3ea8b94e04$</string>
            <key>textureFileName</key>
            <string>ss_viggo_minion2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
