<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voodoo_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{162,172}}</string>
                <key>offset</key>
                <string>{-49,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{162,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,286},{162,172}}</string>
                <key>offset</key>
                <string>{-49,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{162,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{204,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{218,142}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{218,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{224,140}}</string>
                <key>offset</key>
                <string>{18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,55},{224,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{222,140}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,55},{222,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,144},{220,140}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{220,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1096},{180,144}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{180,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1162},{174,154}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{174,154}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,944},{182,150}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{182,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,286},{210,148}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{210,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,144},{220,140}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,55},{220,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,142}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{228,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{224,142}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,53},{224,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,146},{214,142}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,53},{214,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,578},{204,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,460},{166,182}}</string>
                <key>offset</key>
                <string>{-47,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{166,182}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1478},{158,168}}</string>
                <key>offset</key>
                <string>{-49,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{158,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{158,166}}</string>
                <key>offset</key>
                <string>{-49,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{158,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1168},{160,170}}</string>
                <key>offset</key>
                <string>{-50,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{160,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1470},{158,168}}</string>
                <key>offset</key>
                <string>{-49,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{158,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1316},{160,172}}</string>
                <key>offset</key>
                <string>{-50,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{160,172}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1394},{162,156}}</string>
                <key>offset</key>
                <string>{-47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{162,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1012},{184,148}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{184,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,870},{202,140}}</string>
                <key>offset</key>
                <string>{-20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{202,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,726},{202,142}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,53},{202,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,582},{204,142}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{204,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,436},{204,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,436},{204,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{204,144}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{202,144}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,51},{202,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,872},{200,146}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{200,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,870},{198,146}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{198,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,796},{198,146}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,49},{198,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{200,144}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,51},{200,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,726},{202,144}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,51},{202,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,290},{204,144}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,724},{202,144}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,51},{202,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{204,144}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,286},{206,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,51},{206,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,432},{204,144}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{204,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,582},{204,142}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,53},{204,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{176,144}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{176,144}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1164},{174,150}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{174,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{172,150}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,45},{172,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1330},{170,150}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{170,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1242},{170,150}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{170,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1318},{170,150}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{170,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1020},{176,142}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{176,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1018},{180,148}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{180,148}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>voodoo_win_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,644},{192,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{192,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_voodoo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd906fbdf1b2cc695f14e90d7c90cc3:d093f565166a2c6c2e7453d939bfd815:080cefd3006f9ec91d0801abf99b0dd5$</string>
            <key>textureFileName</key>
            <string>ss_voodoo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
