<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggo_minion2_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{90,64}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{90,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,64},{88,64}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,132},{88,58}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{88,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,250},{88,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{88,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,192},{88,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{88,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{90,56}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{90,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{92,58}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{92,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{92,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{92,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{92,60}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{92,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{92,62}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{92,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,696},{74,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{74,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,700},{72,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{72,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,252},{84,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{84,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,132},{86,58}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{86,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,194},{88,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{88,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,192},{88,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{88,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,322},{84,58}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,368},{82,60}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,70}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{100,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,130},{88,60}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,130},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,124},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{88,62}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{88,60}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{84,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{84,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,252},{84,60}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{84,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{82,60}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,560},{80,60}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,506},{80,60}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,494},{80,60}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,446},{80,60}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,430},{80,62}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{80,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,390},{80,62}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{80,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,382},{80,62}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{80,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{80,64}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,508},{78,64}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,568},{78,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{78,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,574},{78,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{78,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,520},{78,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{78,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{78,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{78,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{80,60}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,498},{80,60}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,370},{82,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{82,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,308},{84,58}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,220},{84,58}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,314},{84,54}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{84,54}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{76,56}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{76,56}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,432},{80,64}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,454},{78,64}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{78,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,684},{76,62}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{76,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,314},{82,62}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,306},{82,62}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{82,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{78,70}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{76,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,62},{68,90}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,250},{70,84}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{70,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,582},{74,70}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{74,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,758},{68,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{68,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{62,62}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{62,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,654},{72,62}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{72,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,686},{74,62}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{72,64}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,620},{76,64}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{76,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,748},{72,64}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{72,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,750},{68,66}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{68,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,814},{66,66}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{66,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,378},{80,64}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{80,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,636},{74,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,632},{76,62}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{76,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,622},{78,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{78,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>viggo_minion2_win_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,444},{80,60}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{80,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggo_minion2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89869f6b1bdb85e6c9683cee8666a731:f03055676b0ac3acc9082fc8070e89aa:2d30a46690329577713f5b3ea8b94e04$</string>
            <key>textureFileName</key>
            <string>ss_viggo_minion2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
