<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>will_Fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,748},{126,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,318},{132,104}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,100},{140,96}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{140,96}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{140,96}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{140,96}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{140,96}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,970},{114,98}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{114,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,142}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{114,142}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,114},{114,138}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{114,138}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,332},{114,130}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,47},{114,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,784},{114,116}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,61},{114,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,912},{114,100}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{114,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,900},{114,100}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{114,100}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1000},{122,98}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,79},{122,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{140,96}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{140,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{138,96}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,81},{138,96}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,412},{132,92}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,85},{132,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,780},{126,98}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,79},{126,98}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,804},{116,106}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{116,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,942},{124,106}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{124,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,858},{124,110}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{124,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,230},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,198},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,210},{134,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,204},{134,106}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,71},{134,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,224},{132,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{132,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,566},{130,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{130,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{128,106}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,674},{128,106}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,616},{128,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,344},{130,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,73},{130,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,536},{128,106}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,678},{124,108}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,69},{124,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,558},{126,110}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,67},{126,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{126,106}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,862},{124,106}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{124,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,670},{126,108}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,448},{128,108}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{128,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,424},{130,110}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,418},{130,110}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,67},{130,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,506},{130,108}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{130,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,530},{128,106}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{128,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,678},{126,104}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,74},{126,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,892},{126,106}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,834},{126,106}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{126,108}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,782},{126,108}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,724},{126,108}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,644},{126,108}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_Idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,638},{126,108}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{126,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{138,108}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{138,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,100},{136,108}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{136,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,110}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,67},{140,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,312},{132,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,340},{134,102}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{134,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,100},{136,102}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{136,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,308},{134,102}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{134,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,450},{128,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,73},{128,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,880},{114,106}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{114,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{116,114}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,63},{116,114}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,556},{120,126}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,51},{120,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{122,132}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,45},{122,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,100},{122,134}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,43},{122,134}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,222},{120,132}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,45},{120,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,100},{120,132}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,45},{120,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,444},{120,130}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,47},{120,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{118,130}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,47},{118,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,754},{126,106}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,71},{126,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,312},{132,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,73},{132,104}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>will_win_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,340},{134,102}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,75},{134,102}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_will-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38da25a4d5eddfd323e67d0ee284159d:f19a3f8b166eb400b760c311966bb878:bf50967f2267053d36883e449c2efe58$</string>
            <key>textureFileName</key>
            <string>ss_will-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
