<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_electric_young_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{68,88}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{68,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_electric_young_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,128},{66,84}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{66,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,482},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,446},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,632},{60,72}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{60,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,572},{62,70}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{62,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,608},{64,66}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{64,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{60,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{58,82}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{58,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,118},{56,86}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,5},{56,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,74},{54,88}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,3},{54,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{54,92}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{54,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,58},{54,90}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,1},{54,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,70},{56,88}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,3},{56,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,60},{56,88}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,3},{56,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{56,88}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,3},{56,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_win_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{56,86}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{56,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,482},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,504},{60,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,590},{60,72}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{60,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{62,70}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{62,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,266},{74,68}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{74,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{90,70}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,194},{78,70}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{78,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,254},{74,74}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{74,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,234},{56,76}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{56,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,196},{56,76}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{56,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,176},{56,76}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{56,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{56,76}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{56,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,518},{58,74}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{58,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,462},{60,74}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_fire_young_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,456},{60,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_freeze_young_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,96}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,356},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,130},{62,84}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{62,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{66,88}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{66,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{64,86}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{64,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{60,82}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{60,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,242},{64,78}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{64,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,308},{68,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{68,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,252},{66,74}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{66,74}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,176},{64,74}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{64,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,320},{62,74}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{62,74}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,378},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,336},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_hit_young_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,356},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,420},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,384},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,330},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,578},{62,72}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,19},{62,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,544},{62,72}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{62,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,508},{62,72}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{62,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,566},{64,72}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,19},{64,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{62,72}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{62,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,524},{64,72}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{64,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,292},{62,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,442},{60,74}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,400},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,394},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blakk_idle_young_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,420},{60,74}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{60,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_young_blakk.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ebeaded250ce96d2c162e1e2660958:3140a0ec1c5d337f4f76aa2a747be617:187fa1b60002d2c539bc93f7dec75b35$</string>
            <key>textureFileName</key>
            <string>ss_young_blakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
