<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieguard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,192},{88,78}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{88,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{90,76}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,340},{88,60}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,130},{94,60}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{94,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,66},{96,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{96,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,62}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{98,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{98,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{98,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{96,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{96,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,66},{96,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{96,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,404},{86,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{88,64}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{80,66}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{80,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,558},{82,66}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,66},{94,64}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{94,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{96,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{96,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,94},{94,62}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{94,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,132},{90,64}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{90,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,472},{86,64}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{96,90}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{96,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{88,78}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{88,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,198},{88,74}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{88,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,198},{88,66}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{88,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,130},{90,66}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{90,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,274},{88,64}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,304},{88,62}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,332},{88,60}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{88,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,272},{88,62}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{88,62}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,266},{88,64}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,238},{88,64}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{88,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{86,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{88,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,402},{86,66}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,672},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,608},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,582},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,538},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,394},{86,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,368},{86,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,336},{86,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{86,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{86,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,472},{84,64}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{84,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,604},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,536},{84,66}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{84,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{86,64}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,470},{86,64}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,462},{86,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,436},{86,64}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{86,64}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,676},{82,74}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{82,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,740},{80,80}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,650},{78,82}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,642},{76,82}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,606},{78,82}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,528},{78,84}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{78,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>zombieguard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,502},{78,84}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{78,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_zombieguard.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a107102057f2e97a0bf1c8752f06ac73:449d92dfd6d9f0b170becd4fdda62d09:700883c9c9ae94ab41c1a5d17c32e1ff$</string>
            <key>textureFileName</key>
            <string>ss_zombieguard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
