<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieguard_electric_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,386},{174,156}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{174,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_electric_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,128},{178,150}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{178,150}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{172,118}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,59},{172,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,248},{188,120}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{188,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,126},{192,120}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,57},{192,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,122}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{194,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,122}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,55},{194,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{192,122}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{192,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,128},{190,124}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{190,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{190,124}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{190,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,564},{172,130}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,47},{172,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{174,126}}</string>
                <key>offset</key>
                <string>{-43,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{174,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1248},{158,130}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{158,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{162,128}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,49},{162,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,180},{188,124}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{188,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{190,124}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{190,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{186,124}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,53},{186,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,306},{178,124}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,53},{178,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,830},{170,126}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,51},{170,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_freeze_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{192,176}}</string>
                <key>offset</key>
                <string>{-26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{192,176}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,280},{174,156}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{174,156}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,432},{174,146}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{174,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,496},{174,132}}</string>
                <key>offset</key>
                <string>{-35,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{174,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,254},{178,130}}</string>
                <key>offset</key>
                <string>{-34,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{178,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,370},{176,124}}</string>
                <key>offset</key>
                <string>{-32,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,53},{176,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{176,120}}</string>
                <key>offset</key>
                <string>{-31,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,57},{176,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,580},{174,120}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,57},{174,120}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{174,122}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{174,122}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,438},{174,124}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,53},{174,124}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{174,126}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{174,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,564},{172,128}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,49},{172,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{172,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{172,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,630},{172,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{172,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1022},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,958},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,960},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,926},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,828},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,738},{168,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,696},{170,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{170,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{168,130}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{168,128}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1154},{168,128}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1090},{168,128}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1058},{168,128}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,890},{168,130}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{168,130}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,796},{170,128}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{170,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,762},{172,126}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{172,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,702},{172,126}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,51},{172,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,668},{172,126}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{172,126}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1284},{162,146}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{162,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1076},{156,160}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{156,160}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1220},{154,162}}</string>
                <key>offset</key>
                <string>{-24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{154,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1188},{152,164}}</string>
                <key>offset</key>
                <string>{-24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{152,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1234},{154,164}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{154,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1092},{154,164}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{154,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>zombieguard_win_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,908},{154,166}}</string>
                <key>offset</key>
                <string>{-25,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{154,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_zombieguard-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a107102057f2e97a0bf1c8752f06ac73:449d92dfd6d9f0b170becd4fdda62d09:700883c9c9ae94ab41c1a5d17c32e1ff$</string>
            <key>textureFileName</key>
            <string>ss_zombieguard-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
