<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/blakk/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,368}}</string>
                <key>sourceSize</key>
                <string>{490,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5862b17f31a2b7373aa79b1a5a208112:59935669ace1bad7c2ad8b658d5fa530:41d1c644abff40e7ecf8fce3e632269e$</string>
            <key>textureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
