<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/chapter17_blakk01/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,750}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chapter17_blakk01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6935da110f6b862b2c9ae038e58772d:e3ed76fa77997f00bedea2159c940780:03dc0b13b799bc93f16f2797627b0691$</string>
            <key>textureFileName</key>
            <string>ss_chapter17_blakk01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
