<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/darkbanecitadel/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{980,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,735}}</string>
                <key>sourceSize</key>
                <string>{980,735}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbanecitadel-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b81bba3cdb092d67ae6ed9ceadaf74:ca27c48f741d94078e3aa1a2f822a565:ab14201f002331ade6f04b4fc150d08a$</string>
            <key>textureFileName</key>
            <string>ss_darkbanecitadel-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
