<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/darkperiphery1/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,750}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkperiphery1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ebadd7302ee4a9183176ada0b24c8c:8bef28f7ef2e3d6681abbc7bbc3d041d:98930426fff467c2143fdf99be7d4527$</string>
            <key>textureFileName</key>
            <string>ss_darkperiphery1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
