<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/herringbone2/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,750}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_herringbone2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:896bcab8b84f291777891433af826673:449147a46e2acdae80929660d2e1cf04:d4bbd4e77e502eb0e26d8b2d5fc63788$</string>
            <key>textureFileName</key>
            <string>ss_herringbone2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
