<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/top_mast/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{980,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,735}}</string>
                <key>sourceSize</key>
                <string>{980,735}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_top_mast-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ff37c252650db74ed826ad03113d58:237b9302eabaf1e2a58c2c17ded92eb0:d6d6b663af926fd3d877331efc2f99ad$</string>
            <key>textureFileName</key>
            <string>ss_top_mast-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
