<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>location/tracks/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,368}}</string>
                <key>sourceSize</key>
                <string>{490,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_tracks.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f6cc866332492bad861e878dbd03dbe:87e2d61b2da164424772cec7409a6123:cd703ed6b97fe81baae1717c0f5c135f$</string>
            <key>textureFileName</key>
            <string>ss_tracks.pvr.ccz</string>
        </dict>
    </dict>
</plist>
