<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skins/goon2/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/goon2/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/goon3/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/goon3/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/goon4/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/goon4/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/guard/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/guard/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/guardbig1/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/guardbig1/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/horn/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/horn/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/hostile_miner/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/hostile_miner/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/inmate/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/inmate/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/inmate2/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/inmate2/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/jackbull/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/jackbull/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/kingofsling/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/kingofsling/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/kord/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/kord/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/madmax/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/madmax/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/marcus/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/marcus/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/mei/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/mei/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/mrsaturday/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/mrsaturday/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/munch/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/munch/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/nacho/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/nacho/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pirate2/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pirate2/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pirate_girl/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pirate_girl/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pronto/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/pronto/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/redhook/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/redhook/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/robo/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/robo/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang01/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang01/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang02/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_skins_purchase1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84bf2ee60e60049739863efaead93fdc:ebda8064142df1b7e94d618c3fab942f:1f291fe73566e4a258ff86709f73b4b3$</string>
            <key>textureFileName</key>
            <string>ss_skins_purchase1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
