<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skins/scrapheepgang02/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang03/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang03/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang04/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/scrapheepgang04/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/securitygun/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/securitygun/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/sedo/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/sedo/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shadow/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shadow/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shadowclanleader/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shadowclanleader/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shanai/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shanai/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shorty/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/shorty/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/spirex/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/spirex/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/technician/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/technician/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/titan/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/titan/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/trixie/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/trixie/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/turret/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/turret/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/turtle/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/turtle/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/twist/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/twist/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo_minion1/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo_minion1/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo_minion2/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/viggo_minion2/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/voodoo/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/voodoo/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/watts/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,815},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/watts/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/will/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/will/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/young_blakk/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/young_blakk/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1086},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/zombiechef/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/zombiechef/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/zombieguard/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1357},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>skins/zombieguard/store_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1628},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_skins_purchase0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84bf2ee60e60049739863efaead93fdc:ebda8064142df1b7e94d618c3fab942f:1f291fe73566e4a258ff86709f73b4b3$</string>
            <key>textureFileName</key>
            <string>ss_skins_purchase0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
