<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boosters_large/autocharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>boosters_large/blaster_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>boosters_large/blaster_velocity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>boosters_large/max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>boosters_large/pre_igniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>boosters_small/autocharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,815},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>boosters_small/blaster_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,896},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>boosters_small/blaster_velocity.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,815},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>boosters_small/max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>boosters_small/pre_igniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_boosters-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82c77582d8280d3ac9a131a2167b870a:bc637d6ecd9c69c4ff7049b3c9c13ae3:ac23fef6f1fa3ce69db0f33bbb868f5b$</string>
            <key>textureFileName</key>
            <string>ss_boosters-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
