<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carousel/disc.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{446,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,90}}</string>
                <key>sourceSize</key>
                <string>{446,90}</string>
            </dict>
            <key>carousel/slot_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,92},{179,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,153}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>carousel/slug_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,115}}</string>
                <key>sourceSize</key>
                <string>{510,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_carousel_pvrtc.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3efd1484ecf02e6664d86901ad1f7bb:f4e979bea0b75ddd584d21f71337c40c:41576f095c904e5c5b576b68d7b46b6f$</string>
            <key>textureFileName</key>
            <string>ss_carousel_pvrtc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
