<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carousel/badge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{1,1}}</string>
                <key>offset</key>
                <string>{-110,126.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{221,254}</string>
            </dict>
            <key>carousel/badge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{209,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>carousel/btn_info_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,422},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>carousel/btn_info_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,444},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>carousel/buy_icons.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,449},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>carousel/highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,332}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{197,332}}</string>
                <key>sourceSize</key>
                <string>{283,454}</string>
            </dict>
            <key>carousel/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,336},{60,84}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{60,84}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>carousel/lock_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,336},{62,106}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,106}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>carousel/sales.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{115,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,111}}</string>
                <key>sourceSize</key>
                <string>{115,113}</string>
            </dict>
            <key>carousel/slug_lvl_number_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_carousel-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf5fad53aacaa3c501321706d0f335ce:9dcfb29515a7c2b49e1692aeaae76ab4:8f2f2ae54288918dc3e82d34b3d69d1f$</string>
            <key>textureFileName</key>
            <string>ss_carousel-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
