<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carousel/badge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{1,1}}</string>
                <key>offset</key>
                <string>{-55,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,127}</string>
            </dict>
            <key>carousel/badge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>carousel/btn_info_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,109},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>carousel/btn_info_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,215},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>carousel/buy_icons.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,228},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>carousel/highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,165}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{98,165}}</string>
                <key>sourceSize</key>
                <string>{142,227}</string>
            </dict>
            <key>carousel/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,169},{31,44}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{31,44}}</string>
                <key>sourceSize</key>
                <string>{35,78}</string>
            </dict>
            <key>carousel/lock_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,169},{31,54}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,54}}</string>
                <key>sourceSize</key>
                <string>{35,78}</string>
            </dict>
            <key>carousel/sales.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>carousel/slug_lvl_number_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_carousel.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf5fad53aacaa3c501321706d0f335ce:9dcfb29515a7c2b49e1692aeaae76ab4:8f2f2ae54288918dc3e82d34b3d69d1f$</string>
            <key>textureFileName</key>
            <string>ss_carousel.pvr.ccz</string>
        </dict>
    </dict>
</plist>
