<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leaderboard/multiplayer_achievement_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,461},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>leaderboard/multiplayer_achievement_leaderboard_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>leaderboard/result_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,202}</string>
            </dict>
            <key>leaderboard/result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,461},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
            <key>leaderboard/result_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,202}</string>
            </dict>
            <key>leaderboard/result_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,461},{118,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,25}}</string>
                <key>sourceSize</key>
                <string>{118,25}</string>
            </dict>
            <key>leaderboard/result_board_name_hightlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{511,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,49}}</string>
                <key>sourceSize</key>
                <string>{511,49}</string>
            </dict>
            <key>leaderboard/result_board_white_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{511,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,5}}</string>
                <key>sourceSize</key>
                <string>{511,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_leaderboard.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ccff3c45f3329832291d1dbc9bd56e:1b29218518240818f1c40a553d0eacb6:12bbf843b11cd17368bbaee285ce99a0$</string>
            <key>textureFileName</key>
            <string>ss_leaderboard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
