<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>topHUD/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,51},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,29},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/autocharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,29},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/autocharge_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,29},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>topHUD/bag_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,54},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{22,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>topHUD/blaster_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,69},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/blaster_damage_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>topHUD/blaster_velocity.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,51},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/blaster_velocity_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>topHUD/character_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>topHUD/max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/pre_igniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>topHUD/pre_igniter_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,27},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>topHUD/revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>topHUD/store_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_topHUD.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6acbaf30452bf470a6605d11f2d13208:8c6698f0ce577123c9da13b3aa5ebb5a:9ed0f2caedea3831fac297194aef3c85$</string>
            <key>textureFileName</key>
            <string>ss_topHUD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
