<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_ui/base_icons/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,512},{31,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/classic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,456},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/classic_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,423},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,471},{27,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{27,31}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/credit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,187},{12,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{12,30}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/leaderboard_gamecenter_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,468},{28,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{28,28}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,498},{23,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{23,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,549},{29,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{29,23}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/music_41_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,520},{30,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{30,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/music_41_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,374},{24,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{24,26}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,333},{35,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,490},{27,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{27,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/news_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,295},{22,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{22,26}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/next.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,489},{31,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/option.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,468},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/option_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,456},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,549},{29,27}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{29,27}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{21,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{21,23}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,524},{23,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{23,23}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/redeem_code_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,346},{24,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{24,26}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,519},{29,29}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{29,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/reset_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,402},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,221},{25,27}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{25,27}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/sound_41_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,519},{30,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{30,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/sound_41_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,155},{20,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,292},{35,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,496},{23,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{23,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,458},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/store_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,468},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{28,26}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/base_icons/title_screen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,423},{33,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{33,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>common_ui/base_icons/video_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,468},{28,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{28,20}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_ui/block_real_store/store_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,393},{112,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,31}}</string>
                <key>sourceSize</key>
                <string>{112,31}</string>
            </dict>
            <key>common_ui/block_real_store/store_button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,360},{112,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,31}}</string>
                <key>sourceSize</key>
                <string>{112,31}</string>
            </dict>
            <key>common_ui/block_virtual_store/booster_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,277},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{39,40}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_powerup_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,126},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_powerup_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,126},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_slughud_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,83},{181,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{181,53}}</string>
                <key>sourceSize</key>
                <string>{181,61}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_slughud_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,83},{181,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{181,53}}</string>
                <key>sourceSize</key>
                <string>{181,61}</string>
            </dict>
            <key>common_ui/modal/loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,122},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_ui/modal/modal_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,295},{139,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,34}}</string>
                <key>sourceSize</key>
                <string>{139,34}</string>
            </dict>
            <key>tutorial_ui/coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,319},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>tutorial_ui/coins_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,155},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>tutorial_ui/slot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,331},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>tutorial_ui/tutorial_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,222},{83,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,56}}</string>
                <key>sourceSize</key>
                <string>{83,56}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{170,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{170,168}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,152},{170,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,1}}</string>
                <key>sourceSize</key>
                <string>{170,1}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,138},{170,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,12}}</string>
                <key>sourceSize</key>
                <string>{170,12}</string>
            </dict>
            <key>ui/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,512},{31,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/black_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,48}}</string>
                <key>sourceSize</key>
                <string>{512,48}</string>
            </dict>
            <key>ui/black_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{512,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,31}}</string>
                <key>sourceSize</key>
                <string>{512,31}</string>
            </dict>
            <key>ui/btn_back_long_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>ui/btn_back_long_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,428},{123,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,41}}</string>
                <key>sourceSize</key>
                <string>{123,41}</string>
            </dict>
            <key>ui/btn_back_short_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,413},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>ui/btn_back_short_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{114,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>ui/btn_circle_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,167},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/btn_circle_toggle_off_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,343},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,61}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/btn_circle_toggle_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,280},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,61}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/btn_circle_toggle_on_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,297},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,61}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/btn_circle_toggle_on_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,234},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,61}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/btn_gc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,83},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ui/btn_gc_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,374},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{35,37}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ui/classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/classic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,456},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/classic_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,423},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,471},{27,31}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{27,31}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,138},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ui/go_buy_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,258},{142,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{142,35}</string>
            </dict>
            <key>ui/go_buy_modal_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,221},{142,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,35}}</string>
                <key>sourceSize</key>
                <string>{142,35}</string>
            </dict>
            <key>ui/grey_9scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{120,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,43}}</string>
                <key>sourceSize</key>
                <string>{120,43}</string>
            </dict>
            <key>ui/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,498},{23,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{23,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,549},{29,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{29,23}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,333},{35,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,490},{27,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{27,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,537},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ui/next.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,489},{31,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,519},{29,29}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{29,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,221},{25,27}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{25,27}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,292},{35,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,496},{23,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{23,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,458},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{31,29}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/store_coins_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,323},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>ui/title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{280,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,37}}</string>
                <key>sourceSize</key>
                <string>{280,37}</string>
            </dict>
            <key>ui/title_screen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,423},{33,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{33,33}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>ui/white_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,250},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ui.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d95c2e5a412e5fffbf5850702b596065:6b200502494e1b3beb3db96f0408d4e7:4a07713a4b382bd967aa25dede318967$</string>
            <key>textureFileName</key>
            <string>ss_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
