<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/bg_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,314}}</string>
                <key>sourceSize</key>
                <string>{458,314}</string>
            </dict>
            <key>ui/dlg_bg_simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{226,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{226,140}}</string>
                <key>sourceSize</key>
                <string>{230,144}</string>
            </dict>
            <key>ui/icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{26,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{26,29}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui/icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,23},{14,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ui/icon_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ui/icon_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,33},{24,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{24,35}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ui_16.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dba33873ea12b537f1bb7ff3454035a4:5468761b918d23234a61e214b716776a:10cd34ed54a4c2aecf1eefb92f650078$</string>
            <key>textureFileName</key>
            <string>ss_ui_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
