<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui/bg_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{916,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{916,628}}</string>
                <key>sourceSize</key>
                <string>{916,628}</string>
            </dict>
            <key>ui/dlg_bg_simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{450,278}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{450,278}}</string>
                <key>sourceSize</key>
                <string>{460,288}</string>
            </dict>
            <key>ui/icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{49,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{49,54}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,74},{26,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ui/icon_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,58},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>ui/icon_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{45,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{45,70}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ui_16-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dba33873ea12b537f1bb7ff3454035a4:5468761b918d23234a61e214b716776a:10cd34ed54a4c2aecf1eefb92f650078$</string>
            <key>textureFileName</key>
            <string>ss_ui_16-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
