<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_ui/base_icons/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,965},{61,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{61,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,284},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/classic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,510},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/classic_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,510},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,965},{53,59}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{53,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/credit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,564},{24,58}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{24,58}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/leaderboard_gamecenter_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,901},{54,54}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{54,54}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,881},{45,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{45,63}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,710},{55,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{55,45}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/music_41_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,881},{60,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{60,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/music_41_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,960},{46,52}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{46,52}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,487},{67,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{67,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,901},{51,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{51,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/news_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,699},{44,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{44,50}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/next.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,965},{61,57}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{61,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/option.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,791},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/option_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,791},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,905},{55,49}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{55,49}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,710},{39,45}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{39,45}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,959},{43,43}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{43,43}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/redeem_code_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,905},{46,52}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{46,52}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,901},{55,55}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{55,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/reset_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,959},{48,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{48,48}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,757},{45,53}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{45,53}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/sound_41_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,629},{60,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{60,68}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/sound_41_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,757},{38,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{38,58}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,633},{67,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{67,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,757},{43,65}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{43,65}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,901},{59,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{59,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/store_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,951},{54,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{54,50}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/base_icons/title_screen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,564},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{63,63}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>common_ui/base_icons/video_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,824},{54,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{54,38}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>common_ui/block_real_store/store_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,962},{224,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,62}}</string>
                <key>sourceSize</key>
                <string>{224,62}</string>
            </dict>
            <key>common_ui/block_real_store/store_button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,962},{224,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,62}}</string>
                <key>sourceSize</key>
                <string>{224,62}</string>
            </dict>
            <key>common_ui/block_virtual_store/booster_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,757},{76,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{76,75}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_powerup_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,407},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_powerup_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,407},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_slughud_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,235},{362,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{362,105}}</string>
                <key>sourceSize</key>
                <string>{362,121}</string>
            </dict>
            <key>common_ui/block_virtual_store/btn_slughud_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,235},{362,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{362,105}}</string>
                <key>sourceSize</key>
                <string>{362,121}</string>
            </dict>
            <key>common_ui/modal/loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>common_ui/modal/modal_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,640},{277,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,68}}</string>
                <key>sourceSize</key>
                <string>{277,68}</string>
            </dict>
            <key>tutorial_ui/coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,630},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>tutorial_ui/coins_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{296,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,128}}</string>
                <key>sourceSize</key>
                <string>{296,128}</string>
            </dict>
            <key>tutorial_ui/slot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>tutorial_ui/tutorial_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,235},{166,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,111}}</string>
                <key>sourceSize</key>
                <string>{166,111}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{340,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,335}}</string>
                <key>sourceSize</key>
                <string>{340,335}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,959},{340,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,1}}</string>
                <key>sourceSize</key>
                <string>{340,1}</string>
            </dict>
            <key>tutorial_ui/tutorial_modal_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,472},{340,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,24}}</string>
                <key>sourceSize</key>
                <string>{340,24}</string>
            </dict>
            <key>ui/back.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,965},{61,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{61,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/black_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,95}}</string>
                <key>sourceSize</key>
                <string>{1024,95}</string>
            </dict>
            <key>ui/black_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,97},{1024,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,61}}</string>
                <key>sourceSize</key>
                <string>{1024,61}</string>
            </dict>
            <key>ui/btn_back_long_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,791},{246,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,79}}</string>
                <key>sourceSize</key>
                <string>{246,81}</string>
            </dict>
            <key>ui/btn_back_long_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,710},{246,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,79}}</string>
                <key>sourceSize</key>
                <string>{246,81}</string>
            </dict>
            <key>ui/btn_back_short_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,429},{227,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,79}}</string>
                <key>sourceSize</key>
                <string>{227,81}</string>
            </dict>
            <key>ui/btn_back_short_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,348},{227,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,79}}</string>
                <key>sourceSize</key>
                <string>{227,81}</string>
            </dict>
            <key>ui/btn_circle_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,498},{131,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/btn_circle_toggle_off_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,757},{121,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{121,122}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/btn_circle_toggle_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,633},{121,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{121,122}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/btn_circle_toggle_on_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,633},{121,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{121,122}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/btn_circle_toggle_on_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,160},{121,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{121,122}}</string>
                <key>sourceSize</key>
                <string>{131,130}</string>
            </dict>
            <key>ui/btn_gc_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,710},{79,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{79,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/btn_gc_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,834},{69,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{69,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,284},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/classic_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,510},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/classic_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,510},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,965},{53,59}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{53,59}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,429},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ui/go_buy_modal.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,569},{283,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,69}}</string>
                <key>sourceSize</key>
                <string>{283,69}</string>
            </dict>
            <key>ui/go_buy_modal_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,498},{283,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,69}}</string>
                <key>sourceSize</key>
                <string>{283,69}</string>
            </dict>
            <key>ui/grey_9scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,872},{239,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,85}}</string>
                <key>sourceSize</key>
                <string>{239,85}</string>
            </dict>
            <key>ui/lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,881},{45,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{45,63}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,710},{55,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{55,45}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,487},{67,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{67,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,901},{51,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{51,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,817},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ui/next.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,965},{61,57}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{61,57}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,901},{55,55}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{55,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,757},{45,53}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{45,53}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,633},{67,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{67,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,757},{43,65}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{43,65}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/store.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,901},{59,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{59,55}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/store_coins_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,812},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>ui/title.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,160},{559,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,73}}</string>
                <key>sourceSize</key>
                <string>{559,73}</string>
            </dict>
            <key>ui/title_screen_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,564},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{63,63}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>ui/white_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,956},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ui-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d95c2e5a412e5fffbf5850702b596065:6b200502494e1b3beb3db96f0408d4e7:4a07713a4b382bd967aa25dede318967$</string>
            <key>textureFileName</key>
            <string>ss_ui-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
