<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/armashelt/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{79,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{79,55}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{90,90}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{90,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{98,96}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{98,96}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,150},{110,108}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{110,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,296},{130,130}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{130,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{136,138}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{136,138}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{142,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{142,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,146}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_armashelt-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58710347ae964297e0070619eef867f5:eabcc192adbf1d022ebe1ad1441423c0:231b65eb18484646c75f016c904c70c9$</string>
            <key>textureFileName</key>
            <string>ss_armashelt-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
