<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/armashelt/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,221},{40,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{40,28}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{45,45}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{45,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{49,49}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{49,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,79},{55,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,154},{65,65}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{65,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{69,71}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{69,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{71,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,75}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{73,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/armashelt/match_armashelt_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_armashelt.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58710347ae964297e0070619eef867f5:eabcc192adbf1d022ebe1ad1441423c0:231b65eb18484646c75f016c904c70c9$</string>
            <key>textureFileName</key>
            <string>ss_armashelt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
