<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,39},{39,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,90},{37,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{37,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,84},{37,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{37,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{37,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{37,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,70},{47,43}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{47,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,43},{47,45}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{47,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{49,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{49,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,43}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{51,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,80},{47,37}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{47,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{49,39}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{49,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{43,35}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{43,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,47},{47,35}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{47,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{47,35}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{47,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,37},{49,31}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{49,31}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{49,33}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{49,33}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/crystalyd/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,90},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{30,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_crystalyd.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cdb3bdd0bc8467f1933cdfa472bcd21:b5b510c035e9cd8fee0935b305428bcc:1166c4f4ef309a5ade341845d482f35a$</string>
            <key>textureFileName</key>
            <string>ss_crystalyd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
