<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,74},{74,78}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{74,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,74},{74,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{74,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,74},{72,78}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{72,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,74},{70,80}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{70,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{94,84}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{94,84}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,146},{94,88}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{94,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,156},{100,88}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{100,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,154},{102,86}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{102,86}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{96,74}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,61},{96,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,154},{100,80}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{100,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{84,70}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,75},{84,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{94,70}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,75},{94,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{94,70}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,76},{94,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,62}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,85},{96,62}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/Cystalyd_Tilematch_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{100,66}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,82},{100,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/crystalyd/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{57,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{57,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_crystalyd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cdb3bdd0bc8467f1933cdfa472bcd21:b5b510c035e9cd8fee0935b305428bcc:1166c4f4ef309a5ade341845d482f35a$</string>
            <key>textureFileName</key>
            <string>ss_crystalyd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
