<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/enigmo/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{63,57}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{63,57}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,410},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{66,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,136}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{128,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,140},{128,132}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{128,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{128,132}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{128,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,132}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{126,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,274},{124,132}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{124,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{122,134}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{122,134}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,136},{116,118}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{116,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{112,90}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{112,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/enigmo/match_enigmo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,136},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_enigmo-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104af7b281e041cd83586583aedb0c74:158b4238cefc5c738a742a341803025e:ec6f6b05eb1a7d59fd123fad1c23e68d$</string>
            <key>textureFileName</key>
            <string>ss_enigmo-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
