<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,96},{45,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{45,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{49,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{49,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{47,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,53},{43,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{43,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,53},{43,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{43,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,51},{43,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{43,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,96},{45,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{45,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,40},{17,41}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{17,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_grenuke_ghoul_arachnet/match_ani_Greneater_Attacknet_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_grenuke_ghoul_arachnet.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0367813d627eb9d8aeff5e02189289d8:c21b832103605f9b05e50ec6a10fc837:52127993639e0fcd085bd60c01fb8651$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_grenuke_ghoul_arachnet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
