<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,147},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,49},{43,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{43,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{45,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{45,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,94},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,185},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{57,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{57,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{55,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{55,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,147},{39,19}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{39,19}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640d34bd3a0c65be7023aabdde19456a:1634834830246891395d931c062dec5c:a5d5fcce87ba4f37e72f0b63ceec221e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
