<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{69,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{69,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{88,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{88,86}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,106},{90,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{90,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,342},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,238},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{114,114}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{114,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{112,116}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{110,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{110,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_vinedrill_ghoul_frost/ice_vine_match_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{76,36}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{76,36}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640d34bd3a0c65be7023aabdde19456a:1634834830246891395d931c062dec5c:a5d5fcce87ba4f37e72f0b63ceec221e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_vinedrill_ghoul_frost-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
