<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_hoverbug_speedstinger/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,231},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,231},{39,39}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{55,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,231},{59,59}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,83},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,158},{71,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{71,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,158},{71,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,81},{77,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{79,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,231},{39,39}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{55,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,231},{59,59}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,83},{73,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{73,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,158},{71,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{71,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,158},{71,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,81},{77,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{79,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_hoverbug_speedstinger.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b651252b2a700fc7c2c67490e49bc288:2719c24446236afee7356eb1093988dc:a30ff3954b51fd7ff6fbb8eda909384c$</string>
            <key>textureFileName</key>
            <string>ss_fuse_hoverbug_speedstinger.pvr.ccz</string>
        </dict>
    </dict>
</plist>
