<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,185},{49,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{49,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{55,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{55,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,63},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{57,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{57,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{59,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,124},{59,57}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{59,57}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{59,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{59,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,63},{57,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{57,57}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{49,57}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{49,57}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,185},{47,55}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{47,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,242},{9,9}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{9,9}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_burpy_ghoul_gas/match_ghoul_burpy_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_burpy_ghoul_gas.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de656d583eb3246c0e7b3a69ec6db9f:37dcfb7d81a01c97d2aabb332c878fb4:55f94cb1222938d9bacffe74cb224815$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_burpy_ghoul_gas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
