<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_geoshard_slicksilver/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{29,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{29,29}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{63,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{61,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{61,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,69},{51,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{51,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{51,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,193},{53,55}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{53,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,136},{53,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{53,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,199},{53,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{53,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_geoshard_slicksilver/slicksilvergeoshard_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{53,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{53,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_geoshard_slicksilver.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb091772aeca41791bf5b8c468b892b2:9a8df4560a8c678566a030361a8d007e:297a3a646b3a8b95af8b0f531d87912e$</string>
            <key>textureFileName</key>
            <string>ss_fuse_geoshard_slicksilver.pvr.ccz</string>
        </dict>
    </dict>
</plist>
