<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,148},{69,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{69,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{28,42}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,44},{28,42}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,78},{42,56}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{42,56}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{58,74}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{58,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{70,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{74,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{74,72}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,76},{70,74}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,45},{70,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,66}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{70,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{38,48}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,220},{32,34}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,67},{32,34}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,224},{24,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{24,28}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae736f27696ee63d5176542e058e0b37:03fcfff727b660ca4bebb59f5fe7c3c7:e4aff9557892a37d8da44c924df911e7$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
