<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_burpy_tazer/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,257},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{67,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,270},{57,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{57,55}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,75},{67,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,65}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{87,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,95},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{65,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{65,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,201},{67,67}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{67,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,188},{67,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{67,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,144},{55,63}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{55,63}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{51,63}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{51,63}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,188},{7,7}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{7,7}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_burpy_tazer/match_ani_burpy_and_tazer_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,144},{1,1}}</string>
                <key>offset</key>
                <string>{-45,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_burpy_tazer-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1674dfa327d1aea41f590f7d7dda54:13a1de590fb0cc5a74b81d3af1e6e0b9:4b132347c0c03ae4fbb70eb3cd763455$</string>
            <key>textureFileName</key>
            <string>ss_fuse_burpy_tazer-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
