<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,76},{15,21}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{15,21}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,76},{21,29}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{21,29}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{29,39}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{29,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,39},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{35,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{39,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{39,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{35,37}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{35,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,81},{37,33}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{37,33}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,107},{19,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{19,25}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,99},{15,19}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{15,19}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{13,15}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{13,15}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,39},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_ghoul_netox_ghoul_tazerling/match_neotox_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,39},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae736f27696ee63d5176542e058e0b37:03fcfff727b660ca4bebb59f5fe7c3c7:e4aff9557892a37d8da44c924df911e7$</string>
            <key>textureFileName</key>
            <string>ss_fuse_ghoul_netox_ghoul_tazerling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
