<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_freeze_grenuke/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,446},{60,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{60,60}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,106},{94,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{94,98}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,342},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,238},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{114,114}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{114,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{112,116}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{110,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{110,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,106},{88,92}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{88,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_freeze_grenuke/match_ani_frost_grenuke_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{88,84}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,30},{88,84}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_freeze_grenuke-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d9039e56c82122659b1cf3c6750c5a1:80ae03054bd3cab9befe75f9e5e0338d:488d0b86ed8eb7742d56359430208563$</string>
            <key>textureFileName</key>
            <string>ss_fuse_freeze_grenuke-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
