<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_hoverbug_speedstinger/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,452},{69,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{69,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,452},{78,76}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{78,76}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{94,94}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{94,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{108,108}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{108,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,450},{118,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{118,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{146,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{146,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{144,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{144,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{144,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{144,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,308},{142,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{142,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,154},{152,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,148}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{158,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{158,150}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/hoverbug_speedstinger_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{156,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{156,156}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,452},{78,76}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{78,76}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{94,94}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{94,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{108,108}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{108,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,450},{118,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{118,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,160},{146,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{146,146}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{144,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{144,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{144,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{144,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,308},{142,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{142,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,154},{152,148}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,148}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{158,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{158,150}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_hoverbug_speedstinger/speedstinger+hoverbug_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{156,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{156,156}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_hoverbug_speedstinger-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b651252b2a700fc7c2c67490e49bc288:2719c24446236afee7356eb1093988dc:a30ff3954b51fd7ff6fbb8eda909384c$</string>
            <key>textureFileName</key>
            <string>ss_fuse_hoverbug_speedstinger-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
