<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_yang_refresh/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,436},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{52,36}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{52,36}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{60,76}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,27},{60,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,204},{88,82}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,340},{90,94}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{90,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{102,94}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{102,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{104,108}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{104,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,108}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{116,108}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,108}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,108}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{116,104}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,112},{90,78}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{90,78}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,204},{90,76}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{90,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/fuse_yang_refresh/ping_effect_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,444},{90,46}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{90,46}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_yang_refresh-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f3629b7b7bc47e7c839e260df6f2f16:0bc7468e1651614f9e7aab077174539c:d94b62ee76c6baf366e814a508f9ace4$</string>
            <key>textureFileName</key>
            <string>ss_fuse_yang_refresh-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
