<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_xmitter_vinedrill/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,418},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,326},{98,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{98,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,316},{100,120}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{100,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{148,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{148,154}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,164},{160,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_xmitter_vinedrill/match_ani_vine_xmitter_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_xmitter_vinedrill-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6348cc562f89ed5ae6f14364bfea511:37e2c8cc2a3f652928e1f1048121d50f:3b985983638ed786b9a127975464924a$</string>
            <key>textureFileName</key>
            <string>ss_fuse_xmitter_vinedrill-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
