<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_rammstone_makobreaker/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,209},{47,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{47,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,156},{51,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{61,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{61,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{73,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{73,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{75,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,81},{73,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{73,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_rammstone_makobreaker/match_flame_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_rammstone_makobreaker.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6d45c6606d6095df2ecf8c0d800596:4d9e097b03f195a1163a8515dd596f15:8595962af5eb748125f69bdc25491114$</string>
            <key>textureFileName</key>
            <string>ss_fuse_rammstone_makobreaker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
