<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_flaringo_phosphoro/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,57},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{49,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{49,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{55,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{55,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,63},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{57,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{57,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,189},{59,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{59,57}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{59,57}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,128},{59,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{59,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{49,61}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{49,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,185},{47,59}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{47,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,57},{35,53}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{35,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_flaringo_phosphoro/match_ani_flaringo_phos_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,57},{35,53}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{35,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_flaringo_phosphoro.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca05d27319903e6d0e6c082f7275a995:02f74d79edd73dcd06dbb1b5ab4ad4ec:0bb8206512dd4bf337f6250e4a6ea202$</string>
            <key>textureFileName</key>
            <string>ss_fuse_flaringo_phosphoro.pvr.ccz</string>
        </dict>
    </dict>
</plist>
