<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_neotox_thresher/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,56}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,44},{52,56}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{64,66}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{64,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{72,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,76},{70,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{68,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{68,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{66,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{66,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,76},{46,52}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{46,52}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{40,40}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,57},{40,40}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_neotox_thresher/match_ani_neotox_thresher_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{40,40}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,57},{40,40}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_neotox_thresher-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a64a854e946e6f13c2421cddb09c1ba0:2701f0da0ed532a0136b9fb90ca86bd4:23a7cd4c5cea85fca7997a28afcc4016$</string>
            <key>textureFileName</key>
            <string>ss_fuse_neotox_thresher-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
