<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_arachnet_panic/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,202},{27,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{27,27}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,63},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{49,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{61,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{61,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{61,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{61,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{63,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,65},{59,53}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{59,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,63},{59,55}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{59,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,122},{37,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{37,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{37,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{37,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,161},{39,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{39,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{41,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{41,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,114},{45,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{45,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/fuse_arachnet_panic/match_ani_arach_fright_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,120},{37,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{37,33}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_arachnet_panic.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a7f6534720c9de02a40174ed9e36d06:170a072973490a6f4bf93e6fa262b13d:1c01de8e8794d406c1135446eca1f80c$</string>
            <key>textureFileName</key>
            <string>ss_fuse_arachnet_panic.pvr.ccz</string>
        </dict>
    </dict>
</plist>
