<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_frost/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{71,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{71,83}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,436},{60,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{60,60}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{90,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{90,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,232},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{102,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{102,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,116},{114,114}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{114,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{112,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{110,116}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{110,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_frost-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdb9f6f6f906cbb40c9a6ea2b0bdd888:08a26475312bf1299ac1f7d92b824055:e730250a2776b2cc9cf6cf3c48b49f8b$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_frost-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
