<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_frost/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{29,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{29,31}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{45,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{45,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{51,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{57,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{57,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{55,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{55,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_frost/match_ice_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,236},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_frost.pvr.ccz</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdb9f6f6f906cbb40c9a6ea2b0bdd888:08a26475312bf1299ac1f7d92b824055:e730250a2776b2cc9cf6cf3c48b49f8b$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_frost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
