<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_makobreaker/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{42,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{42,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,63},{53,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{53,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{49,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,55},{51,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{51,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{51,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{51,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{47,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{47,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,71}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{51,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{51,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,55},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{55,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,112},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{43,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,175},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{43,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{43,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_makobreaker/match_ani_mako_ghouled_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,55},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_makobreaker.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a32e2d9eeb9e0f348801f4f0734f9f5e:2b69bbe2fddba20b77a23c960b5fe408:074d12beee58d87a47c67400ca2fe25b$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_makobreaker.pvr.ccz</string>
        </dict>
    </dict>
</plist>
