<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/geoshard/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,130},{71,71}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,203},{56,54}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{56,54}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{94,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{94,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,260},{108,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{108,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,388},{108,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{108,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{108,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{108,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{124,126}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{124,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{122,126}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{122,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,126}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{122,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,128}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{122,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/geoshard/tilematch_geoshard_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_geoshard-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e10453de3888ddecbeaec0dc00264af:e21162a75cb0c164222e54634bf9fcbb:f275ab7613d08c6c5e517eeaab872a55$</string>
            <key>textureFileName</key>
            <string>ss_geoshard-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
