<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_doc/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{78,88}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,44},{78,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,200},{90,92}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{90,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{102,98}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{102,98}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{94,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{94,88}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,112},{98,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{98,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,102},{102,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{102,96}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{114,108}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{124,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{116,110}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{116,110}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,114},{96,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{96,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_doc-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc8acc0d5e5b7ddaf6797d92e133ec7:f2ebd415bc3a7f90a8528e89f1f836fe:db6fed6b0bd40a20b2e306c9a0267379$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_doc-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
