<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_aquabeek/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,102},{44,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,169},{23,19}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{23,19}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,148},{19,35}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{19,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{23,55}}</string>
                <key>offset</key>
                <string>{-22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{23,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,53},{39,47}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{39,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{49,39}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,42},{49,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{49,27}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{49,27}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{53,35}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,45},{53,35}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,171},{37,51}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{37,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,55}}</string>
                <key>offset</key>
                <string>{29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,10},{23,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{31,53}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{31,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,111},{23,45}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{23,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,224},{27,29}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,194},{23,13}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{23,13}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_aquabeek/match_aqua_ghoul_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,102},{19,7}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{19,7}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_aquabeek.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8254b3a2665a41c25ff4282ec7180ac:23f5ac14a430fd15def6c24d105c7636:8348c4b1a4e0cf77277f5cee21aad1fc$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_aquabeek.pvr.ccz</string>
        </dict>
    </dict>
</plist>
