<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_arachnet/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,218},{27,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{27,27}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,124},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{49,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,63},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{59,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{51,51}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,175},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{41,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,218},{35,39}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{35,39}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_arachnet/match_ghoul_arach_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_arachnet.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dfe924dd9322274d7a79351f8df3f20:31d1a3b523baeefe937d1cd2f9582125:b820aff20f64720cea3d3736cca83b40$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_arachnet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
