<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/ghoul_doc/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,106},{39,45}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{39,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{45,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{45,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{51,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,102},{47,43}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{47,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,59},{49,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{49,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,53},{51,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{51,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{57,53}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{57,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{61,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{59,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/ghoul_doc/goondoc_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,57},{49,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{49,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoul_doc.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc8acc0d5e5b7ddaf6797d92e133ec7:f2ebd415bc3a7f90a8528e89f1f836fe:db6fed6b0bd40a20b2e306c9a0267379$</string>
            <key>textureFileName</key>
            <string>ss_ghoul_doc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
