<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/lariat/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,222},{81,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{81,79}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,140},{84,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{84,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{96,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{96,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{96,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{96,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,140},{130,120}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{130,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,140},{130,120}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{130,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,140},{130,120}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{130,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{140,136}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{140,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{140,136}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{140,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{142,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{142,140}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,140}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{146,140}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lariat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:498502bf9bc0aeb4e924b1e51bae164d:a53e5d05901a4d5226b15ce50493774c:a838f5fe1987f070c52ee74cb5f8c8b4$</string>
            <key>textureFileName</key>
            <string>ss_lariat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
