<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/lariat/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,189},{41,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{47,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{47,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{65,61}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{65,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{65,61}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{65,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{65,61}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{65,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{71,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{71,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{71,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{71,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{71,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{73,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/lariat/tilematch_Lariat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lariat.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:498502bf9bc0aeb4e924b1e51bae164d:a53e5d05901a4d5226b15ce50493774c:a838f5fe1987f070c52ee74cb5f8c8b4$</string>
            <key>textureFileName</key>
            <string>ss_lariat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
