<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/mega_gas/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,207},{43,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{43,41}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{55,45}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{55,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,69},{67,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{67,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,138},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{61,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{69,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{71,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{71,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{67,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{67,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{67,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,69},{61,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{61,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,69},{61,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{61,55}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_gas.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ab8c08e384f8c0e8594925117e8083:76646dfda0469662017eebfdb8d63a36:b1263bdc456d2137c9370ddaca738b13$</string>
            <key>textureFileName</key>
            <string>ss_mega_gas.pvr.ccz</string>
        </dict>
    </dict>
</plist>
