<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/mega_tormato/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,134},{65,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{65,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,201},{24,28}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,66},{24,28}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,201},{108,54}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{108,54}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,66}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{132,66}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,258},{120,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{120,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{138,118}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{138,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{140,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,128}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{142,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{130,130}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{130,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,130},{132,132}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,122},{134,134}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{134,134}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{74,72}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{74,72}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,76},{56,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,43},{56,72}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,227},{24,14}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,40},{24,14}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_tormato-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20cb90f65402ae7be27288a3504873cd:77548700f5be2689def72a964dfc1930:53df3fe6b0194a850fdff8bbdca58435$</string>
            <key>textureFileName</key>
            <string>ss_mega_tormato-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
