<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/mega_tormato/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{34,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,69},{13,15}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{13,15}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{55,27}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,33},{55,27}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,40},{67,33}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{67,33}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{61,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{61,53}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{69,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{69,59}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{71,63}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,65}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{71,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{65,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{65,65}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,67},{65,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{65,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,63},{67,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{67,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,109},{39,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{39,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{29,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{29,37}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,84},{13,7}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{13,7}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/mega_tormato/match_ani_mega_tormato_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,67},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_tormato.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20cb90f65402ae7be27288a3504873cd:77548700f5be2689def72a964dfc1930:53df3fe6b0194a850fdff8bbdca58435$</string>
            <key>textureFileName</key>
            <string>ss_mega_tormato.pvr.ccz</string>
        </dict>
    </dict>
</plist>
