<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/mega_gas/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,88},{63,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{63,73}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{84,80}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{84,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,264},{108,90}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{108,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{132,106}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{132,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,356},{120,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{120,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{138,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{138,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,128}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{142,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,130}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{142,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,132},{132,130}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{132,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,130},{134,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{134,134}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{122,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{122,112}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_gas/match_ani_stinky_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{124,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{124,112}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_gas-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ab8c08e384f8c0e8594925117e8083:76646dfda0469662017eebfdb8d63a36:b1263bdc456d2137c9370ddaca738b13$</string>
            <key>textureFileName</key>
            <string>ss_mega_gas-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
