<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/makobreaker/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,96},{73,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{73,61}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,94},{96,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{96,98}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{84,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,33},{84,92}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{92,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{92,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{90,110}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{80,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{80,104}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,138}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{148,138}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{90,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{90,110}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,176},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,176},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,168},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,159},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/makobreaker/mako_mash_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,96},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{70,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_makobreaker-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c4fc03756ee09cd12362301989c044:622074c4ed88eb3aaeedab56c5fcc607:8eabac1b7d3672ef6093a6b43046647f$</string>
            <key>textureFileName</key>
            <string>ss_makobreaker-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
