<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/mega_burpy/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{63,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{63,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,264},{98,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{98,96}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,264},{114,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{114,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{132,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{120,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{120,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{138,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{138,124}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{140,126}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,128}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{142,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{130,130}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{130,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,130},{132,132}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,128},{134,134}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{134,134}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,384},{96,116}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{96,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,380},{94,110}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{94,110}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/mega_burpy/match_ani_magaburpy_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,67},{16,16}}</string>
                <key>offset</key>
                <string>{-28,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{16,16}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mega_burpy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8054e139c89c5afa24f1788cfde2f9:d34bd01a6903132a893cc0755e8bea5f:fe2da055023a758e7b65a3e07b4dd9ad$</string>
            <key>textureFileName</key>
            <string>ss_mega_burpy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
