<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/narwhaddle/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,416},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{69,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{134,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{134,158}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,150},{128,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{128,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{128,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{128,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{120,132}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{120,132}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,276},{124,136}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{124,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{136,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{146,154}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{146,154}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,394},{112,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{112,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,280},{112,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{112,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{88,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{88,112}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_narwhaddle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f5ad48cc56631c291c7c0646c21ece:e2e3ed665b1e2be194afa10f122eaa55:811b5d6d6490c03d45051ca72d14c251$</string>
            <key>textureFileName</key>
            <string>ss_narwhaddle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
