<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/narwhaddle/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,187},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{67,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{67,79}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,162},{63,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{63,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{63,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{63,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,67},{59,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{59,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{63,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{63,69}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,85},{69,75}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{73,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{73,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,185},{55,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{55,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,128},{55,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{55,61}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/narwhaddle/chillaxe_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,128},{43,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{43,57}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_narwhaddle.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f5ad48cc56631c291c7c0646c21ece:e2e3ed665b1e2be194afa10f122eaa55:811b5d6d6490c03d45051ca72d14c251$</string>
            <key>textureFileName</key>
            <string>ss_narwhaddle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
