<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/phosphoro/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,300},{55,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{55,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,448},{56,62}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{56,62}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,300},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{60,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,372},{62,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{62,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{66,82}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{66,82}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,218},{66,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,39},{66,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{70,90}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{70,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,118},{76,98}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{76,98}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,118},{78,106}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{78,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{82,114}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,6},{82,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,372},{82,114}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{84,122}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{84,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,122}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{84,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{80,122}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,250},{82,120}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/phosphoro/match_phosphoro_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{82,120}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_phosphoro-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9707a328651dc3e2882a3471f7f9c599:cb96171440ea8eebf838d30cb16b8864:af543c6384f1d3e59ae713a9afe1d59b$</string>
            <key>textureFileName</key>
            <string>ss_phosphoro-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
