<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/panic/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,88},{69,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{69,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{1,1}}</string>
                <key>offset</key>
                <string>{-64.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,88},{72,58}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{72,58}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,473},{88,70}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{88,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,289},{104,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{104,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,606},{120,104}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{120,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,732},{122,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{122,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,606},{124,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{124,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,906},{116,104}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{116,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,912},{116,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{116,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,399},{72,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{72,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{74,76}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,148},{78,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{78,76}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{80,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{80,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,473},{86,86}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{86,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,160},{88,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{88,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,954},{76,66}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{1,1}}</string>
                <key>offset</key>
                <string>{-64.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/freight_tilematch_effect_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{1,1}}</string>
                <key>offset</key>
                <string>{-64.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>blocks/panic/match_flame_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{84,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{84,84}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,848},{104,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{104,104}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,728},{118,118}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{118,118}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,474},{130,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{130,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{138,138}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{138,138}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{144,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{144,144}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{144,150}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{144,150}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{148,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{148,150}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{152,156}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{152,156}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,160}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{156,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{156,156}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/match_flame_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,160},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,954},{76,60}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{76,60}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,395},{94,76}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{94,76}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{110,94}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{110,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,322},{130,104}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{130,104}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,772},{132,100}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{132,100}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,772},{132,100}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,41},{132,100}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,856},{120,102}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{120,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,163},{124,114}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{124,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,250},{82,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,47},{82,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,228},{76,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,44},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,321},{76,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,44},{76,74}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,645},{80,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,37},{80,82}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,561},{80,82}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{80,82}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,159},{80,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{80,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,159},{80,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{80,80}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/panic/tilematch_nightgeist_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,241},{78,78}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{78,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_panic-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37cb7c55ed4d785c7ca17c26448d1be3:6aef7c36eecc9a2794a20068063494c0:8be2e236ed2d7de2bde5f02d669a8439$</string>
            <key>textureFileName</key>
            <string>ss_panic-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
