<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/refresh/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,59},{34,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,228},{27,19}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{27,19}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,59},{31,37}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{31,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,59},{45,41}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{45,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,175},{45,47}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{45,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{51,47}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{51,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{53,55}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{53,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{57,55}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{57,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{57,55}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{57,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,55}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{57,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,55}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{57,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{57,53}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{57,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,106},{45,39}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{45,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{45,37}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{45,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>blocks/refresh/ping_effect_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{45,23}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{45,23}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_refresh.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b7de9adbedc0b79d6a3b2a52a97481b:c7bba37fc8865948240833f438bbb503:564fc07f7eadef5a304fdf672918d4e2$</string>
            <key>textureFileName</key>
            <string>ss_refresh.pvr.ccz</string>
        </dict>
    </dict>
</plist>
