<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/slyren/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,428},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{73,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,152},{68,70}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,42},{68,70}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,428},{76,78}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{76,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,288},{92,94}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{92,94}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,152},{134,136}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{134,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{148,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{148,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{148,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{148,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{148,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,290},{134,136}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{134,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{148,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{148,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{134,136}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{134,136}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{148,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/slyren/slyren_Tilematch_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{1,1}}</string>
                <key>offset</key>
                <string>{-80.5,80.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slyren-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2998a0a2dda096da7f243ef8b23f24a5:edbb3e92be8cb2ad4436cad5ac65c739:f94f105f62ab15f083eb2581da4910c5$</string>
            <key>textureFileName</key>
            <string>ss_slyren-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
