<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/slicksilver/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,47},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,217},{27,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{27,29}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{33,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{33,33}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{65,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{65,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{69,71}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{59,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{59,63}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,148},{61,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{61,63}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,63},{43,49}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{43,49}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{39,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{39,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,213},{41,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{41,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{43,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{43,43}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,87},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{45,45}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,213},{41,47}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{41,47}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>blocks/slicksilver/match_ani_slicksilver_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slicksilver.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45f68e691d7b6adc1cfb53a669558102:b1feda2a2f0bfa3ad0450f0cf4ad0b75:02ab6527987c0d3ff9c1a53accc7ad7f$</string>
            <key>textureFileName</key>
            <string>ss_slicksilver.pvr.ccz</string>
        </dict>
    </dict>
</plist>
