<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/thugglet/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,94},{71,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{71,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,90}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{92,90}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{100,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{100,102}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{120,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{120,122}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{136,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{136,138}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{146,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{146,148}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,152}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,152}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,156},{146,146}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{146,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/thugglet/match_thugglet_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{150,146}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{150,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_thugglet-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e06cffeee962422a09223e164699a5e:c4e7da8e6189f46d5962dd49634daea4:101c1124cf2aafa31cb6bc156fcad421$</string>
            <key>textureFileName</key>
            <string>ss_thugglet-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
