<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocks/fuse_slyren_narwaddle/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{67,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{67,65}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{134,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{134,158}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{128,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{128,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{128,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{128,146}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>blocks/fuse_slyren_narwaddle/match_ani_SlyrenXNarwaddle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fuse_rammstone_makobreaker0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f19d31efd6122c8b9287bcf21f79c3a:f91342525d15658aec170bde73906c93:32b332c440dd192761c561790982d132$</string>
            <key>textureFileName</key>
            <string>ss_fuse_rammstone_makobreaker0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
