<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugs/aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,82},{46,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{46,84}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,742},{46,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,76}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/armashelt/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,358},{46,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,188},{56,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/crystalyd/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{46,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{56,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/enigmo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,660},{46,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fandango/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,652},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/firenzar/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,748},{46,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,370},{48,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fright/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,702},{46,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{56,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fuse_aquabeek_fandango/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,66},{62,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_arachnet_panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{62,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_burpy_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,246},{62,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_doc_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,190},{62,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_enigmo_xmitter/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,660},{46,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fuse_flaringo_phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{62,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_freeze_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{62,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_geoshard_slicksilver/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{62,92}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_burpy_ghoul_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,128},{60,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_grenuke_ghoul_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,66},{60,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_netox_ghoul_tazerling/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,66},{60,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_phosphoro_ghoul_aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_tormato_ghoul_flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,124},{60,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_ghoul_vinedrill_ghoul_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,254},{60,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_hoverbug_speedstinger/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,244},{60,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_neotox_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_rammstone_makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{60,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fuse_slyren_narwaddle/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,60},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_tormato_jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,244},{62,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/fuse_xmitter_vinedrill/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,308},{60,88}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{60,88}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/fuse_yang_refresh/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{62,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>slugs/gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,186},{56,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/gazzer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,606},{46,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/geoshard/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,694},{46,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,598},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,568},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,612},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,604},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,558},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,550},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,520},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_lock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,564},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,556},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_neotox/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,510},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,502},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_rammstone/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,516},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,508},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,462},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,472},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/ghoul_yang/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{46,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,454},{46,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/hexlet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,664},{46,78}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/hoprock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{46,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/hypnogriff/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,468},{46,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,338},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>slugs/lariat/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,362},{48,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{48,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/lock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{46,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{56,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,708},{46,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,700},{46,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,460},{46,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,414},{46,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,654},{46,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,424},{46,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,712},{44,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,646},{46,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/mega_tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,406},{46,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/midas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,186},{56,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/narwhaddle/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,316},{48,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{48,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/neotox/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,306},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>slugs/panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,750},{44,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,76}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,310},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>slugs/rammstone/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{44,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/reflect/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,756},{44,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/refresh/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{44,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{44,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/slicksilver/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{46,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/slyren/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,420},{46,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/speedstringer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,616},{46,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,128},{56,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,90}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,168},{46,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/thugglet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,412},{46,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,252},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>slugs/vine/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{46,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,78}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/xmitter/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,366},{46,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{46,80}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>slugs/yang/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{46,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,82}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugs_small-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb35a2fd8c014f512157a0fec9ebddd:c612b0a41918a2a37cf78707e691eac1:b1d13b6ff5b66e021030a09ab05267ff$</string>
            <key>textureFileName</key>
            <string>ss_slugs_small-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
