<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugs/aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,402},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/armashelt/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,247},{24,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/crystalyd/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/enigmo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,432},{22,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fandango/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/firenzar/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,412},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,246},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fright/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,403},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fuse_aquabeek_fandango/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,70},{32,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_arachnet_panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{32,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_burpy_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,166},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_doc_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,134},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_enigmo_xmitter/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,432},{22,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fuse_flaringo_phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_freeze_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_geoshard_slicksilver/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_burpy_ghoul_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_grenuke_ghoul_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_netox_ghoul_tazerling/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_phosphoro_ghoul_aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_tormato_ghoul_flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_ghoul_vinedrill_ghoul_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_hoverbug_speedstinger/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_neotox_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_rammstone_makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{30,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fuse_slyren_narwaddle/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_tormato_jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/fuse_xmitter_vinedrill/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{30,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/fuse_yang_refresh/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,54}</string>
            </dict>
            <key>slugs/gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,102},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/gazzer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,402},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/geoshard/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,382},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_aquabeek/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,376},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,386},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,377},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_flaringo/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,226},{24,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,376},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,356},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,350},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_lock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,360},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{24,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_neotox/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,351},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,350},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,330},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_rammstone/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,324},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,334},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{24,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/ghoul_yang/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,238},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,221},{24,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/hexlet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,325},{24,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/hoprock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,324},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/hypnogriff/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,304},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/jellyish/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,194},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>slugs/lariat/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/lock/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,298},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/makobreaker/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_arachnet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_burpy/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,308},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_doc/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,200},{24,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_frost/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,299},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_gas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,298},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_grenuke/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,278},{24,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,428},{22,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,272},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/mega_tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/midas/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,100},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/narwhaddle/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,194},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/neotox/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,194},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>slugs/panic/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,428},{22,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/phosphoro/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,193},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>slugs/rammstone/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,282},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/reflect/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,408},{22,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/refresh/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,273},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/slicksilver/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,272},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/slyren/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,252},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/speedstringer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,246},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/tazer/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,70},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/thresher/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/thugglet/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,168},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/tormato/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,166},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>slugs/vine/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,298},{24,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/xmitter/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>slugs/yang/canister_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,238},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugs_small.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb35a2fd8c014f512157a0fec9ebddd:c612b0a41918a2a37cf78707e691eac1:b1d13b6ff5b66e021030a09ab05267ff$</string>
            <key>textureFileName</key>
            <string>ss_slugs_small.pvr.ccz</string>
        </dict>
    </dict>
</plist>
