<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugs/aquabeek/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/arachnet/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/armashelt/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/burpy/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/crystalyd/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fandango/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/firenzar/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1596},{157,159}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/flaringo/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fright/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/frost/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_aquabeek_fandango/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_arachnet_panic/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_burpy_tazer/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,161},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_doc_gas/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_flaringo_phosphoro/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,320},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_freeze_grenuke/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,320},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_geoshard_slicksilver/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,320},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_ghoul_burpy_ghoul_gas/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,320},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_ghoul_grenuke_ghoul_arachnet/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,320},{157,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_ghoul_phosphoro_ghoul_aquabeek/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{157,161}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_ghoul_tormato_ghoul_flaringo/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,479},{157,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_ghoul_vinedrill_ghoul_frost/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,479},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_hoverbug_speedstinger/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,479},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_neotox_thresher/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,479},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_rammstone_makobreaker/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,479},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_slyren_narwaddle/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_tormato_jellyish/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_xmitter_vinedrill/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/fuse_yang_refresh/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/gas/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/gazzer/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,638},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/geoshard/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1757},{157,159}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_aquabeek/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_arachnet/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_burpy/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_flaringo/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_frost/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_gas/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,797},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_grenuke/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_jellyish/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_lock/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_neotox/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_phosphoro/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_rammstone/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,956},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_tazer/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_tormato/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/ghoul_yang/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1433},{157,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/grenuke/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1441},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/hexlet/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/hoprock/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1767},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/hypnogriff/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/jellyish/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/lariat/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1433},{157,159}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/lock/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/makobreaker/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_arachnet/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_burpy/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1274},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_doc/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1437},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_frost/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1600},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_gas/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1763},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_grenuke/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1274},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_tazer/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1274},{157,161}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_thresher/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1274},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/mega_tormato/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1274},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/neotox/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1433},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/vine/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1115},{157,161}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{157,161}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/yang/loadout_gauge.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1433},{157,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugs3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002b4db178a1327d3a323d630dc960e4:eb436fc84e3246c84e518fcea93eb87a:025b7f0def2638cd546694a1260b520b$</string>
            <key>textureFileName</key>
            <string>ss_slugs3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
