<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sluglevels/aquabeek/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,637},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{65,51}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/burpy/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,751},{105,50}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{105,50}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/doc/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{111,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/enigmo/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,890},{109,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,64}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/frost/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,637},{51,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{51,63}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/fuse_flaringo_phosphoro/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,163},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{67,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/fuse_ghoul_netox_ghoul_tazerling/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,370},{69,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{69,69}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/gas/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,854},{92,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{92,97}}</string>
                <key>sourceSize</key>
                <string>{144,103}</string>
            </dict>
            <key>sluglevels/gas/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,234},{61,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{61,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/gazzer/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,251},{215,143}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{215,143}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>sluglevels/ghoul_gas/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,105},{59,56}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{59,56}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/ghoul_grenuke/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{101,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{101,60}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>sluglevels/ghoul_jellyish/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{221,110}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{221,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>sluglevels/ghoul_jellyish/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,525},{211,110}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{211,110}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>sluglevels/ghoul_lock/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,97}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{223,97}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/ghoul_phosphoro/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,441},{113,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,33},{113,75}}</string>
                <key>sourceSize</key>
                <string>{207,131}</string>
            </dict>
            <key>sluglevels/ghoul_thresher/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{212,93}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{212,93}}</string>
                <key>sourceSize</key>
                <string>{254,145}</string>
            </dict>
            <key>sluglevels/ghoul_tormato/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,850},{67,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>sluglevels/ghoul_yang/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{137,79}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,17},{137,79}}</string>
                <key>sourceSize</key>
                <string>{201,103}</string>
            </dict>
            <key>sluglevels/hoprock/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{213,129}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{213,129}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/hypnogriff/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{209,145}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{209,145}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>sluglevels/hypnogriff/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,297},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{71,71}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/lariat/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,751},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{101,54}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/lariat/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{219,139}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{219,139}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>sluglevels/lariat/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,556},{81,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{81,79}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/mega_grenuke/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,396},{213,127}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{213,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/mega_grenuke/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,396},{213,127}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{213,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/mega_grenuke/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,396},{213,127}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{213,127}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/neotox/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{217,134}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{217,134}}</string>
                <key>sourceSize</key>
                <string>{245,162}</string>
            </dict>
            <key>sluglevels/phosphoro/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,953},{55,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{55,67}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/refresh/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,751},{97,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>sluglevels/refresh/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,114},{217,135}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{217,135}}</string>
                <key>sourceSize</key>
                <string>{245,145}</string>
            </dict>
            <key>sluglevels/thugglet/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,953},{69,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{69,65}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/tormato/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,919},{61,65}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{61,65}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>sluglevels/yang/block.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,704},{61,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{61,63}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sluglevels1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec33e38c27017836270593b4dab0e39:feaa8c0f69a3a7d2485db4fd05557dda:9ff0983a55e503a9207602d0761335c6$</string>
            <key>textureFileName</key>
            <string>ss_sluglevels1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
