<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angryblakk/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,556}}</string>
                <key>offset</key>
                <string>{-42,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{428,556}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>angryblakk/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{107,149}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,2},{107,149}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angryblakk-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc112e5d9f0ce093d924a4d379f5dd6:06606bb9997e4070cbd087e775c56569:33fc588744883a002a9dbd46e5813087$</string>
            <key>textureFileName</key>
            <string>ss_angryblakk-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
