<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angrynacho/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,259}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{256,259}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>angrynacho/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{90,75}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angrynacho.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f41bceaa3b994fe885511e6239c807:25add627b7e91a3b87f21e6505c09c35:7a65803c3c38d922c1b07f3239d06537$</string>
            <key>textureFileName</key>
            <string>ss_angrynacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
