<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angryblakk/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,279}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{214,279}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>angryblakk/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{54,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{54,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_angryblakk.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc112e5d9f0ce093d924a4d379f5dd6:06606bb9997e4070cbd087e775c56569:33fc588744883a002a9dbd46e5813087$</string>
            <key>textureFileName</key>
            <string>ss_angryblakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
