<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,279}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{214,279}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>blakk/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{58,75}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{58,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f3107cb81af018a4c7bdb84a34bf81:068f05296f456fb62fd809c08428aa7a:41d1c644abff40e7ecf8fce3e632269e$</string>
            <key>textureFileName</key>
            <string>ss_blakk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
