<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk_gat/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,251}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,251}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>blakk_gat/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{94,67}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{94,67}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk_gat.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e9f242d615aab3dd27b80b4f10c0d5:04be50485ba468e5fbb157a7ce41a561:86c4788de6cf75d5633b64e189def6a1$</string>
            <key>textureFileName</key>
            <string>ss_blakk_gat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
