<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_ship/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,209}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{250,209}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>bonus_ship/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{92,61}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{92,61}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_ship.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c0d5573b2cf583897b0078d99e586c:17adf378d6db5976f5e51663450dc3c4:709f838a328463c81c263a8da0485051$</string>
            <key>textureFileName</key>
            <string>ss_bonus_ship.pvr.ccz</string>
        </dict>
    </dict>
</plist>
