<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_cage/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,460}}</string>
                <key>offset</key>
                <string>{-66,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,154},{380,460}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>bonus_cage/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{123,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,23},{123,109}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_cage-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c9c0dcdc743acf4245bfbd36fedc1bc:b5673e2f104c80677b757287beafda41:441d12c0e431ee954423a9bbec1fe8a6$</string>
            <key>textureFileName</key>
            <string>ss_bonus_cage-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
