<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>billy/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,478}}</string>
                <key>offset</key>
                <string>{-3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,136},{506,478}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>billy/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{137,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{137,125}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_billy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b0c4318ccb6d835ff15800080ce9b6e:954483f0e679b8f16e3f6bfc4d4d7928:d8475f48ba9d32be1864ad06cb4448cd$</string>
            <key>textureFileName</key>
            <string>ss_billy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
