<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_ghoulstation/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,307}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,307}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>bonus_ghoulstation/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{60,61}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_ghoulstation.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dcd0f693f9354a6f7abb22481eedfde:7788efed90d32743f2816c61c988db90:448ed015efcb7151ccb1faf636e097c4$</string>
            <key>textureFileName</key>
            <string>ss_bonus_ghoulstation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
