<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigguard1/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,530}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{510,530}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>bigguard1/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,533},{127,149}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{127,149}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bigguard1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867acdb7cc2271fb46d1b9f33ae56650:7316a45700aa33b95f42ba278da559be:7cd14254d39dc106a56b1b4179186fc4$</string>
            <key>textureFileName</key>
            <string>ss_bigguard1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
