<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_trashheap/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,247}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{252,247}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>bonus_trashheap/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{82,63}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_trashheap.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a318881de55fe00453546f6c2eef0a7:dc2f9b0fb88eb24b731ffec15070d062:792ce69b97a3482d7ac47e5720157d04$</string>
            <key>textureFileName</key>
            <string>ss_bonus_trashheap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
