<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boonthegoonjohnbull/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,259}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{248,259}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>boonthegoonjohnbull/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{88,61}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{88,61}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_boonthegoonjohnbull.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47992526b52045dfd03d984113f8cada:441b31a274d90eee23caf09c70db73b6:2fde2679d1ae1413368cc5a780c4ba65$</string>
            <key>textureFileName</key>
            <string>ss_boonthegoonjohnbull.pvr.ccz</string>
        </dict>
    </dict>
</plist>
