<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>billy/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,239}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{254,239}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>billy/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{70,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{70,63}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_billy.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b0c4318ccb6d835ff15800080ce9b6e:954483f0e679b8f16e3f6bfc4d4d7928:d8475f48ba9d32be1864ad06cb4448cd$</string>
            <key>textureFileName</key>
            <string>ss_billy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
