<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_darkbanestatue/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,281}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{248,281}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>bonus_darkbanestatue/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{82,65}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{82,65}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_darkbanestatue.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e1d6c20278bee827ad99eb0dc85f683:a396f3cbea74856772755ea11fd58ae7:af455a8e264e9aa916da98cd87acaf85$</string>
            <key>textureFileName</key>
            <string>ss_bonus_darkbanestatue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
