<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blakk/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,556}}</string>
                <key>offset</key>
                <string>{-42,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{428,556}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>blakk/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{115,149}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{115,149}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blakk-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f3107cb81af018a4c7bdb84a34bf81:068f05296f456fb62fd809c08428aa7a:41d1c644abff40e7ecf8fce3e632269e$</string>
            <key>textureFileName</key>
            <string>ss_blakk-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
