<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_wagon/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,504}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{404,504}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>bonus_wagon/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{199,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{199,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_bonus_wagon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{408,661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159044939058f3106c0597ce94b4641c:d00c5c3d3ae16d5fd02eaec82678296f:b79fca3ac34952a6abb62535796b4381$</string>
            <key>textureFileName</key>
            <string>ss_bonus_wagon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
