<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cajun_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,253}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{256,253}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>cajun_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{64,75}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_cajun_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b33d696437f18984898415f761694a4:244bf579c744dfa8451a0a6d100f864b:68496e7d80f1390a24b1aa213be6edf7$</string>
            <key>textureFileName</key>
            <string>ss_cajun_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
