<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest_large/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,157}}</string>
                <key>offset</key>
                <string>{-38,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,150},{180,157}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>chest_large/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{70,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{70,61}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chest_large.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708bbbae25b69eaa3e8f15379bff0633:d31bf4930c1be71ca51fea256941b155:ab7f4b1a34a17a0b2a635fed24cc503a$</string>
            <key>textureFileName</key>
            <string>ss_chest_large.pvr.ccz</string>
        </dict>
    </dict>
</plist>
