<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbaneprisondoor/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,299}}</string>
                <key>offset</key>
                <string>{-34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{188,299}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>darkbaneprisondoor/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{48,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbaneprisondoor.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c443d41de2cf0e4329daef07772473e:a89b188d534eca63607b0eccd8bef2e6:ef78531cd49014e5ece3645b35b31440$</string>
            <key>textureFileName</key>
            <string>ss_darkbaneprisondoor.pvr.ccz</string>
        </dict>
    </dict>
</plist>
