<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbane_soldier3/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,251}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,251}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>darkbane_soldier3/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{100,67}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{100,67}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier3.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfb98c03818f469bd7bc513756f6173a:fcf7061fc62c101ceb18017b3170ae18:c9b5c7a6b4731537984c92bb37c853bc$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
