<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbaneprisondoor/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,598}}</string>
                <key>offset</key>
                <string>{-68,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{376,598}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>darkbaneprisondoor/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{95,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{95,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbaneprisondoor-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c443d41de2cf0e4329daef07772473e:a89b188d534eca63607b0eccd8bef2e6:ef78531cd49014e5ece3645b35b31440$</string>
            <key>textureFileName</key>
            <string>ss_darkbaneprisondoor-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
