<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbane_soldier_elite2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,564}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{480,564}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>darkbane_soldier_elite2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{169,147}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{169,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_soldier_elite2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{484,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82289a2725d67b76307985eb69ee3c33:f0b00bad6526f13ba9449cd978a9dae3:133142e1531fb4729c0627e227b7d20d$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_soldier_elite2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
