<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbane_brimstone/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,538}}</string>
                <key>offset</key>
                <string>{-26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{460,538}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>darkbane_brimstone/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{175,147}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{175,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_brimstone.pvr.ccz</string>
            <key>size</key>
            <string>{464,691}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a14a51117c3591a1b42f8b42ea9ceda:ba861129866deba9f7c36b6abf9f02c1:20200ea5e115fbe8aad49df59d4deca8$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_brimstone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
