<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbane_nacho/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,253}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{202,253}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>darkbane_nacho/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{90,69}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{90,69}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_nacho.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e8635995725bd29e9c9d1bce9872fc:12b17cfc47c958ff2c483bfeea6eadcd:f1fe8d5de06086b9cf83eb5872617d7f$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_nacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
