<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbane_solder2_darkbane_soldier3/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,552}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{510,552}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>darkbane_solder2_darkbane_soldier3/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{203,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{203,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbane_solder2_darkbane_soldier3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{514,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:245864467b35f1d2d788416d4f8925a0:8f61eb75c8fdf50c7310998871452324:e1a2100a844cb0e0925b579a50d09cf6$</string>
            <key>textureFileName</key>
            <string>ss_darkbane_solder2_darkbane_soldier3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
