<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanebrimstone/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,269}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{230,269}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>darkbanebrimstone/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{88,75}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbanebrimstone.pvr.ccz</string>
            <key>size</key>
            <string>{234,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27853bfa49902752adef133682860b9d:ba861129866deba9f7c36b6abf9f02c1:76fa771b821189adc646a1574ce9bdb4$</string>
            <key>textureFileName</key>
            <string>ss_darkbanebrimstone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
