<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dummy/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,478}}</string>
                <key>offset</key>
                <string>{-103,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,136},{272,478}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>dummy/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{117,115}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,15},{117,115}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_dummy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:210ca9cc692d08afeb9c0201429faa4d:0248daf2ac4afe5ae7616827f3c93fbc:d093fc60bf5a8f7a7da24e8ba352c046$</string>
            <key>textureFileName</key>
            <string>ss_dummy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
