<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eli_mech/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,502}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,112},{512,502}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>eli_mech/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eli_mech-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d12cec4d16a3be9f13eb89a5e044f515:83a129106f0dedfd369b2bfacb11e7ef:4421474d0d9b0b95fa32c5ae9bd2dd38$</string>
            <key>textureFileName</key>
            <string>ss_eli_mech-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
