<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eviltrixie/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,534}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{444,534}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>eviltrixie/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{123,142}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{123,142}}</string>
                <key>sourceSize</key>
                <string>{203,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eviltrixie-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd53a3228138387dcebe9f208a6957a3:ed77a313aaa7a185465dc7d0a37ecc50:97497d900ede6ec1c71ea86d527c8bd0$</string>
            <key>textureFileName</key>
            <string>ss_eviltrixie-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
