<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eliprison/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,496}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{512,496}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>eliprison/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{124,116}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,61},{124,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eliprison-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e4d3a8cb730a07151276a87b53f91e5:54f59dd72df8f55cf73656596d021e87:f3a3c961a66a051bd0cc237256ed3836$</string>
            <key>textureFileName</key>
            <string>ss_eliprison-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
