<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evileli/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,502}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{508,502}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>evileli/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{167,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{167,140}}</string>
                <key>sourceSize</key>
                <string>{203,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_evileli-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32adbd95feecf3c1f7ec27348f0d1653:3b144efe49ac3b42ccbf4a4a637e3b74:60a60e1936fdc61b378e8e31af25e47a$</string>
            <key>textureFileName</key>
            <string>ss_evileli-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
