<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eviltrixie/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,267}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{222,267}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>eviltrixie/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{64,71}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{64,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_eviltrixie.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd53a3228138387dcebe9f208a6957a3:ed77a313aaa7a185465dc7d0a37ecc50:97497d900ede6ec1c71ea86d527c8bd0$</string>
            <key>textureFileName</key>
            <string>ss_eviltrixie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
