<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fakeduelist/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,237}}</string>
                <key>offset</key>
                <string>{-3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{250,237}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>fakeduelist/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{70,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{70,65}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fakeduelist.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ad27db26b8363e6f5107e27f803da14:0b02cc5f0a601b0d6f64f85a125b982d:d0e413050a3543517ff9e9e7cc72d05f$</string>
            <key>textureFileName</key>
            <string>ss_fakeduelist.pvr.ccz</string>
        </dict>
    </dict>
</plist>
