<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fang_watts_drake/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,241}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{256,241}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>fang_watts_drake/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{102,59}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{102,59}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fang_watts_drake.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1252668e4f1df732747d8afab12dabf:68124a1ec3753b3b5a423662c95c5152:6a8664491128c95aa6c6ec897ccff91c$</string>
            <key>textureFileName</key>
            <string>ss_fang_watts_drake.pvr.ccz</string>
        </dict>
    </dict>
</plist>
