<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,247}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{244,247}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>fire/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{66,73}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{66,73}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_fire.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb3fc4eac503ca6468f6e0d40ae2919d:92834464d21cc0a0686cc639320a68c8:4f66f44bb4364d8128bcf011b444fdf5$</string>
            <key>textureFileName</key>
            <string>ss_fire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
