<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frost/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,271}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{232,271}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>frost/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{58,69}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{58,69}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_frost.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46a8edb146c38d2f1cad589cdbfe864a:4581097fc3d7b77cd5401f067c0ce1e9:2e01fd64cfd00a5b7692aa41e87194a2$</string>
            <key>textureFileName</key>
            <string>ss_frost.pvr.ccz</string>
        </dict>
    </dict>
</plist>
