<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{512,510}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{512,510}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>goon/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{135,151}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{135,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c754a449c007c93eff898ee4e8552fd0:e43fac401f2ae6ab37fc597103a19c12:880ca007f318f87cccca90a2358adca8$</string>
            <key>textureFileName</key>
            <string>ss_goon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
