<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gangleaders/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,504}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,110},{512,504}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>gangleaders/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{203,143}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{203,143}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gangleaders-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35b16c030ec599f8b6dddaa408a6e4e:6fa94c2ebfa5a151fdcad6e82a45269d:04b7c4a4bc207efc0c7fb87eaefe6031$</string>
            <key>textureFileName</key>
            <string>ss_gangleaders-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
