<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goon2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,502}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,112},{510,502}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>goon2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{127,135}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{127,135}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_goon2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0604962c4f8eb1ae8e0e50aaa688a714:891b75acfeec190b9a227a024b1ac45d:9ad446e0e5df9313dacf7b308225b4d7$</string>
            <key>textureFileName</key>
            <string>ss_goon2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
