<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gator/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,514}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{512,514}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>gator/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{191,151}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{191,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_gator-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b05c17d521d92460418466275005f516:d8e80c6b4d262b7de8ee369cb088996e:a1d4d2dead5d9c09d39831405db7e326$</string>
            <key>textureFileName</key>
            <string>ss_gator-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
