<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hooligang/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,510}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{502,510}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>hooligang/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{201,141}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{201,141}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_hooligang-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccbf83649ff231129a82238c78570bee:2fdc6095bb524572346af92d4a198ef9:237c93ae5d134864e51b38301b657965$</string>
            <key>textureFileName</key>
            <string>ss_hooligang-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
