<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hooligang/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,255}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{252,255}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>hooligang/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{102,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_hooligang.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccbf83649ff231129a82238c78570bee:2fdc6095bb524572346af92d4a198ef9:237c93ae5d134864e51b38301b657965$</string>
            <key>textureFileName</key>
            <string>ss_hooligang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
