<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horn/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,255}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{256,255}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>horn/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{80,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_horn.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4578b0ac5ffd921dcf95e8eb488291f7:7c431d3a50d5b8023f3b002a444d3a88:6c6b2103306748426b605885cd027a65$</string>
            <key>textureFileName</key>
            <string>ss_horn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
