<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inmate2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,243}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{240,243}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>inmate2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{66,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_inmate2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4f2049ff481d0fcd5a68670e97ca4f:26128ef2273fbb9576a00153498c14eb:5b9d838c29185e7fed1882a0197ab2e8$</string>
            <key>textureFileName</key>
            <string>ss_inmate2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
