<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jackbull/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,243}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{248,243}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>jackbull/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{80,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{80,69}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_jackbull.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccbf4dd57b1e1f91bec2a3e194c72aa:3d42e74a77593034e56c229d03787885:1da2de8e75ff26190e05a1580d5f1a8a$</string>
            <key>textureFileName</key>
            <string>ss_jackbull.pvr.ccz</string>
        </dict>
    </dict>
</plist>
