<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jackbullguard2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,526}}</string>
                <key>offset</key>
                <string>{-27,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{458,526}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>jackbullguard2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{191,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{191,107}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_jackbullguard2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:812c235a6674f23f25beaeffc8a51780:8ca858a37caf3b8316e1a29854db1cec:26f24eab3a4e72759ddcb8791af361e5$</string>
            <key>textureFileName</key>
            <string>ss_jackbullguard2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
