<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jackbullguard2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,263}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{230,263}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>jackbullguard2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{96,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{96,55}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_jackbullguard2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:812c235a6674f23f25beaeffc8a51780:8ca858a37caf3b8316e1a29854db1cec:26f24eab3a4e72759ddcb8791af361e5$</string>
            <key>textureFileName</key>
            <string>ss_jackbullguard2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
