<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingofsling/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,283}}</string>
                <key>offset</key>
                <string>{-25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{206,283}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>kingofsling/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_kingofsling.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef8c05ac7275fbbcd30878091fc3ef62:db54d2c8d0fd315e7111c60656632f53:ab84cb1f0d709840783cbb5d3bdef031$</string>
            <key>textureFileName</key>
            <string>ss_kingofsling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
