<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kord/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,265}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{248,265}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>kord/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{56,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_kord.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7955f3a0f18eff1270bfe4f356527bf:00754974858627cde9f88039bb2d223a:e488c75e7a2e403ec1289c387c24ac21$</string>
            <key>textureFileName</key>
            <string>ss_kord.pvr.ccz</string>
        </dict>
    </dict>
</plist>
