<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lockeload_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,255}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{256,255}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>lockeload_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{98,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lockeload_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343472e953290162bd46c7c3a3ba4667:b9e7996edc44578e846f8cfc78d65f68:80e87f07b21a77245f5082f4b7b41e02$</string>
            <key>textureFileName</key>
            <string>ss_lockeload_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
