<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lockeload/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>lockeload/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{191,147}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{191,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lockeload-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f8bc02b12bdb85cae771f130784010:7bd112c6819b5927b03f536be38749f0:574432003022eb3d074ee47c49691ba1$</string>
            <key>textureFileName</key>
            <string>ss_lockeload-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
