<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lockeload_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{512,510}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{512,510}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>lockeload_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{193,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{193,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lockeload_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343472e953290162bd46c7c3a3ba4667:b9e7996edc44578e846f8cfc78d65f68:80e87f07b21a77245f5082f4b7b41e02$</string>
            <key>textureFileName</key>
            <string>ss_lockeload_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
