<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>madmax/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,247}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{254,247}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>madmax/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{76,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,73}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_madmax.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fddc56887312444ecb95b4e23641d0db:441f27feed3234df6bb992c33adc094f:92d2fb51768a9d225e0a9b8a59ec7c03$</string>
            <key>textureFileName</key>
            <string>ss_madmax.pvr.ccz</string>
        </dict>
    </dict>
</plist>
