<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>munch_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,466}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,148},{510,466}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>munch_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{119,153}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{119,153}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_munch_uniform-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ede2da27ab0f33050d4cb17be252e88:c9ae467ce91513bdfdc39ee06c484471:56b66cdeceadd65b631361f207adc5eb$</string>
            <key>textureFileName</key>
            <string>ss_munch_uniform-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
