<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>madmax/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,492}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{508,492}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>madmax/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{150,143}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{150,143}}</string>
                <key>sourceSize</key>
                <string>{172,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_madmax-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fddc56887312444ecb95b4e23641d0db:441f27feed3234df6bb992c33adc094f:92d2fb51768a9d225e0a9b8a59ec7c03$</string>
            <key>textureFileName</key>
            <string>ss_madmax-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
