<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nacho/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,255}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{256,255}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>nacho/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{78,71}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{78,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_nacho.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eadc4d0c74c923d7701497db59928d2:575fbecb640aaeb7b5b6b67d3915669b:f2df85f497a3b5921e32a550273b9ac8$</string>
            <key>textureFileName</key>
            <string>ss_nacho.pvr.ccz</string>
        </dict>
    </dict>
</plist>
