<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nacho_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,251}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,251}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>nacho_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{78,71}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{78,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_nacho_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f085399736116b2c24dc32b3c07d441:26bd97cf6a74d48bb70be3cb83da2e2c:11ddb739ca5cb9aaa17fe97598907031$</string>
            <key>textureFileName</key>
            <string>ss_nacho_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
