<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate_girl/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,476}}</string>
                <key>offset</key>
                <string>{-18,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{476,476}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>pirate_girl/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{153,113}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{153,113}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pirate_girl-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9244c98cd49d806dcc8da9ba09da9e87:29263e7087bd3dd582ea6a8ac8985870:122ada24e38c03613623962f89dd2341$</string>
            <key>textureFileName</key>
            <string>ss_pirate_girl-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
