<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pronto/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,442}}</string>
                <key>offset</key>
                <string>{-15,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{482,442}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>pronto/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{119,123}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,18},{119,123}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pronto-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7574e19a6e54365b235b7289a89e17:3ed3492ccfff8da10ad423a1f5248c2e:55a5d8ac61185130f57fd38759b61ebd$</string>
            <key>textureFileName</key>
            <string>ss_pronto-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
