<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,249}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{232,249}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>pirate2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{92,73}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,73}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_pirate2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2fb4513e4b670148962135989460d2e:234c95a900673774c41ff14f582a46dc:51778836ea3ca9a1a2da36b479a4a846$</string>
            <key>textureFileName</key>
            <string>ss_pirate2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
