<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheepgang03/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,472}}</string>
                <key>offset</key>
                <string>{-26,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,142},{460,472}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>scrapheepgang03/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{141,145}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{141,145}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheepgang03-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38a3e5c0dc32b057b8d63ea94bb5ed2:0a3db0772245221923b9ca0631b95fb9:36d3881a9526b67f05a9b15f101ad161$</string>
            <key>textureFileName</key>
            <string>ss_scrapheepgang03-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
