<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shorty/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,257}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{232,257}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>shorty/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{70,73}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{70,73}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shorty.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8cfee8be474add1ea85b9d2203c5090:dc918b39a389392e9bc14cb049615f9d:09a26339308f6e0a8ddab0e65852a487$</string>
            <key>textureFileName</key>
            <string>ss_shorty.pvr.ccz</string>
        </dict>
    </dict>
</plist>
