<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheap_3_4/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,273}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{248,273}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>scrapheap_3_4/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{98,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{98,65}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheap_3_4.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6048b2db4f9f886d1cdda5e5ff3e36:a49735f3eb4eb84fa316a5074b1db7d3:ec4506a88f67f547aa40cb283bafc67c$</string>
            <key>textureFileName</key>
            <string>ss_scrapheap_3_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
