<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadowclanleader/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,582}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{496,582}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>shadowclanleader/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{103,151}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{103,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shadowclanleader-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d1bd601b43932ade311672ee390754d:27c94fbc8635556b31de69043b7c46fb:42069d42a6d319b251648039409cff51$</string>
            <key>textureFileName</key>
            <string>ss_shadowclanleader-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
