<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanai/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,532}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{494,532}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>shanai/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{147,151}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{147,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shanai-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49d2f4b47bef95f5189cf2a8e3c1154:4b20b476d234ba61d3feee5d3639e6ba:2f0204560d815a0d437c8e1dc3cc06b7$</string>
            <key>textureFileName</key>
            <string>ss_shanai-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
