<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,307}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,307}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>shadow/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{74,75}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_shadow.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0abc63a5cb99f691cfa10c25429be5:9cce21fdfabccf9ce10a86dc91dd8971:46c169295349cc0dff991d9b2ef65d25$</string>
            <key>textureFileName</key>
            <string>ss_shadow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
