<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scrapheepgang04/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,548}}</string>
                <key>offset</key>
                <string>{-27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{458,548}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>scrapheepgang04/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{141,151}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{141,151}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_scrapheepgang04-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adff3be1e41a871852e0af0c7ce9852f:d83e3cd81f9e41b18b5008d05378ff52:2caef9e3b02d173f8627d0a2de2d6065$</string>
            <key>textureFileName</key>
            <string>ss_scrapheepgang04-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
