<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sedo_uniform/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,247}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{238,247}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>sedo_uniform/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{90,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{90,59}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sedo_uniform.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d0a90661a99fe2d67b87b1832497589:50f559de00421dc5cbf70dafaa6c0db8:ba3b99286e6d797c91aa8091d91a4afa$</string>
            <key>textureFileName</key>
            <string>ss_sedo_uniform.pvr.ccz</string>
        </dict>
    </dict>
</plist>
