<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trixie/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,253}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{230,253}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>trixie/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{84,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{84,69}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_trixie.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b099d389b7464301352fb6097ed712a8:5980c5c96d0fa0c1feff27cbb6b97526:0e7e7686e6dc745b40b66766d4df7a1b$</string>
            <key>textureFileName</key>
            <string>ss_trixie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
