<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,221}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{248,221}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{66,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{66,63}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>technician/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,221}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{248,221}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>technician/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{66,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{66,63}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_technician.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:409299d127119ad88320a9ba39ef7bba:6050b6dd257ae77b6b242f3a5e1c6401:fa53b5eccaba93f4de3716302a63779f$</string>
            <key>textureFileName</key>
            <string>ss_technician.pvr.ccz</string>
        </dict>
    </dict>
</plist>
