<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,442}}</string>
                <key>offset</key>
                <string>{-8,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{496,442}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{131,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{131,123}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
            <key>technician/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,442}}</string>
                <key>offset</key>
                <string>{-8,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{496,442}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>technician/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{131,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{131,123}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_technician-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:409299d127119ad88320a9ba39ef7bba:6050b6dd257ae77b6b242f3a5e1c6401:fa53b5eccaba93f4de3716302a63779f$</string>
            <key>textureFileName</key>
            <string>ss_technician-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
