<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,404}}</string>
                <key>offset</key>
                <string>{-21,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,210},{470,404}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>turret/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{185,123}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{185,123}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_turret-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa733b0d3f566fcd9e8b401aee5c683:6defffb7a2a8be9bdb6180e9410afe2a:995eedc465f060e830d1322a40234f32$</string>
            <key>textureFileName</key>
            <string>ss_turret-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
