<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,203}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{236,203}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>turret/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{94,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{94,63}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_turret.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aa733b0d3f566fcd9e8b401aee5c683:6defffb7a2a8be9bdb6180e9410afe2a:995eedc465f060e830d1322a40234f32$</string>
            <key>textureFileName</key>
            <string>ss_turret.pvr.ccz</string>
        </dict>
    </dict>
</plist>
