<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turtle/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,470}}</string>
                <key>offset</key>
                <string>{-15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,144},{482,470}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>turtle/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{173,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{173,141}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_turtle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dda32b5bfa2b2c95f017a177b488ed2:ed0fcacdcc840f22af20adf9e83d0383:0158e9e7d9cffb8686eefccacb41e881$</string>
            <key>textureFileName</key>
            <string>ss_turtle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
