<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>three_prison/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,241}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{256,241}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>three_prison/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{115,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{115,64}}</string>
                <key>sourceSize</key>
                <string>{129,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_three_prison.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:701a991e59bf4b314d03da29dc241f1a:8fbf42c22001dbb8f211f784d208144a:391d84277af5f11c0ea1cb033c25e288$</string>
            <key>textureFileName</key>
            <string>ss_three_prison.pvr.ccz</string>
        </dict>
    </dict>
</plist>
