<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thug1_thug2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,514}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{502,514}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>thug1_thug2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{183,107}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{183,107}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_thug1_thug2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37983b72f9440072a58b4d44abe06d87:9b0222a6356938be1afe2a0d029c6fcb:77d79ffb741f07933dba28fcf6eb48b9$</string>
            <key>textureFileName</key>
            <string>ss_thug1_thug2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
