<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggos_thug1_thug2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,257}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{252,257}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>viggos_thug1_thug2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{92,61}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{92,61}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggos_thug1_thug2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6322daa3d06a7418dc60085c85accc89:adb4c7353766440d6ecc2e8c943f2744:47cb33ba467b830d5803ac2afe61106d$</string>
            <key>textureFileName</key>
            <string>ss_viggos_thug1_thug2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
