<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggo_minion2/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,496}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{510,496}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>viggo_minion2/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{155,147}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{155,147}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggo_minion2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{663,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98c0b0c14fc03730c558e4c8b017932e:05b1908d8a2146f1d2948cb29616bada:2d30a46690329577713f5b3ea8b94e04$</string>
            <key>textureFileName</key>
            <string>ss_viggo_minion2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
