<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voodoo/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,279}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{256,279}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>voodoo/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,281},{96,91}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{96,91}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_voodoo.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462ebbd521f4ea3eeff47607456b7ae3:1dded09338c7e2dad81b01520287dfe5:080cefd3006f9ec91d0801abf99b0dd5$</string>
            <key>textureFileName</key>
            <string>ss_voodoo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
