<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viggo_minion1/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,219}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{256,219}}</string>
                <key>sourceSize</key>
                <string>{256,307}</string>
            </dict>
            <key>viggo_minion1/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,77}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_viggos_minion1.pvr.ccz</string>
            <key>size</key>
            <string>{339,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e484fc2c325d7bc887b915f67096fbfe:8a82e7783f36a8fb82f0b300613b334c:7792a77c3e10e049e09eb19c5376a0ae$</string>
            <key>textureFileName</key>
            <string>ss_viggos_minion1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
