<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieguard/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,464}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,150},{506,464}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>zombieguard/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{125,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{125,123}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_zombieguard-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3b1504ae0e2dbda9972332da2469303:375d0cfaaa323c4ee94bd6ecd13a40ee:700883c9c9ae94ab41c1a5d17c32e1ff$</string>
            <key>textureFileName</key>
            <string>ss_zombieguard-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
