<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombiechef/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,514}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{504,514}}</string>
                <key>sourceSize</key>
                <string>{512,614}</string>
            </dict>
            <key>zombiechef/card_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{131,145}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_zombiechef-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf4d76e841d1ba25ebb4bd10ce53dfad:9e1ef801d133890eecdf916dac9b189b:afd8c24612e18abe3cf7dbc096d43e67$</string>
            <key>textureFileName</key>
            <string>ss_zombiechef-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
