<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest_large/base_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{86,70}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{86,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/base_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{90,70}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/base_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{90,70}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/base_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{90,70}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{90,70}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/base_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,82}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{98,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/lid_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,194},{86,40}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{86,40}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/lid_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,146},{86,46}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{86,46}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/lid_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,90},{86,52}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{86,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/lid_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{86,52}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{86,52}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>chest_large/lid_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{1,1}}</string>
                <key>offset</key>
                <string>{-64.5,64.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chest_large.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f193d6049d064eb6c837e8a8e7d52dc3:0b075ea602eff4a8b5c6b097751c31bb:ab7f4b1a34a17a0b2a635fed24cc503a$</string>
            <key>textureFileName</key>
            <string>ss_chest_large.pvr.ccz</string>
        </dict>
    </dict>
</plist>
