<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest_small/base_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,174},{104,84}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{104,84}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/base_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{108,84}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{108,84}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/base_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,88},{108,84}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{108,84}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/base_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{108,84}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{108,84}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/base_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,98}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{118,98}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/lid_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{104,48}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{104,48}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/lid_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{104,56}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{104,56}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/lid_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,260},{102,64}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{102,64}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/lid_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{102,62}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{102,62}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>chest_small/lid_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{1,1}}</string>
                <key>offset</key>
                <string>{-77.5,77.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chest_small-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e6262982677a37a5b1998215935691:50bde032a1d652ae103029aeed9310f7:89ae08dd7e627b90914293a14e123f71$</string>
            <key>textureFileName</key>
            <string>ss_chest_small-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
