<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanethrone/darkbaneThrone_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,223}}</string>
                <key>offset</key>
                <string>{-42,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{104,223}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,227},{96,223}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{96,223}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{96,223}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{96,223}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{82,223}}</string>
                <key>offset</key>
                <string>{-45,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{82,223}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbanethrone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1fb057c4f88730c7718b6e3b95f006:e54add05a3fefad0a9c27a525fb611c2:e1991939fe95ab25e77f2d22f5c49ee5$</string>
            <key>textureFileName</key>
            <string>ss_darkbanethrone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
