<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>door/state_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{196,369}}</string>
                <key>offset</key>
                <string>{-190,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,369}}</string>
                <key>sourceSize</key>
                <string>{576,369}</string>
            </dict>
            <key>door/state_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{196,369}}</string>
                <key>offset</key>
                <string>{-190,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,369}}</string>
                <key>sourceSize</key>
                <string>{576,369}</string>
            </dict>
            <key>door/state_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{196,369}}</string>
                <key>offset</key>
                <string>{-190,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,369}}</string>
                <key>sourceSize</key>
                <string>{576,369}</string>
            </dict>
            <key>door/state_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,369}}</string>
                <key>offset</key>
                <string>{-190,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,369}}</string>
                <key>sourceSize</key>
                <string>{576,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_door-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35212ff11f87027da64a40cefd024660:e6e8387697cadfbbeaf6c82d6cfc22ff:32cffbb856d1db644e858ad542576609$</string>
            <key>textureFileName</key>
            <string>ss_door-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
