<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darkbanethrone/darkbaneThrone_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,113}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{52,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,117},{48,113}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{48,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{48,113}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{48,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>darkbanethrone/darkbaneThrone_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{40,113}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{40,113}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_darkbanethrone.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1fb057c4f88730c7718b6e3b95f006:e54add05a3fefad0a9c27a525fb611c2:e1991939fe95ab25e77f2d22f5c49ee5$</string>
            <key>textureFileName</key>
            <string>ss_darkbanethrone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
