<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dummy/body_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,178},{68,78}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,55},{68,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/body_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{68,78}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,55},{68,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/body_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,112},{64,86}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,51},{64,86}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/body_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,112},{60,80}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,65},{60,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/body_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{54,70}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,76},{54,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/head_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,248},{54,54}}</string>
                <key>offset</key>
                <string>{-2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,21},{54,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/head_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,194},{54,58}}</string>
                <key>offset</key>
                <string>{-4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,20},{54,58}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/head_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{50,60}}</string>
                <key>offset</key>
                <string>{1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,24},{50,60}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/head_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{50,54}}</string>
                <key>offset</key>
                <string>{20,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,39},{50,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/head_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,129.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,58},{102,52}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,126},{102,52}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{102,54}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,125},{102,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,54}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,126},{104,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{102,42}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,137},{102,42}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>dummy/stand_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,54}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,126},{102,54}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_dummy-hd.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cecc21790ced893c5f3dc71cac8f67e4:fd7e22b3ee18bcc8e26eb35acacf9cc8:d093fc60bf5a8f7a7da24e8ba352c046$</string>
            <key>textureFileName</key>
            <string>ss_dummy-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
