<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghoulstation/base_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{211,289}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,120},{211,289}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/base_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,289}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,120},{211,289}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/jar_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,170},{87,91}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{87,91}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/jar_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,170},{87,91}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{87,91}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/jar_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,81},{87,91}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{87,91}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/jar_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,81},{87,91}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{87,91}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/jar_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{69,91}}</string>
                <key>offset</key>
                <string>{-4,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,58},{69,91}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{189,77}}</string>
                <key>offset</key>
                <string>{-5,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{189,77}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
            <key>ghoulstation/top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,95},{187,85}}</string>
                <key>offset</key>
                <string>{-5,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{187,85}}</string>
                <key>sourceSize</key>
                <string>{255,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoulstation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faaa1da2a0e99ee6c4449c3df8191417:f96f61d2c7930a4b0b477da50a3aedbf:2884dfe7967b2d3e267b5c4d7537efec$</string>
            <key>textureFileName</key>
            <string>ss_ghoulstation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
