<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghoulstation/base_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{421,578}}</string>
                <key>offset</key>
                <string>{-15,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,240},{421,578}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/base_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,578}}</string>
                <key>offset</key>
                <string>{-15,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,240},{421,578}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/jar_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,331},{173,182}}</string>
                <key>offset</key>
                <string>{-8,202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,116},{173,182}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/jar_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,331},{173,182}}</string>
                <key>offset</key>
                <string>{-8,202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,116},{173,182}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/jar_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,156},{173,182}}</string>
                <key>offset</key>
                <string>{-8,202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,116},{173,182}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/jar_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,156},{173,182}}</string>
                <key>offset</key>
                <string>{-8,202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,116},{173,182}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/jar_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{135,180}}</string>
                <key>offset</key>
                <string>{-8,202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,117},{135,180}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{377,152}}</string>
                <key>offset</key>
                <string>{-9,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{377,152}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
            <key>ghoulstation/top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,184},{373,168}}</string>
                <key>offset</key>
                <string>{-10,325}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{373,168}}</string>
                <key>sourceSize</key>
                <string>{509,818}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ghoulstation-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faaa1da2a0e99ee6c4449c3df8191417:f96f61d2c7930a4b0b477da50a3aedbf:2884dfe7967b2d3e267b5c4d7537efec$</string>
            <key>textureFileName</key>
            <string>ss_ghoulstation-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
