<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship/ship_state_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>ship/ship_state_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>ship/ship_state_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,305},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>ship/ship_state_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>ship/ship_state_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
            <key>ship/ship_state_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{301,196}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,196}}</string>
                <key>sourceSize</key>
                <string>{317,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_ship-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ebaed5fb07bbdd1f282b7acc7e3a237:f63a2d9d371b9355eeb86988b7adba50:637df602e34c34781cbcbbb8549eef20$</string>
            <key>textureFileName</key>
            <string>ss_ship-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
