<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trash/bonus_trashHeap_lv1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,520},{288,249}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,249}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>trash/bonus_trashHeap_lv1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{290,249}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,249}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>trash/bonus_trashHeap_lv1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{290,249}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,249}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
            <key>trash/bonus_trashHeap_lv1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,265}}</string>
                <key>sourceSize</key>
                <string>{300,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_trash-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc4e57c9ee875f9aeb8b2e3b18e3d707:6ba9c08c313f4583a8b4cbe95e6d5e5c:2f94613c5a269c7b9b227141c41582f1$</string>
            <key>textureFileName</key>
            <string>ss_trash-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
