<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>windmill/layer1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{88,100}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{88,100}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,92},{78,100}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{64,84}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{64,84}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,172},{26,22}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{26,22}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{40,80}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,51},{40,80}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{40,74}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,57},{40,74}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,160},{40,58}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,73},{40,58}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{70,88}}</string>
                <key>offset</key>
                <string>{32,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,40},{70,88}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,220},{54,74}}</string>
                <key>offset</key>
                <string>{40,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{54,74}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{50,62}}</string>
                <key>offset</key>
                <string>{42,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,64},{50,62}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{24,62}}</string>
                <key>offset</key>
                <string>{30,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,63},{24,62}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/layer4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,188},{24,62}}</string>
                <key>offset</key>
                <string>{31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,63},{24,62}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>windmill/shadow_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,22}}</string>
                <key>offset</key>
                <string>{-15,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{104,22}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_windmill.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861c031dfbf54157829a71f128926a7b:47933a0c6860fbadd06ee4866654424a:35ea47f04234dd982674ab41fb5a5fe2$</string>
            <key>textureFileName</key>
            <string>ss_windmill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
