<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wagon/bonus_wagon_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{258,194}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{258,194}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>wagon/bonus_wagon_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,194}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{260,194}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>wagon/bonus_wagon_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{252,194}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{252,194}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
            <key>wagon/bonus_wagon_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{244,194}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{244,194}}</string>
                <key>sourceSize</key>
                <string>{260,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_wagon-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273642f322ecffd12bb5812de7106287:cfa096cfce98844e8a5fa251c4647f1d:3c2f695606d46787f44d266b49481cd9$</string>
            <key>textureFileName</key>
            <string>ss_wagon-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
