<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid/blackout_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{56,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,58},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{54,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{52,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{52,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,118},{54,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{54,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,188},{58,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>grid/blackout_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_blackout.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ffb6c01a50ecc2b628e600b4ef52998:a5efe621b27303efc5b6cfef51dc1eb6:2aad60abe145fd11e5d99f68fd63a91d$</string>
            <key>textureFileName</key>
            <string>ss_blackout.pvr.ccz</string>
        </dict>
    </dict>
</plist>
