<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/basicShot/basic_shot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,72},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/basicShot/basic_shot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/basicShot/basic_shot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{32,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/basicShot/basic_shot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_basicShot-hd.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd16d59959054d724230f56aa91a37ba:47a4218d65b5521c5f1f8c64db53d5a5:9231e5eb42dec7b3da226ce7f8c48e9a$</string>
            <key>textureFileName</key>
            <string>ss_basicShot-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
