<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots_ui/acidGreen/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/basicShot/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/blueBird/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/lightning/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>basic_shots_ui/majorLazer/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>basic_shots_ui/mellowYellow/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/oranges/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/pinkerton/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/royalPurple/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/snot/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>basic_shots_ui/sonicBoom/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>basic_shots_ui/sparkleBlade/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>basic_shots_ui/tealBerry/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots_ui/violentRed/select_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{16,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_basic_shots_ui.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36519026c4c889a8a7d41f91ae75a3dd:6673f3a9b9a6fe18f4d2e5bcded9d599:b232793dfa102c43bd2dae2e1cde56e3$</string>
            <key>textureFileName</key>
            <string>ss_basic_shots_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
