<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/lightning/light_pea_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>basic_shots/lightning/light_pea_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>basic_shots/lightning/light_pea_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>basic_shots/lightning/light_pea_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,20},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_lightning.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa70df7bb1bbacac43aae3fd85c1eebd:461051b48126ac283eed70f5126fcb3c:2d9d74e8b854c278c89191a81427277d$</string>
            <key>textureFileName</key>
            <string>ss_lightning.pvr.ccz</string>
        </dict>
    </dict>
</plist>
