<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,22},{18,6}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{18,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{18,6}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{18,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,42},{18,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{18,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{18,6}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{18,6}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,42},{18,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{18,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,42},{18,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{18,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/majorLazer/major_lazer_projectile_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_majorLazer.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7da81821c24e072b7887f80940599c:957fcc0825229431fa6a073380918305:afbb064bccdb22db1a37553420399c06$</string>
            <key>textureFileName</key>
            <string>ss_majorLazer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
