<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,44},{10,14}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{10,14}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{10,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{12,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sonicBoom.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01ad9ece7f1a82ab0de84f9dd5ec198:5f17396712785be1e55f31ad9ca5a702:73dd02b969d028fba5f51949b95a3db9$</string>
            <key>textureFileName</key>
            <string>ss_sonicBoom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
