<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{18,28}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{18,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{18,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{18,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,22},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{24,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>basic_shots/sonicBoom/sonic_boom_projectile_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sonicBoom-hd.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01ad9ece7f1a82ab0de84f9dd5ec198:5f17396712785be1e55f31ad9ca5a702:73dd02b969d028fba5f51949b95a3db9$</string>
            <key>textureFileName</key>
            <string>ss_sonicBoom-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
