<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basic_shots/snot/snot_shot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,22},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,22},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,22},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>basic_shots/snot/snot_shot_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,22},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_snot.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c65eed0b012f9b89326296238ab3ebd:fe1b4098b72265cb50b7559f65761f64:08bb1a9675b15f767666084d5f6dd186$</string>
            <key>textureFileName</key>
            <string>ss_snot.pvr.ccz</string>
        </dict>
    </dict>
</plist>
