<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits/NC_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,446},{86,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{86,45}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>credits/bf_srf_logos.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{167,58}</string>
            </dict>
            <key>credits/cocos2dlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,324},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>credits/credits_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_credits.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e062c0dc8bcc4f7030b850f8397b70:2a5af25c465d9e938923ba75502411e7:99761ba5fd98b4cd9dccb36c91ec8957$</string>
            <key>textureFileName</key>
            <string>ss_credits.pvr.ccz</string>
        </dict>
    </dict>
</plist>
