<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_reward/chest_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{285,229}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{285,229}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>challenge_reward/chest_opened.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,239}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_challenge_reward-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3f6eebe00890a9a052c46fb9450b4f:315fbeec2c84288ac91fd6af4f605e2c:a5ec89d61fd43d674e362786d1280b4d$</string>
            <key>textureFileName</key>
            <string>ss_challenge_reward-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
