<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_select/challenge_chapters/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,596},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,794},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,596},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,794},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,596},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,838},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_draino.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,716},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,594},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_gridlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,489},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_mix.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,384},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_stunlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,870},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_suddendeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,765},{103,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{103,120}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_chapters/character_card_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,270},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>challenge_select/challenge_chapters/character_card_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,983},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>challenge_select/challenge_chapters/clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,569},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>challenge_select/challenge_chapters/slugseeker_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,794},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,983},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,200},{182,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{182,127}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,585},{178,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,127}}</string>
                <key>sourceSize</key>
                <string>{178,127}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_lock_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,794},{178,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,127}}</string>
                <key>sourceSize</key>
                <string>{178,127}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,398},{185,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,134}}</string>
                <key>sourceSize</key>
                <string>{185,134}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/army_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,596},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/maroon.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/olive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/tank_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,398},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>challenge_select/challenge_encounters/state_completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,200},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,983},{22,27}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{22,27}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,489},{78,77}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{78,77}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,906},{84,75}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,594},{90,87}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,816},{88,75}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,75}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,686},{82,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{82,83}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,771},{82,43}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{82,43}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,94},{86,45}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{86,45}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{90,49}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{90,49}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,943},{72,47}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,36},{72,47}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,943},{74,47}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{74,47}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_challenge_select.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796b0367b8d7f620cce3a55bf833fb4c:579c458738a5d63becd617c26b51922c:7870b10710e9e3b1cdb59d3d1432c19c$</string>
            <key>textureFileName</key>
            <string>ss_challenge_select.pvr.ccz</string>
        </dict>
    </dict>
</plist>
