<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest/base_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,418},{199,73}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,88},{199,73}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>chest/base_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,213}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{267,213}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>chest/lid_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,217},{199,95}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,33},{199,95}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>chest/lid_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{161,115}}</string>
                <key>offset</key>
                <string>{-54,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{161,115}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>chest/lock_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{147,217}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,11},{147,217}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
            <key>chest/lock_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,151},{207,201}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{207,201}}</string>
                <key>sourceSize</key>
                <string>{285,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chest-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b7e2f314631d5d439f613a6091df3af:5ed2353fa87dc7d847ad9ee75728142c:cc2f2d274f2f3a90b598d9e879a3b534$</string>
            <key>textureFileName</key>
            <string>ss_chest-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
