<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>code_unlock/chapters_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,221},{135,151}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{141,151}</string>
            </dict>
            <key>code_unlock/coins_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,374},{139,121}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{139,121}}</string>
                <key>sourceSize</key>
                <string>{141,151}</string>
            </dict>
            <key>code_unlock/redeem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,217}}</string>
                <key>sourceSize</key>
                <string>{292,217}</string>
            </dict>
            <key>code_unlock/result.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,221},{175,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,217}}</string>
                <key>sourceSize</key>
                <string>{175,217}</string>
            </dict>
            <key>code_unlock/test_toy.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>code_unlock/title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{274,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,34}}</string>
                <key>sourceSize</key>
                <string>{274,34}</string>
            </dict>
            <key>code_unlock/toys.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{175,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,217}}</string>
                <key>sourceSize</key>
                <string>{175,217}</string>
            </dict>
            <key>code_unlock/toys_V2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{175,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,217}}</string>
                <key>sourceSize</key>
                <string>{175,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_code_unlock.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88d31822c0359711e10100a07e6b634f:364bcc7d0f3a43baab80bb6be1a33f10:7096f7da3a0d29f8cbb4795dcb235724$</string>
            <key>textureFileName</key>
            <string>ss_code_unlock.pvr.ccz</string>
        </dict>
    </dict>
</plist>
