<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_select/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>chapter_select/card_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{295,418}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{295,418}}</string>
                <key>sourceSize</key>
                <string>{305,428}</string>
            </dict>
            <key>chapter_select/card_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/card_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1383},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1112},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap13.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap14.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap15.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap16.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap17.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,964},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,841},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap5_encounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,570},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,614},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,570},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,299},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chap9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,343},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/chapter_title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{548,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,68}}</string>
                <key>sourceSize</key>
                <string>{548,68}</string>
            </dict>
            <key>chapter_select/lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,284},{116,166}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,47},{116,166}}</string>
                <key>sourceSize</key>
                <string>{140,218}</string>
            </dict>
            <key>chapter_select/lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,72},{122,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{122,210}}</string>
                <key>sourceSize</key>
                <string>{140,218}</string>
            </dict>
            <key>chapter_select/rand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1752},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/random.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,570},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/star_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{113,96}}</string>
                <key>offset</key>
                <string>{-1,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,285},{113,96}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,72},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>chapter_select/ui_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,117},{418,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{418,87}}</string>
                <key>sourceSize</key>
                <string>{426,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_chapter_select-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1c073f04327f7788617e692733cc0b7:6d3bee23755c20e2b4b55037a0d1ea1c:44a35483bd8bb1ca14fa1a8509a59ebd$</string>
            <key>textureFileName</key>
            <string>ss_chapter_select-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
