<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_select/challenge_chapters/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1399},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1399},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1399},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,815},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,815},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,544},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,544},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1473},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1079},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,685},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1473},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1165},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_draino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1161},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,958},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_gridlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,923},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_mix.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,751},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_stunlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,685},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/challenge_card_suddendeath.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,544},{205,236}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,87},{205,236}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_chapters/character_card_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1972},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>challenge_select/challenge_chapters/character_card_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>challenge_select/challenge_chapters/clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1972},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>challenge_select/challenge_chapters/slugseeker_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1403},{267,390}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{267,390}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,544},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1086},{364,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,254}}</string>
                <key>sourceSize</key>
                <string>{364,254}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1793},{354,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{354,253}}</string>
                <key>sourceSize</key>
                <string>{356,253}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_lock_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1793},{354,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{354,253}}</string>
                <key>sourceSize</key>
                <string>{356,253}</string>
            </dict>
            <key>challenge_select/challenge_encounters/card_state_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1672},{369,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,267}}</string>
                <key>sourceSize</key>
                <string>{369,267}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/army_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1079},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,685},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/maroon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/olive.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/tank_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/cards_bg/yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>challenge_select/challenge_encounters/state_completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,544},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1972},{45,56}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,71},{45,56}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1867},{157,152}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{157,152}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1867},{167,150}}</string>
                <key>offset</key>
                <string>{-19,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{167,150}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,2},{181,172}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,274},{173,150}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{173,150}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,520},{163,168}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{163,168}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1867},{163,86}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,88},{163,86}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,426},{173,92}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,77},{173,92}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,176},{179,96}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,62},{179,96}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,544},{143,96}}</string>
                <key>offset</key>
                <string>{32,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{143,96}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
            <key>challenge_select/effects/confetti/confetti_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,544},{149,94}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{149,94}}</string>
                <key>sourceSize</key>
                <string>{207,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_challenge_select-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796b0367b8d7f620cce3a55bf833fb4c:579c458738a5d63becd617c26b51922c:7870b10710e9e3b1cdb59d3d1432c19c$</string>
            <key>textureFileName</key>
            <string>ss_challenge_select-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
