<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>encounter_select/btn_loadout_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,841},{368,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{368,97}}</string>
                <key>sourceSize</key>
                <string>{374,101}</string>
            </dict>
            <key>encounter_select/btn_loadout_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,841},{368,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{368,97}}</string>
                <key>sourceSize</key>
                <string>{374,101}</string>
            </dict>
            <key>encounter_select/card_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{295,418}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{295,418}}</string>
                <key>sourceSize</key>
                <string>{305,428}</string>
            </dict>
            <key>encounter_select/card_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,544},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/army_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,940},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1754},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1360},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,966},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/maroon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/olive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,570},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/tank_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,299},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/treasure_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,273},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/treasure_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/cards_bg/yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{269,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>encounter_select/chapter_title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{438,60}}</string>
                <key>sourceSize</key>
                <string>{460,62}</string>
            </dict>
            <key>encounter_select/ends/army_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1684},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1627},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1570},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1684},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/green.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1627},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1334},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/maroon.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1334},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/olive.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1334},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1334},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1570},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/red.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1334},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/tank_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,771},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1627},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/violet.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,535},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/ends/yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,299},{234,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{234,55}</string>
            </dict>
            <key>encounter_select/loadout_new_upgrade_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,153},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>encounter_select/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,544},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>encounter_select/ui_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{418,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{418,87}}</string>
                <key>sourceSize</key>
                <string>{426,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_encounter_select-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efd66afabd6e88e886560ac9eace011b:9659716cca5da64cd88c6a59dab1669a:2096dedc4c823569af98c945cd5a311e$</string>
            <key>textureFileName</key>
            <string>ss_encounter_select-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
