<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carousel/avatar_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,348},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>carousel/black_bottom_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,283},{512,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,96}}</string>
                <key>sourceSize</key>
                <string>{512,96}</string>
            </dict>
            <key>carousel/booster_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,37},{1,1}}</string>
                <key>offset</key>
                <string>{-55,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,139}</string>
            </dict>
            <key>carousel/booster_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,380},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>carousel/booster_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,478},{93,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,21}}</string>
                <key>sourceSize</key>
                <string>{93,21}</string>
            </dict>
            <key>carousel/boosters/autocharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,234},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>carousel/boosters/blaster_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,146},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>carousel/boosters/blaster_velocity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>carousel/boosters/max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,97},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>carousel/boosters/pre_igniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>carousel/btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,451},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>carousel/btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,380},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>carousel/drag_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{175,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,93}}</string>
                <key>sourceSize</key>
                <string>{175,93}</string>
            </dict>
            <key>carousel/empty_slug_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,371},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>carousel/slug_lvl_number_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,283},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>carousel/unlocked_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,545},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>carousel/upgraded_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,522},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>equipment/arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,415},{29,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,61}}</string>
                <key>sourceSize</key>
                <string>{29,61}</string>
            </dict>
            <key>equipment/btn_purchase_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>equipment/btn_purchase_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,39}}</string>
                <key>sourceSize</key>
                <string>{125,39}</string>
            </dict>
            <key>equipment/drag_hand_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,277},{69,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,76}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>equipment/drag_hand_up_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,201},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>equipment/page_indicator_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,137},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>equipment/page_indicator_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,129},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>equipment/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{220,31}}</string>
                <key>sourceSize</key>
                <string>{230,31}</string>
            </dict>
            <key>iap/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{107,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,33}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>skins/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,37},{1,1}}</string>
                <key>offset</key>
                <string>{-81,21.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>sluglock/Lock_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,306},{72,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,43},{72,51}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>slugs/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,35},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>slugs/gauge_lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{59,65}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{59,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>slugs/gauge_lock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,97},{33,47}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{33,47}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>slugs/gauge_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,120},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>treasure/chest_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,37},{106,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{122,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_equipment.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df751f53f16b23e39f0c2fa3df4711c7:8ce5bce9eed9b829df05660f3abb15a1:92d85b0e7e8d3760e8916bd181eff61c$</string>
            <key>textureFileName</key>
            <string>ss_equipment.pvr.ccz</string>
        </dict>
    </dict>
</plist>
