<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carousel/avatar_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,190},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>carousel/black_bottom_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,191}}</string>
                <key>sourceSize</key>
                <string>{1024,191}</string>
            </dict>
            <key>carousel/booster_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-110,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{221,277}</string>
            </dict>
            <key>carousel/booster_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1964},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>carousel/booster_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{186,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,41}}</string>
                <key>sourceSize</key>
                <string>{186,41}</string>
            </dict>
            <key>carousel/boosters/autocharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>carousel/boosters/blaster_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,641},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>carousel/boosters/blaster_velocity.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,273},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>carousel/boosters/max_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>carousel/boosters/pre_igniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{269,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,269}}</string>
                <key>sourceSize</key>
                <string>{269,269}</string>
            </dict>
            <key>carousel/btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,502},{137,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,43}}</string>
                <key>sourceSize</key>
                <string>{137,43}</string>
            </dict>
            <key>carousel/btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,363},{137,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,43}}</string>
                <key>sourceSize</key>
                <string>{137,43}</string>
            </dict>
            <key>carousel/drag_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1352},{350,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,185}}</string>
                <key>sourceSize</key>
                <string>{350,185}</string>
            </dict>
            <key>carousel/empty_slug_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1749},{127,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{127,128}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>carousel/slug_lvl_number_booster_skins.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,641},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>carousel/unlocked_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,793},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>carousel/upgraded_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,749},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>equipment/arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1570},{57,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,122}}</string>
                <key>sourceSize</key>
                <string>{57,122}</string>
            </dict>
            <key>equipment/btn_purchase_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,912},{250,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,78}}</string>
                <key>sourceSize</key>
                <string>{250,78}</string>
            </dict>
            <key>equipment/btn_purchase_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,544},{250,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,78}}</string>
                <key>sourceSize</key>
                <string>{250,78}</string>
            </dict>
            <key>equipment/drag_hand_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1704},{138,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{138,152}</string>
            </dict>
            <key>equipment/drag_hand_up_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1704},{147,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,152}}</string>
                <key>sourceSize</key>
                <string>{147,152}</string>
            </dict>
            <key>equipment/page_indicator_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,555},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{9,9}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>equipment/page_indicator_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,544},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{9,9}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>equipment/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,912},{438,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{438,60}}</string>
                <key>sourceSize</key>
                <string>{460,62}</string>
            </dict>
            <key>iap/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1749},{213,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,66}}</string>
                <key>sourceSize</key>
                <string>{213,66}</string>
            </dict>
            <key>skins/text_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{-162,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{325,87}</string>
            </dict>
            <key>sluglock/Lock_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1853},{146,101}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,85},{146,101}}</string>
                <key>sourceSize</key>
                <string>{160,269}</string>
            </dict>
            <key>slugs/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,992},{163,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,164}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>slugs/gauge_lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{115,129}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{115,129}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/gauge_lock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1956},{63,91}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{63,91}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>slugs/gauge_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1157},{157,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,159}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>treasure/chest_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{209,177}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{209,177}}</string>
                <key>sourceSize</key>
                <string>{243,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_equipment-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df751f53f16b23e39f0c2fa3df4711c7:8ce5bce9eed9b829df05660f3abb15a1:92d85b0e7e8d3760e8916bd181eff61c$</string>
            <key>textureFileName</key>
            <string>ss_equipment-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
