<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>encounter_select/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>encounter_select/loadout_case.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,46}}</string>
                <key>sourceSize</key>
                <string>{480,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_encounter_select_pvrtc.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1be7d7c41bf6636ced3d641eaffa744:80a9be63815aca30f0fde5de6ebb5fe5:d098ee28cb2f67a5ed747a3002dbdb1f$</string>
            <key>textureFileName</key>
            <string>ss_encounter_select_pvrtc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
