<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endless_select/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>endless_select/bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{480,69}}</string>
                <key>sourceSize</key>
                <string>{480,73}</string>
            </dict>
            <key>endless_select/btn_global_leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,437},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,25}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>endless_select/chapter_title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,215},{220,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{220,31}}</string>
                <key>sourceSize</key>
                <string>{230,31}</string>
            </dict>
            <key>endless_select/code_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{253,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,197}}</string>
                <key>sourceSize</key>
                <string>{255,197}</string>
            </dict>
            <key>endless_select/endless_highscores.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{226,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{226,221}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
            <key>endless_select/endless_stats.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,334},{168,184}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{168,184}}</string>
                <key>sourceSize</key>
                <string>{198,194}</string>
            </dict>
            <key>endless_select/highscores_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,319},{278,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,74}}</string>
                <key>sourceSize</key>
                <string>{278,74}</string>
            </dict>
            <key>endless_select/hurray_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,221},{424,96}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,58},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,154}</string>
            </dict>
            <key>endless_select/hurray_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,73},{466,146}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{466,146}}</string>
                <key>sourceSize</key>
                <string>{480,154}</string>
            </dict>
            <key>endless_select/infobox_box_gc.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,395},{226,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,149}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>endless_select/infobox_box_stats.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,324},{226,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,149}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>endless_select/infobox_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,221},{111,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,27}}</string>
                <key>sourceSize</key>
                <string>{111,27}</string>
            </dict>
            <key>endless_select/infobox_tab_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,464},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>endless_select/scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{197,167}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{197,167}}</string>
                <key>sourceSize</key>
                <string>{205,173}</string>
            </dict>
            <key>endless_select/small_stat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,417},{95,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,25}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>endless_select/title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,215},{200,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,35}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>endless_select/ui_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{211,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{211,44}}</string>
                <key>sourceSize</key>
                <string>{213,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_endless_select.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7755c7124fb5eab7bfa2c8f0cf9be8:684b8e9cb635eb787682406850a82822:17e39ba84c0663d4361585c8a5cc0b0e$</string>
            <key>textureFileName</key>
            <string>ss_endless_select.pvr.ccz</string>
        </dict>
    </dict>
</plist>
