<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadout/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>loadout/cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,416},{77,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>loadout/disc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{442,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{442,90}}</string>
                <key>sourceSize</key>
                <string>{446,90}</string>
            </dict>
            <key>loadout/gauge_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,495},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/gauge_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/gauge_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,521},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/gauge_lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,324},{59,65}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{59,65}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>loadout/gauge_lock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,516},{33,47}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{33,47}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>loadout/gauge_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,440},{79,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>loadout/gauge_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,521},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/gauge_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,521},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/gauge_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,391},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{49,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>loadout/guide_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>loadout/info_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>loadout/selector.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{98,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,169}}</string>
                <key>sourceSize</key>
                <string>{100,169}</string>
            </dict>
            <key>loadout/slot_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,416},{167,139}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{167,139}}</string>
                <key>sourceSize</key>
                <string>{179,153}</string>
            </dict>
            <key>loadout/unlocked_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,53},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>loadout/upgraded_slug_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,30},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_loadout.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a54e195578acb64bfa22ec829709a0c:987b7893875f0d55ee3b423a37356708:4193faead184cf256769b03d7e843c28$</string>
            <key>textureFileName</key>
            <string>ss_loadout.pvr.ccz</string>
        </dict>
    </dict>
</plist>
