<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_lobby/bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{330,119}}</string>
                <key>sourceSize</key>
                <string>{332,119}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,173},{48,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,123},{44,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{42,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{42,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,232},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,192},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,190},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,123},{42,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,232},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,191},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{40,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,148},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,167},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,169},{42,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>mp_lobby/icon_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{46,66}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,66}}</string>
                <key>sourceSize</key>
                <string>{56,90}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,123},{48,43}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{48,43}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,460},{48,45}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{48,45}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{48,49}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{48,49}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,460},{48,51}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{48,51}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,460},{48,55}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{48,55}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,460},{48,57}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{48,57}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,460},{48,59}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,59}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>mp_lobby/infobox_box_gc.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,232},{226,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,149}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>mp_lobby/infobox_box_stats.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{226,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,149}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>mp_lobby/infobox_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,123},{111,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,27}}</string>
                <key>sourceSize</key>
                <string>{111,27}</string>
            </dict>
            <key>mp_lobby/infobox_tab_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,123},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>mp_lobby/portrait_unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,35},{195,161}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{195,161}}</string>
                <key>sourceSize</key>
                <string>{231,207}</string>
            </dict>
            <key>mp_lobby/status_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{176,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,31}}</string>
                <key>sourceSize</key>
                <string>{180,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mp_lobby.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d3ee241f3cd727a1f12b3cd68d4414:1df88f981f5e7d046f0abf6765860ef4:5a98f0cccd685c81751dcb485ee99b25$</string>
            <key>textureFileName</key>
            <string>ss_mp_lobby.pvr.ccz</string>
        </dict>
    </dict>
</plist>
