<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>modal_iap_ad/bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,472}}</string>
                <key>sourceSize</key>
                <string>{640,472}</string>
            </dict>
            <key>modal_iap_ad/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,958},{248,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,60}}</string>
                <key>sourceSize</key>
                <string>{248,60}</string>
            </dict>
            <key>modal_iap_ad/special_coin_huge.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,476},{510,145}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{510,145}}</string>
                <key>sourceSize</key>
                <string>{590,179}</string>
            </dict>
            <key>modal_iap_ad/special_coin_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,476},{480,121}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,32},{480,121}}</string>
                <key>sourceSize</key>
                <string>{590,179}</string>
            </dict>
            <key>modal_iap_ad/special_coin_massive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{538,173}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{538,173}}</string>
                <key>sourceSize</key>
                <string>{590,179}</string>
            </dict>
            <key>modal_iap_ad/special_coin_several.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{344,161}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{344,161}}</string>
                <key>sourceSize</key>
                <string>{590,179}</string>
            </dict>
            <key>modal_iap_ad/special_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,165},{296,127}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,32},{296,127}}</string>
                <key>sourceSize</key>
                <string>{590,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_modal_iap_ad-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c51766a7a40ddad2e08045251f717aa:9a62b0f98b0b4ecb2ae7e5ad061e7102:5341979c610693352411acd4b647c40a$</string>
            <key>textureFileName</key>
            <string>ss_modal_iap_ad-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
