<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_score/bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{298,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,97}}</string>
                <key>sourceSize</key>
                <string>{298,97}</string>
            </dict>
            <key>mp_score/box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,309}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,309}}</string>
                <key>sourceSize</key>
                <string>{256,311}</string>
            </dict>
            <key>mp_score/mp_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{194,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,109}}</string>
                <key>sourceSize</key>
                <string>{194,109}</string>
            </dict>
            <key>mp_score/mp_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,313},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mp_score.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b22ec55f725b9a6b97154d445d875ab0:4b1575945e0d895499afdba796e9276a:9eab3343fad60281a16a312daa963a8b$</string>
            <key>textureFileName</key>
            <string>ss_mp_score.pvr.ccz</string>
        </dict>
    </dict>
</plist>
