<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp_lobby/bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,236}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{658,236}}</string>
                <key>sourceSize</key>
                <string>{664,238}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,907},{94,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,334},{86,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,287},{80,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_changingslugs_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,369},{78,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,365},{76,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,372},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,322},{80,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,326},{84,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,453},{74,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,287},{76,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{76,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,240},{80,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_connecting_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,240},{84,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mp_lobby/icon_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{91,130}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{91,130}}</string>
                <key>sourceSize</key>
                <string>{111,180}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,240},{92,83}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{92,83}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,907},{92,89}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{92,89}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,907},{94,95}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{94,95}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,907},{94,101}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{94,101}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,907},{94,107}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{94,107}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{94,113}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{94,113}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/icon_zzz_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,907},{94,117}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{94,117}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>mp_lobby/infobox_box_gc.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,453},{452,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,297}}</string>
                <key>sourceSize</key>
                <string>{452,297}</string>
            </dict>
            <key>mp_lobby/infobox_box_stats.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{452,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,297}}</string>
                <key>sourceSize</key>
                <string>{452,297}</string>
            </dict>
            <key>mp_lobby/infobox_tab_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,240},{222,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,53}}</string>
                <key>sourceSize</key>
                <string>{222,53}</string>
            </dict>
            <key>mp_lobby/infobox_tab_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,240},{237,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,45}}</string>
                <key>sourceSize</key>
                <string>{237,45}</string>
            </dict>
            <key>mp_lobby/portrait_unknown.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,63},{388,319}}</string>
                <key>offset</key>
                <string>{-37,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{388,319}}</string>
                <key>sourceSize</key>
                <string>{462,413}</string>
            </dict>
            <key>mp_lobby/status_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{350,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{350,59}}</string>
                <key>sourceSize</key>
                <string>{360,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_mp_lobby-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d3ee241f3cd727a1f12b3cd68d4414:1df88f981f5e7d046f0abf6765860ef4:5a98f0cccd685c81751dcb485ee99b25$</string>
            <key>textureFileName</key>
            <string>ss_mp_lobby-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
