<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>news/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>news/chapter_title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{274,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,34}}</string>
                <key>sourceSize</key>
                <string>{274,34}</string>
            </dict>
            <key>news/news_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{349,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,238}}</string>
                <key>sourceSize</key>
                <string>{349,238}</string>
            </dict>
            <key>news/no_news_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{349,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,238}}</string>
                <key>sourceSize</key>
                <string>{349,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_news.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae9325215e12047ed87c7a0d6ad043c:224385dc4181c54dea53cc90d3f1ff1f:ac7205048629ccc2e338cc59c11c95ed$</string>
            <key>textureFileName</key>
            <string>ss_news.pvr.ccz</string>
        </dict>
    </dict>
</plist>
