<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sluginfo_ui/Eli_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>sluginfo_ui/block_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_sluginfobox.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7968edc31b78e7260a9c7beca131552a:b5dbc325a2f93feb2b327e8861ad8143:81ed235c5c4489d5cd2245713071cc71$</string>
            <key>textureFileName</key>
            <string>ss_sluginfobox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
