<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugseeker_reward/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,750}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
            <key>slugseeker_reward/coin_huge.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1737},{168,143}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,71},{168,143}}</string>
                <key>sourceSize</key>
                <string>{204,291}</string>
            </dict>
            <key>slugseeker_reward/coin_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1907},{164,89}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,93},{164,89}}</string>
                <key>sourceSize</key>
                <string>{204,291}</string>
            </dict>
            <key>slugseeker_reward/coin_massive.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1737},{182,153}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,65},{182,153}}</string>
                <key>sourceSize</key>
                <string>{204,291}</string>
            </dict>
            <key>slugseeker_reward/coin_several.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1921},{140,121}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,76},{140,121}}</string>
                <key>sourceSize</key>
                <string>{204,291}</string>
            </dict>
            <key>slugseeker_reward/coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1929},{126,95}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,90},{126,95}}</string>
                <key>sourceSize</key>
                <string>{204,291}</string>
            </dict>
            <key>slugseeker_reward/pedestal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{447,272}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{447,272}}</string>
                <key>sourceSize</key>
                <string>{451,276}</string>
            </dict>
            <key>slugseeker_reward/sparkly_glow_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1489},{246,246}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>slugseeker_reward/spikes_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1000,146}}</string>
                <key>offset</key>
                <string>{0,-302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,604},{1000,146}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
            <key>slugseeker_reward/spikes_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{1000,136}}</string>
                <key>offset</key>
                <string>{0,307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,136}}</string>
                <key>sourceSize</key>
                <string>{1000,750}</string>
            </dict>
            <key>slugseeker_reward/title_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1489},{438,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{438,60}}</string>
                <key>sourceSize</key>
                <string>{460,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugseeker_reward-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e3c794b22c10d1b0079326439d8b17:1838acc3e2239c5c5cc8230abab07dce:e8ce31a96455c21c8adcdc65b5eb6e8d$</string>
            <key>textureFileName</key>
            <string>ss_slugseeker_reward-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
