<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugseeker_cavern/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,249}}</string>
                <key>sourceSize</key>
                <string>{498,249}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/slug_crystalyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,719},{65,88}}</string>
                <key>offset</key>
                <string>{-23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,78},{65,88}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/slug_speedstringer.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,937},{61,80}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,85},{61,80}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/slug_hypnogriff.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,843},{61,94}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,70},{61,94}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/slug_slicksilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,599},{49,66}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,94},{49,66}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/slug_fuse_ghoul_vinedrill_ghoul_frost.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,843},{77,92}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,77},{77,92}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/slug_ghoul_thresher.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,505},{67,118}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{67,118}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/slug_narwhaddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,719},{55,90}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,82},{55,90}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/slug_slyren.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,937},{55,82}}</string>
                <key>offset</key>
                <string>{26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{55,82}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/slug_firenzar.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,939},{71,82}}</string>
                <key>offset</key>
                <string>{29,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{71,82}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/slug_midas.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,809},{51,88}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,80},{51,88}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,253},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_gazzer.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,689},{63,86}}</string>
                <key>offset</key>
                <string>{20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{63,86}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_thugglet.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,599},{59,88}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,76},{59,88}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_thugglet_dst.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,599},{59,88}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,76},{59,88}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/slug_ghoul_makobreaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,625},{63,92}}</string>
                <key>offset</key>
                <string>{-31,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,76},{63,92}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/slug_mega_thresher.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,505},{63,92}}</string>
                <key>offset</key>
                <string>{28,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{63,92}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{125,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{125,186}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{133,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,196}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
            <key>slugseeker_cavern/cards/mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,657},{121,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{121,184}}</string>
                <key>sourceSize</key>
                <string>{135,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugseeker_cavern_select0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7113c4a6b7c59f6005bb19d88f692dbc:6810b76504da1d527ad3dd577b379ccc:ae95756f3ad50bb73a2eadb555e1732f$</string>
            <key>textureFileName</key>
            <string>ss_slugseeker_cavern_select0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
