<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slugseeker_cavern/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,498}}</string>
                <key>sourceSize</key>
                <string>{996,498}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/slug_crystalyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1244},{129,174}}</string>
                <key>offset</key>
                <string>{-46,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,158},{129,174}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern1/slug_speedstringer.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1420},{121,160}}</string>
                <key>offset</key>
                <string>{52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,169},{121,160}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/slug_hypnogriff.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1672},{121,188}}</string>
                <key>offset</key>
                <string>{-46,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,139},{121,188}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern2/slug_slicksilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1949},{97,128}}</string>
                <key>offset</key>
                <string>{41,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,191},{97,128}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/slug_fuse_ghoul_vinedrill_ghoul_frost.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1858},{149,182}}</string>
                <key>offset</key>
                <string>{43,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,155},{149,182}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern3/slug_ghoul_thresher.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1004},{135,238}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,91},{135,238}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,404},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/slug_narwhaddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1244},{111,178}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,166},{111,178}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern4/slug_slyren.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1420},{109,162}}</string>
                <key>offset</key>
                <string>{51,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,174},{109,162}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/slug_firenzar.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1602},{139,164}}</string>
                <key>offset</key>
                <string>{58,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,167},{139,164}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern5/slug_midas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1949},{97,174}}</string>
                <key>offset</key>
                <string>{-59,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,162},{97,174}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,502},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_gazzer.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1004},{125,172}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{125,172}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_thugglet.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1424},{115,176}}</string>
                <key>offset</key>
                <string>{-48,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,151},{115,176}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern6/slug_thugglet_dst.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1424},{115,176}}</string>
                <key>offset</key>
                <string>{-48,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,151},{115,176}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{500,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/slug_ghoul_makobreaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1672},{123,184}}</string>
                <key>offset</key>
                <string>{-62,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,152},{123,184}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/cavern7/slug_mega_thresher.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1862},{125,184}}</string>
                <key>offset</key>
                <string>{56,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,153},{125,184}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{247,370}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{247,370}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{265,392}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,392}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
            <key>slugseeker_cavern/cards/mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1306},{241,364}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{241,364}}</string>
                <key>sourceSize</key>
                <string>{269,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_slugseeker_cavern_select0-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7113c4a6b7c59f6005bb19d88f692dbc:6810b76504da1d527ad3dd577b379ccc:ae95756f3ad50bb73a2eadb555e1732f$</string>
            <key>textureFileName</key>
            <string>ss_slugseeker_cavern_select0-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
