<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title/grey_9scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1904},{239,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,85}}</string>
                <key>sourceSize</key>
                <string>{239,85}</string>
            </dict>
            <key>title/menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,619},{395,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,97}}</string>
                <key>sourceSize</key>
                <string>{395,97}</string>
            </dict>
            <key>title/menu_button_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1904},{438,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{438,141}}</string>
                <key>sourceSize</key>
                <string>{484,177}</string>
            </dict>
            <key>title/menu_button_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1016},{438,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{438,143}}</string>
                <key>sourceSize</key>
                <string>{484,177}</string>
            </dict>
            <key>title/menu_button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,222},{395,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,97}}</string>
                <key>sourceSize</key>
                <string>{395,97}</string>
            </dict>
            <key>title/name_characters_titlescreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,376},{296,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,56}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>title/option.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,112},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>title/option_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>title/play_icon_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{47,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{47,22}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>title/play_icon_multiplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,726},{67,48}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{67,48}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>title/play_icon_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,222},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{49,38}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>title/play_icon_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1028},{43,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{43,48}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>title/redCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,674},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>title/title_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>title/titlescreen_bg_eli.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1456},{446,754}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{446,754}}</string>
                <key>sourceSize</key>
                <string>{470,760}</string>
            </dict>
            <key>title/titlescreen_bg_kord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{654,933}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,933}}</string>
                <key>sourceSize</key>
                <string>{654,933}</string>
            </dict>
            <key>title/titlescreen_bg_pronto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,1071}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,1071}}</string>
                <key>sourceSize</key>
                <string>{618,1071}</string>
            </dict>
            <key>title/titlescreen_bg_trixie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,376},{454,716}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{454,716}}</string>
                <key>sourceSize</key>
                <string>{470,752}</string>
            </dict>
            <key>title/titlescreen_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{513,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,372}}</string>
                <key>sourceSize</key>
                <string>{513,372}</string>
            </dict>
            <key>title/titlescreen_menu_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1094},{347,95}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{347,95}}</string>
                <key>sourceSize</key>
                <string>{365,101}</string>
            </dict>
            <key>title/titlescreen_menu_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1094},{359,97}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{359,97}}</string>
                <key>sourceSize</key>
                <string>{365,101}</string>
            </dict>
            <key>title/unread_news_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,795},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_title-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9954e72e6c13f3bcbd8c8a6a21d166c0:c10b3f7290cdb8f7935012517f839764:b79328d63115e451f4e2d96c5411c1d1$</string>
            <key>textureFileName</key>
            <string>ss_title-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
