<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title/grey_9scale.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,961},{120,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,43}}</string>
                <key>sourceSize</key>
                <string>{120,43}</string>
            </dict>
            <key>title/menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,314},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>title/menu_button_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,516},{218,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{218,71}}</string>
                <key>sourceSize</key>
                <string>{242,89}</string>
            </dict>
            <key>title/menu_button_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,514},{218,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,73}}</string>
                <key>sourceSize</key>
                <string>{242,89}</string>
            </dict>
            <key>title/menu_button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,114},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>title/name_characters_titlescreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,190},{148,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,28}}</string>
                <key>sourceSize</key>
                <string>{148,28}</string>
            </dict>
            <key>title/option.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>title/option_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>title/play_icon_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{25,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{25,13}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>title/play_icon_multiplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,340},{35,25}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{35,25}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>title/play_icon_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,429},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{25,19}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>title/play_icon_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,404},{23,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{23,25}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>title/redCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,377},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>title/title_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>title/titlescreen_bg_eli.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,734},{225,378}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{225,378}}</string>
                <key>sourceSize</key>
                <string>{235,380}</string>
            </dict>
            <key>title/titlescreen_bg_kord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{327,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,467}}</string>
                <key>sourceSize</key>
                <string>{327,467}</string>
            </dict>
            <key>title/titlescreen_bg_pronto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,536}}</string>
                <key>sourceSize</key>
                <string>{309,536}</string>
            </dict>
            <key>title/titlescreen_bg_trixie.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,190},{227,358}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{227,358}}</string>
                <key>sourceSize</key>
                <string>{235,376}</string>
            </dict>
            <key>title/titlescreen_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{257,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,186}}</string>
                <key>sourceSize</key>
                <string>{257,186}</string>
            </dict>
            <key>title/titlescreen_menu_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,550},{175,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{175,49}}</string>
                <key>sourceSize</key>
                <string>{183,51}</string>
            </dict>
            <key>title/titlescreen_menu_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,550},{181,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{181,49}}</string>
                <key>sourceSize</key>
                <string>{183,51}</string>
            </dict>
            <key>title/unread_news_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,516},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_title.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9954e72e6c13f3bcbd8c8a6a21d166c0:c10b3f7290cdb8f7935012517f839764:b79328d63115e451f4e2d96c5411c1d1$</string>
            <key>textureFileName</key>
            <string>ss_title.pvr.ccz</string>
        </dict>
    </dict>
</plist>
