<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>versus/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{152,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,101}}</string>
                <key>sourceSize</key>
                <string>{152,101}</string>
            </dict>
            <key>versus/VS_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,254},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{127,68}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>versus/badges.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{181,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,99}}</string>
                <key>sourceSize</key>
                <string>{181,99}</string>
            </dict>
            <key>versus/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,355},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>versus/vs 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{250,250}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_versus.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e6ac41ee7ad1394a97975285de0887:da0ebee65ff0b804bc4c7a0ec1515c3d:382152efbd5f90af1afb31274a2c5773$</string>
            <key>textureFileName</key>
            <string>ss_versus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
