<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>versus/VS2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{152,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,101}}</string>
                <key>sourceSize</key>
                <string>{152,101}</string>
            </dict>
            <key>versus/bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>versus/vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,324},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{250,250}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>versus/vs_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{512,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_versus_pvrtc.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e9fc9f1c899802373392f0da5519f5a:893cae81d62b32067a9192614a33315e:5f456782afaa725b3ba48713321c3ca6$</string>
            <key>textureFileName</key>
            <string>ss_versus_pvrtc.pvr.ccz</string>
        </dict>
    </dict>
</plist>
