<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>versus/VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{303,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,202}}</string>
                <key>sourceSize</key>
                <string>{303,202}</string>
            </dict>
            <key>versus/VS_endless.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,505},{252,133}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{252,133}}</string>
                <key>sourceSize</key>
                <string>{282,151}</string>
            </dict>
            <key>versus/badges.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{362,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,198}}</string>
                <key>sourceSize</key>
                <string>{362,198}</string>
            </dict>
            <key>versus/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,705},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>versus/vs 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,501}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{502,501}}</string>
                <key>sourceSize</key>
                <string>{504,503}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_versus-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e6ac41ee7ad1394a97975285de0887:da0ebee65ff0b804bc4c7a0ec1515c3d:382152efbd5f90af1afb31274a2c5773$</string>
            <key>textureFileName</key>
            <string>ss_versus-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
