<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winlose/bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{527,503}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{527,503}}</string>
                <key>sourceSize</key>
                <string>{559,523}</string>
            </dict>
            <key>winlose/bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{1024,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,76}}</string>
                <key>sourceSize</key>
                <string>{1024,76}</string>
            </dict>
            <key>winlose/eli_bg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,620}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{1024,620}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>winlose/slug-unlock-top-bottom-black.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{1024,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,116}}</string>
                <key>sourceSize</key>
                <string>{1024,116}</string>
            </dict>
            <key>winlose/top.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{1024,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,72}}</string>
                <key>sourceSize</key>
                <string>{1024,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_winlose_overlay.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3020653dea4dded42ced855ae0ac3e6:91b8dade2da46dc8908e80fdb4f780dc:544a8cee5aa327afdf88619c3081f0fb$</string>
            <key>textureFileName</key>
            <string>ss_winlose_overlay.pvr.ccz</string>
        </dict>
    </dict>
</plist>
