<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winlose/badge_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,211}}</string>
                <key>sourceSize</key>
                <string>{387,211}</string>
            </dict>
            <key>winlose/bg_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{286,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{286,58}}</string>
                <key>sourceSize</key>
                <string>{296,66}</string>
            </dict>
            <key>winlose/coins_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,237},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>winlose/lock_lock_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,168},{67,93}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,93}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>winlose/lock_unlock_slug.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{69,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,117}}</string>
                <key>sourceSize</key>
                <string>{69,117}</string>
            </dict>
            <key>winlose/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,73},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>winlose/time_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,237},{185,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,53}}</string>
                <key>sourceSize</key>
                <string>{187,53}</string>
            </dict>
            <key>winlose/total_coins_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,424},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_winlose-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e878b5bade00ddec8cd8270b75d9ea75:f1f97dc07bbd31a89ed1acf1be7161e6:180711a8b2f59e64473ea93045adffd0$</string>
            <key>textureFileName</key>
            <string>ss_winlose-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
