<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavern/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,375}}</string>
                <key>sourceSize</key>
                <string>{500,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ss_cavern3.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39b017510d9ec9dfa2f677fa860be70:aaba022bc9290d656669acbec699e5f7:7b1f900c969f83527a016cb782ff4eef$</string>
            <key>textureFileName</key>
            <string>ss_cavern3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
